Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

Update frontend
  app/assets/js/api/index.tsx
  app/assets/js/models/milestones/index.tsx
  app/assets/js/models/projects/useProjectMilestoneOrdering.ts
  app/assets/js/models/resourceHubs/index.tsx
  app/assets/js/models/tasks/useKanbanState.tsx
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/MilestonePage/useComments.tsx
Due: App Tests

Update CLI
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
Due: none

chore: Update all rich-text endpoint field to use type json
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/comments/update.ex
  app/lib/operately_web/api/documents/create.ex
  app/lib/operately_web/api/files/update.ex
  app/lib/operately_web/api/goals/create.ex
  app/lib/operately_web/api/links/create.ex
  app/lib/operately_web/api/links/update.ex
  app/lib/operately_web/api/projects/create_check_in.ex
  app/lib/operately_web/api/projects/update_check_in.ex
  app/lib/operately_web/api/projects/update_retrospective.ex
  app/lib/operately_web/api/resource_hubs/create.ex
  cli/src/generated/api-catalog.json
Due: App Tests

chore: Update all rich-text endpoint field to use type json (#4277)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/comments/update.ex
  app/lib/operately_web/api/documents/create.ex
  app/lib/operately_web/api/files/update.ex
  app/lib/operately_web/api/goals/create.ex
  app/lib/operately_web/api/links/create.ex
  app/lib/operately_web/api/links/update.ex
  app/lib/operately_web/api/projects/create_check_in.ex
  app/lib/operately_web/api/projects/update_check_in.ex
  app/lib/operately_web/api/projects/update_retrospective.ex
  app/lib/operately_web/api/resource_hubs/create.ex
  cli/src/generated/api-catalog.json
Due: App Tests

chore: Adjust comments on Project and Goal discussions for CLI
  app/assets/js/api/index.tsx
  app/assets/js/features/CommentSection/useComments.tsx
  app/assets/js/models/comments/CommentableResource.tsx
  app/assets/js/models/reactions/index.tsx
  app/assets/js/pages/GoalActivityPage/index.tsx
  app/assets/js/pages/ProjectActivityPage/index.tsx
  app/assets/js/pages/ProjectDiscussionPage/index.tsx
  app/lib/operately_web/api/comments/create.ex
  app/lib/operately_web/api/reactions/create.ex
  app/lib/operately_web/api/types.ex
  app/priv/static/.vite/manifest.json
Due: App Tests

Update CLI
  cli/src/generated/api-catalog.json
Due: none

Fix erros in comments
  app/lib/operately/updates.ex
  app/lib/operately_web/api/comments/create.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/goals/create_discussion.ex
  app/lib/operately_web/api/reactions/create.ex
  cli/src/core/input-coercion.ts
  cli/src/generated/api-catalog.json
Due: App Tests

Adjust tests
  app/test/operately_web/api/comments/create_test.exs
  app/test/operately_web/api/comments/list_test.exs
  app/test/operately_web/api/comments/update_test.exs
  app/test/operately_web/api/reactions/create_test.exs
Due: App Tests

chore: Adjust comments on Project and Goal discussions for CLI (#4278)
  app/assets/js/api/index.tsx
  app/assets/js/features/CommentSection/useComments.tsx
  app/assets/js/models/comments/CommentableResource.tsx
  app/assets/js/models/reactions/index.tsx
  app/assets/js/pages/GoalActivityPage/index.tsx
  app/assets/js/pages/ProjectActivityPage/index.tsx
  app/assets/js/pages/ProjectDiscussionPage/index.tsx
  app/lib/operately/updates.ex
  app/lib/operately_web/api/comments/create.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/goals/create_discussion.ex
  app/lib/operately_web/api/reactions/create.ex
  app/lib/operately_web/api/types.ex
  app/priv/static/.vite/manifest.json
  app/test/operately_web/api/comments/create_test.exs
  app/test/operately_web/api/comments/list_test.exs
  app/test/operately_web/api/comments/update_test.exs
  app/test/operately_web/api/reactions/create_test.exs
  cli/src/core/input-coercion.ts
  cli/src/generated/api-catalog.json
Due: App Tests

chore: Adjust goals reopen and update_discussion for CLI
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/goals/reopen.ex
  app/lib/operately_web/api/goals/update_discussion.ex
  cli/src/generated/api-catalog.json
Due: App Tests

Fix test
  app/lib/operately/ai/tools.ex
Due: App Tests

chore: Adjust goals reopen and update_discussion for CLI (#4282)
  app/assets/js/api/index.tsx
  app/lib/operately/ai/tools.ex
  app/lib/operately_web/api/goals/reopen.ex
  app/lib/operately_web/api/goals/update_discussion.ex
  cli/src/generated/api-catalog.json
Due: App Tests

chore: ClI can create Milestone comment via comments.create endpoint
  app/lib/operately_web/api/comments/create.ex
  app/test/operately_web/api/comments/create_test.exs
  cli/src/generated/api-catalog.json
Due: App Tests

chore: ClI can create Milestone comment via comments.create endpoint (#4283)
  app/lib/operately_web/api/comments/create.ex
  app/test/operately_web/api/comments/create_test.exs
  cli/src/generated/api-catalog.json
Due: App Tests

Fix list goal discussions
  app/assets/js/api/index.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/lib/operately/goals/discussion.ex
  app/lib/operately/md/goal/discussions.ex
  app/lib/operately_web/api/serializers/goal_discussion.ex
  app/lib/operately_web/api/types.ex
Due: App Tests

Update Goal discussion creation
  app/assets/js/pages/GoalDiscussionNewPage/useForm.tsx
  app/lib/operately_web/api/goals/create_discussion.ex
  app/test/operately_web/api/goals/create_discussion_test.exs
Due: App Tests

Update catalog
  cli/src/generated/api-catalog.json
Due: none

Adjust versin
  cli/package.json
Due: none

Fix tests
  .semaphore/semaphore.yml
  app/test/operately_web/api/external_mutations/mutations/goals/create_discussion.ex
Due: App Tests

chore: CLI can create Goal discussions and comments (#4285)
  .semaphore/semaphore.yml
  app/assets/js/api/index.tsx
  app/assets/js/pages/GoalDiscussionNewPage/useForm.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/lib/operately/goals/discussion.ex
  app/lib/operately/md/goal/discussions.ex
  app/lib/operately_web/api/goals/create_discussion.ex
  app/lib/operately_web/api/serializers/goal_discussion.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/external_mutations/mutations/goals/create_discussion.ex
  app/test/operately_web/api/goals/create_discussion_test.exs
  cli/package.json
  cli/src/generated/api-catalog.json
Due: App Tests

feat: Prototype timeline view for company work map / projects.
  turboui/src/WorkMap/components/WorkMapNavigation.tsx
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/WorkMap.stories.tsx
  turboui/src/icons/index.tsx
Due: Turboui, App Tests

Address code review feedback
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
  turboui/src/WorkMap/utils/timeline.ts
Due: Turboui, App Tests

Fix a failing test
  app/lib/operately/ai/tools.ex
  app/test/operately/ai/tools_test.exs
Due: App Tests

feat: Timeline view for company work map / projects (#4286)
  app/lib/operately/ai/tools.ex
  app/test/operately/ai/tools_test.exs
  turboui/src/WorkMap/components/WorkMapNavigation.tsx
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/WorkMap.stories.tsx
  turboui/src/WorkMap/utils/timeline.ts
  turboui/src/icons/index.tsx
Due: Turboui, App Tests

chore: CLI can close Goals and Projects and update Space Discussions
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/goals/close.ex
  app/lib/operately_web/api/projects/close.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  cli/package-lock.json
  cli/src/generated/api-catalog.json
Due: App Tests

Fix test
  app/test/operately/ai/tools_test.exs
Due: App Tests

chore: CLI can close Goals and Projects and update Space Discussions (#4287)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/goals/close.ex
  app/lib/operately_web/api/projects/close.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/test/operately/ai/tools_test.exs
  cli/package-lock.json
  cli/src/generated/api-catalog.json
Due: App Tests

chore: Use enum for success_status in CloseGoal and ClosePproject endpoints
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/goals/close.ex
  app/lib/operately_web/api/projects/close.ex
  cli/src/generated/api-catalog.json
Due: App Tests

Fix tests
  app/lib/operately_web/api/goals/close.ex
  app/lib/operately_web/api/projects/close.ex
Due: App Tests

chore: Use enum for success_status in CloseGoal and CloseProject endpoints (#4288)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/goals/close.ex
  app/lib/operately_web/api/projects/close.ex
  cli/src/generated/api-catalog.json
Due: App Tests

chore: Ensure Files endpoints are internal
  app/assets/js/api/index.tsx
  app/lib/operately/messages/message.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/files/create.ex
  app/test/operately_web/api/external_mutations/mutations/files/delete.ex
  app/test/operately_web/api/external_mutations/mutations/files/update.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/files/get.ex
  cli/docs/commands.md
  cli/package.json
  cli/src/generated/api-catalog.json
Due: App Tests

chore: Ensure Files endpoints are internal (#4289)
  app/assets/js/api/index.tsx
  app/lib/operately/messages/message.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/files/create.ex
  app/test/operately_web/api/external_mutations/mutations/files/delete.ex
  app/test/operately_web/api/external_mutations/mutations/files/update.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/files/get.ex
  cli/docs/commands.md
  cli/package.json
  cli/src/generated/api-catalog.json
Due: App Tests

chore: --version flag shows the correct CLI version
  cli/src/test/integration.test.ts
  cli/src/version.ts
Due: none

chore: --version flag shows the correct CLI version (#4290)
  cli/src/test/integration.test.ts
  cli/src/version.ts
Due: none

chore: CLI can choose correct status for Goals and Projects check-ins
  app/assets/js/api/index.tsx
  app/assets/js/models/projectCheckIns/index.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/lib/operately_web/api/goals/create_check_in.ex
  app/lib/operately_web/api/projects/create_check_in.ex
  app/lib/operately_web/api/types.ex
  cli/package-lock.json
  cli/src/generated/api-catalog.json
Due: App Tests

Update check-in also works
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/goals/update_check_in.ex
  app/lib/operately_web/api/projects/update_check_in.ex
  cli/src/generated/api-catalog.json
Due: App Tests

chore: CLI can choose correct status for Goals and Projects check-ins (#4292)
  app/assets/js/api/index.tsx
  app/assets/js/models/projectCheckIns/index.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/lib/operately_web/api/goals/create_check_in.ex
  app/lib/operately_web/api/goals/update_check_in.ex
  app/lib/operately_web/api/projects/create_check_in.ex
  app/lib/operately_web/api/projects/update_check_in.ex
  app/lib/operately_web/api/types.ex
  cli/package-lock.json
  cli/src/generated/api-catalog.json
Due: App Tests

chore: CLI can choose correct type for Resource Hub Links
  app/assets/js/api/index.tsx
  app/lib/operately/operations/resource_hub_link_editing.ex
  app/lib/operately/resource_hubs/link.ex
  app/lib/operately_web/api/links/create.ex
  app/lib/operately_web/api/links/update.ex
  app/lib/operately_web/api/types.ex
  cli/src/generated/api-catalog.json
Due: App Tests

chore: CLI can choose correct type for Resource Hub Links (#4293)
  app/assets/js/api/index.tsx
  app/lib/operately/operations/resource_hub_link_editing.ex
  app/lib/operately/resource_hubs/link.ex
  app/lib/operately_web/api/links/create.ex
  app/lib/operately_web/api/links/update.ex
  app/lib/operately_web/api/types.ex
  cli/src/generated/api-catalog.json
Due: App Tests
