Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

Add feature test for MCP client tab switching
  app/test/features/mcp_connections_test.exs
  app/test/support/features/mcp_connections_steps.ex
Due: App Tests

docs: point to in-app MCP connection instructions
  docs/mcp-connections.md
Due: none

fix(turboui): stop AddFileWidget leaking previous file's description draft
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
  turboui/src/ResourceHub/AddFileWidget.test.tsx
  turboui/src/ResourceHub/AddFileWidget.tsx
  turboui/src/ResourceHub/utils.test.ts
  turboui/src/ResourceHub/utils.ts
  turboui/src/RichEditor/localDrafts.test.ts
Due: Turboui, App Tests

chore: Migrate task comments and project renaming to TanStack Query
  app/assets/js/models/comments/commentLifecycle.test.ts
  app/assets/js/models/comments/commentLifecycle.ts
  app/assets/js/models/comments/useOptimisticCommentUpdates.ts
  app/assets/js/models/comments/useOptimisticComments.test.tsx
  app/assets/js/models/comments/useOptimisticComments.tsx
  app/assets/js/pages/TaskPage/index.tsx
Due: App Tests

chore: Migrate task comments and project renaming to TanStack Query (#5241)
  app/assets/js/models/comments/commentLifecycle.test.ts
  app/assets/js/models/comments/commentLifecycle.ts
  app/assets/js/models/comments/useOptimisticCommentUpdates.ts
  app/assets/js/models/comments/useOptimisticComments.test.tsx
  app/assets/js/models/comments/useOptimisticComments.tsx
  app/assets/js/pages/TaskPage/index.tsx
Due: App Tests

fix: Return 404 for invalid or missing companies
  app/lib/operately_web/account_auth.ex
  app/test/operately_web/account_auth_test.exs
  app/test/operately_web/api/companies/get_work_map_test.exs
Due: App Tests

chore: Migrate subscriptions and activity feeds to TanStack Query
  app/assets/js/features/Feed/index.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.test.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.ts
  app/assets/js/models/activities/activityLifecycle.test.tsx
  app/assets/js/models/activities/activityLifecycle.ts
  app/assets/js/models/activities/index.tsx
  app/assets/js/models/subscriptions/index.tsx
  app/assets/js/models/subscriptions/subscriptionLifecycle.test.ts
  app/assets/js/models/subscriptions/subscriptionLifecycle.ts
  app/assets/js/models/subscriptions/useSubscription.test.tsx
  app/assets/js/models/subscriptions/useSubscription.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.test.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
  app/assets/js/models/tasks/useTaskTimelineItems.test.tsx
  app/assets/js/models/tasks/useTaskTimelineItems.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/assets/js/pages/ProfilePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/test/features/goal_checks_test.exs
  app/test/features/home_test.exs
  app/test/features/profile_test.exs
  app/test/support/features/goal_checks_steps.ex
  app/test/support/features/profile_steps.ex
Due: App Tests

fix: Return 404 for invalid or missing companies (#5242)
  app/lib/operately_web/account_auth.ex
  app/test/operately_web/account_auth_test.exs
  app/test/operately_web/api/companies/get_work_map_test.exs
Due: App Tests

Fix
  app/assets/js/models/subscriptions/useSubscription.test.tsx
  app/assets/js/models/subscriptions/useSubscription.tsx
Due: App Tests

chore: Migrate subscriptions and activity feeds to TanStack Query (#5243)
  app/assets/js/features/Feed/index.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.test.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.ts
  app/assets/js/models/activities/activityLifecycle.test.tsx
  app/assets/js/models/activities/activityLifecycle.ts
  app/assets/js/models/activities/index.tsx
  app/assets/js/models/subscriptions/index.tsx
  app/assets/js/models/subscriptions/subscriptionLifecycle.test.ts
  app/assets/js/models/subscriptions/subscriptionLifecycle.ts
  app/assets/js/models/subscriptions/useSubscription.test.tsx
  app/assets/js/models/subscriptions/useSubscription.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.test.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
  app/assets/js/models/tasks/useTaskTimelineItems.test.tsx
  app/assets/js/models/tasks/useTaskTimelineItems.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/assets/js/pages/ProfilePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/test/features/goal_checks_test.exs
  app/test/features/home_test.exs
  app/test/features/profile_test.exs
  app/test/support/features/goal_checks_steps.ex
  app/test/support/features/profile_steps.ex
Due: App Tests

chore: Migrate project details and actions to TanStack Query
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/projectTemplateLifecycle.test.ts
  app/assets/js/models/projectTemplates/projectTemplateLifecycle.test.tsx
  app/assets/js/models/projectTemplates/projectTemplateLifecycle.ts
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/projectLifecycle.test.ts
  app/assets/js/models/projects/projectLifecycle.test.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/ProjectPage/index.test.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/test/features/project_description_test.exs
  app/test/features/projects/project_page_deletion_test.exs
  app/test/features/projects/project_page_goal_and_export_test.exs
  app/test/features/projects/project_page_rename_and_space_test.exs
  app/test/support/features/projects/project_page_deletion_steps.ex
Due: App Tests

chore: Migrate company people cache to TanStack Query
  app/assets/js/contexts/CurrentCompanyContext.test.tsx
  app/assets/js/contexts/CurrentCompanyContext.tsx
  app/assets/js/models/people/index.tsx
  app/assets/js/models/people/useCompanyPeople.test.ts
  app/assets/js/models/people/useCompanyPeople.ts
Due: App Tests

Fix
  app/assets/js/models/projects/projectLifecycle.test.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/TaskPage/index.tsx
Due: App Tests

chore: Migrate project details and actions to TanStack Query (#5244)
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/projectTemplateLifecycle.test.ts
  app/assets/js/models/projectTemplates/projectTemplateLifecycle.test.tsx
  app/assets/js/models/projectTemplates/projectTemplateLifecycle.ts
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/projectLifecycle.test.ts
  app/assets/js/models/projects/projectLifecycle.test.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/ProjectPage/index.test.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/TaskPage/index.tsx
  app/test/features/project_description_test.exs
  app/test/features/projects/project_page_deletion_test.exs
  app/test/features/projects/project_page_goal_and_export_test.exs
  app/test/features/projects/project_page_rename_and_space_test.exs
  app/test/support/features/projects/project_page_deletion_steps.ex
Due: App Tests

Fix lint
  app/assets/js/models/projectContributors/index.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/resourceHubs/resourceHubLifecycle.ts
  app/assets/js/pages/ProjectPage/loader.tsx
Due: App Tests

chore: Migrate project access, kanban, and shared uploads to TanStack
  app/assets/js/__tests__/renderHook.tsx
  app/assets/js/models/blobs/blobLifecycle.test.ts
  app/assets/js/models/blobs/blobLifecycle.ts
  app/assets/js/models/blobs/index.test.tsx
  app/assets/js/models/blobs/uploadFile.test.ts
  app/assets/js/models/blobs/uploadFile.ts
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/projectLifecycle.test.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/models/projects/useProjectOtherPeopleWithAccess.test.tsx
  app/assets/js/models/projects/useProjectOtherPeopleWithAccess.tsx
  app/assets/js/models/projects/useTaskStatuses.test.tsx
  app/assets/js/models/projects/useTaskStatuses.tsx
  app/assets/js/models/tasks/kanbanQueue.test.ts
  app/assets/js/models/tasks/kanbanQueue.ts
  app/assets/js/models/tasks/useKanbanState.test.tsx
  app/assets/js/models/tasks/useKanbanState.tsx
  app/assets/js/models/tasks/useProjectKanbanState.test.tsx
  app/assets/js/models/tasks/useProjectKanbanState.ts
  app/assets/js/pages/ProjectPage/index.tsx
  app/test/features/project_tasks/board_test.exs
  app/test/features/projects/project_page_content_test.exs
  app/test/support/features/projects/project_page_content_steps.ex
Due: App Tests

chore: Migrate project access, kanban, and shared uploads to TanStack (#5249)
  app/assets/js/__tests__/renderHook.tsx
  app/assets/js/models/blobs/blobLifecycle.test.ts
  app/assets/js/models/blobs/blobLifecycle.ts
  app/assets/js/models/blobs/index.test.tsx
  app/assets/js/models/blobs/uploadFile.test.ts
  app/assets/js/models/blobs/uploadFile.ts
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/projectLifecycle.test.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/models/projects/useProjectOtherPeopleWithAccess.test.tsx
  app/assets/js/models/projects/useProjectOtherPeopleWithAccess.tsx
  app/assets/js/models/projects/useTaskStatuses.test.tsx
  app/assets/js/models/projects/useTaskStatuses.tsx
  app/assets/js/models/tasks/kanbanQueue.test.ts
  app/assets/js/models/tasks/kanbanQueue.ts
  app/assets/js/models/tasks/useKanbanState.test.tsx
  app/assets/js/models/tasks/useKanbanState.tsx
  app/assets/js/models/tasks/useProjectKanbanState.test.tsx
  app/assets/js/models/tasks/useProjectKanbanState.ts
  app/assets/js/pages/ProjectPage/index.tsx
  app/test/features/project_tasks/board_test.exs
  app/test/features/projects/project_page_content_test.exs
  app/test/support/features/projects/project_page_content_steps.ex
Due: App Tests

chore: Load company work map before creation options
  app/assets/js/pages/CompanyWorkMapPage/loader.test.tsx
  app/assets/js/pages/CompanyWorkMapPage/loader.tsx
  app/assets/js/pages/CompanyWorkMapPage/page.test.tsx
  app/assets/js/pages/CompanyWorkMapPage/page.tsx
  turboui/src/Toasts/index.stories.tsx
  turboui/src/Toasts/index.test.tsx
  turboui/src/Toasts/index.tsx
  turboui/src/WorkMap/components/index.test.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/WorkMapPage.stories.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix
  turboui/src/WorkMap/components/index.test.tsx
  turboui/src/WorkMap/components/index.tsx
Due: Turboui, App Tests

chore: Load company work map before creation options (#5250)
  app/assets/js/pages/CompanyWorkMapPage/loader.test.tsx
  app/assets/js/pages/CompanyWorkMapPage/loader.tsx
  app/assets/js/pages/CompanyWorkMapPage/page.test.tsx
  app/assets/js/pages/CompanyWorkMapPage/page.tsx
  turboui/src/Toasts/index.stories.tsx
  turboui/src/Toasts/index.test.tsx
  turboui/src/Toasts/index.tsx
  turboui/src/WorkMap/components/index.test.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/WorkMapPage.stories.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Load space work map templates in the background
  app/assets/js/pages/SpaceWorkMapPage/loader.test.tsx
  app/assets/js/pages/SpaceWorkMapPage/loader.tsx
  app/assets/js/pages/SpaceWorkMapPage/page.test.tsx
  app/assets/js/pages/SpaceWorkMapPage/page.tsx
Due: App Tests

feat: Add infinite scrolling to activity feeds
  app/assets/js/api/index.tsx
  app/assets/js/features/Feed/index.test.tsx
  app/assets/js/features/Feed/index.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.test.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.ts
  app/assets/js/models/activities/activityLifecycle.test.tsx
  app/assets/js/models/activities/activityLifecycle.ts
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/assets/js/pages/ProfilePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/lib/operately_web/api/companies/list_activities.ex
  app/test/features/activity_feed_test.exs
  app/test/operately_web/api/companies/list_activities_test.exs
  app/test/operately_web/api/external_queries/queries/companies/list_activities.ex
  app/test/support/features/activity_feed_steps.ex
  cli/src/generated/api-catalog.json
  turboui/src/ContentListSkeleton/index.stories.tsx
  turboui/src/ContentListSkeleton/index.tsx
  turboui/src/InfiniteScroll/index.stories.tsx
  turboui/src/InfiniteScroll/index.test.tsx
  turboui/src/InfiniteScroll/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix
  app/assets/js/api/index.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.test.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.ts
  app/lib/operately_web/api/companies/list_activities.ex
  app/test/operately_web/api/companies/list_activities_test.exs
  app/test/operately_web/api/external_queries/queries/companies/list_activities.ex
  cli/src/generated/api-catalog.json
  turboui/src/InfiniteScroll/index.stories.tsx
Due: Turboui, App Tests

feat: Add infinite scrolling to activity feeds (#5252)
  app/assets/js/api/index.tsx
  app/assets/js/features/Feed/index.test.tsx
  app/assets/js/features/Feed/index.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.test.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.ts
  app/assets/js/models/activities/activityLifecycle.test.tsx
  app/assets/js/models/activities/activityLifecycle.ts
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/assets/js/pages/ProfilePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/lib/operately_web/api/companies/list_activities.ex
  app/test/features/activity_feed_test.exs
  app/test/operately_web/api/companies/list_activities_test.exs
  app/test/operately_web/api/external_queries/queries/companies/list_activities.ex
  app/test/support/features/activity_feed_steps.ex
  cli/src/generated/api-catalog.json
  turboui/src/ContentListSkeleton/index.stories.tsx
  turboui/src/ContentListSkeleton/index.tsx
  turboui/src/InfiniteScroll/index.stories.tsx
  turboui/src/InfiniteScroll/index.test.tsx
  turboui/src/InfiniteScroll/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Load space work map templates in the background (#5251)
  app/assets/js/pages/SpaceWorkMapPage/loader.test.tsx
  app/assets/js/pages/SpaceWorkMapPage/loader.tsx
  app/assets/js/pages/SpaceWorkMapPage/page.test.tsx
  app/assets/js/pages/SpaceWorkMapPage/page.tsx
Due: App Tests

fix: Remove template selector from first-project form
  turboui/src/WorkMap/components/ZeroState.test.tsx
  turboui/src/WorkMap/components/ZeroState.tsx
Due: Turboui, App Tests

fix: Remove template selector from first-project form (#5253)
  turboui/src/WorkMap/components/ZeroState.test.tsx
  turboui/src/WorkMap/components/ZeroState.tsx
Due: Turboui, App Tests

fix: Keep feed pagination loading when fast scrolling skips the observed row
  turboui/src/InfiniteScroll/index.test.tsx
  turboui/src/InfiniteScroll/index.tsx
Due: Turboui, App Tests

fix: Keep feed pagination loading when fast scrolling skips the observed row (#5255)
  turboui/src/InfiniteScroll/index.test.tsx
  turboui/src/InfiniteScroll/index.tsx
Due: Turboui, App Tests

chore: Migrate goal creation, export, and lifecycle pages to tanstack
  app/assets/js/models/goals/goalLifecycle.test.ts
  app/assets/js/models/goals/goalLifecycle.ts
  app/assets/js/models/goals/goalPageQueries.test.ts
  app/assets/js/models/goals/goalPageQueries.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/pages/GoalAddPage/index.test.tsx
  app/assets/js/pages/GoalAddPage/index.tsx
  app/assets/js/pages/GoalAddPage/loader.test.tsx
  app/assets/js/pages/GoalAddPage/loader.tsx
  app/assets/js/pages/GoalAsMarkdownPage/index.test.tsx
  app/assets/js/pages/GoalAsMarkdownPage/index.tsx
  app/assets/js/pages/GoalAsMarkdownPage/loader.test.tsx
  app/assets/js/pages/GoalAsMarkdownPage/loader.tsx
  app/assets/js/pages/GoalClosingPage/Form.test.tsx
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/GoalClosingPage/__tests__/loader.test.tsx
  app/assets/js/pages/GoalClosingPage/loader.test.tsx
  app/assets/js/pages/GoalClosingPage/loader.tsx
  app/assets/js/pages/GoalReopenPage/Form.tsx
  app/assets/js/pages/GoalReopenPage/index.tsx
  app/assets/js/pages/GoalReopenPage/loader.test.tsx
  app/assets/js/pages/GoalReopenPage/loader.tsx
  app/assets/js/pages/GoalReopenPage/useForm.test.tsx
  app/assets/js/pages/GoalReopenPage/useForm.tsx
  app/test/features/goal_creation_test.exs
  app/test/support/features/goal_closing_steps.ex
  app/test/support/features/goal_creation_steps.ex
Due: App Tests

Fix
  app/assets/js/pages/GoalAsMarkdownPage/index.test.tsx
  app/assets/js/pages/GoalAsMarkdownPage/index.tsx
Due: App Tests

Fix lint
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/projects/index.tsx
Due: App Tests

chore: Migrate goal creation, export, and lifecycle pages to tanstack (#5257)
  app/assets/js/models/goals/goalLifecycle.test.ts
  app/assets/js/models/goals/goalLifecycle.ts
  app/assets/js/models/goals/goalPageQueries.test.ts
  app/assets/js/models/goals/goalPageQueries.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/pages/GoalAddPage/index.test.tsx
  app/assets/js/pages/GoalAddPage/index.tsx
  app/assets/js/pages/GoalAddPage/loader.test.tsx
  app/assets/js/pages/GoalAddPage/loader.tsx
  app/assets/js/pages/GoalAsMarkdownPage/index.test.tsx
  app/assets/js/pages/GoalAsMarkdownPage/index.tsx
  app/assets/js/pages/GoalAsMarkdownPage/loader.test.tsx
  app/assets/js/pages/GoalAsMarkdownPage/loader.tsx
  app/assets/js/pages/GoalClosingPage/Form.test.tsx
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/GoalClosingPage/__tests__/loader.test.tsx
  app/assets/js/pages/GoalClosingPage/loader.test.tsx
  app/assets/js/pages/GoalClosingPage/loader.tsx
  app/assets/js/pages/GoalReopenPage/Form.tsx
  app/assets/js/pages/GoalReopenPage/index.tsx
  app/assets/js/pages/GoalReopenPage/loader.test.tsx
  app/assets/js/pages/GoalReopenPage/loader.tsx
  app/assets/js/pages/GoalReopenPage/useForm.test.tsx
  app/assets/js/pages/GoalReopenPage/useForm.tsx
  app/test/features/goal_creation_test.exs
  app/test/support/features/goal_closing_steps.ex
  app/test/support/features/goal_creation_steps.ex
Due: App Tests

fix: Align goal acknowledgement UI with projects
  app/assets/js/pages/GoalActivityPage/AckCTA.test.tsx
  app/assets/js/pages/GoalActivityPage/AckCTA.tsx
  app/assets/js/pages/GoalActivityPage/loader.tsx
  app/assets/js/pages/GoalCheckInPage/AckCTA.test.tsx
  app/assets/js/pages/GoalCheckInPage/AckCTA.tsx
  app/assets/js/pages/GoalCheckInPage/loader.tsx
  app/test/features/goal_check_ins/acknowledgement_test.exs
  app/test/features/goal_retrospective_acknowledgement_test.exs
  app/test/support/features/goal_check_ins_steps.ex
  app/test/support/features/goal_retrospective_acknowledgement_steps.ex
Due: App Tests

fix: Align goal acknowledgement UI with projects (#5258)
  app/assets/js/pages/GoalActivityPage/AckCTA.test.tsx
  app/assets/js/pages/GoalActivityPage/AckCTA.tsx
  app/assets/js/pages/GoalActivityPage/loader.tsx
  app/assets/js/pages/GoalCheckInPage/AckCTA.test.tsx
  app/assets/js/pages/GoalCheckInPage/AckCTA.tsx
  app/assets/js/pages/GoalCheckInPage/loader.tsx
  app/test/features/goal_check_ins/acknowledgement_test.exs
  app/test/features/goal_retrospective_acknowledgement_test.exs
  app/test/support/features/goal_check_ins_steps.ex
  app/test/support/features/goal_retrospective_acknowledgement_steps.ex
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
