Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Merge all JUnit files
  app/config/test.exs
  app/lib/mix/tasks/tests_with_retries.ex
  app/lib/operately/junit_report_merger.ex
  app/test/fixtures/junit_reports/initial_pass.xml
  app/test/fixtures/junit_reports/initial_with_failure.xml
  app/test/fixtures/junit_reports/retry_pass.xml
  app/test/fixtures/junit_reports/retry_still_failing.xml
  app/test/operately/junit_report_merger_test.exs
Due: App Tests

Fix small issues
  app/lib/operately/junit_report_merger.ex
  app/test/operately/junit_report_merger_test.exs
Due: App Tests

Fix retrier
  app/lib/mix/tasks/tests_with_retries.ex
Due: App Tests

Combine unit and ee tests
  Makefile
  app/lib/mix/tasks/junit.merge_reports.ex
  app/lib/mix/tasks/tests_with_retries.ex
  scripts/run_ee_tests.js
Due: App Tests

fix: update notification settings batching copy
  turboui/src/AccountNotificationSettingsPage/index.tsx
Due: Turboui, App Tests

fix: update notification settings batching copy (#4609)
  turboui/src/AccountNotificationSettingsPage/index.tsx
Due: Turboui, App Tests

Remove deployment script
  scripts/deploy.rb
Due: none

Remove deployment script (#4610)
  scripts/deploy.rb
Due: none

chore: Rename deployment -> sync docs
  .semaphore/sync_docs.yaml
Due: none

chore: Rename deployment -> sync docs (#4612)
  .semaphore/sync_docs.yaml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#4613)
  README.md
Due: none

Update README.md (#4614)
  README.md
Due: none

Update README.md (#4615)
  README.md
Due: none

fix: support task reminders without due dates
  app/assets/js/api/index.tsx
  app/assets/js/models/tasks/index.tsx
  app/lib/operately/tasks/reminder.ex
  app/lib/operately_web/api/serializers/task_reminder.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/tasks/reminder_test.exs
  app/test/operately_email/assignments_email_test.exs
  app/test/operately_web/api/tasks_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/TaskPage/InProjectContextStory.tsx
  turboui/src/TaskPage/Sidebar.tsx
  turboui/src/TaskPage/index.stories.tsx
  turboui/src/TaskPage/index.tsx
Due: Turboui, App Tests

fix: tighten task reminder due date handling
  app/lib/operately/tasks/reminder.ex
  app/lib/operately_email/cron/assignments.ex
  app/lib/operately_web/api/tasks.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/tasks/update_reminders.ex
  app/test/operately_web/api/tasks_test.exs
  turboui/src/TaskPage/Sidebar.tsx
Due: Turboui, App Tests

fix: preserve reminder scheduler behavior
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/lib/operately_email/cron/assignments.ex
  app/lib/operately_email/emails/assignments_email.ex
  app/test/operately_email/assignments_email_test.exs
  app/test/operately_email/cron/assignments_test.exs
Due: App Tests

chore: Simplify billing frontend model
  app/assets/js/models/billing/approachingLimitBanner.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/memberLimitGuidance.ts
  app/assets/js/models/billing/navigation.ts
  app/assets/js/models/billing/planFormatting.ts
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  turboui/src/CompanyBilling/changeConsequences.ts
  turboui/src/CompanyBilling/feedback.ts
  turboui/src/CompanyBilling/formatting.ts
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBilling/index.ts
  turboui/src/CompanyBilling/plans.ts
  turboui/src/CompanyBilling/state.ts
  turboui/src/CompanyBilling/storageFormatting.ts
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

Improvement
  app/assets/js/pages/CompanyBillingPage/page.tsx
Due: App Tests

chore: Simplify billing frontend model (#4617)
  app/assets/js/models/billing/approachingLimitBanner.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/memberLimitGuidance.ts
  app/assets/js/models/billing/navigation.ts
  app/assets/js/models/billing/planFormatting.ts
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  turboui/src/CompanyBilling/changeConsequences.ts
  turboui/src/CompanyBilling/feedback.ts
  turboui/src/CompanyBilling/formatting.ts
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBilling/index.ts
  turboui/src/CompanyBilling/plans.ts
  turboui/src/CompanyBilling/state.ts
  turboui/src/CompanyBilling/storageFormatting.ts
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Enforce company read-only rules in company permissions
  app/assets/js/pages/HomePage/index.tsx
  app/lib/operately/companies/company.ex
  app/lib/operately/companies/permissions.ex
  app/lib/operately_web/api/billing/helpers.ex
  app/lib/operately_web/api/companies/convert_member_to_guest.ex
  app/lib/operately_web/api/companies/delete_member.ex
  app/lib/operately_web/api/companies/delete_owner.ex
  app/lib/operately_web/api/companies/delete_trusted_email_domain.ex
  app/lib/operately_web/api/companies/get.ex
  app/lib/operately_web/api/companies/restore_member.ex
  app/lib/operately_web/api/companies/update.ex
  app/lib/operately_web/api/companies/update_members_permissions.ex
  app/lib/operately_web/api/invitations.ex
  app/lib/operately_web/api/mutations/add_company_owners.ex
  app/lib/operately_web/api/mutations/add_company_trusted_email_domain.ex
  app/lib/operately_web/api/mutations/complete_company_setup.ex
  app/lib/operately_web/api/mutations/new_invitation_token.ex
  app/lib/operately_web/api/spaces/create.ex
  app/test/operately/permissions/read_only_test.exs
  turboui/src/CompanyAdminManagePeoplePage/index.tsx
Due: Turboui, App Tests

fix: Enforce company read-only rules in company permissions (#4619)
  app/assets/js/pages/HomePage/index.tsx
  app/lib/operately/companies/company.ex
  app/lib/operately/companies/permissions.ex
  app/lib/operately_web/api/billing/helpers.ex
  app/lib/operately_web/api/companies/convert_member_to_guest.ex
  app/lib/operately_web/api/companies/delete_member.ex
  app/lib/operately_web/api/companies/delete_owner.ex
  app/lib/operately_web/api/companies/delete_trusted_email_domain.ex
  app/lib/operately_web/api/companies/get.ex
  app/lib/operately_web/api/companies/restore_member.ex
  app/lib/operately_web/api/companies/update.ex
  app/lib/operately_web/api/companies/update_members_permissions.ex
  app/lib/operately_web/api/invitations.ex
  app/lib/operately_web/api/mutations/add_company_owners.ex
  app/lib/operately_web/api/mutations/add_company_trusted_email_domain.ex
  app/lib/operately_web/api/mutations/complete_company_setup.ex
  app/lib/operately_web/api/mutations/new_invitation_token.ex
  app/lib/operately_web/api/spaces/create.ex
  app/test/operately/permissions/read_only_test.exs
  turboui/src/CompanyAdminManagePeoplePage/index.tsx
Due: Turboui, App Tests

chore: Cover company admin manage-people readonly behavior
  app/assets/js/api/index.tsx
  app/lib/operately/companies/permissions.ex
  app/lib/operately_web/api/types.ex
  turboui/src/CompanyAdminManagePeoplePage/components/PersonOptions.tsx
  turboui/src/CompanyAdminManagePeoplePage/types.ts
Due: Turboui, App Tests

Add feature tests
  app/test/features/company_admin_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/support/features/company_admin_steps.ex
  app/test/support/features/company_billing_recovery_steps.ex
Due: App Tests

Adjustments
  app/assets/js/api/index.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/lib/operately_web/api/types.ex
  app/test/operately/permissions/read_only_test.exs
  turboui/src/OptionsMenuItem/index.tsx
Due: Turboui, App Tests

Add more tests
  app/test/features/company_billing_recovery_test.exs
  app/test/support/features/billing_steps.ex
  app/test/support/features/company_billing_recovery_steps.ex
Due: App Tests

fix: tolerate agent-shaped CLI flags
  AGENTS.md
  cli/README.md
  cli/src/commands/help.ts
  cli/src/core/flags.ts
  cli/src/core/input-coercion.ts
  cli/src/core/parser-types.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/custom-endpoints.test.ts
  cli/src/test/unit/parser.test.ts
Due: none

fix: tolerate agent-shaped CLI flags (#4621)
  AGENTS.md
  cli/README.md
  cli/src/commands/help.ts
  cli/src/core/flags.ts
  cli/src/core/input-coercion.ts
  cli/src/core/parser-types.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/custom-endpoints.test.ts
  cli/src/test/unit/parser.test.ts
Due: none

chore: Cover company admin manage-people readonly behavior (#4620)
  app/assets/js/api/index.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/lib/operately/companies/permissions.ex
  app/lib/operately_web/api/types.ex
  app/test/features/company_admin_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/operately/permissions/read_only_test.exs
  app/test/support/features/billing_steps.ex
  app/test/support/features/company_admin_steps.ex
  app/test/support/features/company_billing_recovery_steps.ex
  turboui/src/CompanyAdminManagePeoplePage/components/PersonOptions.tsx
  turboui/src/CompanyAdminManagePeoplePage/types.ts
  turboui/src/OptionsMenuItem/index.tsx
Due: Turboui, App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
