Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

Fix
  app/lib/operately/rich_content/markdown_table_cell.ex
Due: App Tests

fix: catalog leftover work-management copy from review
  app/assets/js/features/activities/GoalCreated/index.test.tsx
  app/assets/js/features/activities/GoalCreated/index.tsx
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  turboui/src/MilestonePage/components/DeleteModal.test.tsx
  turboui/src/MilestonePage/components/DeleteModal.tsx
  turboui/src/NewDocumentPage/index.test.tsx
  turboui/src/NewDocumentPage/index.tsx
  turboui/src/WorkMap/components/WorkMapNavigation.test.tsx
  turboui/src/WorkMap/components/WorkMapNavigation.tsx
Due: Turboui, App Tests

fix: update rubyzip to resolve Dependabot alert 48
  Gemfile
  Gemfile.lock
Due: none

feat: Support Markdown table input in MCP (#5373)
  app/lib/operately/md/richtext.ex
  app/lib/operately/rich_content/from_markdown.ex
  app/lib/operately/rich_content/markdown_table_cell.ex
  app/lib/operately/rich_content/markdown_tables.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/update_document.ex
  app/mix.exs
  app/mix.lock
  app/test/operately/md/richtext_test.exs
  app/test/operately/rich_content/from_markdown_test.exs
  app/test/operately/rich_content/markdown_table_cell_test.exs
  app/test/operately/rich_content/markdown_tables_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_document_test.exs
Due: App Tests

fix: permit licenses reported by LicenseFinder 7.2
  scripts/license_finder.yml
Due: none

chore: Translate work-management catalog copy to pt-br
  app/assets/js/features/activities/TaskNameUpdating/index.test.tsx
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/i18n.test.ts
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/i18n-work-management-audit.md
  docs/internationalization.md
  specs/0018-internationalization.md
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/GoalAddForm/index.test.tsx
  turboui/src/TaskBoard/components/CompletedMilestonesSection.test.tsx
Due: Turboui, App Tests

docs: restore remaining PR 6 work-management checklist
  docs/internationalization.md
  specs/0018-internationalization.md
Due: none

feat: Improve table controls and content-aware column sizing
  app/assets/css/prosemirror.css
  app/test/support/features/rich_text_tables_steps.ex
  turboui/src/Menu/index.tsx
  turboui/src/RichEditor/Tables.stories.tsx
  turboui/src/RichEditor/components/TableActionPreview.tsx
  turboui/src/RichEditor/components/TableAxisMenus.test.tsx
  turboui/src/RichEditor/components/TableAxisMenus.tsx
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/components/TableControls.tsx
  turboui/src/RichEditor/components/TableHoverControls.test.tsx
  turboui/src/RichEditor/components/TableHoverControls.tsx
  turboui/src/RichEditor/components/TableSettingsMenus.test.tsx
  turboui/src/RichEditor/components/TableSettingsMenus.tsx
  turboui/src/RichEditor/components/tableActions.ts
  turboui/src/RichEditor/components/tableKeyboard.ts
  turboui/src/RichEditor/components/useTableControls.ts
  turboui/src/RichEditor/extensions/Table.ts
  turboui/src/RichEditor/extensions/TableLayout.ts
  turboui/src/RichEditor/index.tsx
  turboui/src/RichEditor/tableWidths.test.ts
  turboui/src/RichEditor/tableWidths.ts
Due: Turboui, App Tests

Adjust min-width
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/extensions/TableLayout.ts
  turboui/src/RichEditor/tableWidths.test.ts
  turboui/src/RichEditor/tableWidths.ts
Due: Turboui, App Tests

Adjustments
  turboui/src/RichEditor/components/TableActionPreview.tsx
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/extensions/TableLayout.test.ts
  turboui/src/RichEditor/extensions/TableLayout.ts
Due: Turboui, App Tests

prevent accidental table actions when opening context menu
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/components/TableControls.tsx
Due: Turboui, App Tests

Adjust tests
  app/test/support/features/rich_text_tables_steps.ex
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/components/TableControls.tsx
  turboui/src/RichEditor/components/ToolbarButton.tsx
Due: Turboui, App Tests

feat: Improve table controls and content-aware column sizing (#5376)
  app/assets/css/prosemirror.css
  app/test/support/features/rich_text_tables_steps.ex
  turboui/src/Menu/index.tsx
  turboui/src/RichEditor/Tables.stories.tsx
  turboui/src/RichEditor/components/TableActionPreview.tsx
  turboui/src/RichEditor/components/TableAxisMenus.test.tsx
  turboui/src/RichEditor/components/TableAxisMenus.tsx
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/components/TableControls.tsx
  turboui/src/RichEditor/components/TableHoverControls.test.tsx
  turboui/src/RichEditor/components/TableHoverControls.tsx
  turboui/src/RichEditor/components/TableSettingsMenus.test.tsx
  turboui/src/RichEditor/components/TableSettingsMenus.tsx
  turboui/src/RichEditor/components/ToolbarButton.tsx
  turboui/src/RichEditor/components/tableActions.ts
  turboui/src/RichEditor/components/tableKeyboard.ts
  turboui/src/RichEditor/components/useTableControls.ts
  turboui/src/RichEditor/extensions/Table.ts
  turboui/src/RichEditor/extensions/TableLayout.test.ts
  turboui/src/RichEditor/extensions/TableLayout.ts
  turboui/src/RichEditor/index.tsx
  turboui/src/RichEditor/tableWidths.test.ts
  turboui/src/RichEditor/tableWidths.ts
Due: Turboui, App Tests

fix: use plural comment labels and stable work-map tab ids
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/Tabs/index.tsx
  turboui/src/WorkMap/components/index.test.tsx
  turboui/src/WorkMap/hooks/useWorkMapTab.ts
  turboui/src/WorkMap/tests/steps.ts
Due: Turboui, App Tests

fix: assert discussion title and project on edit page
  app/assets/js/pages/ProjectDiscussionEditPage/page.tsx
Due: App Tests

fix: assert mock KPI entries in comment-label test
  turboui/src/SpaceKpisPage/index.test.tsx
Due: Turboui, App Tests

feat: Prototype time tracking in TurboUI and Storybook
  specs/0020-time-tracking.md
  turboui/src/Menu/index.tsx
  turboui/src/ProjectPage/Overview.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/TaskPage/Overview.tsx
  turboui/src/TaskPage/index.tsx
  turboui/src/TaskPage/types.ts
  turboui/src/TimeTracking/ProjectTimeSection.test.tsx
  turboui/src/TimeTracking/ProjectTimeSection.tsx
  turboui/src/TimeTracking/ProjectTimeSettings.tsx
  turboui/src/TimeTracking/README.md
  turboui/src/TimeTracking/TaskTimeSection.test.tsx
  turboui/src/TimeTracking/TaskTimeSection.tsx
  turboui/src/TimeTracking/TimeDate.tsx
  turboui/src/TimeTracking/TimeEntryEditor.test.tsx
  turboui/src/TimeTracking/TimeEntryEditor.tsx
  turboui/src/TimeTracking/TimeEntryList.tsx
  turboui/src/TimeTracking/TimerControls.test.tsx
  turboui/src/TimeTracking/TimerControls.tsx
  turboui/src/TimeTracking/index.stories.tsx
  turboui/src/TimeTracking/index.tsx
  turboui/src/TimeTracking/mockData.ts
  turboui/src/TimeTracking/stories/ContextPages.tsx
  turboui/src/TimeTracking/stories/TimeTrackingDemo.tsx
  turboui/src/TimeTracking/stories/useTimeTrackingDemo.ts
  turboui/src/TimeTracking/time.test.ts
  turboui/src/TimeTracking/time.ts
  turboui/src/TimeTracking/types.ts
  turboui/src/TimeTracking/useTimeAction.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: handle missing company context when listing spaces
  app/lib/operately_web/api/spaces/list.ex
  app/test/operately_web/api/spaces/list_test.exs
Due: App Tests

fix: preserve company scope for work map queries
  app/assets/js/pages/CompanyWorkMapPage/loader.test.tsx
  app/assets/js/pages/CompanyWorkMapPage/loader.tsx
Due: App Tests

feat: add Portuguese drafts for discussion, file, and space-board copy
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/i18n.test.ts
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/i18n-discussions-files-space-audit.md
  docs/internationalization.md
  specs/0018-internationalization.md
Due: App Tests

fix: use H2 through H4 in the rich text editor
  app/assets/css/prosemirror.css
  turboui/src/RichEditor/components/H1Button.tsx
  turboui/src/RichEditor/components/H2Button.tsx
  turboui/src/RichEditor/components/HeadingButtons.tsx
  turboui/src/RichEditor/components/Toolbar.tsx
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/extensions/Heading.ts
  turboui/src/RichEditor/headingToolbar.test.tsx
  turboui/src/RichEditor/index.stories.tsx
  turboui/src/RichEditor/markdownInputRules.test.ts
  turboui/src/icons/index.tsx
Due: Turboui, App Tests

fix: keep compact editor overflow menu reachable
  turboui/src/RichEditor/components/Toolbar.tsx
Due: Turboui, App Tests

fix: restore markdown H1 conversion in the rich text editor
  turboui/src/RichEditor/extensions/Heading.ts
  turboui/src/RichEditor/markdownInputRules.test.ts
Due: Turboui, App Tests

fix: drop non-null assertion on milestone deadline
  app/assets/js/features/activities/ProjectTimelineEdited/index.tsx
Due: App Tests

fix: remove unused namesListToString helper
  app/assets/js/models/people/index.tsx
Due: App Tests

Add new helpers
  app/lib/operately/rich_content/link_enrichment.ex
  app/test/operately/rich_content/link_enrichment_test.exs
  app/test/support/rich_text.ex
Due: App Tests

chore: Resolve and persist internal rich-text link titles
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/rich_content/preparation.ex
  app/lib/operately_web/api/rich_content/resolve_links.ex
  app/lib/operately_web/api/rich_content/set_task_item_checked.ex
  app/lib/operately_web/api/types.ex
  app/lib/turbo_connect/fields.ex
  app/lib/turbo_connect/plugs/parse_inputs.ex
  app/test/operately_web/api/projects/update_description_test.exs
  app/test/operately_web/api/rich_content/preparation_test.exs
  app/test/operately_web/api/rich_content/resolve_links_test.exs
  app/test/operately_web/api/rich_content/set_task_item_checked_test.exs
  app/test/turbo_connect/fields_test.exs
  app/test/turbo_connect/plugs/parse_inputs_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: keep internal link titles permission-aware while editing
  app/assets/js/hooks/useRichEditorHandlers.test.tsx
  app/assets/js/hooks/useRichEditorHandlers.tsx
  app/assets/js/hooks/useRichTextHandlers.test.tsx
  app/assets/js/models/projectTemplates/useTemplateTaskSlideInProps.test.tsx
  app/assets/js/pages/ProjectActivityPage/Comments.test.tsx
  app/assets/js/pages/ProjectCheckInPage/Comments.test.tsx
  app/assets/js/pages/ProjectDiscussionPage/Comments.test.tsx
  app/assets/js/pages/ProjectRetrospectivePage/Comments.test.tsx
  app/lib/operately/rich_content/link_enrichment.ex
  app/lib/operately_web/api/rich_content/preparation.ex
  app/lib/operately_web/api/rich_content/set_task_item_checked.ex
  app/lib/turbo_connect/fields.ex
  app/test/features/rich_text_resource_links_test.exs
  app/test/operately/rich_content/link_enrichment_test.exs
  app/test/operately_web/api/projects/update_description_test.exs
  app/test/operately_web/api/rich_content/preparation_test.exs
  app/test/support/features/rich_text_resource_links_steps.ex
  app/test/support/rich_text.ex
  app/test/turbo_connect/fields_test.exs
  turboui/src/CommentSection/CommentItem.test.tsx
  turboui/src/CommentSection/CommentSection.test.tsx
  turboui/src/GoalPage/__tests__/Discussions.test.tsx
  turboui/src/PageDescription/index.test.tsx
  turboui/src/RichContent/index.tsx
  turboui/src/RichContent/restoreSource.ts
  turboui/src/RichEditor/components/TableButton.test.tsx
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/extensions/Link/index.ts
  turboui/src/RichEditor/extensions/Link/resourceLinks.ts
  turboui/src/RichEditor/index.stories.tsx
  turboui/src/RichEditor/localDrafts.test.ts
  turboui/src/RichEditor/taskListToolbar.test.tsx
  turboui/src/RichEditor/useEditor.paste.test.tsx
  turboui/src/RichEditor/useEditor.resourceLinks.test.tsx
  turboui/src/RichEditor/useEditor.tsx
  turboui/src/utils/storybook/richEditor.ts
Due: Turboui, App Tests

Fix lint
  turboui/src/RichEditor/headingToolbar.test.tsx
Due: Turboui, App Tests

preserve formatting on resolved rich-text links
  app/lib/operately/rich_content/link_enrichment.ex
  app/test/operately/rich_content/link_enrichment_test.exs
  turboui/src/RichContent/restoreSource.test.ts
  turboui/src/RichContent/restoreSource.ts
  turboui/src/RichEditor/extensions/Link/resourceLinks.ts
  turboui/src/RichEditor/useEditor.resourceLinks.test.tsx
Due: Turboui, App Tests

fix: translate remaining activity copy into pt-BR
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
Due: App Tests

fix: shorten docs and files activity copy
  app/assets/js/features/activities/ResourceHubDocumentDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubFileCreated/index.tsx
  app/assets/js/features/activities/ResourceHubFileDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubFileEdited/index.tsx
  app/assets/js/features/activities/ResourceHubFolderCopied/index.tsx
  app/assets/js/features/activities/ResourceHubFolderCreated/index.tsx
  app/assets/js/features/activities/ResourceHubFolderDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubFolderRenamed/index.tsx
  app/assets/js/features/activities/ResourceHubLinkCreated/index.tsx
  app/assets/js/features/activities/ResourceHubLinkDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubLinkEdited/index.tsx
  app/assets/js/features/activities/resourceHubParentAware.test.tsx
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

fix: prevent clipping in template task creation form
  turboui/src/TaskCreationModal/index.stories.tsx
  turboui/src/TaskCreationModal/index.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

test: check template task form layout at a narrow width
  turboui/.storybook/test-runner.js
  turboui/src/TaskCreationModal/index.stories.tsx
  turboui/src/TaskCreationModal/index.tsx
Due: Turboui, App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
