Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

fix: use effective access for resource hub comments
  app/lib/operately/updates.ex
  app/lib/operately_web/api/comments/list.ex
Due: App Tests

feat: Update billing alert emails and previews
  app/lib/operately_email/emails/billing_limit_reached_email.ex
  app/lib/operately_email/emails/billing_near_limit_warning_email.ex
  app/lib/operately_email/templates/billing_limit_reached.html.eex
  app/lib/operately_email/templates/billing_limit_reached.text.eex
  app/lib/operately_email/templates/billing_near_limit_warning.html.eex
  app/lib/operately_email/templates/billing_near_limit_warning.text.eex
  app/lib/operately_web/email_preview/previews/billing_limit_reached.ex
  app/lib/operately_web/email_preview/previews/billing_near_limit_warning.ex
  app/test/operately/billing/limit_breach_alert_email_worker_test.exs
  app/test/operately/billing/near_limit_alert_email_worker_test.exs
  app/test/operately_email/billing_limit_reached_email_test.exs
  app/test/operately_email/billing_near_limit_warning_email_test.exs
  app/test/support/features/company_admin_steps.ex
Due: App Tests

feat: Update billing alert emails and previews (#4642)
  app/lib/operately_email/emails/billing_limit_reached_email.ex
  app/lib/operately_email/emails/billing_near_limit_warning_email.ex
  app/lib/operately_email/templates/billing_limit_reached.html.eex
  app/lib/operately_email/templates/billing_limit_reached.text.eex
  app/lib/operately_email/templates/billing_near_limit_warning.html.eex
  app/lib/operately_email/templates/billing_near_limit_warning.text.eex
  app/lib/operately_web/email_preview/previews/billing_limit_reached.ex
  app/lib/operately_web/email_preview/previews/billing_near_limit_warning.ex
  app/test/operately/billing/limit_breach_alert_email_worker_test.exs
  app/test/operately/billing/near_limit_alert_email_worker_test.exs
  app/test/operately_email/billing_limit_reached_email_test.exs
  app/test/operately_email/billing_near_limit_warning_email_test.exs
  app/test/support/features/company_admin_steps.ex
Due: App Tests

Fix tests
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/test/features/billing_test.exs
  app/test/operately/operations/company_adding_test.exs
  app/test/operately_web/api/companies/create_test.exs
  app/test/support/features/billing_steps.ex
  app/test/support/features/companies_steps.ex
Due: App Tests

Fix test
  app/ee/test/operately_ee/admin_api/mutations/sync_billing_products_from_polar_test.exs
Due: App Tests

chore: Add skills for writing docs
  .agents/skills/help-docs/SKILL.md
  .agents/skills/help-docs/reference.md
Due: none

Add instructions for API docs
  .agents/skills/help-docs/SKILL.md
  .agents/skills/help-docs/reference.md
Due: none

Update .agents/skills/help-docs/reference.md
  .agents/skills/help-docs/reference.md
Due: none

Update .agents/skills/help-docs/SKILL.md
  .agents/skills/help-docs/SKILL.md
Due: none

fix: align draft check-in actions
  app/assets/js/pages/ProjectCheckInPage/page.tsx
Due: App Tests

fix: centralize check-in draft guards
  app/lib/operately_web/api/goals/acknowledge_check_in.ex
  app/lib/operately_web/api/goals/delete_check_in.ex
  app/lib/operately_web/api/goals/get_check_in.ex
  app/lib/operately_web/api/goals/update_check_in.ex
  app/lib/operately_web/api/helpers.ex
  app/lib/operately_web/api/projects/acknowledge_check_in.ex
  app/lib/operately_web/api/projects/delete_check_in.ex
  app/lib/operately_web/api/projects/get_check_in.ex
  app/lib/operately_web/api/projects/list_check_ins.ex
  app/lib/operately_web/api/projects/update_check_in.ex
Due: App Tests

fix: stabilize check-in subscription migration
  app/lib/operately/data/change_027_create_subscriptions_list_for_check_ins.ex
Due: App Tests

fix: cover goal check-in delete external auth
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/goals/delete_check_in.ex
Due: App Tests

fix: use shared draft status badge
  app/assets/js/pages/GoalCheckInPage/Header.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  turboui/src/CheckInCard/index.tsx
Due: Turboui, App Tests

fix: keep draft badge inline
  app/assets/js/pages/GoalCheckInPage/Header.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
Due: App Tests

fix: Avoid full page reload on billing catalog sync and updates
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.tsx
Due: App Tests

fix: Avoid full page reload on billing catalog sync and updates (#4648)
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.tsx
Due: App Tests

chore: Make plan definitions also db-backed
  app/assets/js/api/index.tsx
  app/assets/js/models/billing/index.test.ts
  app/lib/operately/billing.ex
  app/lib/operately/billing/access_state_reconciling.ex
  app/lib/operately/billing/account_syncing.ex
  app/lib/operately/billing/company_billing_account.ex
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately/billing/plan_definition.ex
  app/lib/operately/billing/plans.ex
  app/lib/operately/billing/polar/operations/checkout_session_creating.ex
  app/lib/operately/billing/polar/operations/managed_product_creating.ex
  app/lib/operately/billing/polar/operations/plan_changing.ex
  app/lib/operately/billing/polar/product_mapper.ex
  app/lib/operately/billing/product_catalog_entry.ex
  app/lib/operately_web/api/serializers/billing_account.ex
  app/lib/operately_web/api/serializers/billing_product.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260609120000_add_metadata_to_billing_plan_definitions.exs
  app/test/operately/billing/polar/product_mapper_test.exs
  app/test/operately/billing_test.exs
  app/test/operately_web/api/billing/get_test.exs
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBilling/state.ts
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
Due: Turboui, App Tests

chore: Make plan definitions also db-backed (#4649)
  app/assets/js/api/index.tsx
  app/assets/js/models/billing/index.test.ts
  app/lib/operately/billing.ex
  app/lib/operately/billing/access_state_reconciling.ex
  app/lib/operately/billing/account_syncing.ex
  app/lib/operately/billing/company_billing_account.ex
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately/billing/plan_definition.ex
  app/lib/operately/billing/plans.ex
  app/lib/operately/billing/polar/operations/checkout_session_creating.ex
  app/lib/operately/billing/polar/operations/managed_product_creating.ex
  app/lib/operately/billing/polar/operations/plan_changing.ex
  app/lib/operately/billing/polar/product_mapper.ex
  app/lib/operately/billing/product_catalog_entry.ex
  app/lib/operately_web/api/serializers/billing_account.ex
  app/lib/operately_web/api/serializers/billing_product.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260609120000_add_metadata_to_billing_plan_definitions.exs
  app/test/operately/billing/polar/product_mapper_test.exs
  app/test/operately/billing_test.exs
  app/test/operately_web/api/billing/get_test.exs
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBilling/state.ts
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
Due: Turboui, App Tests

Make customer billing plan contracts string-backed
  app/assets/js/api/index.tsx
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/limitError.ts
  app/assets/js/pages/NewCompanyPage/index.test.tsx
  app/assets/js/pages/NewCompanyPage/index.tsx
  app/lib/operately/billing.ex
  app/lib/operately/billing/account_syncing.ex
  app/lib/operately/billing/inputs.ex
  app/lib/operately/billing/polar/operations/checkout_session_creating.ex
  app/lib/operately/billing/polar/operations/managed_product_creating.ex
  app/lib/operately/billing/polar/operations/plan_changing.ex
  app/lib/operately/billing/polar/product_mapper.ex
  app/lib/operately/operations/company_adding.ex
  app/lib/operately_web/api/billing/change_plan.ex
  app/lib/operately_web/api/billing/create_checkout_session.ex
  app/lib/operately_web/api/companies/create.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/billing/inputs_test.exs
  app/test/operately/operations/company_adding_test.exs
  app/test/operately_web/api/billing/change_plan_test.exs
  app/test/operately_web/api/billing/create_checkout_session_test.exs
  app/test/operately_web/api/companies/create_test.exs
  turboui/src/CompanyBilling/changeConsequences.ts
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBilling/state.ts
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
Due: Turboui, App Tests

Add new admin billing endpoints
  app/ee/assets/js/admin_api/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/archive_billing_plan_definition.ex
  app/ee/lib/admin_api/mutations/create_billing_plan_definition.ex
  app/ee/lib/admin_api/mutations/unarchive_billing_plan_definition.ex
  app/ee/lib/admin_api/mutations/update_billing_plan_definition.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/mutations/archive_billing_plan_definition_test.exs
  app/ee/test/operately_ee/admin_api/mutations/create_billing_plan_definition_test.exs
  app/ee/test/operately_ee/admin_api/mutations/create_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/unarchive_billing_plan_definition_test.exs
  app/ee/test/operately_ee/admin_api/mutations/update_billing_plan_definition_test.exs
  app/ee/test/operately_ee/admin_api/queries/list_billing_plan_definitions_test.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/plan_definition.ex
  app/lib/operately_web/api/serializers/billing_plan.ex
Due: App Tests

feat: Billing plan contracts and admin catalog are fully dynamic
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.tsx
Due: App Tests

Fix lint
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.test.tsx
Due: App Tests

Fix tests
  app/assets/js/pages/NewCompanyPage/billingIntent.ts
  app/assets/js/pages/NewCompanyPage/index.test.tsx
  app/assets/js/pages/NewCompanyPage/index.tsx
Due: App Tests

Fix lint
  app/assets/js/pages/NewCompanyPage/billingIntent.ts
Due: App Tests

Fix test
  app/test/features/companies_test.exs
  app/test/support/features/companies_steps.ex
Due: App Tests

Add missing regression tests
  app/test/operately_web/api/billing/get_test.exs
Due: App Tests

chore: Enrich managed Polar product metadata
  app/ee/test/operately_ee/admin_api/mutations/create_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/update_billing_product_test.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/polar/client.ex
  app/lib/operately/billing/polar/operations/managed_product_creating.ex
  app/lib/operately/billing/polar/operations/managed_product_updating.ex
  app/lib/operately/billing/polar/operations/product_sync.ex
  app/lib/operately/billing/polar/product_mapper.ex
  app/test/operately/billing/polar/product_mapper_test.exs
Due: App Tests

Fix dialyzer
  app/ee/lib/admin_api/mutations/update_billing_product.ex
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
