Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

feat: Users can log in using email/password and Google oauth in the CLI
  cli/package-lock.json
  cli/package.json
  cli/src/commands/auth-bootstrap.ts
  cli/src/commands/auth.ts
  cli/src/commands/help.ts
  cli/src/core/internal-api.ts
  cli/src/core/paths.ts
  cli/src/core/prompts.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/auth-bootstrap.test.ts
Due: none

Improvements
  cli/src/commands/auth-bootstrap.ts
  cli/src/core/prompts.ts
  cli/src/test/unit/auth-bootstrap.test.ts
  cli/src/test/unit/prompts.test.ts
Due: none

feat: Users can log in using email/password and Google oauth in the CLI (#4409)
  cli/package-lock.json
  cli/package.json
  cli/src/commands/auth-bootstrap.ts
  cli/src/commands/auth.ts
  cli/src/commands/help.ts
  cli/src/core/internal-api.ts
  cli/src/core/paths.ts
  cli/src/core/prompts.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/auth-bootstrap.test.ts
  cli/src/test/unit/prompts.test.ts
Due: none

Improve tests
  cli/src/test/unit/auth-bootstrap.test.ts
Due: none

chore: Remove deprecated code for Assignments V1
  app/lib/operately/assignments/assignment.ex
  app/lib/operately/assignments/categorizer.ex
  app/lib/operately/assignments/loader.ex
  app/lib/operately/assignments/loader_v2.ex
  app/lib/operately_email/emails/assignments_email.ex
  app/lib/operately_email/templates.ex
  app/lib/operately_email/templates/assignments.html.eex
  app/lib/operately_email/templates/assignments.text.eex
  app/lib/operately_email/templates/assignments_v2.html.eex
  app/lib/operately_email/templates/assignments_v2.text.eex
  app/lib/operately_web/api/people/get_assignments_count.ex
  app/lib/operately_web/api/people/list_assignments.ex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/assignments.ex
  app/priv/static/.vite/manifest.json
  app/test/features/assignments_email_test.exs
  app/test/operately/assignments/loader_test.exs
  app/test/operately/assignments/loader_v2_test.exs
  app/test/support/features/assignments_email_steps.ex
Due: App Tests

Adjustment
  app/lib/operately/assignments/loader.ex
Due: App Tests

chore: Remove deprecated code for Assignments V1 (#4410)
  app/lib/operately/assignments/assignment.ex
  app/lib/operately/assignments/categorizer.ex
  app/lib/operately/assignments/loader.ex
  app/lib/operately/assignments/loader_v2.ex
  app/lib/operately_email/emails/assignments_email.ex
  app/lib/operately_email/templates.ex
  app/lib/operately_email/templates/assignments.html.eex
  app/lib/operately_email/templates/assignments.text.eex
  app/lib/operately_email/templates/assignments_v2.html.eex
  app/lib/operately_email/templates/assignments_v2.text.eex
  app/lib/operately_web/api/people/get_assignments_count.ex
  app/lib/operately_web/api/people/list_assignments.ex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/assignments.ex
  app/priv/static/.vite/manifest.json
  app/test/features/assignments_email_test.exs
  app/test/operately/assignments/loader_test.exs
  app/test/operately/assignments/loader_v2_test.exs
  app/test/support/features/assignments_email_steps.ex
Due: App Tests

feat: Release buffered notifications feature
  app/assets/js/layouts/CompanyLayout/User.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/index.tsx
  app/assets/js/pages/AccountPage/index.tsx
  app/assets/js/pages/AccountSettingsPage/index.tsx
  app/lib/operately/notifications/buffered_email_policy.ex
  app/lib/operately/operations/notifications_bulk_create.ex
  app/lib/operately_email/cron/daily_summary.ex
  app/priv/static/.vite/manifest.json
  app/test/features/account_settings_test.exs
  app/test/operately/notifications/buffered_email_policy_test.exs
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately_email/cron/daily_summary_test.exs
  app/test/support/features/account_settings_steps.ex
  turboui/src/AccountPage/index.stories.tsx
  turboui/src/AccountPage/index.tsx
Due: Turboui, App Tests

Fix tests
  app/lib/operately_email/emails/project_milestone_commented_email.ex
  app/lib/operately_email/templates/project_milestone_commented.html.eex
  app/test/operately_email/project_milestone_commented_email_test.exs
  app/test/support/features/review_steps.ex
Due: App Tests

feat: Release buffered notifications feature (#4411)
  app/assets/js/layouts/CompanyLayout/User.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/index.tsx
  app/assets/js/pages/AccountPage/index.tsx
  app/assets/js/pages/AccountSettingsPage/index.tsx
  app/lib/operately/notifications/buffered_email_policy.ex
  app/lib/operately/operations/notifications_bulk_create.ex
  app/lib/operately_email/cron/daily_summary.ex
  app/lib/operately_email/emails/project_milestone_commented_email.ex
  app/lib/operately_email/templates/project_milestone_commented.html.eex
  app/priv/static/.vite/manifest.json
  app/test/features/account_settings_test.exs
  app/test/operately/notifications/buffered_email_policy_test.exs
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately_email/cron/daily_summary_test.exs
  app/test/operately_email/project_milestone_commented_email_test.exs
  app/test/support/features/account_settings_steps.ex
  app/test/support/features/review_steps.ex
  turboui/src/AccountPage/index.stories.tsx
  turboui/src/AccountPage/index.tsx
Due: Turboui, App Tests

Add spec
  specs/0011-cli-signup.md
Due: none

chore: Reorganize CLI auth code and add spec file
  cli/src/auth/bootstrap.ts
  cli/src/auth/commands.ts
  cli/src/auth/config.ts
  cli/src/auth/flows/login-google.ts
  cli/src/auth/flows/login-password.ts
  cli/src/auth/flows/login-token.ts
  cli/src/auth/index.ts
  cli/src/auth/shared/api.ts
  cli/src/auth/shared/company-selection.ts
  cli/src/auth/shared/errors.ts
  cli/src/auth/shared/token-creation.ts
  cli/src/auth/types.ts
  cli/src/commands/auth-bootstrap.ts
  cli/src/commands/executor.ts
  cli/src/commands/help.ts
  cli/src/core/config.ts
  cli/src/index.ts
  cli/src/test/unit/auth-bootstrap.test.ts
  cli/src/test/unit/auth-commands.test.ts
Due: none

Fix tests
  cli/src/auth/bootstrap.ts
  cli/src/auth/shared/company-selection.ts
  cli/src/auth/shared/token-creation.ts
  cli/src/test/unit/auth-commands.test.ts
Due: none

Improvements
  cli/src/auth/bootstrap.ts
  cli/src/auth/flows/login-token.ts
Due: none

chore: Reorganize CLI auth code and add spec file (#4412)
  cli/src/auth/bootstrap.ts
  cli/src/auth/commands.ts
  cli/src/auth/config.ts
  cli/src/auth/flows/login-google.ts
  cli/src/auth/flows/login-password.ts
  cli/src/auth/flows/login-token.ts
  cli/src/auth/index.ts
  cli/src/auth/shared/api.ts
  cli/src/auth/shared/company-selection.ts
  cli/src/auth/shared/errors.ts
  cli/src/auth/shared/token-creation.ts
  cli/src/auth/types.ts
  cli/src/commands/auth-bootstrap.ts
  cli/src/commands/executor.ts
  cli/src/commands/help.ts
  cli/src/core/config.ts
  cli/src/index.ts
  cli/src/test/unit/auth-bootstrap.test.ts
  cli/src/test/unit/auth-commands.test.ts
  specs/0011-cli-signup.md
Due: none

fix: GoalReparent notification still works after Goal is deleted
  app/assets/js/features/activities/GoalReparent/index.tsx
  app/assets/js/features/activities/ProjectGoalConnection/index.tsx
Due: App Tests

fix: GoalReparent notification still works after Goal is deleted (#4413)
  app/assets/js/features/activities/GoalReparent/index.tsx
  app/assets/js/features/activities/ProjectGoalConnection/index.tsx
Due: App Tests

chore: Add cli_auth check_account, signup, and create_company mutations
  app/lib/operately/operations/account_signing_up.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/cli_auth.ex
  app/lib/operately_web/api/internal.ex
  app/lib/operately_web/api/mutations/create_account.ex
  app/test/operately/operations/account_signing_up_test.exs
  app/test/operately_web/api/cli_auth_test.exs
Due: App Tests

Adjust tests
  app/test/operately/operations/account_signing_up_test.exs
  app/test/operately_web/api/cli_auth_test.exs
Due: App Tests

chore: Add cli_auth check_account, signup, and create_company mutations (#4414)
  app/lib/operately/operations/account_signing_up.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/cli_auth.ex
  app/lib/operately_web/api/internal.ex
  app/lib/operately_web/api/mutations/create_account.ex
  app/test/operately/operations/account_signing_up_test.exs
  app/test/operately_web/api/cli_auth_test.exs
Due: App Tests

feat: User can signup and create company on empty instance via the CLI
  cli/src/auth/commands.ts
  cli/src/auth/flows/signup-create-company.ts
  cli/src/auth/shared/api.ts
  cli/src/commands/help.ts
  cli/src/core/command-routing.ts
  cli/src/core/parser-types.ts
  cli/src/test/unit/signup-create-company.test.ts
  specs/0011-cli-signup.md
Due: none

feat: User can signup and create company on empty instance via the CLI (#4415)
  cli/src/auth/commands.ts
  cli/src/auth/flows/signup-create-company.ts
  cli/src/auth/shared/api.ts
  cli/src/commands/help.ts
  cli/src/core/command-routing.ts
  cli/src/core/parser-types.ts
  cli/src/test/unit/signup-create-company.test.ts
  specs/0011-cli-signup.md
Due: none

Adjust tests
  cli/src/test/unit/signup-create-company.test.ts
Due: none

feat: CLI company creation fallback for non-empty instances
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/cli_auth.ex
  app/lib/operately_web/api/internal.ex
  app/test/operately_web/api/cli_auth_test.exs
  cli/src/auth/flows/signup-create-company.ts
  cli/src/auth/shared/api.ts
  cli/src/test/unit/signup-create-company.test.ts
Due: App Tests

Fix tests
  cli/src/auth/flows/signup-create-company.ts
  cli/src/test/unit/signup-create-company.test.ts
  specs/0011-cli-signup.md
Due: none

feat: CLI company creation fallback for non-empty instances (#4416)
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/cli_auth.ex
  app/lib/operately_web/api/internal.ex
  app/test/operately_web/api/cli_auth_test.exs
  cli/src/auth/flows/signup-create-company.ts
  cli/src/auth/shared/api.ts
  cli/src/test/unit/signup-create-company.test.ts
  specs/0011-cli-signup.md
Due: App Tests

fix: Company transfer works with S3 compatible services
  app/lib/operately/blobs/download.ex
  app/lib/operately/blobs/s3_config.ex
  app/lib/operately/blobs/upload.ex
  app/lib/operately/company_transfers/blob_io.ex
  app/lib/operately/company_transfers/export_worker.ex
  app/lib/operately/company_transfers/import_worker.ex
  app/test/operately/company_transfers/blob_io_test.exs
  app/test/operately/company_transfers_test.exs
Due: App Tests

fix: Company transfer works with S3 compatible services (#4417)
  app/lib/operately/blobs/download.ex
  app/lib/operately/blobs/s3_config.ex
  app/lib/operately/blobs/upload.ex
  app/lib/operately/company_transfers/blob_io.ex
  app/lib/operately/company_transfers/export_worker.ex
  app/lib/operately/company_transfers/import_worker.ex
  app/test/operately/company_transfers/blob_io_test.exs
  app/test/operately/company_transfers_test.exs
Due: App Tests

fix: Make company transfer work with S3-compatible storage
  app/lib/operately/blobs/download.ex
  app/lib/operately/blobs/s3_config.ex
  app/lib/operately/blobs/s3_http.ex
  app/lib/operately/blobs/signed_urls.ex
  app/lib/operately/blobs/upload.ex
  app/lib/operately/company_transfers/blob_io.ex
  app/test/operately/blobs/s3_config_test.exs
  app/test/operately/blobs/s3_http_test.exs
  app/test/operately/company_transfers/blob_io_test.exs
Due: App Tests

fix: Make company transfer work with S3-compatible storage (#4421)
  app/lib/operately/blobs/download.ex
  app/lib/operately/blobs/s3_config.ex
  app/lib/operately/blobs/s3_http.ex
  app/lib/operately/blobs/signed_urls.ex
  app/lib/operately/blobs/upload.ex
  app/lib/operately/company_transfers/blob_io.ex
  app/test/operately/blobs/s3_config_test.exs
  app/test/operately/blobs/s3_http_test.exs
  app/test/operately/company_transfers/blob_io_test.exs
Due: App Tests

feat: User can join a company via the CLI
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/cli_auth.ex
  app/lib/operately_web/api/internal.ex
  app/lib/operately_web/controllers/account_oauth_controller.ex
  app/lib/operately_web/controllers/cli_login_controller.ex
  app/test/operately_web/api/cli_auth_test.exs
  app/test/operately_web/controllers/cli_login_controller_test.exs
  cli/src/auth/commands.ts
  cli/src/auth/flows/join-invite.ts
  cli/src/auth/flows/login-google.ts
  cli/src/auth/flows/login-password.ts
  cli/src/auth/shared/api.ts
  cli/src/commands/help.ts
  cli/src/core/command-routing.ts
  cli/src/core/parser-types.ts
  cli/src/test/unit/join-invite.test.ts
  specs/0011-cli-signup.md
Due: App Tests

Adjustments
  app/lib/operately_web/api/cli_auth.ex
  app/test/operately_web/api/cli_auth_test.exs
  cli/src/auth/flows/join-invite.ts
  cli/src/core/output.ts
  cli/src/test/unit/join-invite.test.ts
Due: App Tests

feat: User can join a company via the CLI (#4422)
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/cli_auth.ex
  app/lib/operately_web/api/internal.ex
  app/lib/operately_web/controllers/account_oauth_controller.ex
  app/lib/operately_web/controllers/cli_login_controller.ex
  app/test/operately_web/api/cli_auth_test.exs
  app/test/operately_web/controllers/cli_login_controller_test.exs
  cli/src/auth/commands.ts
  cli/src/auth/flows/join-invite.ts
  cli/src/auth/flows/login-google.ts
  cli/src/auth/flows/login-password.ts
  cli/src/auth/shared/api.ts
  cli/src/commands/help.ts
  cli/src/core/command-routing.ts
  cli/src/core/output.ts
  cli/src/core/parser-types.ts
  cli/src/test/unit/join-invite.test.ts
  specs/0011-cli-signup.md
Due: App Tests

chore: Introduce e2e tests for CLI
  .semaphore/semaphore.yml
  .vscode/tasks.json
  Makefile
  app/priv/static/.vite/manifest.json
  app/test/cli_e2e/auth_test.exs
  app/test/support/cli_e2e_case.ex
  cli/src/core/http.ts
  cli/src/core/internal-api.ts
Due: App Tests

Adjustment
  scripts/run_unit_tests.js
Due: none

chore: Introduce e2e tests for CLI (#4423)
  .semaphore/semaphore.yml
  .vscode/tasks.json
  Makefile
  app/priv/static/.vite/manifest.json
  app/test/cli_e2e/auth_test.exs
  app/test/support/cli_e2e_case.ex
  cli/src/core/http.ts
  cli/src/core/internal-api.ts
  scripts/run_unit_tests.js
Due: App Tests

chore: Improve information displayed by 'auth status'
  app/test/cli_e2e/auth_test.exs
  cli/src/auth/commands.ts
  cli/src/auth/config.ts
  cli/src/auth/flows/login-token.ts
  cli/src/auth/shared/profile-metadata.ts
  cli/src/auth/shared/token-creation.ts
  cli/src/commands/help.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/auth-commands.test.ts
Due: App Tests

Add feature tests
  app/lib/operately_web/controllers/account_oauth_controller.ex
  app/lib/operately_web/controllers/cli_login_controller.ex
  app/test/cli_e2e/auth_test.exs
  app/test/support/cli_e2e_case.ex
Due: App Tests

Adjustment
  cli/src/test/unit/auth-commands.test.ts
Due: none

chore: Improve information displayed by 'auth status' (#4424)
  app/lib/operately_web/controllers/account_oauth_controller.ex
  app/lib/operately_web/controllers/cli_login_controller.ex
  app/test/cli_e2e/auth_test.exs
  app/test/support/cli_e2e_case.ex
  cli/src/auth/commands.ts
  cli/src/auth/config.ts
  cli/src/auth/flows/login-token.ts
  cli/src/auth/shared/profile-metadata.ts
  cli/src/auth/shared/token-creation.ts
  cli/src/commands/help.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/auth-commands.test.ts
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
