Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

feat: add kanban task shortcuts (#4500)
  turboui/src/TaskBoard/KanbanView/Card.tsx
  turboui/src/TaskBoard/KanbanView/Column.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/components/TaskItem.tsx
  turboui/src/TaskBoard/hooks/useShortcutFieldFocusRestore.ts
  turboui/src/TaskBoard/hooks/useTaskKeyboardNavigation.test.tsx
  turboui/src/TaskBoard/hooks/useTaskKeyboardNavigation.ts
Due: Turboui, App Tests

feat: Display closed milestones in TasksBoard
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TaskList.tsx
  turboui/src/TaskBoard/components/index.test.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/hooks.tsx
  turboui/src/TaskBoard/stories/TaskBoard.stories.tsx
Due: Turboui, App Tests

Adjust tests
  app/test/features/project_milestones_test.exs
  app/test/support/features/project_milestones_steps.ex
Due: App Tests

feat: Display closed milestones in TasksBoard (#4497)
  app/test/features/project_milestones_test.exs
  app/test/support/features/project_milestones_steps.ex
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TaskList.tsx
  turboui/src/TaskBoard/components/index.test.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/hooks.tsx
  turboui/src/TaskBoard/stories/TaskBoard.stories.tsx
Due: Turboui, App Tests

fix: Hide AI sidebar if AI feature is not enabled
  app/assets/js/features/AiSidebar/availability.test.ts
  app/assets/js/features/AiSidebar/availability.ts
  app/assets/js/features/AiSidebar/index.tsx
  app/test/features/projects_test.exs
  app/test/operately_web/api/ai_test.exs
  app/test/support/features/projects_steps.ex
Due: App Tests

fix: Hide AI sidebar if AI feature is not enabled (#4502)
  app/assets/js/features/AiSidebar/availability.test.ts
  app/assets/js/features/AiSidebar/availability.ts
  app/assets/js/features/AiSidebar/index.tsx
  app/test/features/projects_test.exs
  app/test/operately_web/api/ai_test.exs
  app/test/support/features/projects_steps.ex
Due: App Tests

docs: Add spec for MCP feature
  specs/0012-operately-mcp.md
Due: none

docs: Add spec for MCP feature (#4503)
  specs/0012-operately-mcp.md
Due: none

feat: add keyboard shortcuts cheatsheet
  app/assets/js/components/Modal/index.tsx
  app/assets/js/layouts/CompanyLayout/DropdownMenu.tsx
  app/assets/js/layouts/CompanyLayout/HelpDropdown.tsx
  app/assets/js/layouts/CompanyLayout/KeyboardShortcutsModal.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
Due: App Tests

fix: align timeline activity rows
  turboui/src/Timeline/ActivityComponents.tsx
  turboui/src/Timeline/TaskActivities.tsx
Due: Turboui, App Tests

feat: add keyboard shortcuts cheatsheet (#4504)
  app/assets/js/components/Modal/index.tsx
  app/assets/js/layouts/CompanyLayout/DropdownMenu.tsx
  app/assets/js/layouts/CompanyLayout/HelpDropdown.tsx
  app/assets/js/layouts/CompanyLayout/KeyboardShortcutsModal.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
Due: App Tests

fix: align timeline activity rows (#4505)
  turboui/src/Timeline/ActivityComponents.tsx
  turboui/src/Timeline/TaskActivities.tsx
Due: Turboui, App Tests

fix: add apple touch icon
  app/assets/static/apple-touch-icon.png
  app/lib/operately_web.ex
  app/lib/operately_web/controllers/page.html.heex
  app/priv/static/apple-touch-icon.png
  app/priv/static/apple-touch-icon.png.gz
Due: App Tests

fix: make apple touch icon opaque
  app/assets/static/apple-touch-icon.png
  app/priv/static/apple-touch-icon.png
  app/priv/static/apple-touch-icon.png.gz
Due: App Tests

feat: add apple touch icon (#4506)
  app/assets/static/apple-touch-icon.png
  app/lib/operately_web.ex
  app/lib/operately_web/controllers/page.html.heex
  app/priv/static/apple-touch-icon.png
  app/priv/static/apple-touch-icon.png.gz
Due: App Tests

Add milestones to work map timeline
  app/assets/js/api/index.tsx
  app/assets/js/models/workMap/index.tsx
  app/lib/operately_web/api/serializers/work_map_item.ex
  app/lib/operately_web/api/types.ex
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/tests/mockData.ts
  turboui/src/WorkMap/utils/timeline.ts
Due: Turboui, App Tests

Refine work map timeline markers and open-ended bars
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
  turboui/src/WorkMap/utils/timeline.ts
Due: Turboui, App Tests

Refine work map timeline for dark mode and milestones
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
Due: Turboui, App Tests

Refine work map view toggle
  turboui/src/ViewToggle/index.stories.tsx
  turboui/src/ViewToggle/index.tsx
  turboui/src/WorkMap/components/WorkMapNavigation.tsx
  turboui/src/icons/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Refine Work Map tab separators
  turboui/src/Tabs/index.tsx
  turboui/src/WorkMap/components/WorkMapNavigation.tsx
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
Due: Turboui, App Tests

Refine work map timeline internals
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
  turboui/src/WorkMap/utils/timelineItem.test.ts
  turboui/src/WorkMap/utils/timelineItem.ts
Due: Turboui, App Tests

feat: Project timeline in work maps (#4508)
  app/assets/js/api/index.tsx
  app/assets/js/models/workMap/index.tsx
  app/lib/operately_web/api/serializers/work_map_item.ex
  app/lib/operately_web/api/types.ex
  turboui/src/Tabs/index.tsx
  turboui/src/ViewToggle/index.stories.tsx
  turboui/src/ViewToggle/index.tsx
  turboui/src/WorkMap/components/WorkMapNavigation.tsx
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/tests/mockData.ts
  turboui/src/WorkMap/utils/timeline.ts
  turboui/src/WorkMap/utils/timelineItem.test.ts
  turboui/src/WorkMap/utils/timelineItem.ts
  turboui/src/icons/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Refine work map timeline edge cases
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
Due: Turboui, App Tests

Add timeline continuation indicators
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
Due: Turboui, App Tests

fix: refine Work Map timeline edge cases (#4509)
  turboui/src/WorkMap/components/WorkMapTimeline.tsx
Due: Turboui, App Tests

feat: show project task completion
  turboui/src/ProjectPage/index.tsx
  turboui/src/ProjectPage/taskCompletion.test.ts
  turboui/src/ProjectPage/taskCompletion.ts
  turboui/src/ProjectPageLayout/PageHeader.tsx
  turboui/src/ProjectPageLayout/index.tsx
Due: Turboui, App Tests

feat: show project task completion (#4510)
  turboui/src/ProjectPage/index.tsx
  turboui/src/ProjectPage/taskCompletion.test.ts
  turboui/src/ProjectPage/taskCompletion.ts
  turboui/src/ProjectPageLayout/PageHeader.tsx
  turboui/src/ProjectPageLayout/index.tsx
Due: Turboui, App Tests

feat: show overdue project check-ins
  app/assets/js/pages/ProjectPage/index.tsx
  turboui/src/ProjectPage/CheckInOverdueCallout.tsx
  turboui/src/ProjectPage/CheckIns.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/checkInOverdue.test.ts
  turboui/src/ProjectPage/checkInOverdue.ts
  turboui/src/ProjectPage/checkInPermissions.test.ts
  turboui/src/ProjectPage/checkInPermissions.ts
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

feat: show overdue project check-ins (#4511)
  app/assets/js/pages/ProjectPage/index.tsx
  turboui/src/ProjectPage/CheckInOverdueCallout.tsx
  turboui/src/ProjectPage/CheckIns.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/checkInOverdue.test.ts
  turboui/src/ProjectPage/checkInOverdue.ts
  turboui/src/ProjectPage/checkInPermissions.test.ts
  turboui/src/ProjectPage/checkInPermissions.ts
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

docs: Add spec for billing feature
  specs/0013-polar-recurring-billing.md
Due: none

docs: Add spec for billing feature (#4512)
  specs/0013-polar-recurring-billing.md
Due: none

fix: link milestone comment feed action
  app/assets/js/features/activities/ProjectMilestoneCommented/index.tsx
  app/assets/js/features/activities/feedItemLinks.tsx
Due: App Tests
