Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

fix: make Docs & Files dropzone cover the whole view
  turboui/src/ResourceHub/FileDragAndDropArea.test.tsx
  turboui/src/ResourceHub/FileDragAndDropArea.tsx
  turboui/src/ResourceHub/useFileDragAndDrop.test.ts
  turboui/src/ResourceHub/useFileDragAndDrop.ts
Due: Turboui, App Tests

Adjust spec
  specs/0015-full-text-search.md
Due: none

chore: Add permission-aware company search query
  app/lib/operately/search.ex
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/resource_hub_items.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/lib/operately/search/result.ex
  app/test/operately/search/company_query/resource_hub_items_test.exs
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately/search/company_query_test.exs
  specs/0015-full-text-search.md
Due: App Tests

Bound and optimize full-text search queries
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/resource_hub_items.ex
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately/search/text.ex
  app/test/operately/search/company_query/resource_hub_items_test.exs
  app/test/operately/search/company_query_test.exs
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately/search/text_test.exs
  app/test/operately_web/api/resource_hubs/search_test.exs
Due: App Tests

Harden full-text search query handling
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/resource_hub_items.ex
  app/lib/operately/search/full_text_query.ex
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately/search/text.ex
  app/test/operately/search/company_query/resource_hub_items_test.exs
  app/test/operately/search/company_query_test.exs
  app/test/operately/search/full_text_query_test.exs
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately/search/text_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Add permission-aware company search query (#4917)
  app/lib/operately/search.ex
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/resource_hub_items.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/lib/operately/search/full_text_query.ex
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately/search/result.ex
  app/lib/operately/search/text.ex
  app/test/operately/search/company_query/resource_hub_items_test.exs
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately/search/company_query_test.exs
  app/test/operately/search/full_text_query_test.exs
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately/search/text_test.exs
  app/test/operately_web/api/resource_hubs/search_test.exs
  specs/0015-full-text-search.md
Due: App Tests

fix: Show Docs & Files tab on milestone and task pages
  turboui/src/MilestonePage/index.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ProjectPageLayout/useProjectPageTabs.test.tsx
  turboui/src/ProjectPageLayout/useProjectPageTabs.tsx
  turboui/src/TaskPage/index.tsx
Due: Turboui, App Tests

fix: Show Docs & Files tab on milestone and task pages (#4918)
  turboui/src/MilestonePage/index.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ProjectPageLayout/useProjectPageTabs.test.tsx
  turboui/src/ProjectPageLayout/useProjectPageTabs.tsx
  turboui/src/TaskPage/index.tsx
Due: Turboui, App Tests

chore: Consolidate AccessLevel into TurboUI AccessLevelSummary (#4904)
  app/assets/js/features/goals/AccessLevel.tsx
  app/assets/js/features/projects/AccessLevel.tsx
  app/assets/js/features/spaces/AccessLevel/index.test.ts
  app/assets/js/features/spaces/AccessLevel/index.tsx
  app/assets/js/features/spaces/index.tsx
  app/assets/js/pages/GoalAccessManagementPage/page.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  app/assets/js/pages/SpaceAccessManagementPage/page.tsx
  app/assets/js/pages/SpaceAddPage/index.tsx
  turboui/src/AccessLevelSummary/index.stories.tsx
  turboui/src/AccessLevelSummary/index.test.ts
  turboui/src/AccessLevelSummary/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Migrate Reactions to TurboUI via app bridge
  app/assets/js/features/CommentSection/CommentSection.tsx
  app/assets/js/features/Reactions/index.tsx
  app/assets/js/models/reactions/index.tsx
  app/assets/js/models/reactions/useReactionsForm.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/GoalActivityPage/index.tsx
  app/assets/js/pages/GoalCheckInPage/CheckInReactions.tsx
  app/assets/js/pages/ProjectActivityPage/index.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectDiscussionPage/index.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
Due: App Tests

chore: Fix Prettier formatting on Reactions migration
  app/assets/js/models/reactions/index.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/ProjectDiscussionPage/index.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
Due: App Tests

chore: Migrate SpaceCards into TurboUI
  app/assets/js/features/spaces/SpaceCards/Card.tsx
  app/assets/js/features/spaces/SpaceCards/SpaceCard.tsx
  app/assets/js/features/spaces/SpaceCards/SpaceCardLink.tsx
  app/assets/js/pages/HomePage/index.tsx
  turboui/src/SpaceCards/SpaceCard.tsx
  turboui/src/SpaceCards/SpaceCardGrid.tsx
  turboui/src/SpaceCards/index.stories.tsx
  turboui/src/SpaceCards/index.tsx
  turboui/src/SpaceCards/mockData.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Remove unused reaction model exports for knip
  app/assets/js/models/reactions/index.tsx
  app/assets/js/models/reactions/useReactionsForm.tsx
Due: App Tests

chore: Migrate account and company admin pages to TurboUI Page
  app/assets/js/pages/AccountAppearancePage/index.tsx
  app/assets/js/pages/AccountChangePasswordPage/index.tsx
  app/assets/js/pages/CompanyAdminManageAdminsPage/page.tsx
  app/assets/js/pages/CompanyAdminPage/CompanyAdmins.tsx
  app/assets/js/pages/CompanyAdminPage/DangerZone.tsx
  app/assets/js/pages/CompanyAdminPage/NavigationBackToLobby.tsx
  app/assets/js/pages/CompanyAdminPage/Section.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyAdminRestoreSuspendedPeoplePage/index.tsx
  app/assets/js/pages/CompanyAdminTrustedEmailDomainsPage/page.tsx
  app/assets/js/pages/CompanyPermissionsPage/index.tsx
  app/assets/js/pages/CompanyRenamePage/index.tsx
Due: App Tests

chore: Format migrated company admin pages with Prettier
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyAdminRestoreSuspendedPeoplePage/index.tsx
Due: App Tests

chore: Add core work search source adapters
  app/lib/operately/search/index_updates.ex
  app/lib/operately/search/index_updates/worker.ex
  app/lib/operately/search/indexer.ex
  app/lib/operately/search/indexer/writer.ex
  app/lib/operately/search/resource_hub_index/worker.ex
  app/lib/operately/search/source.ex
  app/lib/operately/search/source_registry.ex
  app/lib/operately/search/sources/core_work/discussion.ex
  app/lib/operately/search/sources/core_work/goal.ex
  app/lib/operately/search/sources/core_work/project.ex
  app/lib/operately/search/sources/resource_hub/metadata.ex
  app/lib/operately/search/sources/resource_hub/record.ex
  app/test/operately/search/core_work_maintenance_test.exs
  app/test/operately/search/index_updates_test.exs
  app/test/operately/search/resource_hub_maintenance_test.exs
  app/test/operately/search/source_registry_test.exs
  app/test/operately/search/sources/core_work/discussion_test.exs
  app/test/operately/search/sources/core_work/goal_test.exs
  app/test/operately/search/sources/core_work/project_test.exs
Due: App Tests

Handle empty timestamps in search Source.latest_timestamp
  app/lib/operately/search/source.ex
  app/test/operately/search/source_test.exs
Due: App Tests

chore: Add core work search source adapters (#4927)
  app/lib/operately/search/index_updates.ex
  app/lib/operately/search/index_updates/worker.ex
  app/lib/operately/search/indexer.ex
  app/lib/operately/search/indexer/writer.ex
  app/lib/operately/search/resource_hub_index/worker.ex
  app/lib/operately/search/source.ex
  app/lib/operately/search/source_registry.ex
  app/lib/operately/search/sources/core_work/discussion.ex
  app/lib/operately/search/sources/core_work/goal.ex
  app/lib/operately/search/sources/core_work/project.ex
  app/lib/operately/search/sources/resource_hub/metadata.ex
  app/lib/operately/search/sources/resource_hub/record.ex
  app/test/operately/search/core_work_maintenance_test.exs
  app/test/operately/search/index_updates_test.exs
  app/test/operately/search/resource_hub_maintenance_test.exs
  app/test/operately/search/source_registry_test.exs
  app/test/operately/search/source_test.exs
  app/test/operately/search/sources/core_work/discussion_test.exs
  app/test/operately/search/sources/core_work/goal_test.exs
  app/test/operately/search/sources/core_work/project_test.exs
Due: App Tests

chore: Include core work in company search
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/core_work_items.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/test/operately/search/company_query/core_work_items_test.exs
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately/search/company_query_test.exs
Due: App Tests

chore: Include core work in company search (#4928)
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/core_work_items.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/test/operately/search/company_query/core_work_items_test.exs
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately/search/company_query_test.exs
Due: App Tests

chore: Index core work for company search
  app/lib/operately/async_publishing/scheduled_post_publishing.ex
  app/lib/operately/operations/discussion_editing.ex
  app/lib/operately/operations/discussion_posting.ex
  app/lib/operately/operations/discussion_publishing.ex
  app/lib/operately/operations/goal_closing.ex
  app/lib/operately/operations/goal_creation.ex
  app/lib/operately/operations/goal_deleting.ex
  app/lib/operately/operations/goal_reopening.ex
  app/lib/operately/operations/message_archiving.ex
  app/lib/operately/operations/project_closed.ex
  app/lib/operately/operations/project_creation.ex
  app/lib/operately/operations/project_description_updating.ex
  app/lib/operately/operations/project_goal_connection.ex
  app/lib/operately/operations/project_goal_disconnection.ex
  app/lib/operately/operations/project_pausing.ex
  app/lib/operately/operations/project_resuming.ex
  app/lib/operately/operations/project_space_moving.ex
  app/lib/operately/operations/space_deleting.ex
  app/lib/operately/projects.ex
  app/lib/operately_web/api/goals.ex
  app/lib/operately_web/api/projects.ex
  app/test/operately/search/core_work_indexing_test.exs
  app/test/operately/search/indexer_test.exs
  app/test/operately/search/maintenance_test.exs
  app/test/operately_web/api/projects_test.exs
  specs/0015-full-text-search.md
Due: App Tests

Adjust tests
  app/lib/operately/projects.ex
  app/lib/operately_web/api/projects.ex
  app/test/operately/search/core_work_indexing_test.exs
  app/test/operately/search/schema_test.exs
Due: App Tests

chore: Show SpaceCard stories inside SpaceCardGrid
  turboui/src/SpaceCards/index.stories.tsx
Due: Turboui, App Tests

chore: Show Docs & Files counts on project and goal tabs
  app/assets/js/api/index.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/TaskPage/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/goals.ex
  app/lib/operately_web/api/projects.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/goals/count_children.ex
  app/test/operately_web/api/goals_test.exs
  app/test/operately_web/api/projects_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ProjectPageLayout/index.tsx
  turboui/src/ProjectPageLayout/useProjectPageTabs.test.tsx
  turboui/src/ProjectPageLayout/useProjectPageTabs.tsx
  turboui/src/TaskPage/InProjectContextStory.tsx
  turboui/src/TaskPage/index.stories.tsx
Due: Turboui, App Tests

chore: Index core work for company search (#4929)
  app/lib/operately/async_publishing/scheduled_post_publishing.ex
  app/lib/operately/operations/discussion_editing.ex
  app/lib/operately/operations/discussion_posting.ex
  app/lib/operately/operations/discussion_publishing.ex
  app/lib/operately/operations/goal_closing.ex
  app/lib/operately/operations/goal_creation.ex
  app/lib/operately/operations/goal_deleting.ex
  app/lib/operately/operations/goal_reopening.ex
  app/lib/operately/operations/message_archiving.ex
  app/lib/operately/operations/project_closed.ex
  app/lib/operately/operations/project_creation.ex
  app/lib/operately/operations/project_description_updating.ex
  app/lib/operately/operations/project_goal_connection.ex
  app/lib/operately/operations/project_goal_disconnection.ex
  app/lib/operately/operations/project_pausing.ex
  app/lib/operately/operations/project_resuming.ex
  app/lib/operately/operations/project_space_moving.ex
  app/lib/operately/operations/space_deleting.ex
  app/lib/operately/projects.ex
  app/lib/operately_web/api/goals.ex
  app/test/operately/search/core_work_indexing_test.exs
  app/test/operately/search/indexer_test.exs
  app/test/operately/search/maintenance_test.exs
  app/test/operately/search/schema_test.exs
  app/test/operately_web/api/projects_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Migrate SpaceCards into TurboUI (#4925)
  app/assets/js/features/spaces/SpaceCards/Card.tsx
  app/assets/js/features/spaces/SpaceCards/SpaceCard.tsx
  app/assets/js/features/spaces/SpaceCards/SpaceCardLink.tsx
  app/assets/js/pages/HomePage/index.tsx
  turboui/src/SpaceCards/SpaceCard.tsx
  turboui/src/SpaceCards/SpaceCardGrid.tsx
  turboui/src/SpaceCards/index.stories.tsx
  turboui/src/SpaceCards/index.tsx
  turboui/src/SpaceCards/mockData.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

Adjust types
  app/assets/js/api/index.tsx
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Count only viewer-visible drafts
  app/lib/operately/resource_hubs.ex
  app/lib/operately_web/api/goals.ex
  app/lib/operately_web/api/projects.ex
  app/test/operately/resource_hubs_test.exs
  app/test/operately_web/api/goals_test.exs
  app/test/operately_web/api/projects_test.exs
Due: App Tests

chore: Show Docs & Files counts on project and goal tabs (#4930)
  app/assets/js/api/index.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/TaskPage/index.tsx
  app/lib/operately/resource_hubs.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/goals.ex
  app/lib/operately_web/api/projects.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/resource_hubs_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/goals/count_children.ex
  app/test/operately_web/api/goals_test.exs
  app/test/operately_web/api/projects_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ProjectPageLayout/index.tsx
  turboui/src/ProjectPageLayout/useProjectPageTabs.test.tsx
  turboui/src/ProjectPageLayout/useProjectPageTabs.tsx
  turboui/src/TaskPage/InProjectContextStory.tsx
  turboui/src/TaskPage/index.stories.tsx
Due: Turboui, App Tests

chore: Index core work check-ins and retrospectives
  app/lib/operately/search/source_registry.ex
  app/lib/operately/search/sources/core_work/goal_check_in.ex
  app/lib/operately/search/sources/core_work/project_check_in.ex
  app/lib/operately/search/sources/core_work/project_retrospective.ex
  app/test/operately/search/core_work_maintenance_test.exs
  app/test/operately/search/source_registry_test.exs
  app/test/operately/search/sources/core_work/goal_check_in_test.exs
  app/test/operately/search/sources/core_work/project_check_in_test.exs
  app/test/operately/search/sources/core_work/project_retrospective_test.exs
Due: App Tests

Share project_state helper across search sources
  app/lib/operately/search/source.ex
  app/lib/operately/search/sources/core_work/project_check_in.ex
  app/lib/operately/search/sources/core_work/project_retrospective.ex
  app/test/operately/search/source_test.exs
Due: App Tests

chore: Index core work check-ins and retrospectives (#4931)
  app/lib/operately/search/source.ex
  app/lib/operately/search/source_registry.ex
  app/lib/operately/search/sources/core_work/goal_check_in.ex
  app/lib/operately/search/sources/core_work/project_check_in.ex
  app/lib/operately/search/sources/core_work/project_retrospective.ex
  app/test/operately/search/core_work_maintenance_test.exs
  app/test/operately/search/source_registry_test.exs
  app/test/operately/search/source_test.exs
  app/test/operately/search/sources/core_work/goal_check_in_test.exs
  app/test/operately/search/sources/core_work/project_check_in_test.exs
  app/test/operately/search/sources/core_work/project_retrospective_test.exs
Due: App Tests

Break circular import in reactions model
  app/assets/js/models/reactions/entity.ts
  app/assets/js/models/reactions/index.tsx
  app/assets/js/models/reactions/parseReactionsForTurboUi.ts
  app/assets/js/models/reactions/useReactionsForm.tsx
Due: App Tests

chore: Migrate Reactions to TurboUI via app bridge (#4924)
  app/assets/js/features/CommentSection/CommentSection.tsx
  app/assets/js/features/Reactions/index.tsx
  app/assets/js/models/reactions/entity.ts
  app/assets/js/models/reactions/index.tsx
  app/assets/js/models/reactions/parseReactionsForTurboUi.ts
  app/assets/js/models/reactions/useReactionsForm.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/GoalActivityPage/index.tsx
  app/assets/js/pages/GoalCheckInPage/CheckInReactions.tsx
  app/assets/js/pages/ProjectActivityPage/index.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectDiscussionPage/index.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
Due: App Tests

chore: Include check-ins and retrospectives in global search query
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/core_work_items.ex
  app/lib/operately/search/company_query/resource_hub_items.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/test/operately/search/company_query/core_work_items_test.exs
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately/search/company_query_test.exs
Due: App Tests

Fix typo
  app/assets/js/pages/AccountAppearancePage/index.tsx
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
