Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Add explicit mention classification and digest formatter coverage
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately/operations/notifications_bulk_create.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately/notifications/direct_mention_classifier_test.exs
Due: App Tests

chore: Add explicit mention classification and digest formatter coverage (#4329)
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately/operations/notifications_bulk_create.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately/notifications/direct_mention_classifier_test.exs
Due: App Tests

fix: Task and milestone digest items are shown within their project or space parents
  app/lib/operately_email/digest_parent.ex
  app/lib/operately_email/emails/milestone_description_updating_email.ex
  app/lib/operately_email/emails/milestone_due_date_updating_email.ex
  app/lib/operately_email/emails/project_milestone_commented_email.ex
  app/lib/operately_email/emails/project_milestone_creation_email.ex
  app/lib/operately_email/emails/project_task_commented_email.ex
  app/lib/operately_email/emails/space_task_commented_email.ex
  app/lib/operately_email/emails/task_adding_email.ex
  app/lib/operately_email/emails/task_assignee_updating_email.ex
  app/lib/operately_email/emails/task_description_change_email.ex
  app/lib/operately_email/emails/task_due_date_updating_email.ex
  app/lib/operately_email/emails/task_moving_email.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  specs/0009-buffered-notifications.md
Due: App Tests

fix: Task and milestone digest items are shown within their project or space parents (#4330)
  app/lib/operately_email/digest_parent.ex
  app/lib/operately_email/emails/milestone_description_updating_email.ex
  app/lib/operately_email/emails/milestone_due_date_updating_email.ex
  app/lib/operately_email/emails/project_milestone_commented_email.ex
  app/lib/operately_email/emails/project_milestone_creation_email.ex
  app/lib/operately_email/emails/project_task_commented_email.ex
  app/lib/operately_email/emails/space_task_commented_email.ex
  app/lib/operately_email/emails/task_adding_email.ex
  app/lib/operately_email/emails/task_assignee_updating_email.ex
  app/lib/operately_email/emails/task_description_change_email.ex
  app/lib/operately_email/emails/task_due_date_updating_email.ex
  app/lib/operately_email/emails/task_moving_email.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  specs/0009-buffered-notifications.md
Due: App Tests

chore: Complete buffered digest coverage for remaining activity emails
  app/lib/operately/notifications/buffered_email_worker.ex
  app/lib/operately_email/emails/comment_added_email.ex
  app/lib/operately_email/emails/discussion_comment_submitted_email.ex
  app/lib/operately_email/emails/discussion_posting_email.ex
  app/lib/operately_email/emails/resource_hub_document_commented_email.ex
  app/lib/operately_email/emails/resource_hub_document_created_email.ex
  app/lib/operately_email/emails/resource_hub_document_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_file_commented_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
  app/lib/operately_email/emails/resource_hub_file_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_link_commented_email.ex
  app/lib/operately_email/emails/resource_hub_link_created_email.ex
  app/lib/operately_email/emails/resource_hub_link_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_link_edited_email.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  specs/0009-buffered-notifications.md
Due: App Tests

chore: Complete buffered digest coverage for remaining activity emails (#4331)
  app/lib/operately/notifications/buffered_email_worker.ex
  app/lib/operately_email/emails/comment_added_email.ex
  app/lib/operately_email/emails/discussion_comment_submitted_email.ex
  app/lib/operately_email/emails/discussion_posting_email.ex
  app/lib/operately_email/emails/resource_hub_document_commented_email.ex
  app/lib/operately_email/emails/resource_hub_document_created_email.ex
  app/lib/operately_email/emails/resource_hub_document_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_file_commented_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
  app/lib/operately_email/emails/resource_hub_file_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_link_commented_email.ex
  app/lib/operately_email/emails/resource_hub_link_created_email.ex
  app/lib/operately_email/emails/resource_hub_link_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_link_edited_email.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  specs/0009-buffered-notifications.md
Due: App Tests

fix: Add missing rich-text mention classification coverage
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately_email/emails/discussion_editing_email.ex
  app/lib/operately_email/emails/space_joining_email.ex
  app/test/operately/notifications/direct_mention_classifier_test.exs
Due: App Tests

fix: Add missing rich-text mention classification coverage (#4332)
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately_email/emails/discussion_editing_email.ex
  app/lib/operately_email/emails/space_joining_email.ex
  app/test/operately/notifications/direct_mention_classifier_test.exs
Due: App Tests

chore: Add daily email worker with delivery of last-24-hours activities summary
  app/config/config.exs
  app/lib/operately/notifications/buffered_email_worker.ex
  app/lib/operately/notifications/daily_summary_worker.ex
  app/lib/operately/notifications/digest_items.ex
  app/lib/operately_email/mailers/digest_mailer.ex
  app/lib/operately_email/templates/daily_activity_digest.html.eex
  app/lib/operately_email/templates/daily_activity_digest.text.eex
  app/test/operately/notifications/daily_summary_worker_test.exs
  app/test/operately_email/mailers/digest_mailer_test.exs
  specs/0009-buffered-notifications.md
Due: App Tests

Adjust file names
  app/config/config.exs
  app/lib/operately_email/cron/assignments.ex
  app/lib/operately_email/cron/daily_summary.ex
  app/lib/operately_email/emails/assignments_email.ex
  app/test/operately_email/cron/assignments_test.exs
  app/test/operately_email/cron/daily_summary_test.exs
  app/test/support/features/outside_collaborator_access_steps.ex
  app/test/support/features/profile_steps.ex
  specs/0009-buffered-notifications.md
Due: App Tests

chore: Add daily email worker with delivery of last-24-hours activities summary (#4333)
  app/config/config.exs
  app/lib/operately/notifications/buffered_email_worker.ex
  app/lib/operately/notifications/digest_items.ex
  app/lib/operately_email/cron/assignments.ex
  app/lib/operately_email/cron/daily_summary.ex
  app/lib/operately_email/emails/assignments_email.ex
  app/lib/operately_email/mailers/digest_mailer.ex
  app/lib/operately_email/templates/daily_activity_digest.html.eex
  app/lib/operately_email/templates/daily_activity_digest.text.eex
  app/test/operately_email/cron/assignments_test.exs
  app/test/operately_email/cron/daily_summary_test.exs
  app/test/operately_email/mailers/digest_mailer_test.exs
  app/test/support/features/outside_collaborator_access_steps.ex
  app/test/support/features/profile_steps.ex
  specs/0009-buffered-notifications.md
Due: App Tests

fix: Rely on notify_on_mention preference option for notifications
  app/assets/js/api/index.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/index.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/state.ts
  app/lib/operately/data/change_097_backfill_notify_on_mention_from_email_preference.ex
  app/lib/operately/notifications/buffered_email_policy.ex
  app/lib/operately/operations/notifications_bulk_create.ex
  app/lib/operately/people/preferences.ex
  app/lib/operately_web/api/people/update.ex
  app/priv/repo/migrations/20260407120000_backfill_notify_on_mention_from_email_preference.exs
  app/test/features/account_settings_test.exs
  app/test/operately/data/change_097_backfill_notify_on_mention_from_email_preference_test.exs
  app/test/operately/notifications/buffered_email_policy_test.exs
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately/people/person_preferences_test.exs
  app/test/operately/people_test.exs
  app/test/operately_web/api/people/get_me_test.exs
  app/test/operately_web/api/people/update_test.exs
  app/test/support/features/account_settings_steps.ex
  cli/src/generated/api-catalog.json
  turboui/src/AccountNotificationSettingsPage/index.stories.tsx
  turboui/src/AccountNotificationSettingsPage/index.tsx
Due: Turboui, App Tests

fix: Rely on notify_on_mention preference option for notifications (#4334)
  app/assets/js/api/index.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/index.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/state.ts
  app/lib/operately/data/change_097_backfill_notify_on_mention_from_email_preference.ex
  app/lib/operately/notifications/buffered_email_policy.ex
  app/lib/operately/operations/notifications_bulk_create.ex
  app/lib/operately/people/preferences.ex
  app/lib/operately_web/api/people/update.ex
  app/priv/repo/migrations/20260407120000_backfill_notify_on_mention_from_email_preference.exs
  app/test/features/account_settings_test.exs
  app/test/operately/data/change_097_backfill_notify_on_mention_from_email_preference_test.exs
  app/test/operately/notifications/buffered_email_policy_test.exs
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately/people/person_preferences_test.exs
  app/test/operately/people_test.exs
  app/test/operately_web/api/people/get_me_test.exs
  app/test/operately_web/api/people/update_test.exs
  app/test/support/features/account_settings_steps.ex
  cli/src/generated/api-catalog.json
  turboui/src/AccountNotificationSettingsPage/index.stories.tsx
  turboui/src/AccountNotificationSettingsPage/index.tsx
Due: Turboui, App Tests

chore: Improve settings page UI
  app/assets/js/pages/AccountSettingsPage/index.tsx
  app/assets/js/pages/CompanyAdminPage/DangerZone.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  turboui/src/OptionsMenuItem/index.stories.tsx
  turboui/src/OptionsMenuItem/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Adjust tests
  app/test/support/features/account_settings_steps.ex
Due: App Tests

chore: Improve settings page UI (#4335)
  app/assets/js/pages/AccountSettingsPage/index.tsx
  app/assets/js/pages/CompanyAdminPage/DangerZone.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/test/support/features/account_settings_steps.ex
  turboui/src/OptionsMenuItem/index.stories.tsx
  turboui/src/OptionsMenuItem/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Add daily summary scheduling with preferred delivery time
  app/assets/js/api/index.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/index.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/state.ts
  app/lib/operately/people/person.ex
  app/lib/operately/people/preferences.ex
  app/lib/operately_email/cron/daily_summary.ex
  app/lib/operately_web/api/people/get_me.ex
  app/lib/operately_web/api/people/update.ex
  app/lib/operately_web/api/serializers/person.ex
  app/lib/operately_web/api/types.ex
  app/test/features/account_settings_test.exs
  app/test/operately/people/person_preferences_test.exs
  app/test/operately/people_test.exs
  app/test/operately_email/cron/daily_summary_test.exs
  app/test/operately_web/api/people/get_me_test.exs
  app/test/operately_web/api/people/update_test.exs
  app/test/support/features/account_settings_steps.ex
  specs/0009-buffered-notifications.md
  turboui/src/AccountNotificationSettingsPage/index.stories.tsx
  turboui/src/AccountNotificationSettingsPage/index.tsx
  turboui/src/forms/Dropdown/index.tsx
Due: Turboui, App Tests

Adjustment
  app/lib/operately_email/cron/daily_summary.ex
Due: App Tests

chore: Add daily summary scheduling with preferred delivery time (#4336)
  app/assets/js/api/index.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/index.tsx
  app/assets/js/pages/AccountNotificationSettingsPage/state.ts
  app/lib/operately/people/person.ex
  app/lib/operately/people/preferences.ex
  app/lib/operately_email/cron/daily_summary.ex
  app/lib/operately_web/api/people/get_me.ex
  app/lib/operately_web/api/people/update.ex
  app/lib/operately_web/api/serializers/person.ex
  app/lib/operately_web/api/types.ex
  app/test/features/account_settings_test.exs
  app/test/operately/people/person_preferences_test.exs
  app/test/operately/people_test.exs
  app/test/operately_email/cron/daily_summary_test.exs
  app/test/operately_web/api/people/get_me_test.exs
  app/test/operately_web/api/people/update_test.exs
  app/test/support/features/account_settings_steps.ex
  specs/0009-buffered-notifications.md
  turboui/src/AccountNotificationSettingsPage/index.stories.tsx
  turboui/src/AccountNotificationSettingsPage/index.tsx
  turboui/src/forms/Dropdown/index.tsx
Due: Turboui, App Tests

chore: Add digest email previews and improve email layout
  app/lib/operately_email/layouts/activity.html.eex
  app/lib/operately_email/templates.ex
  app/lib/operately_email/templates/buffered_activity_digest.html.eex
  app/lib/operately_email/templates/buffered_activity_digest.text.eex
  app/lib/operately_email/templates/daily_activity_digest.html.eex
  app/lib/operately_email/templates/daily_activity_digest.text.eex
  app/lib/operately_email/templates/partials/_digest_empty_state.html.eex
  app/lib/operately_email/templates/partials/_digest_group.html.eex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/buffered_activity_digest.ex
  app/lib/operately_web/email_preview/previews/daily_activity_digest.ex
  app/lib/operately_web/email_preview/sidebar.ex
Due: App Tests

chore: Add digest email previews and improve email layout (#4337)
  app/lib/operately_email/layouts/activity.html.eex
  app/lib/operately_email/templates.ex
  app/lib/operately_email/templates/buffered_activity_digest.html.eex
  app/lib/operately_email/templates/buffered_activity_digest.text.eex
  app/lib/operately_email/templates/daily_activity_digest.html.eex
  app/lib/operately_email/templates/daily_activity_digest.text.eex
  app/lib/operately_email/templates/partials/_digest_empty_state.html.eex
  app/lib/operately_email/templates/partials/_digest_group.html.eex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/buffered_activity_digest.ex
  app/lib/operately_web/email_preview/previews/daily_activity_digest.ex
  app/lib/operately_web/email_preview/sidebar.ex
Due: App Tests

chore: Backfill notify_on_mention for existing people preferences
  app/lib/operately/data/change_098_set_person_notification_defaults.ex
  app/lib/operately/people/preferences.ex
  app/priv/repo/migrations/20260408120000_set_person_notification_defaults.exs
  app/test/operately/data/change_098_set_person_notification_defaults_test.exs
Due: App Tests

Adjust tests
  app/test/operately/people/person_preferences_test.exs
  app/test/operately/people_test.exs
Due: App Tests

chore: Backfill notify_on_mention for existing people preferences (#4338)
  app/lib/operately/data/change_098_set_person_notification_defaults.ex
  app/lib/operately/people/preferences.ex
  app/priv/repo/migrations/20260408120000_set_person_notification_defaults.exs
  app/test/operately/data/change_098_set_person_notification_defaults_test.exs
  app/test/operately/people/person_preferences_test.exs
  app/test/operately/people_test.exs
Due: App Tests

docs: Add specs for Company import/export implementation
  specs/0010-export-and-import-company.md
Due: none

docs: Add specs for Company import/export implementation (#4339)
  specs/0010-export-and-import-company.md
Due: none

chore: Improve buffered notifications message
  app/lib/operately_email/emails/comment_added_email.ex
  app/lib/operately_email/emails/goal_champion_updating_email.ex
  app/lib/operately_email/emails/goal_check_in_email.ex
  app/lib/operately_email/emails/goal_created_email.ex
  app/lib/operately_email/emails/goal_description_changed_email.ex
  app/lib/operately_email/emails/goal_discussion_creation_email.ex
  app/lib/operately_email/emails/goal_reparent_email.ex
  app/lib/operately_email/emails/goal_reviewer_updating_email.ex
  app/lib/operately_email/emails/goal_timeframe_editing_email.ex
  app/lib/operately_email/emails/milestone_due_date_updating_email.ex
  app/lib/operately_email/emails/project_archived_email.ex
  app/lib/operately_email/emails/project_champion_updating_email.ex
  app/lib/operately_email/emails/project_check_in_submitted_email.ex
  app/lib/operately_email/emails/project_closed_email.ex
  app/lib/operately_email/emails/project_created_email.ex
  app/lib/operately_email/emails/project_description_changed_email.ex
  app/lib/operately_email/emails/project_discussion_submitted_email.ex
  app/lib/operately_email/emails/project_due_date_updating_email.ex
  app/lib/operately_email/emails/project_goal_connection_email.ex
  app/lib/operately_email/emails/project_goal_disconnection_email.ex
  app/lib/operately_email/emails/project_key_resource_added_email.ex
  app/lib/operately_email/emails/project_pausing_email.ex
  app/lib/operately_email/emails/project_resuming_email.ex
  app/lib/operately_email/emails/project_retrospective_commented_email.ex
  app/lib/operately_email/emails/project_reviewer_updating_email.ex
  app/lib/operately_email/emails/project_timeline_edited_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
  app/lib/operately_email/emails/task_assignee_updating_email.ex
  app/lib/operately_email/emails/task_due_date_updating_email.ex
  specs/0009-buffered-notifications.md
Due: App Tests

Adjust tests
  app/lib/operately_email/emails/project_due_date_updating_email.ex
  app/lib/operately_email/emails/task_due_date_updating_email.ex
  app/priv/static/.vite/manifest.json
  app/test/support/features/projects_steps.ex
Due: App Tests

chore: Improve buffered notifications message (#4340)
  app/lib/operately_email/emails/comment_added_email.ex
  app/lib/operately_email/emails/goal_champion_updating_email.ex
  app/lib/operately_email/emails/goal_check_in_email.ex
  app/lib/operately_email/emails/goal_created_email.ex
  app/lib/operately_email/emails/goal_description_changed_email.ex
  app/lib/operately_email/emails/goal_discussion_creation_email.ex
  app/lib/operately_email/emails/goal_reparent_email.ex
  app/lib/operately_email/emails/goal_reviewer_updating_email.ex
  app/lib/operately_email/emails/goal_timeframe_editing_email.ex
  app/lib/operately_email/emails/milestone_due_date_updating_email.ex
  app/lib/operately_email/emails/project_archived_email.ex
  app/lib/operately_email/emails/project_champion_updating_email.ex
  app/lib/operately_email/emails/project_check_in_submitted_email.ex
  app/lib/operately_email/emails/project_closed_email.ex
  app/lib/operately_email/emails/project_created_email.ex
  app/lib/operately_email/emails/project_description_changed_email.ex
  app/lib/operately_email/emails/project_discussion_submitted_email.ex
  app/lib/operately_email/emails/project_due_date_updating_email.ex
  app/lib/operately_email/emails/project_goal_connection_email.ex
  app/lib/operately_email/emails/project_goal_disconnection_email.ex
  app/lib/operately_email/emails/project_key_resource_added_email.ex
  app/lib/operately_email/emails/project_pausing_email.ex
  app/lib/operately_email/emails/project_resuming_email.ex
  app/lib/operately_email/emails/project_retrospective_commented_email.ex
  app/lib/operately_email/emails/project_reviewer_updating_email.ex
  app/lib/operately_email/emails/project_timeline_edited_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
  app/lib/operately_email/emails/task_assignee_updating_email.ex
  app/lib/operately_email/emails/task_due_date_updating_email.ex
  app/priv/static/.vite/manifest.json
  app/test/support/features/projects_steps.ex
  specs/0009-buffered-notifications.md
Due: App Tests

feat: Buffered emails group notifications by author
  app/lib/operately_email/mailers/digest_mailer.ex
  app/lib/operately_email/templates/buffered_activity_digest.text.eex
  app/lib/operately_email/templates/daily_activity_digest.text.eex
  app/lib/operately_email/templates/partials/_digest_group.html.eex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/buffered_activity_digest.ex
  app/lib/operately_web/email_preview/previews/daily_activity_digest.ex
Due: App Tests

Improve sorting
  app/lib/operately_email/mailers/digest_mailer.ex
  app/lib/operately_web/email_preview/previews/buffered_activity_digest.ex
  app/lib/operately_web/email_preview/previews/daily_activity_digest.ex
Due: App Tests

feat: Buffered emails group notifications by author (#4342)
  app/lib/operately_email/mailers/digest_mailer.ex
  app/lib/operately_email/templates/buffered_activity_digest.text.eex
  app/lib/operately_email/templates/daily_activity_digest.text.eex
  app/lib/operately_email/templates/partials/_digest_group.html.eex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/buffered_activity_digest.ex
  app/lib/operately_web/email_preview/previews/daily_activity_digest.ex
Due: App Tests

chore: Add company transfer squemas and workers
  app/lib/operately/company_transfers.ex
  app/lib/operately/company_transfers/export_run.ex
  app/lib/operately/company_transfers/export_worker.ex
  app/lib/operately/company_transfers/exporter.ex
  app/lib/operately/company_transfers/import_run.ex
  app/lib/operately/company_transfers/import_worker.ex
  app/lib/operately/company_transfers/importer.ex
  app/priv/repo/migrations/20260409120000_add_company_transfer_runs.exs
  app/test/operately/company_transfers_test.exs
  specs/0010-export-and-import-company.md
Due: App Tests

Adjustment
  app/lib/operately/company_transfers.ex
Due: App Tests

chore: Add company transfer squemas and workers (#4343)
  app/lib/operately/company_transfers.ex
  app/lib/operately/company_transfers/export_run.ex
  app/lib/operately/company_transfers/export_worker.ex
  app/lib/operately/company_transfers/exporter.ex
  app/lib/operately/company_transfers/import_run.ex
  app/lib/operately/company_transfers/import_worker.ex
  app/lib/operately/company_transfers/importer.ex
  app/priv/repo/migrations/20260409120000_add_company_transfer_runs.exs
  app/test/operately/company_transfers_test.exs
  specs/0010-export-and-import-company.md
Due: App Tests

chore: Add archive and staging utilities
  app/lib/operately/company_transfers.ex
  app/lib/operately/company_transfers/package/archive.ex
  app/lib/operately/company_transfers/package/export_artifacts.ex
  app/lib/operately/company_transfers/package/hashing.ex
  app/lib/operately/company_transfers/package/package_json.ex
  app/lib/operately/company_transfers/package/paths.ex
  app/lib/operately/company_transfers/package/workspace.ex
  app/test/operately/company_transfers_files_test.exs
Due: App Tests

Add validation to paths
  app/lib/operately/company_transfers/package/paths.ex
  app/test/operately/company_transfers/paths_test.exs
Due: App Tests

chore: Add archive and staging utilities (#4344)
  app/lib/operately/company_transfers.ex
  app/lib/operately/company_transfers/package/archive.ex
  app/lib/operately/company_transfers/package/export_artifacts.ex
  app/lib/operately/company_transfers/package/hashing.ex
  app/lib/operately/company_transfers/package/package_json.ex
  app/lib/operately/company_transfers/package/paths.ex
  app/lib/operately/company_transfers/package/workspace.ex
  app/test/operately/company_transfers/paths_test.exs
  app/test/operately/company_transfers_files_test.exs
Due: App Tests

chore: Add schema graph and policy registry for export/import
  app/lib/operately/company_transfers/schema/discovery.ex
  app/lib/operately/company_transfers/schema/graph.ex
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/company_transfers/schema/topological_sort.ex
  app/test/operately/company_transfers/schema_graph_test.exs
Due: App Tests

Adjustment
  app/lib/operately/company_transfers/schema/topological_sort.ex
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
