Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

Data is refreshed when feature is added
  app/ee/assets/js/pages/SaasAdminCompanyPage/EnableFeatureModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/index.tsx
Due: App Tests

feat: Add remove feature flags flow to SaaS admin company page (#4792)
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/EnableFeatureModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.test.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/disable_features.ex
  app/ee/test/operately_ee/admin_api/mutations/disable_features_test.exs
  app/test/operately/companies_test.exs
Due: App Tests

feat: allow description when pausing a project
  app/assets/js/api/index.tsx
  app/assets/js/features/activities/CommentAdded/index.tsx
  app/assets/js/features/activities/ProjectPausing/index.tsx
  app/assets/js/pages/ProjectPausePage/Form.tsx
  app/assets/js/pages/ProjectPausePage/loader.tsx
  app/assets/js/pages/ProjectPausePage/page.tsx
  app/lib/operately/activities/notifications/project_pausing.ex
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately/operations/project_pausing.ex
  app/lib/operately_email/emails/comment_added_email.ex
  app/lib/operately_email/emails/project_pausing_email.ex
  app/lib/operately_email/templates/project_pausing.html.eex
  app/lib/operately_web/api/projects/pause.ex
  app/lib/operately_web/mcp/tools/projects/pause.ex
  app/test/features/projects/project_page_test.exs
  app/test/operately/data/change_033_add_space_to_project_resuming_activity_test.exs
  app/test/operately/data/change_034_add_space_project_pausing_to_activity_test.exs
  app/test/operately/operations/project_pausing_test.exs
  app/test/operately_web/api/external_mutations/mutations/projects/pause.ex
  app/test/operately_web/api/projects/pause_test.exs
  app/test/operately_web/mcp/tools/projects/pause_test.exs
  app/test/support/factory/projects.ex
  app/test/support/features/feed_steps.ex
  app/test/support/features/goal_closing_steps.ex
  app/test/support/features/goal_tree_steps.ex
  app/test/support/features/projects_steps.ex
Due: App Tests

fix: allow mentions in project pause messages
  app/lib/operately/notifications/direct_mention_classifier.ex
Due: App Tests

fix: resolve project for pause activity pages
  app/assets/js/models/activities/index.tsx
Due: App Tests

fix: Attempt to fix cloudflare storybooks build and stabilize flaky tests
  app/test/features/goal_check_ins/submission_test.exs
  app/test/support/features/goal_check_ins_steps.ex
  turboui/.storybook/main.ts
  turboui/.storybook/tsconfig.json
Due: Turboui, App Tests

Stabilize flaky tests
  app/test/features/goal_check_ins/comments_and_access_test.exs
  app/test/support/features/goal_check_ins_steps.ex
Due: App Tests

fix: Attempt to fix cloudflare storybooks build and stabilize flaky tests (#4795)
  app/test/features/goal_check_ins/comments_and_access_test.exs
  app/test/features/goal_check_ins/submission_test.exs
  app/test/support/features/goal_check_ins_steps.ex
  turboui/.storybook/main.ts
  turboui/.storybook/tsconfig.json
Due: Turboui, App Tests

docs: Mark Phase 5 tsc.lint acceptance in forms migration spec
  specs/0014-forms-turboui-migration.md
Due: none

chore: Migrate check-in forms to TurboUI and add SelectStatus bridge
  app/assets/js/components/Forms/RichTextArea.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/features/forms/SelectStatus.tsx
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/features/goals/GoalCheckIn/StatusSelector.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/features/goals/GoalTargetsV2/TargetsContext.tsx
  app/assets/js/features/goals/GoalTargetsV2/targetErrors.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/Form.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

fix: Resolve lint failures after check-in forms migration
  app/assets/js/components/Forms/validations/richContentPresence.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

chore: Return a clear error when a manager cycle is rejected
  app/lib/operately/people.ex
  app/lib/operately/people/manager_cycle.ex
  app/lib/operately_web/api/people/update.ex
  app/test/operately/people_test.exs
  app/test/operately_web/api/people/update_test.exs
Due: App Tests

Add tests
  app/test/features/projects/project_page_test.exs
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately/notifications/direct_mention_classifier_test.exs
  app/test/operately/operations/project_pausing_test.exs
  app/test/operately_email/project_pausing_email_test.exs
  app/test/support/features/projects_steps.ex
Due: App Tests

feat: Allow description when pausing a project (#4794)
  app/assets/js/api/index.tsx
  app/assets/js/features/activities/CommentAdded/index.tsx
  app/assets/js/features/activities/ProjectPausing/index.tsx
  app/assets/js/models/activities/index.tsx
  app/assets/js/pages/ProjectPausePage/Form.tsx
  app/assets/js/pages/ProjectPausePage/loader.tsx
  app/assets/js/pages/ProjectPausePage/page.tsx
  app/lib/operately/activities/notifications/project_pausing.ex
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately/operations/project_pausing.ex
  app/lib/operately_email/emails/comment_added_email.ex
  app/lib/operately_email/emails/project_pausing_email.ex
  app/lib/operately_email/templates/project_pausing.html.eex
  app/lib/operately_web/api/projects/pause.ex
  app/lib/operately_web/mcp/tools/projects/pause.ex
  app/test/features/projects/project_page_test.exs
  app/test/operately/data/change_033_add_space_to_project_resuming_activity_test.exs
  app/test/operately/data/change_034_add_space_project_pausing_to_activity_test.exs
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately/notifications/direct_mention_classifier_test.exs
  app/test/operately/operations/project_pausing_test.exs
  app/test/operately_email/project_pausing_email_test.exs
  app/test/operately_web/api/external_mutations/mutations/projects/pause.ex
  app/test/operately_web/api/projects/pause_test.exs
  app/test/operately_web/mcp/tools/projects/pause_test.exs
  app/test/support/factory/projects.ex
  app/test/support/features/feed_steps.ex
  app/test/support/features/goal_closing_steps.ex
  app/test/support/features/goal_tree_steps.ex
  app/test/support/features/projects_steps.ex
Due: App Tests

Address issues
  app/lib/operately/people/manager_cycle.ex
  app/lib/operately_web/api/people/update.ex
  app/test/operately/people/manager_cycle_test.exs
Due: App Tests

refactor: Move SelectStatus into TurboUI Forms
  app/assets/js/features/forms/SelectStatus.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/SelectStatus.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

chore: Return a clear error when a manager cycle is rejected (#4796)
  app/lib/operately/people.ex
  app/lib/operately/people/manager_cycle.ex
  app/lib/operately_web/api/people/update.ex
  app/test/operately/people/manager_cycle_test.exs
  app/test/operately/people_test.exs
  app/test/operately_web/api/people/update_test.exs
Due: App Tests

fix: Prevent folder hierarchy cycles in Docs & Files
  app/lib/operately/operations/resource_hub_parent_folder_editing.ex
  app/lib/operately/resource_hubs/folder_cycle.ex
  app/lib/operately_web/api/resource_hubs/update_parent_folder.ex
  app/priv/repo/migrations/20260709120000_add_cycle_prevention_function_to_resource_nodes.exs
  app/test/operately/resource_hubs/folder_cycle_test.exs
  app/test/operately_web/api/resource_hubs/update_parent_folder_test.exs
Due: App Tests

fix: Prevent folder hierarchy cycles in Docs & Files (#4797)
  app/lib/operately/operations/resource_hub_parent_folder_editing.ex
  app/lib/operately/resource_hubs/folder_cycle.ex
  app/lib/operately_web/api/resource_hubs/update_parent_folder.ex
  app/priv/repo/migrations/20260709120000_add_cycle_prevention_function_to_resource_nodes.exs
  app/test/operately/resource_hubs/folder_cycle_test.exs
  app/test/operately_web/api/resource_hubs/update_parent_folder_test.exs
Due: App Tests

feat: show company storage usage in SaaS admin
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/lib/admin_api/queries/get_active_companies.ex
  app/ee/lib/admin_api/queries/get_companies.ex
  app/ee/lib/admin_api/queries/get_company.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/queries/get_active_companies_test.exs
  app/ee/test/operately_ee/admin_api/queries/get_companies_test.exs
  app/lib/operately/companies/company.ex
Due: App Tests

Remove unused code
  app/assets/js/components/Forms/SelectStatus.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/components/status/Status.tsx
  app/assets/js/components/status/index.tsx
Due: App Tests

fix: Project page cache is cleared on pausing and resuming
  app/assets/js/pages/ProjectPausePage/Form.tsx
  app/assets/js/pages/ProjectResumePage/Form.tsx
  app/test/support/features/projects_steps.ex
Due: App Tests

Stabilize tests
  app/test/support/features/projects_steps.ex
  turboui/src/ProjectPage/OverviewSidebar.tsx
Due: Turboui, App Tests

fix: Project page cache is cleared on pausing and resuming (#4799)
  app/assets/js/pages/ProjectPausePage/Form.tsx
  app/assets/js/pages/ProjectResumePage/Form.tsx
  app/test/support/features/projects_steps.ex
  turboui/src/ProjectPage/OverviewSidebar.tsx
Due: Turboui, App Tests

Add tests
  app/ee/test/operately_ee/admin_api/queries/get_companies_test.exs
  app/lib/operately/companies/company.ex
  app/test/operately/companies/company_loaders_test.exs
Due: App Tests

feat: Show company storage usage in SaaS admin (#4798)
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/lib/admin_api/queries/get_active_companies.ex
  app/ee/lib/admin_api/queries/get_companies.ex
  app/ee/lib/admin_api/queries/get_company.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/queries/get_active_companies_test.exs
  app/ee/test/operately_ee/admin_api/queries/get_companies_test.exs
  app/lib/operately/companies/company.ex
  app/test/operately/companies/company_loaders_test.exs
Due: App Tests

Harden tests
  app/test/support/features/feed_steps.ex
  app/test/support/features/projects_steps.ex
  app/test/support/features/ui.ex
  app/test/support/features/ui/date_field.ex
  turboui/src/RichEditor/extensions/MentionPeople/MentionList.tsx
Due: Turboui, App Tests

docs: Add MCP connections guide and mark 0012 spec complete
  .agents/skills/mcp-tools/SKILL.md
  docs/README.md
  docs/mcp-connections.md
  specs/0012-operately-mcp.md
Due: none

docs: Add MCP connections guide and mark 0012 spec complete (#4800)
  .agents/skills/mcp-tools/SKILL.md
  docs/README.md
  docs/mcp-connections.md
  specs/0012-operately-mcp.md
Due: none

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
