Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

feat: Add command to show existing profiles in the CLI (#4440)
  cli/docs/authentication.md
  cli/src/auth/bootstrap.ts
  cli/src/auth/commands.ts
  cli/src/auth/config.ts
  cli/src/auth/flows/create-company.ts
  cli/src/auth/flows/join-invite.ts
  cli/src/auth/flows/signup.ts
  cli/src/auth/profiles.ts
  cli/src/auth/shared/company-creation.ts
  cli/src/auth/shared/helpers.ts
  cli/src/commands/help.ts
  cli/src/core/parser-types.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/auth-commands.test.ts
  cli/src/test/unit/help-handler.test.ts
  cli/src/test/unit/parser.test.ts
  cli/src/test/unit/profile-selection.test.ts
Due: none

Adjustments
  cli/src/auth/profiles.ts
  cli/src/test/unit/auth-commands.test.ts
Due: none

chore: Backend supports account deletion
  app/ee/assets/js/admin_api/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/delete_account.ex
  app/ee/lib/admin_api/queries/get_accounts.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/mutations/delete_account_test.exs
  app/ee/test/operately_ee/admin_api/queries/get_accounts_test.exs
  app/lib/operately/operations/account_deleting.ex
  app/lib/operately/people.ex
  app/lib/operately/people/account.ex
  app/lib/operately/people/account_token.ex
  app/lib/operately/people/cli_auth_session.ex
  app/priv/repo/migrations/20260508100000_add_deleted_at_to_accounts.exs
  app/test/operately/operations/account_deleting_test.exs
Due: App Tests

Fix old migration
  app/priv/repo/migrations/20241201132900_confirm_all_previous_accounts.exs
Due: App Tests

Fix test
  app/lib/operately/people/cli_auth_session.ex
Due: App Tests

Accounts can be deleted from the admin
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
Due: App Tests

chore: Backend supports account deletion (#4441)
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/delete_account.ex
  app/ee/lib/admin_api/queries/get_accounts.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/mutations/delete_account_test.exs
  app/ee/test/operately_ee/admin_api/queries/get_accounts_test.exs
  app/lib/operately/operations/account_deleting.ex
  app/lib/operately/people.ex
  app/lib/operately/people/account.ex
  app/lib/operately/people/account_token.ex
  app/lib/operately/people/cli_auth_session.ex
  app/priv/repo/migrations/20241201132900_confirm_all_previous_accounts.exs
  app/priv/repo/migrations/20260508100000_add_deleted_at_to_accounts.exs
  app/test/operately/operations/account_deleting_test.exs
Due: App Tests

feat: User can be promoted/demoted to site admin
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/AccountActionsMenu.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/demote_account_from_site_admin.ex
  app/ee/lib/admin_api/mutations/promote_account_to_site_admin.ex
  app/ee/test/operately_ee/admin_api/mutations/demote_account_from_site_admin_test.exs
  app/ee/test/operately_ee/admin_api/mutations/promote_account_to_site_admin_test.exs
  app/lib/operately/operations/account_deleting.ex
  app/lib/operately/operations/account_site_admin_updating.ex
  app/test/operately/operations/account_site_admin_updating_test.exs
Due: App Tests

chore: Make test command accept app/test/ file paths (#4443)
  Makefile
Due: none

chore: Make test command accept app/test/ file paths
  Makefile
Due: none

feat: User can be promoted/demoted to site admin (#4442)
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/AccountActionsMenu.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/demote_account_from_site_admin.ex
  app/ee/lib/admin_api/mutations/promote_account_to_site_admin.ex
  app/ee/test/operately_ee/admin_api/mutations/demote_account_from_site_admin_test.exs
  app/ee/test/operately_ee/admin_api/mutations/promote_account_to_site_admin_test.exs
  app/lib/operately/operations/account_deleting.ex
  app/lib/operately/operations/account_site_admin_updating.ex
  app/test/operately/operations/account_site_admin_updating_test.exs
Due: App Tests

feat: Add search box to admin panel
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
Due: App Tests

feat: Add search box to admin panel (#4444)
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
Due: App Tests

feat: Support hybrid flag-driven auth signup flow
  app/test/cli_e2e/signup_test.exs
  app/test/support/cli_e2e/signup_steps.ex
  cli/src/auth/flows/signup.ts
  cli/src/auth/shared/company-creation.ts
  cli/src/commands/help.ts
  cli/src/test/unit/help.test.ts
  cli/src/test/unit/signup.test.ts
Due: App Tests

Fix
  cli/src/auth/flows/join-invite.ts
  cli/src/auth/flows/signup.ts
Due: none

feat: Support hybrid flag-driven auth signup flow (#4445)
  app/test/cli_e2e/signup_test.exs
  app/test/support/cli_e2e/signup_steps.ex
  cli/src/auth/flows/join-invite.ts
  cli/src/auth/flows/signup.ts
  cli/src/auth/shared/company-creation.ts
  cli/src/commands/help.ts
  cli/src/test/unit/help.test.ts
  cli/src/test/unit/signup.test.ts
Due: App Tests

feat: Support hybrid flag-driven auth login flow
  app/test/cli_e2e/auth_test.exs
  app/test/support/cli_e2e/auth_steps.ex
  cli/src/auth/bootstrap.ts
  cli/src/auth/commands.ts
  cli/src/auth/flows/login-password.ts
  cli/src/commands/help.ts
  cli/src/test/unit/auth-bootstrap.test.ts
  cli/src/test/unit/auth-commands.test.ts
  cli/src/test/unit/help.test.ts
Due: App Tests

feat: Support hybrid flag-driven auth login flow (#4446)
  app/test/cli_e2e/auth_test.exs
  app/test/support/cli_e2e/auth_steps.ex
  cli/src/auth/bootstrap.ts
  cli/src/auth/commands.ts
  cli/src/auth/flows/login-password.ts
  cli/src/commands/help.ts
  cli/src/test/unit/auth-bootstrap.test.ts
  cli/src/test/unit/auth-commands.test.ts
  cli/src/test/unit/help.test.ts
Due: App Tests

feat: Support hybrid flag-driven auth join and create-company flows
  app/test/cli_e2e/create_company_test.exs
  app/test/cli_e2e/join_test.exs
  app/test/support/cli_e2e/create_company_steps.ex
  app/test/support/cli_e2e/join_steps.ex
  cli/src/auth/flows/create-company.ts
  cli/src/auth/flows/join-invite.ts
  cli/src/commands/help.ts
  cli/src/test/unit/create-company.test.ts
  cli/src/test/unit/help.test.ts
  cli/src/test/unit/join-invite.test.ts
Due: App Tests

Fix
  cli/src/auth/flows/join-invite.ts
Due: none

feat: Support hybrid flag-driven auth join and create-company flows (#4447)
  app/test/cli_e2e/create_company_test.exs
  app/test/cli_e2e/join_test.exs
  app/test/support/cli_e2e/create_company_steps.ex
  app/test/support/cli_e2e/join_steps.ex
  cli/src/auth/flows/create-company.ts
  cli/src/auth/flows/join-invite.ts
  cli/src/commands/help.ts
  cli/src/test/unit/create-company.test.ts
  cli/src/test/unit/help.test.ts
  cli/src/test/unit/join-invite.test.ts
Due: App Tests

docs: Update CLI docs + version
  cli/README.md
  cli/docs/authentication.md
  cli/docs/usage.md
  cli/package.json
Due: none

docs: Update CLI docs + version (#4448)
  cli/README.md
  cli/docs/authentication.md
  cli/docs/usage.md
  cli/package.json
Due: none

Update login instructions
  cli/docs/authentication.md
Due: none

chore: Remove information about migrations from export manifest
  app/lib/operately/company_transfers/export/manifest.ex
  app/lib/operately/company_transfers/import/validator.ex
  app/test/operately/company_transfers/import/validator_test.exs
  app/test/operately/company_transfers/importer_test.exs
Due: App Tests

chore: Remove information about migrations from export manifest (#4449)
  app/lib/operately/company_transfers/export/manifest.ex
  app/lib/operately/company_transfers/import/validator.ex
  app/test/operately/company_transfers/import/validator_test.exs
  app/test/operately/company_transfers/importer_test.exs
Due: App Tests

Remove slice information
  app/lib/operately/company_transfers/export/manifest.ex
  app/lib/operately/company_transfers/import/validator.ex
  app/lib/operately/company_transfers/importer.ex
  app/test/operately/company_transfers/exporter_test.exs
  app/test/operately/company_transfers/import/validator_test.exs
Due: App Tests

Import accepts manifest with different versions
  app/lib/operately/company_transfers/import/validator.ex
  app/test/operately/company_transfers/import/validator_test.exs
Due: App Tests

Remove package version validation
  app/lib/operately/company_transfers/export/manifest.ex
  app/lib/operately/company_transfers/import/validator.ex
  app/lib/operately/company_transfers/importer.ex
  app/test/operately/company_transfers/import/validator_test.exs
Due: App Tests

chore: Display version mismatch warning in import error
  app/assets/js/api/index.tsx
  app/assets/js/models/companyExports/index.tsx
  app/lib/operately/company_transfers/importer.ex
  app/lib/operately_web/api/serializers/company_import_run.ex
  app/lib/operately_web/api/types.ex
  turboui/src/CompanyImportPage/index.tsx
Due: Turboui, App Tests

Adjustment
  app/assets/js/models/companyExports/index.tsx
  app/lib/operately/company_transfers/import/relational_importer.ex
Due: App Tests

Fix test
  app/test/operately/company_transfers_test.exs
Due: App Tests

chore: Display version mismatch warning in import error (#4450)
  app/assets/js/api/index.tsx
  app/assets/js/models/companyExports/index.tsx
  app/lib/operately/company_transfers/export/manifest.ex
  app/lib/operately/company_transfers/import/relational_importer.ex
  app/lib/operately/company_transfers/import/validator.ex
  app/lib/operately/company_transfers/importer.ex
  app/lib/operately_web/api/serializers/company_import_run.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/company_transfers/exporter_test.exs
  app/test/operately/company_transfers/import/validator_test.exs
  app/test/operately/company_transfers_test.exs
  turboui/src/CompanyImportPage/index.tsx
Due: Turboui, App Tests

fix: Stabalize change project reviewer flaky test
  app/test/support/features/projects_steps.ex
  app/test/support/features/ui.ex
Due: App Tests

fix: Stabalize change project reviewer flaky test (#4451)
  app/test/support/features/projects_steps.ex
  app/test/support/features/ui.ex
Due: App Tests

fix: Company export works when blob files are missing
  app/lib/operately/company_transfers/export/file_archive.ex
  app/lib/operately/company_transfers/import/file_importer.ex
  app/lib/operately/company_transfers/package/archive.ex
  app/test/operately/company_transfers/import/file_importer_test.exs
Due: App Tests

Add tests
  app/test/operately/company_transfers/export/file_archive_test.exs
  app/test/operately/company_transfers/package/archive_test.exs
Due: App Tests

Add logs
  app/lib/operately/company_transfers/export/file_archive.ex
  app/lib/operately/company_transfers/import/file_importer.ex
Due: App Tests

feat: Company is exported as a single zip file
  app/assets/js/api/index.tsx
  app/assets/js/pages/CompanyExportPage/index.tsx
  app/assets/js/pages/CompanyImportPage/index.tsx
  app/lib/operately/company_transfers.ex
  app/lib/operately/company_transfers/export/file_archive.ex
  app/lib/operately/company_transfers/export_run.ex
  app/lib/operately/company_transfers/exporter.ex
  app/lib/operately/company_transfers/import_run.ex
  app/lib/operately/company_transfers/importer.ex
  app/lib/operately/company_transfers/package/archive.ex
  app/lib/operately/company_transfers/package/paths.ex
  app/lib/operately_web/api/company_transfers/get_export_run.ex
  app/lib/operately_web/api/company_transfers/start_import.ex
  app/lib/operately_web/api/serializers/company_export_run.ex
  app/lib/operately_web/api/serializers/company_import_run.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260512120000_add_package_blob_references_to_company_transfer_runs.exs
  app/test/operately/company_transfers/export/file_archive_test.exs
  app/test/operately/company_transfers/exporter_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/company_transfers/package/archive_test.exs
  app/test/operately/company_transfers/paths_test.exs
  app/test/operately/company_transfers_files_test.exs
  app/test/operately/company_transfers_test.exs
  app/test/operately_web/api/company_transfers/get_export_run_test.exs
  app/test/operately_web/api/company_transfers/start_import_test.exs
  app/test/support/company_transfer/helpers.ex
  turboui/src/CompanyExportPage/index.stories.tsx
  turboui/src/CompanyExportPage/index.tsx
  turboui/src/CompanyImportPage/index.stories.tsx
  turboui/src/CompanyImportPage/index.tsx
Due: Turboui, App Tests

Adjust tests
  app/test/support/company_transfer/helpers.ex
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
