Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

chore: Add debugging logs for company imports (#4468)
  app/lib/operately/company_transfers/import/relational/row_writer.ex
  app/lib/operately/company_transfers/schema/app_schemas.ex
  app/test/operately/company_transfers/import/relational/row_writer_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
Due: App Tests

fix: Update company transfer schema discovery to work in release builds
  app/lib/operately/company_transfers/import/relational/row_writer.ex
  app/lib/operately/company_transfers/schema/app_schemas.ex
  app/test/operately/company_transfers/import/relational/row_writer_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
Due: App Tests

fix: Update company transfer schema discovery to work in release builds (#4469)
  app/lib/operately/company_transfers/import/relational/row_writer.ex
  app/lib/operately/company_transfers/schema/app_schemas.ex
  app/test/operately/company_transfers/import/relational/row_writer_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
Due: App Tests

fix: Restore resources author integrity for company transfers
  app/lib/operately/company_transfers/import/relational_importer.ex
  app/lib/operately/company_transfers/import/validator.ex
  app/lib/operately/company_transfers/public_error_message.ex
  app/priv/repo/migrations/20260513120000_restore_people_foreign_keys_for_imported_messages_and_goal_updates.exs
  app/test/operately/company_transfers/import/validator_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/company_transfers/public_error_message_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/support/factory/goals.ex
  app/test/support/features/company_transfers_round_trip_steps.ex
Due: App Tests

Company deleting adjusted
  app/lib/operately/operations/company_deleting.ex
Due: App Tests

fix: Restore resources author integrity for company transfers (#4470)
  app/lib/operately/company_transfers/import/relational_importer.ex
  app/lib/operately/company_transfers/import/validator.ex
  app/lib/operately/company_transfers/public_error_message.ex
  app/lib/operately/operations/company_deleting.ex
  app/priv/repo/migrations/20260513120000_restore_people_foreign_keys_for_imported_messages_and_goal_updates.exs
  app/test/operately/company_transfers/import/validator_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/company_transfers/public_error_message_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/support/factory/goals.ex
  app/test/support/features/company_transfers_round_trip_steps.ex
Due: App Tests

fix: Prevent crashing discussion and check-in pages when authors are missing
  app/assets/js/features/SpaceTools/Discussions/RegularState.test.tsx
  app/assets/js/features/SpaceTools/Discussions/RegularState.tsx
  app/assets/js/pages/DiscussionDraftsPage/index.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
  turboui/src/CheckInCard/__tests__/index.test.tsx
  turboui/src/CheckInCard/index.tsx
  turboui/src/DiscussionCard/__tests__/index.test.tsx
  turboui/src/DiscussionCard/index.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

Improve RegularState
  app/assets/js/features/SpaceTools/Discussions/RegularState.tsx
Due: App Tests

Fix build
  turboui/src/LastCheckIn/__tests__/index.test.tsx
  turboui/src/LastCheckIn/index.tsx
Due: Turboui, App Tests

fix: Prevent crashing discussion and check-in pages when authors are missing (#4471)
  app/assets/js/features/SpaceTools/Discussions/RegularState.test.tsx
  app/assets/js/features/SpaceTools/Discussions/RegularState.tsx
  app/assets/js/pages/DiscussionDraftsPage/index.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
  turboui/src/CheckInCard/__tests__/index.test.tsx
  turboui/src/CheckInCard/index.tsx
  turboui/src/DiscussionCard/__tests__/index.test.tsx
  turboui/src/DiscussionCard/index.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/LastCheckIn/__tests__/index.test.tsx
  turboui/src/LastCheckIn/index.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

fix: Handle missing discussion authors on the discussion page
  app/assets/js/api/index.tsx
  app/assets/js/features/documents/DocumentTitle.test.tsx
  app/assets/js/features/documents/DocumentTitle.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/lib/operately_web/api/types.ex
  app/priv/static/.vite/manifest.json
Due: App Tests

fix: Handle missing discussion authors on the discussion page (#4472)
  app/assets/js/api/index.tsx
  app/assets/js/features/documents/DocumentTitle.test.tsx
  app/assets/js/features/documents/DocumentTitle.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/lib/operately_web/api/types.ex
  app/priv/static/.vite/manifest.json
Due: App Tests

chore: API supports cli defaults
  app/lib/operately_web/api/external.ex
  app/lib/turbo_connect/api.ex
  app/lib/turbo_connect/fields.ex
  app/lib/turbo_connect/input_defaults.ex
  app/lib/turbo_connect/plugs/parse_inputs.ex
  app/test/turbo_connect/api_test.exs
  app/test/turbo_connect/fields_test.exs
Due: App Tests

Update docs generator
  app/lib/operately/api_docs/generator.ex
  app/test/operately/api_docs/generator_test.exs
Due: App Tests

Update spaces create_discussion
  app/lib/operately_web/api/spaces/create_discussion.ex
  app/test/cli_e2e/spaces/create_discussion_test.exs
  app/test/operately_web/api/external_mutations/mutations/spaces/create_discussion.ex
  app/test/operately_web/api/spaces/create_discussion_test.exs
  app/test/support/cli_e2e/spaces/create_discussion_steps.ex
Due: App Tests

Update documents create
  app/lib/operately_web/api/documents/create.ex
  app/test/cli_e2e/documents/create_test.exs
  app/test/operately_web/api/documents/create_test.exs
  app/test/operately_web/api/external_mutations/mutations/documents/create.ex
  app/test/support/cli_e2e/documents/create_steps.ex
Due: App Tests

Update files create
  app/lib/operately_web/api/files/create.ex
  app/test/operately_web/api/files/create_test.exs
Due: App Tests

Update goals create_check_in
  app/lib/operately_web/api/goals/create_check_in.ex
  app/test/cli_e2e/goals/create_check_in_test.exs
  app/test/operately_web/api/external_mutations/mutations/goals/create_check_in.ex
  app/test/operately_web/api/goals/create_check_in_test.exs
  app/test/support/cli_e2e/goals/create_check_in_steps.ex
Due: App Tests

Update goals create_discussion
  app/lib/operately_web/api/goals/create_discussion.ex
  app/test/cli_e2e/goals/create_discussion_test.exs
  app/test/operately_web/api/external_mutations/mutations/goals/create_discussion.ex
  app/test/operately_web/api/goals/create_discussion_test.exs
  app/test/support/cli_e2e/goals/create_discussion_steps.ex
Due: App Tests

Update links create
  app/lib/operately_web/api/links/create.ex
  app/test/cli_e2e/links/create_test.exs
  app/test/operately_web/api/external_mutations/mutations/links/create.ex
  app/test/operately_web/api/links/create_test.exs
  app/test/support/cli_e2e/links/create_steps.ex
Due: App Tests

Update projects create_check_in
  app/lib/operately_web/api/projects/create_check_in.ex
  app/test/cli_e2e/projects/create_check_in_test.exs
  app/test/operately_web/api/external_mutations/mutations/projects/create_check_in.ex
  app/test/operately_web/api/projects/create_check_in_test.exs
  app/test/support/cli_e2e/projects/create_check_in_steps.ex
Due: App Tests

Update projects create_discussion
  app/lib/operately_web/api/projects/discussions.ex
  app/test/cli_e2e/projects/create_discussion_test.exs
  app/test/operately_web/api/external_mutations/mutations/projects/create_discussion.ex
  app/test/operately_web/api/projects/discussions_test.exs
  app/test/support/cli_e2e/projects/create_discussion_steps.ex
Due: App Tests

Run make.gen
  app/assets/js/api/index.tsx
  cli/package-lock.json
  cli/src/generated/api-catalog.json
Due: App Tests

Fix test
  app/test/operately_web/api/projects/discussions_test.exs
Due: App Tests

fix: use pending icon for my work tasks
  turboui/src/WorkMap/components/TableRow/ItemNameCell.tsx
Due: Turboui, App Tests

fix: use pending icon for my work tasks (#4479)
  turboui/src/WorkMap/components/TableRow/ItemNameCell.tsx
Due: Turboui, App Tests

fix: reset new resource form
  turboui/src/ResourceManager/index.tsx
Due: Turboui, App Tests

fix: reset new resource form (#4480)
  turboui/src/ResourceManager/index.tsx
Due: Turboui, App Tests

fix: sort completed tasks by completion time
  app/assets/js/api/index.tsx
  app/assets/js/models/tasks/index.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/models/tasks/useSpaceTasksForTurboUi.tsx
  app/lib/operately_web/api/serializers/task.ex
  app/lib/operately_web/api/tasks.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/tasks_test.exs
  turboui/src/TaskBoard/components/TaskList.tsx
  turboui/src/TaskBoard/types.ts
Due: Turboui, App Tests

fix: sort completed tasks by completion time (#4481)
  app/assets/js/api/index.tsx
  app/assets/js/models/tasks/index.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/models/tasks/useSpaceTasksForTurboUi.tsx
  app/lib/operately_web/api/serializers/task.ex
  app/lib/operately_web/api/tasks.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/tasks_test.exs
  turboui/src/TaskBoard/components/TaskList.tsx
  turboui/src/TaskBoard/types.ts
Due: Turboui, App Tests

External endpoints can be hidden from the CLI catalog
  app/lib/operately/api_docs/generator.ex
  app/lib/operately_web/api.ex
  app/lib/turbo_connect/api.ex
  app/test/operately/api_docs/generator_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/create_avatar_blob.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
Due: App Tests

feat: CLI supports updating profile picture
  cli/src/commands/custom-endpoints/index.ts
  cli/src/commands/custom-endpoints/people/update-picture.ts
  cli/src/commands/custom-endpoints/types.ts
  cli/src/commands/executor.ts
  cli/src/commands/help.ts
  cli/src/commands/registry.ts
  cli/src/core/external-http.ts
  cli/src/core/input-coercion.ts
  cli/src/core/paths.ts
  cli/src/core/uploads/signed-url.ts
  cli/src/index.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/custom-endpoints.test.ts
  cli/src/test/unit/fixture-catalog.ts
  cli/src/test/unit/help-handler.test.ts
  cli/src/test/unit/help.test.ts
  cli/src/test/unit/parser.test.ts
  cli/src/test/unit/registry.test.ts
  cli/src/types/catalog.ts
Due: none

Add e2e tests
  app/test/cli_e2e/people/update_picture_test.exs
  app/test/support/cli_e2e/people/update_picture_steps.ex
Due: App Tests

Handle old node versions
  cli/package.json
  cli/src/core/uploads/signed-url.ts
  cli/src/test/unit/signed-url.test.ts
Due: none

feat: CLI supports updating profile picture (#4482)
  app/lib/operately/api_docs/generator.ex
  app/lib/operately_web/api.ex
  app/lib/turbo_connect/api.ex
  app/test/cli_e2e/people/update_picture_test.exs
  app/test/operately/api_docs/generator_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/create_avatar_blob.ex
  app/test/support/cli_e2e/people/update_picture_steps.ex
  cli/docs/commands.md
  cli/package.json
  cli/src/commands/custom-endpoints/index.ts
  cli/src/commands/custom-endpoints/people/update-picture.ts
  cli/src/commands/custom-endpoints/types.ts
  cli/src/commands/executor.ts
  cli/src/commands/help.ts
  cli/src/commands/registry.ts
  cli/src/core/external-http.ts
  cli/src/core/input-coercion.ts
  cli/src/core/paths.ts
  cli/src/core/uploads/signed-url.ts
  cli/src/generated/api-catalog.json
  cli/src/index.ts
  cli/src/test/integration.test.ts
  cli/src/test/unit/custom-endpoints.test.ts
  cli/src/test/unit/fixture-catalog.ts
  cli/src/test/unit/help-handler.test.ts
  cli/src/test/unit/help.test.ts
  cli/src/test/unit/parser.test.ts
  cli/src/test/unit/registry.test.ts
  cli/src/test/unit/signed-url.test.ts
  cli/src/types/catalog.ts
Due: App Tests

Make file endpoints external
  app/lib/operately/operations/resource_hub_file_editing.ex
  app/lib/operately_web/api.ex
  app/test/operately/api_docs/generator_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/create_blob.ex
  app/test/operately_web/api/external_mutations/mutations/files/create.ex
  app/test/operately_web/api/external_mutations/mutations/files/delete.ex
  app/test/operately_web/api/external_mutations/mutations/files/update.ex
  app/test/operately_web/api/external_mutations/mutations/mark_blob_uploaded.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/files/get.ex
  app/test/operately_web/api/files/update_test.exs
  cli/docs/commands.md
Due: App Tests

feat: Resource Hub Files can be created and managed via the CLI
  app/assets/js/api/index.tsx
  cli/package-lock.json
  cli/package.json
  cli/src/commands/custom-endpoints/files/create.ts
  cli/src/commands/custom-endpoints/files/helpers.ts
  cli/src/commands/custom-endpoints/index.ts
  cli/src/commands/custom-endpoints/people/update-picture.ts
  cli/src/core/uploads/file-metadata.ts
  cli/src/core/uploads/image-preview.ts
  cli/src/generated/api-catalog.json
  cli/src/test/integration.test.ts
  cli/src/test/unit/custom-endpoints.test.ts
  cli/src/test/unit/help-handler.test.ts
  cli/src/test/unit/help.test.ts
  cli/src/test/unit/parser.test.ts
  cli/src/test/unit/registry.test.ts
Due: App Tests

Add e2e tests
  app/test/cli_e2e/files/create_test.exs
  app/test/support/cli_e2e/files/create_steps.ex
Due: App Tests
