Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

chore: Add pages for creating and editing blank project templates (#5011)
  specs/0017-project-templates.md
  turboui/src/MilestoneField/index.tsx
  turboui/src/ProjectPageLayout/PageHeader.tsx
  turboui/src/ProjectPageLayout/index.tsx
  turboui/src/RelativeDayField/index.stories.tsx
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/TemplateProjectPage/MilestoneFormModal.tsx
  turboui/src/TemplateProjectPage/MilestoneList.tsx
  turboui/src/TemplateProjectPage/Overview.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Index goal checks by goal ID
  app/priv/repo/migrations/20260805145018_add_goal_id_index_to_goal_checks.exs
Due: App Tests

fix: Index goal checks by goal ID (#5012)
  app/priv/repo/migrations/20260805145018_add_goal_id_index_to_goal_checks.exs
Due: App Tests

Return only necessary milestone data
  app/assets/js/api/index.tsx
  app/lib/operately/work_maps/get_work_map_query.ex
  app/lib/operately/work_maps/work_map_milestone.ex
  app/lib/operately_web/api/serializers/work_map_item.ex
  app/lib/operately_web/api/serializers/work_map_milestone.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/companies/get_work_map_test.exs
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Reduce work map data loading for completed items
  app/assets/js/api/index.tsx
  app/lib/operately/work_maps/get_work_map_query.ex
  app/lib/operately/work_maps/work_map_item.ex
  app/lib/operately_web/api/serializers/work_map_item.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/work_maps/get_work_map_query_test.exs
  app/test/operately_web/api/companies/get_work_map_test.exs
  turboui/src/ApiTypes/index.ts
  turboui/src/MiniWorkMap/index.tsx
  turboui/src/WorkMap/components/TableRow/ProgressCell.test.tsx
  turboui/src/WorkMap/components/TableRow/ProgressCell.tsx
  turboui/src/WorkMap/components/index.tsx
Due: Turboui, App Tests

chore: Fix TurboUI IDE type errors by splitting tsconfigs
  turboui/jest.config.json
  turboui/package.json
  turboui/tsconfig.build.json
  turboui/tsconfig.json
  turboui/tsconfig.test.json
Due: Turboui, App Tests

fix: Reduce work map payload and completed-item loading (#5013)
  app/assets/js/api/index.tsx
  app/lib/operately/work_maps/get_work_map_query.ex
  app/lib/operately/work_maps/work_map_item.ex
  app/lib/operately/work_maps/work_map_milestone.ex
  app/lib/operately_web/api/serializers/work_map_item.ex
  app/lib/operately_web/api/serializers/work_map_milestone.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/work_maps/get_work_map_query_test.exs
  app/test/operately_web/api/companies/get_work_map_test.exs
  turboui/src/ApiTypes/index.ts
  turboui/src/MiniWorkMap/index.tsx
  turboui/src/WorkMap/components/TableRow/ProgressCell.test.tsx
  turboui/src/WorkMap/components/TableRow/ProgressCell.tsx
  turboui/src/WorkMap/components/index.tsx
Due: Turboui, App Tests

Copy new ts build file to container
  Dockerfile.prod
Due: none

chore: Fix TurboUI IDE type errors by splitting tsconfigs (#5014)
  Dockerfile.prod
  turboui/jest.config.json
  turboui/package.json
  turboui/tsconfig.build.json
  turboui/tsconfig.json
  turboui/tsconfig.test.json
Due: Turboui, App Tests

fix: Remove 'resource hub' from search placeholder
  .agents/skills/ui-copy/SKILL.md
  app/assets/js/models/search/resourceHub.ts
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ResourceHub/Search.tsx
  turboui/src/ResourceHubPage/index.stories.tsx
  turboui/src/ResourceHubPage/index.test.tsx
Due: Turboui, App Tests

fix: Remove 'resource hub' from search placeholder (#5015)
  .agents/skills/ui-copy/SKILL.md
  app/assets/js/models/search/resourceHub.ts
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ResourceHub/Search.tsx
  turboui/src/ResourceHubPage/index.stories.tsx
  turboui/src/ResourceHubPage/index.test.tsx
Due: Turboui, App Tests

fix: Remove search extra row from Docs & Files tab
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ResourceHub/Search.tsx
  turboui/src/SortControl/index.tsx
Due: Turboui, App Tests

feat: Keep full search action visible
  turboui/src/GlobalSearch/SearchOverlay.tsx
  turboui/src/GlobalSearch/index.test.tsx
Due: Turboui, App Tests

feat: Keep full search action visible (#5017)
  turboui/src/GlobalSearch/SearchOverlay.tsx
  turboui/src/GlobalSearch/index.test.tsx
Due: Turboui, App Tests

root_source_code_paths expects list in in Sentry 10
  app/config/runtime.exs
Due: App Tests

chore: Report Phoenix and Logger errors to Sentry
  app/lib/operately/application.ex
  app/lib/operately/sentry.ex
  app/lib/operately_web/endpoint.ex
  app/test/operately/sentry_test.exs
Due: App Tests

chore: Report Phoenix and Logger errors to Sentry (#5018)
  app/config/runtime.exs
  app/lib/operately/application.ex
  app/lib/operately/sentry.ex
  app/lib/operately_web/endpoint.ex
  app/test/operately/sentry_test.exs
Due: App Tests

chore: Install Hex non-interactively in dev.server
  Makefile
Due: none

chore: Install Hex non-interactively in dev.server (#5019)
  Makefile
Due: none

feat: Add project template library pages behind FF
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/loader.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.test.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
  app/assets/js/pages/ProjectTemplatesPage/loader.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.test.ts
  app/assets/js/routes/paths.tsx
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately_web/api/project_templates/get.ex
  app/lib/operately_web/api/serializers/project_template.ex
  app/lib/operately_web/api/serializers/project_template_permissions.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/project_templates/get_test.exs
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add project template library pages behind FF (#5020)
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/loader.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.test.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
  app/assets/js/pages/ProjectTemplatesPage/loader.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.test.ts
  app/assets/js/routes/paths.tsx
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately_web/api/project_templates/get.ex
  app/lib/operately_web/api/serializers/project_template.ex
  app/lib/operately_web/api/serializers/project_template_permissions.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/project_templates/get_test.exs
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Send ErrorBoundary failures to Sentry
  app/assets/js/components/ErrorBoundary/index.test.tsx
  app/assets/js/components/ErrorBoundary/index.tsx
Due: App Tests

Stop reporting expected Axios errors to Sentry
  app/assets/js/utils/axiosErrorReporting.test.ts
  app/assets/js/utils/axiosErrorReporting.ts
Due: App Tests

Attach user and environment context to Sentry events
  app/assets/js/app.tsx
  app/assets/js/utils/sentryContext.test.ts
  app/assets/js/utils/sentryContext.ts
Due: App Tests

chore: Improve frontend Sentry error reporting (#5021)
  app/assets/js/app.tsx
  app/assets/js/components/ErrorBoundary/index.test.tsx
  app/assets/js/components/ErrorBoundary/index.tsx
  app/assets/js/utils/axiosErrorReporting.test.ts
  app/assets/js/utils/axiosErrorReporting.ts
  app/assets/js/utils/sentryContext.test.ts
  app/assets/js/utils/sentryContext.ts
Due: App Tests

chore: Add operation for creating project from template
  app/lib/operately/operations/project_template_materialization.ex
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/support/factory/project_templates.ex
  specs/0017-project-templates.md
Due: App Tests

Adjustment
  app/lib/operately/operations/project_template_materialization.ex
Due: App Tests

chore: Add operation for creating project from template (#5022)
  app/lib/operately/operations/project_template_materialization.ex
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/support/factory/project_templates.ex
  specs/0017-project-templates.md
Due: App Tests

feat: Share project tasks List/Board view across the team
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately/projects/project.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/projects/update_tasks_view.ex
  app/lib/operately_web/api/serializers/project.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260806211709_add_tasks_view_to_projects.exs
  app/test/operately_web/api/projects/update_tasks_view_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/types.ts
Due: Turboui, App Tests

Adjust tests
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/projects/update_tasks_view.ex
Due: App Tests

feat: Create projects from project templates
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectAddPage/loader.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_project.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_project.ex
  app/test/operately_web/api/project_templates/create_project_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/DateField/index.test.tsx
  turboui/src/DateField/index.tsx
  turboui/src/Forms/DateInput.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
  turboui/src/ProjectTemplateSelection/index.stories.tsx
  turboui/src/ProjectTemplateSelection/index.test.tsx
  turboui/src/ProjectTemplateSelection/index.tsx
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Share project tasks List/Board view across the team (#5023)
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately/projects/project.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/projects/update_tasks_view.ex
  app/lib/operately_web/api/serializers/project.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260806211709_add_tasks_view_to_projects.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/projects/update_tasks_view.ex
  app/test/operately_web/api/projects/update_tasks_view_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/types.ts
Due: Turboui, App Tests

Adjustments
  app/lib/operately_web/api/project_templates/shared_steps.ex
Due: App Tests

feat: Create projects from project templates (#5024)
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectAddPage/loader.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_project.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_project.ex
  app/test/operately_web/api/project_templates/create_project_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/DateField/index.test.tsx
  turboui/src/DateField/index.tsx
  turboui/src/Forms/DateInput.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
  turboui/src/ProjectTemplateSelection/index.stories.tsx
  turboui/src/ProjectTemplateSelection/index.test.tsx
  turboui/src/ProjectTemplateSelection/index.tsx
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Add operation for building templates from projects
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/copy.ex
  app/test/operately/operations/project_template_creation_from_project_test.exs
  specs/0017-project-templates.md
Due: App Tests

Adjustments
  app/lib/operately/operations/project_template_creation_from_project.ex
Due: App Tests

chore: Add operation for building templates from projects (#5025)
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/copy.ex
  app/test/operately/operations/project_template_creation_from_project_test.exs
  specs/0017-project-templates.md
Due: App Tests

feat: Add save project as template feature to project page
  app/assets/js/api/index.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/saveProjectAsTemplate.test.ts
  app/assets/js/models/projects/saveProjectAsTemplate.ts
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_from_project.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/types.ex
  app/test/features/projects/project_page_goal_and_export_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_from_project.ex
  app/test/operately_web/api/project_templates/create_from_project_test.exs
  app/test/support/features/projects_steps.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/SaveProjectAsTemplateModal/index.stories.tsx
  turboui/src/SaveProjectAsTemplateModal/index.test.tsx
  turboui/src/SaveProjectAsTemplateModal/index.tsx
  turboui/src/icons/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add save project as template feature to project page (#5026)
  app/assets/js/api/index.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/saveProjectAsTemplate.test.ts
  app/assets/js/models/projects/saveProjectAsTemplate.ts
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_from_project.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/types.ex
  app/test/features/projects/project_page_goal_and_export_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_from_project.ex
  app/test/operately_web/api/project_templates/create_from_project_test.exs
  app/test/support/features/projects_steps.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/SaveProjectAsTemplateModal/index.stories.tsx
  turboui/src/SaveProjectAsTemplateModal/index.test.tsx
  turboui/src/SaveProjectAsTemplateModal/index.tsx
  turboui/src/icons/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests
