Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

fix: Skip emails for deleted or inaccessible goal check-ins
  app/lib/operately/notifications/buffered_email_worker.ex
  app/lib/operately/notifications/digest_items.ex
  app/lib/operately/notifications/email_worker.ex
  app/lib/operately_email/emails/goal_check_in_email.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  app/test/operately/notifications/email_worker_test.exs
  app/test/operately_email/emails/goal_check_in_email_test.exs
Due: App Tests

fix: Skip emails for deleted or inaccessible goal check-ins (#5259)
  app/lib/operately/notifications/buffered_email_worker.ex
  app/lib/operately/notifications/digest_items.ex
  app/lib/operately/notifications/email_worker.ex
  app/lib/operately_email/emails/goal_check_in_email.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  app/test/operately/notifications/email_worker_test.exs
  app/test/operately_email/emails/goal_check_in_email_test.exs
Due: App Tests

chore: Migrate goal discussions to tanstack
  app/assets/js/features/CommentSection/index.tsx
  app/assets/js/features/CommentSection/useCommentSection.test.tsx
  app/assets/js/features/CommentSection/useCommentSection.ts
  app/assets/js/features/CommentSection/useCommentSectionProps.tsx
  app/assets/js/models/comments/commentLifecycle.ts
  app/assets/js/models/comments/useOptimisticCommentUpdates.ts
  app/assets/js/models/comments/useOptimisticComments.test.tsx
  app/assets/js/models/comments/useOptimisticComments.tsx
  app/assets/js/models/goals/goalDiscussionLifecycle.test.ts
  app/assets/js/models/goals/goalDiscussionLifecycle.ts
  app/assets/js/models/goals/goalLifecycle.test.ts
  app/assets/js/models/goals/goalLifecycle.ts
  app/assets/js/models/goals/goalPageQueries.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/notifications/notificationLifecycle.test.tsx
  app/assets/js/models/notifications/notificationLifecycle.ts
  app/assets/js/models/reactions/index.tsx
  app/assets/js/models/reactions/reactionLifecycle.ts
  app/assets/js/models/reactions/useOptimisticReactions.test.tsx
  app/assets/js/models/reactions/useOptimisticReactions.ts
  app/assets/js/models/subscriptions/subscriptionLifecycle.ts
  app/assets/js/models/subscriptions/useCurrentSubscriptionsQueryAdapter.test.tsx
  app/assets/js/models/subscriptions/useCurrentSubscriptionsQueryAdapter.ts
  app/assets/js/pages/GoalActivityPage/index.tsx
  app/assets/js/pages/GoalActivityPage/loader.test.tsx
  app/assets/js/pages/GoalActivityPage/loader.tsx
  app/assets/js/pages/GoalDiscussionEditPage/index.tsx
  app/assets/js/pages/GoalDiscussionEditPage/loader.test.tsx
  app/assets/js/pages/GoalDiscussionEditPage/loader.tsx
  app/assets/js/pages/GoalDiscussionNewPage/index.tsx
  app/assets/js/pages/GoalDiscussionNewPage/loader.test.tsx
  app/assets/js/pages/GoalDiscussionNewPage/loader.tsx
  app/assets/js/pages/GoalDiscussionNewPage/useForm.test.tsx
  app/assets/js/pages/GoalDiscussionNewPage/useForm.tsx
  app/test/features/goal_discussions_test.exs
  app/test/support/features/goal_discussions_steps.ex
Due: App Tests

Adjustments
  app/assets/js/features/CommentSection/index.tsx
  app/assets/js/features/CommentSection/useForGoalRetrospective.tsx
  app/assets/js/models/activities/index.tsx
  app/assets/js/models/goals/goalLifecycle.ts
Due: App Tests

Fix
  app/assets/js/models/reactions/useOptimisticReactions.test.tsx
  app/assets/js/models/reactions/useOptimisticReactions.ts
Due: App Tests

chore: Migrate goal discussions to tanstack (#5260)
  app/assets/js/features/CommentSection/index.tsx
  app/assets/js/features/CommentSection/useCommentSection.test.tsx
  app/assets/js/features/CommentSection/useCommentSection.ts
  app/assets/js/features/CommentSection/useCommentSectionProps.tsx
  app/assets/js/features/CommentSection/useForGoalRetrospective.tsx
  app/assets/js/models/activities/index.tsx
  app/assets/js/models/comments/commentLifecycle.ts
  app/assets/js/models/comments/useOptimisticCommentUpdates.ts
  app/assets/js/models/comments/useOptimisticComments.test.tsx
  app/assets/js/models/comments/useOptimisticComments.tsx
  app/assets/js/models/goals/goalDiscussionLifecycle.test.ts
  app/assets/js/models/goals/goalDiscussionLifecycle.ts
  app/assets/js/models/goals/goalLifecycle.test.ts
  app/assets/js/models/goals/goalLifecycle.ts
  app/assets/js/models/goals/goalPageQueries.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/notifications/notificationLifecycle.test.tsx
  app/assets/js/models/notifications/notificationLifecycle.ts
  app/assets/js/models/reactions/index.tsx
  app/assets/js/models/reactions/reactionLifecycle.ts
  app/assets/js/models/reactions/useOptimisticReactions.test.tsx
  app/assets/js/models/reactions/useOptimisticReactions.ts
  app/assets/js/models/subscriptions/subscriptionLifecycle.ts
  app/assets/js/models/subscriptions/useCurrentSubscriptionsQueryAdapter.test.tsx
  app/assets/js/models/subscriptions/useCurrentSubscriptionsQueryAdapter.ts
  app/assets/js/pages/GoalActivityPage/index.tsx
  app/assets/js/pages/GoalActivityPage/loader.test.tsx
  app/assets/js/pages/GoalActivityPage/loader.tsx
  app/assets/js/pages/GoalDiscussionEditPage/index.tsx
  app/assets/js/pages/GoalDiscussionEditPage/loader.test.tsx
  app/assets/js/pages/GoalDiscussionEditPage/loader.tsx
  app/assets/js/pages/GoalDiscussionNewPage/index.tsx
  app/assets/js/pages/GoalDiscussionNewPage/loader.test.tsx
  app/assets/js/pages/GoalDiscussionNewPage/loader.tsx
  app/assets/js/pages/GoalDiscussionNewPage/useForm.test.tsx
  app/assets/js/pages/GoalDiscussionNewPage/useForm.tsx
  app/test/features/goal_discussions_test.exs
  app/test/support/features/goal_discussions_steps.ex
Due: App Tests

chore: Migrate goal check-ins to tanstack
  app/assets/js/features/CommentSection/index.tsx
  app/assets/js/features/CommentSection/useForGoalCheckIn.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.test.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/models/goalCheckIns/goalCheckInLifecycle.test.ts
  app/assets/js/models/goalCheckIns/goalCheckInLifecycle.ts
  app/assets/js/models/goalCheckIns/index.tsx
  app/assets/js/pages/GoalCheckInNewPage/index.tsx
  app/assets/js/pages/GoalCheckInNewPage/loader.tsx
  app/assets/js/pages/GoalCheckInPage/AckCTA.test.tsx
  app/assets/js/pages/GoalCheckInPage/AckCTA.tsx
  app/assets/js/pages/GoalCheckInPage/CheckInReactions.tsx
  app/assets/js/pages/GoalCheckInPage/Comments.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/GoalCheckInPage/Subscriptions.tsx
  app/assets/js/pages/GoalCheckInPage/loader.test.tsx
  app/assets/js/pages/GoalCheckInPage/loader.tsx
  app/assets/js/pages/GoalCheckInPage/page.tsx
  app/assets/js/pages/GoalCheckInPage/useClearGoalCheckInNotifications.tsx
  app/assets/js/pages/GoalCheckInPage/useGoalCheckInPageTitle.tsx
  app/test/features/goal_check_ins/scheduling_test.exs
  app/test/features/goal_check_ins/submission_test.exs
  app/test/support/features/goal_check_ins_steps.ex
Due: App Tests

chore: Migrate goal check-ins to tanstack (#5261)
  app/assets/js/features/CommentSection/index.tsx
  app/assets/js/features/CommentSection/useForGoalCheckIn.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.test.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/models/goalCheckIns/goalCheckInLifecycle.test.ts
  app/assets/js/models/goalCheckIns/goalCheckInLifecycle.ts
  app/assets/js/models/goalCheckIns/index.tsx
  app/assets/js/pages/GoalCheckInNewPage/index.tsx
  app/assets/js/pages/GoalCheckInNewPage/loader.tsx
  app/assets/js/pages/GoalCheckInPage/AckCTA.test.tsx
  app/assets/js/pages/GoalCheckInPage/AckCTA.tsx
  app/assets/js/pages/GoalCheckInPage/CheckInReactions.tsx
  app/assets/js/pages/GoalCheckInPage/Comments.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/GoalCheckInPage/Subscriptions.tsx
  app/assets/js/pages/GoalCheckInPage/loader.test.tsx
  app/assets/js/pages/GoalCheckInPage/loader.tsx
  app/assets/js/pages/GoalCheckInPage/page.tsx
  app/assets/js/pages/GoalCheckInPage/useClearGoalCheckInNotifications.tsx
  app/assets/js/pages/GoalCheckInPage/useGoalCheckInPageTitle.tsx
  app/test/features/goal_check_ins/scheduling_test.exs
  app/test/features/goal_check_ins/submission_test.exs
  app/test/support/features/goal_check_ins_steps.ex
Due: App Tests

chore: Upgrade Tiptap to 3.30.5 to address ReDoS vulnerability
  cli/package-lock.json
  cli/package.json
  turboui/package-lock.json
  turboui/package.json
Due: Turboui, App Tests

Adjustment
  app/package-lock.json
Due: App Tests

chore: Upgrade Tiptap to 3.30.5 to address ReDoS vulnerability (#5262)
  app/package-lock.json
  cli/package-lock.json
  cli/package.json
  turboui/package-lock.json
  turboui/package.json
Due: Turboui, App Tests

Adjustment
  cli/package-lock.json
  cli/package.json
Due: none

fix: show ctrl k as global shortcut on non-mac devices
  turboui/src/GlobalSearch/SearchActivator.test.tsx
  turboui/src/GlobalSearch/SearchActivator.tsx
Due: Turboui, App Tests

fix: show ctrl k as global shortcut on non-mac devices (#5264)
  turboui/src/GlobalSearch/SearchActivator.test.tsx
  turboui/src/GlobalSearch/SearchActivator.tsx
Due: Turboui, App Tests

feat: make KPIs generally available
  app/assets/js/features/SpaceTools/Kpis.tsx
  app/assets/js/features/SpaceTools/ToolsSection.test.tsx
  app/assets/js/features/SpaceTools/ToolsSection.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/assets/js/pages/SpaceToolsConfigurationPage/index.tsx
  app/lib/operately/data/change_116_remove_space_kpis_experimental_feature.ex
  app/lib/operately_web/api/kpis.ex
  app/priv/repo/migrations/20260911093115_remove_space_kpis_experimental_feature.exs
  app/test/operately/data/change_116_remove_space_kpis_experimental_feature_test.exs
  app/test/support/features/kpi_comments_steps.ex
  app/test/support/features/kpi_entries_steps.ex
  turboui/src/SpaceToolsConfigurationPage/index.test.tsx
  turboui/src/SpaceToolsConfigurationPage/index.tsx
Due: Turboui, App Tests

Fix test
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/test/operately/company_transfers/schema_graph_test.exs
Due: App Tests

Fix test
  app/assets/js/pages/AccountChangeEmailPage/index.test.tsx
Due: App Tests

chore: Add copy page name button to dev bar
  app/assets/js/features/DevBar/index.tsx
Due: App Tests

chore: Add copy page name button to dev bar (#5267)
  app/assets/js/features/DevBar/index.tsx
Due: App Tests

Address issues in tests
  turboui/src/AccountChangeEmailPage/index.test.tsx
Due: Turboui, App Tests

fix: Use exists for shared access permission filters
  app/lib/operately/access/filters.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/companies/list_activities.ex
  app/test/operately/access/filters_test.exs
  app/test/operately_web/api/comments/list_test.exs
  app/test/operately_web/api/companies/list_activities_test.exs
Due: App Tests

Fix
  app/lib/operately/access/filters.ex
Due: App Tests

fix: Use exists for shared access permission filters (#5268)
  app/lib/operately/access/filters.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/companies/list_activities.ex
  app/test/operately/access/filters_test.exs
  app/test/operately_web/api/comments/list_test.exs
  app/test/operately_web/api/companies/list_activities_test.exs
Due: App Tests

chore: Add feed performance benchmark
  Makefile
  app/config/runtime.exs
  app/lib/mix/tasks/operately.feed_benchmark.ex
  app/lib/operately/feed_benchmark.ex
  app/lib/operately/feed_benchmark/runner.ex
  app/lib/operately/feed_benchmark/seed.ex
  app/test/operately/feed_benchmark/runner_test.exs
  app/test/operately/feed_benchmark/seed_test.exs
  app/test/operately/feed_benchmark_test.exs
  docs/feed-benchmark.md
Due: App Tests

fix: Return bad request for invalid JSON inputs
  app/lib/operately_web/api/types/json.ex
  app/test/operately_web/api/types/json_test.exs
Due: App Tests

fix: Handle string-keyed dates in milestone emails
  app/lib/operately_email/emails/milestone_due_date_updating_email.ex
  app/test/operately_email/emails/milestone_due_date_updating_email_test.exs
Due: App Tests

fix: Return bad request for invalid JSON inputs (#5270)
  app/lib/operately_web/api/types/json.ex
  app/test/operately_web/api/types/json_test.exs
Due: App Tests

fix: Handle string-keyed dates in milestone emails (#5271)
  app/lib/operately_email/emails/milestone_due_date_updating_email.ex
  app/test/operately_email/emails/milestone_due_date_updating_email_test.exs
Due: App Tests

fix: Reset file upload form after cancel or successful upload
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/types.ts
  turboui/src/ResourceHub/AddFileWidget.test.tsx
  turboui/src/ResourceHub/AddFileWidget.tsx
Due: Turboui, App Tests

chore: Migrate goal access pages to tanstack
  app/assets/js/models/goals/goalAccessLifecycle.test.ts
  app/assets/js/models/goals/goalAccessLifecycle.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/people/index.tsx
  app/assets/js/pages/GoalAccessAddPage/index.tsx
  app/assets/js/pages/GoalAccessAddPage/loader.test.tsx
  app/assets/js/pages/GoalAccessAddPage/loader.tsx
  app/assets/js/pages/GoalAccessManagementPage/loader.test.tsx
  app/assets/js/pages/GoalAccessManagementPage/loader.tsx
  app/assets/js/pages/GoalAccessManagementPage/page.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/loader.test.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/loader.tsx
  app/test/features/goal_access_management_test.exs
  app/test/support/features/goal_access_steps.ex
Due: App Tests

chore: Migrate goal access pages to tanstack (#5273)
  app/assets/js/models/goals/goalAccessLifecycle.test.ts
  app/assets/js/models/goals/goalAccessLifecycle.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/people/index.tsx
  app/assets/js/pages/GoalAccessAddPage/index.tsx
  app/assets/js/pages/GoalAccessAddPage/loader.test.tsx
  app/assets/js/pages/GoalAccessAddPage/loader.tsx
  app/assets/js/pages/GoalAccessManagementPage/loader.test.tsx
  app/assets/js/pages/GoalAccessManagementPage/loader.tsx
  app/assets/js/pages/GoalAccessManagementPage/page.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/loader.test.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/loader.tsx
  app/test/features/goal_access_management_test.exs
  app/test/support/features/goal_access_steps.ex
Due: App Tests

Add drafts endpoint
  app/assets/js/api/index.tsx
  app/lib/operately/resource_hubs/drafts.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/resource_hubs/list_drafts.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/resource_hubs/list_drafts.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/list_drafts.ex
  app/test/operately_web/api/resource_hubs/list_drafts_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: Make document drafts discoverable across folders
  app/assets/js/models/resourceHubs/docsQueries.test.tsx
  app/assets/js/models/resourceHubs/docsQueries.ts
  app/assets/js/models/resourceHubs/resourceHubLifecycle.test.tsx
  app/assets/js/models/resourceHubs/resourceHubLifecycle.ts
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/ProjectPage/loader.test.tsx
  app/assets/js/pages/ProjectPage/loader.tsx
  app/assets/js/pages/ResourceHubDraftsPage/loader.test.tsx
  app/assets/js/pages/ResourceHubDraftsPage/loader.tsx
  app/assets/js/pages/ResourceHubDraftsPage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/loader.test.tsx
  app/assets/js/pages/ResourceHubFolderPage/loader.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/loader.test.tsx
  app/assets/js/pages/ResourceHubPage/loader.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  app/test/features/resource_hub_document/drafts_test.exs
  app/test/support/features/resource_hub_document_steps.ex
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.test.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.tsx
  turboui/src/ResourceHub/DraftNodesList.tsx
  turboui/src/ResourceHub/ResourceHubNodeRow.tsx
  turboui/src/ResourceHubDraftsPage/index.stories.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
  turboui/src/ResourceHubDraftsPage/index.tsx
  turboui/src/ResourceHubFolderPage/index.stories.tsx
  turboui/src/ResourceHubFolderPage/index.test.tsx
  turboui/src/ResourceHubFolderPage/index.tsx
  turboui/src/ResourceHubPage/index.stories.tsx
  turboui/src/ResourceHubPage/index.test.tsx
  turboui/src/ResourceHubPage/index.tsx
Due: Turboui, App Tests

Isolate Goal Docs & Files failures and share tab state handling
  app/assets/js/pages/GoalPage/index.test.tsx
  app/assets/js/pages/GoalPage/index.tsx
  turboui/src/ContentListState/index.test.tsx
  turboui/src/ContentListState/index.tsx
  turboui/src/DocsAndFiles/PageDocsAndFiles.test.tsx
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/CheckIns.tsx
  turboui/src/ProjectPage/Discussions.tsx
  turboui/src/ProjectPage/DocsAndFilesSection.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Adjust tests
  app/assets/js/pages/GoalPage/index.test.tsx
  app/assets/js/pages/ResourceHubDraftsPage/loader.test.tsx
  app/assets/js/pages/ResourceHubFolderPage/loader.test.tsx
  app/assets/js/pages/ResourceHubPage/loader.test.tsx
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.test.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
Due: Turboui, App Tests

chore: Migrate GoalPage to tanstack
  app/assets/js/api/index.tsx
  app/assets/js/models/goals/goalAccessLifecycle.ts
  app/assets/js/models/goals/goalDetailsLifecycle.test.tsx
  app/assets/js/models/goals/goalDetailsLifecycle.ts
  app/assets/js/models/goals/goalItemLifecycle.test.tsx
  app/assets/js/models/goals/goalItemLifecycle.ts
  app/assets/js/models/goals/goalMutation.test.tsx
  app/assets/js/models/goals/goalMutation.ts
  app/assets/js/models/goals/goalPageQueries.test.ts
  app/assets/js/models/goals/goalPageQueries.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/goals/useGoalTargets.test.tsx
  app/assets/js/models/goals/useGoalTargets.ts
  app/assets/js/models/goals/useOptimisticGoalState.test.tsx
  app/assets/js/models/goals/useOptimisticGoalState.ts
  app/assets/js/models/projects/projectLifecycle.test.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/GoalAccessAddPage/index.tsx
  app/assets/js/pages/GoalAccessManagementPage/page.tsx
  app/assets/js/pages/GoalAddPage/index.test.tsx
  app/assets/js/pages/GoalAddPage/index.tsx
  app/assets/js/pages/GoalClosingPage/Form.test.tsx
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/GoalPage/index.test.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/GoalPage/loader.test.tsx
  app/assets/js/pages/GoalPage/loader.tsx
  app/assets/js/pages/GoalPage/useChecklists.test.tsx
  app/assets/js/pages/GoalPage/useChecklists.tsx
  app/assets/js/pages/GoalReopenPage/useForm.test.tsx
  app/assets/js/pages/GoalReopenPage/useForm.tsx
  app/lib/operately_web/api/goals/list_discussions.ex
  app/test/features/goal_creation_test.exs
  app/test/operately_web/api/goals/list_discussions_test.exs
  cli/src/generated/api-catalog.json
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
