Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

Add docstrings to Comments and Reactions endpoints
  app/lib/operately_web/api/comments/create.ex
  app/lib/operately_web/api/comments/delete.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/comments/update.ex
  app/lib/operately_web/api/reactions/create.ex
  app/lib/operately_web/api/reactions/delete.ex
Due: App Tests

Adjust index.js
  app/assets/js/api/index.tsx
  app/assets/js/contexts/CurrentCompanyContext.tsx
Due: App Tests

Adjust tests
  app/test/operately_web/api/external_mutations/mutations/people/update_picture.ex
  app/test/operately_web/api/external_queries/queries/companies/get_activity.ex
Due: App Tests

Add docstrings to Resource Hub endpoints
  app/lib/operately_web/api/resource_hubs/create.ex
  app/lib/operately_web/api/resource_hubs/get.ex
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/lib/operately_web/api/resource_hubs/update_parent_folder.ex
Due: App Tests

Add docstrings to Links endpoints
  app/lib/operately_web/api/links/create.ex
  app/lib/operately_web/api/links/delete.ex
  app/lib/operately_web/api/links/get.ex
  app/lib/operately_web/api/links/update.ex
Due: App Tests

Add docstrings to Files endpoints
  app/lib/operately_web/api/files/create.ex
  app/lib/operately_web/api/files/delete.ex
  app/lib/operately_web/api/files/get.ex
  app/lib/operately_web/api/files/update.ex
Due: App Tests

Add docstrings to Folders endpoints
  app/lib/operately_web/api/folders/copy.ex
  app/lib/operately_web/api/folders/create.ex
  app/lib/operately_web/api/folders/delete.ex
  app/lib/operately_web/api/folders/get.ex
  app/lib/operately_web/api/folders/rename.ex
Due: App Tests

Add docstrings to Documetns endpoints
  app/lib/operately_web/api/documents/create.ex
  app/lib/operately_web/api/documents/delete.ex
  app/lib/operately_web/api/documents/get.ex
  app/lib/operately_web/api/documents/publish.ex
  app/lib/operately_web/api/documents/update.ex
Due: App Tests

Adjust index
  app/assets/js/api/index.tsx
  app/assets/js/features/ResourceHub/components/CopyFolder.tsx
  app/assets/js/features/ResourceHub/components/FolderMenu.tsx
  app/lib/operately_web/api/types.ex
Due: App Tests

chore: Add docstrings to Resource hub endpoints (#4253)
  app/assets/js/api/index.tsx
  app/assets/js/features/ResourceHub/components/CopyFolder.tsx
  app/assets/js/features/ResourceHub/components/FolderMenu.tsx
  app/lib/operately_web/api/documents/create.ex
  app/lib/operately_web/api/documents/delete.ex
  app/lib/operately_web/api/documents/get.ex
  app/lib/operately_web/api/documents/publish.ex
  app/lib/operately_web/api/documents/update.ex
  app/lib/operately_web/api/files/create.ex
  app/lib/operately_web/api/files/delete.ex
  app/lib/operately_web/api/files/get.ex
  app/lib/operately_web/api/files/update.ex
  app/lib/operately_web/api/folders/copy.ex
  app/lib/operately_web/api/folders/create.ex
  app/lib/operately_web/api/folders/delete.ex
  app/lib/operately_web/api/folders/get.ex
  app/lib/operately_web/api/folders/rename.ex
  app/lib/operately_web/api/links/create.ex
  app/lib/operately_web/api/links/delete.ex
  app/lib/operately_web/api/links/get.ex
  app/lib/operately_web/api/links/update.ex
  app/lib/operately_web/api/resource_hubs/create.ex
  app/lib/operately_web/api/resource_hubs/get.ex
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/lib/operately_web/api/resource_hubs/update_parent_folder.ex
  app/lib/operately_web/api/types.ex
Due: App Tests

Adjust index
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/types.ex
Due: App Tests

ID decoder skips non-encoded IDs
  app/lib/operately_web/api/types/ids.ex
Due: App Tests

Add docstring to Notifications endpoints
  app/lib/operately_web/api/notifications/get_unread_count.ex
  app/lib/operately_web/api/notifications/is_subscribed.ex
  app/lib/operately_web/api/notifications/list.ex
  app/lib/operately_web/api/notifications/mark_all_as_read.ex
  app/lib/operately_web/api/notifications/mark_as_read.ex
  app/lib/operately_web/api/notifications/mark_many_as_read.ex
  app/lib/operately_web/api/notifications/subscribe.ex
  app/lib/operately_web/api/notifications/unsubscribe.ex
  app/lib/operately_web/api/notifications/update_subscriptions_list.ex
Due: App Tests

chore: Add docstrings to Notification endpoints (#4254)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/notifications/get_unread_count.ex
  app/lib/operately_web/api/notifications/is_subscribed.ex
  app/lib/operately_web/api/notifications/list.ex
  app/lib/operately_web/api/notifications/mark_all_as_read.ex
  app/lib/operately_web/api/notifications/mark_as_read.ex
  app/lib/operately_web/api/notifications/mark_many_as_read.ex
  app/lib/operately_web/api/notifications/subscribe.ex
  app/lib/operately_web/api/notifications/unsubscribe.ex
  app/lib/operately_web/api/notifications/update_subscriptions_list.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/api/types/ids.ex
Due: App Tests

chore: CLI --help flag displays command docstring
  app/assets/js/api/index.tsx
  app/lib/operately/api_docs/catalog.ex
  app/lib/operately/api_docs/generator.ex
  app/lib/operately_web/api/companies/delete_member.ex
  app/lib/operately_web/api/goals/reopen.ex
  cli/src/commands/help.ts
  cli/src/generated/api-catalog.json
  cli/src/test/fixture-catalog.ts
  cli/src/types/catalog.ts
Due: App Tests

chore: CLI --help flag displays command docstring (#4255)
  app/assets/js/api/index.tsx
  app/lib/operately/api_docs/catalog.ex
  app/lib/operately/api_docs/generator.ex
  app/lib/operately_web/api/companies/delete_member.ex
  app/lib/operately_web/api/goals/reopen.ex
  cli/src/commands/help.ts
  cli/src/generated/api-catalog.json
  cli/src/test/fixture-catalog.ts
  cli/src/types/catalog.ts
Due: App Tests

Update CLI
  cli/package-lock.json
  cli/package.json
  cli/src/commands/executor.ts
Due: none

Add README to CLI
  cli/README.md
Due: none

Update version
  cli/README.md
  cli/package.json
Due: none

chore: Update CLI version (#4256)
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/commands/executor.ts
Due: none

chore: Remove API-tokens feature flag
  app/assets/js/layouts/CompanyLayout/User.tsx
  app/assets/js/pages/AccountApiTokensPage/index.tsx
  app/assets/js/pages/AccountApiTokensUsagePage/index.tsx
  app/assets/js/pages/AccountSecurityPage/index.tsx
  app/test/support/features/account_settings_steps.ex
  app/test/support/features/api_tokens_steps.ex
Due: App Tests

chore: Remove API-tokens feature flag (#4257)
  app/assets/js/layouts/CompanyLayout/User.tsx
  app/assets/js/pages/AccountApiTokensPage/index.tsx
  app/assets/js/pages/AccountApiTokensUsagePage/index.tsx
  app/assets/js/pages/AccountSecurityPage/index.tsx
  app/test/support/features/account_settings_steps.ex
  app/test/support/features/api_tokens_steps.ex
Due: App Tests

fix: Restore milestone input focus on create-more submit
  turboui/src/ProjectPage/Overview.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

fix: Restore milestone input focus on create-more submit (#4258)
  turboui/src/ProjectPage/Overview.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

feat: show comment notification recipients on task and milestone pages
  app/assets/js/models/subscriptions/useSubscription.tsx
  turboui/src/CommentSection/CommentInput.tsx
  turboui/src/CommentSection/types.ts
  turboui/src/MilestonePage/index.tsx
  turboui/src/SidebarSection/index.tsx
  turboui/src/TaskPage/Overview.tsx
  turboui/src/Timeline/Timeline.tsx
  turboui/src/Timeline/types.ts
  turboui/src/utils/storybook/subscriptions.ts
Due: Turboui, App Tests

feat: show comment notification recipients on task and milestone pages (#4259)
  app/assets/js/models/subscriptions/useSubscription.tsx
  turboui/src/CommentSection/CommentInput.tsx
  turboui/src/CommentSection/types.ts
  turboui/src/MilestonePage/index.tsx
  turboui/src/SidebarSection/index.tsx
  turboui/src/TaskPage/Overview.tsx
  turboui/src/Timeline/Timeline.tsx
  turboui/src/Timeline/types.ts
  turboui/src/utils/storybook/subscriptions.ts
Due: Turboui, App Tests

fix: clarify comment notification recipients
  turboui/src/CommentSection/CommentInput.tsx
  turboui/src/CommentSection/types.ts
  turboui/src/MilestonePage/index.tsx
  turboui/src/TaskPage/Overview.tsx
Due: Turboui, App Tests

fix: harden comment recipient summary edge cases
  turboui/src/CommentSection/CommentInput.tsx
Due: Turboui, App Tests

fix: clarify comment notification recipients (#4260)
  turboui/src/CommentSection/CommentInput.tsx
  turboui/src/CommentSection/types.ts
  turboui/src/MilestonePage/index.tsx
  turboui/src/TaskPage/Overview.tsx
Due: Turboui, App Tests

chore: Adjust all required and optional fields in API
  app/lib/operately_web/api/goals.ex
  app/lib/operately_web/api/goals/create.ex
  app/lib/operately_web/api/projects/create.ex
  app/lib/operately_web/api/projects/search_potential_contributors.ex
  app/lib/operately_web/api/tasks.ex
  app/test/operately_web/api/goals_test.exs
  app/test/operately_web/api/projects/search_potential_contributors_test.exs
  app/test/operately_web/api/tasks_test.exs
Due: App Tests

Run make gen
  app/assets/js/api/index.tsx
  cli/package-lock.json
  cli/src/generated/api-catalog.json
Due: App Tests

chore: Adjust all required and optional fields in API (#4261)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/goals.ex
  app/lib/operately_web/api/goals/create.ex
  app/lib/operately_web/api/projects/create.ex
  app/lib/operately_web/api/projects/search_potential_contributors.ex
  app/lib/operately_web/api/tasks.ex
  app/test/operately_web/api/goals_test.exs
  app/test/operately_web/api/projects/search_potential_contributors_test.exs
  app/test/operately_web/api/tasks_test.exs
  cli/package-lock.json
  cli/src/generated/api-catalog.json
Due: App Tests

Fix links in README file
  cli/README.md
Due: none

Improve auth commands message
  cli/src/commands/executor.ts
  cli/src/core/output.ts
Due: none

chore: Make CLI auth commands user friendly
  cli/src/commands/auth.ts
  cli/src/commands/executor.ts
  cli/src/commands/help.ts
  cli/src/core/parser.ts
  cli/src/index.ts
Due: none

chore: Make CLI auth commands user friendly (#4262)
  cli/README.md
  cli/src/commands/auth.ts
  cli/src/commands/executor.ts
  cli/src/commands/help.ts
  cli/src/core/output.ts
  cli/src/core/parser.ts
  cli/src/index.ts
Due: none

chore: Running namespace without a command shows the help message
  cli/src/core/command-routing.ts
  cli/src/core/flags.ts
  cli/src/core/input-coercion.ts
  cli/src/core/parser-types.ts
  cli/src/core/parser.ts
Due: none

Adjustments
  cli/src/core/flags.ts
  cli/src/core/input-coercion.ts
Due: none

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
