Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Remove Docker build from the CI pipeline (#5182)
  .semaphore/semaphore.yml
  Makefile
Due: none

Fix lint
  app/assets/js/pages/ProjectTemplateDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateEditDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateEditFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateEditLinkPage/index.tsx
  app/assets/js/pages/ProjectTemplateFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateLinkPage/index.tsx
  app/assets/js/pages/ProjectTemplateNewDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateNewLinkPage/index.tsx
Due: App Tests

fix: Load product release without blocking company pages
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/productReleases/useProductRelease.tsx
  app/assets/js/routes/companyLoader.tsx
  app/test/support/features/product_release_announcements_steps.ex
Due: App Tests

feat: tweak new version notice
  turboui/src/CompanyNavigation/UpdateBadge.tsx
  turboui/src/CompanyNavigation/index.test.tsx
Due: Turboui, App Tests

Fix
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/productReleases/useProductRelease.tsx
Due: App Tests

fix: Load product release without blocking company pages (#5183)
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/productReleases/useProductRelease.tsx
  app/assets/js/routes/companyLoader.tsx
  app/test/support/features/product_release_announcements_steps.ex
Due: App Tests

chore: Remove product_release_announcements experimental flag
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/routes/companyLoader.tsx
  app/lib/operately/product_releases.ex
  app/lib/operately_web/api/product_releases/dismiss.ex
  app/lib/operately_web/api/product_releases/get_latest.ex
  app/test/features/product_release_announcements_test.exs
  app/test/operately/product_releases_test.exs
  app/test/operately_web/api/product_releases/dismiss_test.exs
  app/test/operately_web/api/product_releases/get_latest_test.exs
  app/test/support/features/product_release_announcements_steps.ex
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/LobbyPage/mockData.ts
Due: Turboui, App Tests

chore: Restore single-arch Docker builds on main CI
  .semaphore/semaphore.yml
  Makefile
Due: none

chore: Restore single-arch Docker builds on main CI (#5185)
  .semaphore/semaphore.yml
  Makefile
Due: none

chore: Remove product_release_announcements experimental flag (#5180)
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/routes/companyLoader.tsx
  app/lib/operately/product_releases.ex
  app/lib/operately_web/api/product_releases/dismiss.ex
  app/lib/operately_web/api/product_releases/get_latest.ex
  app/test/features/product_release_announcements_test.exs
  app/test/operately/product_releases_test.exs
  app/test/operately_web/api/product_releases/dismiss_test.exs
  app/test/operately_web/api/product_releases/get_latest_test.exs
  app/test/support/features/product_release_announcements_steps.ex
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/LobbyPage/mockData.ts
Due: Turboui, App Tests

Adjust test
  app/test/operately_web/api/project_templates/archive_test.exs
Due: App Tests

Fix lint
  app/lib/operately_web/api/project_templates/shared_steps.ex
Due: App Tests

fix: Add canonical page URLs to serialized API resources
  app/assets/js/api/index.tsx
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/lib/operately_web/api/companies/quick_search.ex
  app/lib/operately_web/api/companies/search.ex
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/lib/operately_web/api/resource_hubs/search.ex
  app/lib/operately_web/api/serializer.ex
  app/lib/operately_web/api/serializers/page_urls.ex
  app/lib/operately_web/api/serializers/pageable.ex
  app/lib/operately_web/api/serializers/search_result.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately_web/api/companies/quick_search_test.exs
  app/test/operately_web/api/companies/search_test.exs
  app/test/operately_web/api/serializers/page_urls_test.exs
  app/test/operately_web/api/serializers/pageable_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/list_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/search_test.exs
  app/test/operately_web/mcp/tools/search_full_text_test.exs
  app/test/operately_web/mcp/tools/search_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: stabilize scheduled check-in feature test
  app/test/support/features/project_check_ins_steps.ex
  app/test/support/features/ui/date_field.ex
Due: App Tests

fix: stabilize scheduled check-in feature test (#5188)
  app/test/support/features/project_check_ins_steps.ex
  app/test/support/features/ui/date_field.ex
Due: App Tests

feat: tweak new version notice (#5184)
  turboui/src/CompanyNavigation/UpdateBadge.tsx
  turboui/src/CompanyNavigation/index.test.tsx
Due: Turboui, App Tests

fix: Add canonical page URLs to serialized API resources (#5186)
  app/assets/js/api/index.tsx
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/lib/operately_web/api/companies/quick_search.ex
  app/lib/operately_web/api/companies/search.ex
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/lib/operately_web/api/resource_hubs/search.ex
  app/lib/operately_web/api/serializer.ex
  app/lib/operately_web/api/serializers/page_urls.ex
  app/lib/operately_web/api/serializers/pageable.ex
  app/lib/operately_web/api/serializers/search_result.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately_web/api/companies/quick_search_test.exs
  app/test/operately_web/api/companies/search_test.exs
  app/test/operately_web/api/serializers/page_urls_test.exs
  app/test/operately_web/api/serializers/pageable_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/list_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/search_test.exs
  app/test/operately_web/mcp/tools/search_full_text_test.exs
  app/test/operately_web/mcp/tools/search_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: Seed 1–2 project templates per demo space
  app/lib/operately/demo.ex
  app/lib/operately/demo/data.ex
  app/lib/operately/demo/project_templates.ex
  app/test/operately/demo_test.exs
Due: App Tests

Handle templates in company deletion
  app/lib/operately/operations/company_deleting.ex
  app/test/operately/operations/company_deleting_test.exs
Due: App Tests

chore: Seed project templates in Demo company (#5189)
  app/lib/operately/demo.ex
  app/lib/operately/demo/data.ex
  app/lib/operately/demo/project_templates.ex
  app/lib/operately/operations/company_deleting.ex
  app/test/operately/demo_test.exs
  app/test/operately/operations/company_deleting_test.exs
Due: App Tests

chore: Configure Dependabot for Mix and npm
  .github/dependabot.yml
Due: none

fix: Load project tasks without blocking on the full page payload
  app/assets/js/api/index.tsx
  app/assets/js/features/CommentSection/index.tsx
  app/assets/js/models/people/usePersonFieldSearch.tsx
  app/assets/js/models/projects/useProjectContributorActions.tsx
  app/assets/js/models/tasks/index.test.tsx
  app/assets/js/models/tasks/index.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/models/tasks/useTaskAssigneeSearch.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/ProjectPage/useProjectTabData.tsx
  app/assets/js/pages/ProjectPausePage/Form.tsx
  app/assets/js/pages/ProjectResumePage/Form.tsx
  app/assets/js/pages/ProjectTemplateDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateEditDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateEditFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateEditLinkPage/index.tsx
  app/assets/js/pages/ProjectTemplateFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateLinkPage/index.tsx
  app/assets/js/pages/ProjectTemplateNewDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateNewLinkPage/index.tsx
  app/assets/js/pages/TaskPage/index.tsx
  app/assets/js/routes/PageCache.test.tsx
  app/assets/js/routes/PageCache.tsx
  app/lib/operately/tasks/task.ex
  app/lib/operately_web/api/serializers/task.ex
  app/lib/operately_web/api/tasks.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/mcp/tools/tasks/list.ex
  app/test/operately_web/api/tasks_test.exs
  app/test/operately_web/mcp/tools/tasks/list_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/TaskPage/index.tsx
  turboui/src/TaskPage/types.ts
Due: Turboui, App Tests

Adjustments
  app/assets/js/models/projects/useTaskStatuses.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/ProjectPage/useProjectTabData.tsx
  app/assets/js/pages/TaskPage/index.tsx
  app/assets/js/routes/PageCache.test.tsx
  app/assets/js/routes/PageCache.tsx
  app/test/operately_web/api/tasks_test.exs
  app/test/support/features/project_tasks_steps.ex
  turboui/src/PageDescription/index.tsx
  turboui/src/SwitchToggle/index.tsx
Due: Turboui, App Tests

chore: Add TanStack Query API code generation
  app/assets/js/api/index.tsx
  app/assets/js/api/queryClient.test.ts
  app/assets/js/api/queryClient.ts
  app/assets/js/app.tsx
  app/assets/js/routes/auth.test.ts
  app/assets/js/routes/auth.tsx
  app/ee/assets/js/admin_api/index.tsx
  app/lib/turbo_connect/ts_gen.ex
  app/lib/turbo_connect/ts_gen/mutations.ex
  app/lib/turbo_connect/ts_gen/queries.ex
  app/package-lock.json
  app/package.json
  app/test/turbo_connect/ts_gen_test.exs
Due: App Tests

Update project close, resume and pause pages
  app/assets/js/features/ProjectRetrospective/Form.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/projectLifecycle.test.ts
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/ProjectClosePage/loader.tsx
  app/assets/js/pages/ProjectPausePage/Form.tsx
  app/assets/js/pages/ProjectPausePage/loader.tsx
  app/assets/js/pages/ProjectResumePage/Form.tsx
  app/assets/js/pages/ProjectResumePage/loader.tsx
  app/test/features/project_retrospective_test.exs
  app/test/support/features/project_retrospective_steps.ex
Due: App Tests

Add opt-in generated Tanstack query
  app/assets/js/api/index.tsx
  app/assets/js/api/queryClient.test.ts
  app/assets/js/pages/ProjectClosePage/loader.tsx
  app/assets/js/pages/ProjectPausePage/loader.tsx
  app/assets/js/pages/ProjectResumePage/loader.tsx
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/admin_api/queryClient.ts
  app/lib/turbo_connect/ts_gen.ex
  app/lib/turbo_connect/ts_gen/queries.ex
  app/test/turbo_connect/ts_gen_test.exs
Due: App Tests

chore: Configure Dependabot for Mix and npm (#5190)
  .github/dependabot.yml
Due: none

fix: Stabilize document move, guest invite, and kanban board tests
  app/assets/js/models/projectTemplates/optimisticUpdates.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.test.ts
  app/test/features/resource_hub_document/movement_test.exs
  app/test/support/features/invite_member_steps.ex
  app/test/support/features/project_tasks_steps.ex
  app/test/support/features/project_templates_steps.ex
  turboui/src/CompanyAdminAddPeoplePage/components/ResourceAccessContent.tsx
Due: Turboui, App Tests

fix: Stabilize document move, guest invite, and kanban board tests (#5204)
  app/assets/js/models/projectTemplates/optimisticUpdates.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.test.ts
  app/test/features/resource_hub_document/movement_test.exs
  app/test/support/features/invite_member_steps.ex
  app/test/support/features/project_tasks_steps.ex
  app/test/support/features/project_templates_steps.ex
  turboui/src/CompanyAdminAddPeoplePage/components/ResourceAccessContent.tsx
Due: Turboui, App Tests

chore: Add TanStack and migrate project lifecycle pages (#5193)
  app/assets/js/api/index.tsx
  app/assets/js/api/queryClient.test.ts
  app/assets/js/api/queryClient.ts
  app/assets/js/app.tsx
  app/assets/js/features/ProjectRetrospective/Form.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/projectLifecycle.test.ts
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/ProjectClosePage/loader.tsx
  app/assets/js/pages/ProjectPausePage/Form.tsx
  app/assets/js/pages/ProjectPausePage/loader.tsx
  app/assets/js/pages/ProjectResumePage/Form.tsx
  app/assets/js/pages/ProjectResumePage/loader.tsx
  app/assets/js/routes/auth.test.ts
  app/assets/js/routes/auth.tsx
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/admin_api/queryClient.ts
  app/lib/turbo_connect/ts_gen.ex
  app/lib/turbo_connect/ts_gen/mutations.ex
  app/lib/turbo_connect/ts_gen/queries.ex
  app/package-lock.json
  app/package.json
  app/test/features/project_retrospective_test.exs
  app/test/support/features/project_retrospective_steps.ex
  app/test/turbo_connect/ts_gen_test.exs
Due: App Tests

chore: Migrate project retrospective and check-in pages to TanStack
  app/assets/js/models/projectCheckIns/index.tsx
  app/assets/js/models/projectCheckIns/projectCheckInLifecycle.test.ts
  app/assets/js/models/projectCheckIns/projectCheckInLifecycle.ts
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/ProjectCheckInEditPage/loader.tsx
  app/assets/js/pages/ProjectCheckInEditPage/page.tsx
  app/assets/js/pages/ProjectCheckInNewPage/loader.test.tsx
  app/assets/js/pages/ProjectCheckInNewPage/loader.tsx
  app/assets/js/pages/ProjectCheckInNewPage/page.tsx
  app/assets/js/pages/ProjectCheckInPage/AckCTA.tsx
  app/assets/js/pages/ProjectCheckInPage/loader.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectRetrospectiveEditPage/loader.tsx
  app/assets/js/pages/ProjectRetrospectivePage/AckCTA.tsx
  app/assets/js/pages/ProjectRetrospectivePage/loader.tsx
Due: App Tests

Fix lint
  app/assets/js/models/projectCheckIns/index.tsx
  app/assets/js/models/projects/index.tsx
Due: App Tests

chore: Migrate project retrospective and check-in pages to TanStack (#5205)
  app/assets/js/models/projectCheckIns/index.tsx
  app/assets/js/models/projectCheckIns/projectCheckInLifecycle.test.ts
  app/assets/js/models/projectCheckIns/projectCheckInLifecycle.ts
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/ProjectCheckInEditPage/loader.tsx
  app/assets/js/pages/ProjectCheckInEditPage/page.tsx
  app/assets/js/pages/ProjectCheckInNewPage/loader.test.tsx
  app/assets/js/pages/ProjectCheckInNewPage/loader.tsx
  app/assets/js/pages/ProjectCheckInNewPage/page.tsx
  app/assets/js/pages/ProjectCheckInPage/AckCTA.tsx
  app/assets/js/pages/ProjectCheckInPage/loader.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectRetrospectiveEditPage/loader.tsx
  app/assets/js/pages/ProjectRetrospectivePage/AckCTA.tsx
  app/assets/js/pages/ProjectRetrospectivePage/loader.tsx
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
