Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

Adjust tests
  app/test/support/features/projects_steps.ex
Due: App Tests

Adjust tests
  app/test/support/features/goal_creation_steps.ex
Due: App Tests

chore: Backfill acknowledgement for existing retrospectives (#4820)
  app/lib/operately/data/change_104_acknowledge_existing_retrospectives.ex
  app/priv/repo/migrations/20260710223000_acknowledge_existing_retrospectives.exs
  app/test/operately/data/change_104_acknowledge_existing_retrospectives_test.exs
  app/test/support/features/goal_creation_steps.ex
  app/test/support/features/projects_steps.ex
Due: App Tests

fix: Preserve check-in state when scheduling fields are omitted
  app/assets/js/api/index.tsx
  app/lib/operately/operations/discussion_editing.ex
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/operations/project_check_in_edit.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: Unblock lint and Dialyzer for scheduled check-in state
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/operations/project_check_in_edit.ex
  turboui/src/CheckInCard/index.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

fix: Prevent comment list flicker when posting comments
  app/assets/js/features/CommentSection/CommentSection.tsx
  app/assets/js/features/CommentSection/useComments.tsx
  app/assets/js/features/CommentSection/useForGoalCheckIn.tsx
  app/assets/js/features/CommentSection/useForGoalRetrospective.tsx
  app/assets/js/features/CommentSection/useForProjectCheckIn.tsx
  app/assets/js/features/CommentSection/useForProjectRetrospective.tsx
  app/assets/js/features/CommentSection/utils/useCreateComment.tsx
  app/assets/js/models/comments/index.test.ts
  app/assets/js/models/comments/index.tsx
  turboui/src/CommentSection/CommentInput.tsx
Due: Turboui, App Tests

fix: Stop exporting unused splitComments helper
  app/assets/js/models/comments/index.tsx
Due: App Tests

chore: Check-in and Message endpoints handle scheduling (#4819)
  app/assets/js/api/index.tsx
  app/lib/operately/operations/discussion_editing.ex
  app/lib/operately/operations/discussion_posting.ex
  app/lib/operately/operations/goal_check_in.ex
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/operations/project_check_in.ex
  app/lib/operately/operations/project_check_in_edit.ex
  app/lib/operately_web/api/goals/create_check_in.ex
  app/lib/operately_web/api/goals/update_check_in.ex
  app/lib/operately_web/api/projects/create_check_in.ex
  app/lib/operately_web/api/projects/update_check_in.ex
  app/lib/operately_web/api/spaces/create_discussion.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/lib/operately_web/api/types.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/CheckInCard/index.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

Update phoenix
  app/mix.exs
  app/mix.lock
  app/package-lock.json
  app/package.json
Due: App Tests

Update other libraries
  app/mix.exs
  app/mix.lock
Due: App Tests

Fix license check
  Gemfile.lock
  scripts/license_finder.yml
Due: none

Fix tests
  app/ee/test/operately_ee/admin_api/queries/get_active_companies_test.exs
  app/lib/operately/blobs/s3_http.ex
  app/test/operately/blobs/s3_http_test.exs
  app/test/operately_web/api/goal_checks_test.exs
  app/test/operately_web/api/goals_test.exs
Due: App Tests

Adjust tests
  app/test/features/invite_member_test.exs
  app/test/support/features/ui/emails.ex
Due: App Tests

Stabilize tests
  app/test/support/features/goal_creation_steps.ex
Due: App Tests

chore: Update Elixir libraries (#4823)
  Gemfile.lock
  app/ee/test/operately_ee/admin_api/queries/get_active_companies_test.exs
  app/lib/operately/blobs/s3_http.ex
  app/mix.exs
  app/mix.lock
  app/package-lock.json
  app/package.json
  app/test/features/invite_member_test.exs
  app/test/operately/blobs/s3_http_test.exs
  app/test/operately_web/api/goal_checks_test.exs
  app/test/operately_web/api/goals_test.exs
  app/test/support/features/goal_creation_steps.ex
  app/test/support/features/ui/emails.ex
  scripts/license_finder.yml
Due: App Tests

Stabilize tests
  app/test/support/features/subscriptions_steps.ex
Due: App Tests

fix: Prevent comment list flicker when posting comments (#4822)
  app/assets/js/features/CommentSection/CommentSection.tsx
  app/assets/js/features/CommentSection/useComments.tsx
  app/assets/js/features/CommentSection/useForGoalCheckIn.tsx
  app/assets/js/features/CommentSection/useForGoalRetrospective.tsx
  app/assets/js/features/CommentSection/useForProjectCheckIn.tsx
  app/assets/js/features/CommentSection/useForProjectRetrospective.tsx
  app/assets/js/features/CommentSection/utils/useCreateComment.tsx
  app/assets/js/models/comments/index.test.ts
  app/assets/js/models/comments/index.tsx
  app/test/support/features/subscriptions_steps.ex
  turboui/src/CommentSection/CommentInput.tsx
Due: Turboui, App Tests

chore: Register Phoenix.CodeReloader Mix listener
  app/mix.exs
Due: App Tests

chore: Register Phoenix.CodeReloader Mix listener (#4824)
  app/mix.exs
Due: App Tests

chore: Add OptionsButton and ScheduleModal to TurboUI
  turboui/src/Button/Button.stories.tsx
  turboui/src/Button/OptionsButton.tsx
  turboui/src/Button/index.tsx
  turboui/src/Menu/index.tsx
  turboui/src/Modal/index.tsx
  turboui/src/ScheduleModal/ScheduleNotice.tsx
  turboui/src/ScheduleModal/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix tests
  app/test/operately_web/api/goals/get_test.exs
  app/test/operately_web/api/projects/get_contributor_test.exs
  app/test/operately_web/api/projects/get_test.exs
  app/test/operately_web/api/projects/milestones_test.exs
  app/test/operately_web/api/projects_test.exs
  app/test/operately_web/api/spaces/get_test.exs
  app/test/operately_web/api/tasks_test.exs
  app/test/support/turbo_case.ex
Due: App Tests

Register activity objects with for: for module-derived __typename
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/serializers/activity.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/type_names_test.exs
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: Make generated API __typename required
  app/assets/js/api/index.tsx
  app/assets/js/features/CommentSection/utils/useCreateComment.tsx
  app/assets/js/features/Permissions/AccessFields.tsx
  app/assets/js/models/activities/index.test.tsx
  app/assets/js/models/comments/useOptimisticComments.tsx
  app/assets/js/models/contextualDates/index.tsx
  app/assets/js/models/goals/__tests__/index.test.tsx
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/tasks/index.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/models/tasks/useSpaceTasksForTurboUi.tsx
  app/assets/js/models/workMap/index.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/MilestonePage/useComments.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
  app/assets/js/pages/SpaceEditGeneralAccessPage/index.tsx
  app/assets/js/pages/TaskPage/index.tsx
  app/assets/js/utils/timeframes.test.tsx
  app/lib/turbo_connect/ts_gen/typescript.ex
  app/test/turbo_connect/ts_gen_test.exs
  turboui/src/ApiTypes/index.ts
  turboui/src/ResourceHubPage/mockData.tsx
Due: Turboui, App Tests

chore: Add OptionsButton and ScheduleModal to TurboUI (#4826)
  turboui/src/Button/Button.stories.tsx
  turboui/src/Button/OptionsButton.tsx
  turboui/src/Button/index.tsx
  turboui/src/Menu/index.tsx
  turboui/src/Modal/index.tsx
  turboui/src/ScheduleModal/ScheduleNotice.tsx
  turboui/src/ScheduleModal/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: add scheduled posting for discussions and check-ins
  app/assets/js/components/ScheduleFlowControls.tsx
  app/assets/js/features/DiscussionForm/useForm.tsx
  app/assets/js/features/documents/DocumentTitle.tsx
  app/assets/js/features/drafts/OngoingDraftActions.tsx
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/hooks/useScheduleFlow.ts
  app/assets/js/pages/DiscussionDraftsPage/index.tsx
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/DiscussionNewPage/index.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/GoalCheckInPage/Form.tsx
  app/assets/js/pages/GoalCheckInPage/Header.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/GoalCheckInPage/page.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/lib/operately/drafts.ex
  app/lib/operately/operations/discussion_editing.ex
  app/lib/operately/operations/discussion_publishing.ex
  app/lib/operately_web/api/helpers.ex
  app/lib/operately_web/api/projects/list_check_ins.ex
  app/lib/operately_web/api/queries/list_goal_check_ins.ex
  app/lib/operately_web/api/serializers/goal_update.ex
  app/lib/operately_web/api/serializers/message.ex
  app/lib/operately_web/api/serializers/project_check_in.ex
  app/lib/operately_web/api/spaces/get_discussion.ex
  app/lib/operately_web/api/spaces/list_discussions.ex
  app/lib/operately_web/api/spaces/list_tools.ex
  app/lib/operately_web/api/spaces/publish_discussion.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/test/operately/drafts_test.exs
  app/test/operately_web/api/projects/create_check_in_test.exs
  app/test/operately_web/api/projects/get_check_in_test.exs
  app/test/operately_web/api/projects/list_check_ins_test.exs
  app/test/operately_web/api/spaces/list_discussions_test.exs
  turboui/src/CheckInCard/index.tsx
  turboui/src/DiscussionCard/index.tsx
  turboui/src/utils/drafts.ts
Due: Turboui, App Tests

fix: resolve TypeScript narrowing in schedule payloads
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
Due: App Tests

refactor: move schedule UI into turboui SchedulePosting
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/hooks/useScheduleFlow.ts
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/DiscussionNewPage/index.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  turboui/src/SchedulePosting/ScheduleFlowControls.tsx
  turboui/src/SchedulePosting/ScheduleModal.tsx
  turboui/src/SchedulePosting/ScheduleNotice.tsx
  turboui/src/SchedulePosting/index.stories.tsx
  turboui/src/SchedulePosting/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: resolve lint and dialyzer failures for scheduled posting
  app/assets/js/features/DiscussionForm/useForm.tsx
  app/assets/js/hooks/useScheduleFlow.ts
  app/lib/operately/operations/discussion_editing.ex
Due: App Tests

chore: Update npm packages
  app/package-lock.json
  turboui/package-lock.json
  turboui/package.json
Due: Turboui, App Tests

chore: remove Alfred/AI frontend and TurboUI components
  app/assets/js/features/AiSidebar/availability.test.ts
  app/assets/js/features/AiSidebar/availability.ts
  app/assets/js/features/AiSidebar/context.tsx
  app/assets/js/features/AiSidebar/index.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/pages/AgentPage/index.tsx
  app/assets/js/pages/AgentPage/state.tsx
  app/assets/js/pages/AiPlaygroundPage/index.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyManageAiAgentsPage/index.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  app/assets/js/signals/index.tsx
  app/assets/js/window.d.ts
  turboui/src/Conversations/Conversations.stories.tsx
  turboui/src/Conversations/ConversationsExample.tsx
  turboui/src/Conversations/README.md
  turboui/src/Conversations/index.tsx
  turboui/src/Conversations/useConversations.ts
  turboui/src/FloatingActionButton/FloatingActionButton.stories.tsx
  turboui/src/FloatingActionButton/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: add AI people cleanup migration and strip Alfred from install
  app/lib/operately/data/change_105_delete_ai_people_and_agent_tables.ex
  app/priv/repo/migrations/20260714130000_delete_ai_people_and_drop_agent_tables.exs
  app/rel/single-host/templates/install.sh.eex
  app/test/operately/data/change_105_delete_ai_people_and_agent_tables_test.exs
Due: App Tests

chore: regenerate API after Alfred removal and fix migration queries
  app/assets/js/api/index.tsx
  app/assets/js/pages/index.tsx
  app/lib/operately/data/change_105_delete_ai_people_and_agent_tables.ex
  app/mix.lock
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Improve scheduled discussion workflow
  app/assets/js/features/DiscussionForm/useForm.tsx
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
  app/lib/operately_web/api/spaces/list_discussions.ex
  app/test/features/discussions/drafts_test.exs
  app/test/operately_web/api/spaces/list_discussions_test.exs
  app/test/support/features/discussions_steps.ex
  turboui/src/Button/OptionsButton.tsx
  turboui/src/SchedulePosting/ScheduleFlowControls.tsx
  turboui/src/SchedulePosting/ScheduledPostDate.tsx
  turboui/src/SchedulePosting/ScheduledPostLabel.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleFlowControls.test.tsx
  turboui/src/SchedulePosting/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Test idenpotancy
  app/test/operately/operations/scheduled_posting_idempotency_test.exs
Due: App Tests

Adjustments
  app/assets/js/features/documents/DocumentTitle.tsx
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
