Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

fix: preserve translation extraction and plural forms
  app/lib/operately/i18n/catalog.ex
  app/lib/operately/i18n/converter.ex
  app/lib/operately/i18n/elixir_extractor.ex
  app/lib/operately/i18n/frontend_extractor.ex
  app/lib/operately/i18n/locale.ex
  app/priv/i18n/extract_frontend.cjs
  app/test/operately/i18n/catalog_test.exs
  app/test/operately/i18n/converter_test.exs
  app/test/operately/i18n/elixir_extractor_test.exs
  app/test/operately/i18n/frontend_extractor_test.exs
  app/test/operately/i18n/po_test.exs
  docs/internationalization.md
Due: App Tests

fix: map Russian fractional plurals to i18next other
  app/lib/operately/i18n/locale.ex
  app/test/operately/i18n/converter_test.exs
Due: App Tests

chore: Migrate account and company pages to tanstack
  app/assets/js/models/accounts/accountAccessLifecycle.test.tsx
  app/assets/js/models/accounts/accountAccessLifecycle.ts
  app/assets/js/models/accounts/index.tsx
  app/assets/js/models/companies/companyLifecycle.test.tsx
  app/assets/js/models/companies/companyLifecycle.ts
  app/assets/js/models/companies/index.tsx
  app/assets/js/models/companyExports/index.tsx
  app/assets/js/models/companyExports/transferLifecycle.test.tsx
  app/assets/js/models/companyExports/transferLifecycle.ts
  app/assets/js/models/companyExports/transferQueries.test.tsx
  app/assets/js/models/companyExports/transferQueries.ts
  app/assets/js/pages/AccountApiTokensPage/index.tsx
  app/assets/js/pages/AccountApiTokensPage/loader.test.tsx
  app/assets/js/pages/AccountApiTokensPage/loader.tsx
  app/assets/js/pages/AccountMcpConnectionsPage/index.tsx
  app/assets/js/pages/AccountMcpConnectionsPage/loader.test.tsx
  app/assets/js/pages/AccountMcpConnectionsPage/loader.tsx
  app/assets/js/pages/CompanyExportPage/index.test.tsx
  app/assets/js/pages/CompanyExportPage/index.tsx
  app/assets/js/pages/CompanyExportPage/loader.test.tsx
  app/assets/js/pages/CompanyExportPage/loader.tsx
  app/assets/js/pages/CompanyImportPage/index.test.tsx
  app/assets/js/pages/CompanyImportPage/index.tsx
  app/assets/js/pages/CompanyImportPage/loader.test.tsx
  app/assets/js/pages/CompanyImportPage/loader.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/pages/LobbyPage/loader.test.tsx
  app/assets/js/pages/LobbyPage/loader.tsx
  app/assets/js/pages/NewCompanyPage/billingIntent.ts
  app/assets/js/pages/NewCompanyPage/index.tsx
  app/assets/js/pages/NewCompanyPage/loader.test.tsx
  app/assets/js/pages/NewCompanyPage/loader.tsx
Due: App Tests

Fix
  app/assets/js/pages/LobbyPage/loader.test.tsx
  app/assets/js/pages/LobbyPage/loader.tsx
Due: App Tests

fix: keep space resource hub search above file upload form
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHubPage/SharedListPage.tsx
  turboui/src/ResourceHubPage/index.test.tsx
Due: Turboui, App Tests

chore: Migrate account and company pages to tanstack (#5308)
  app/assets/js/models/accounts/accountAccessLifecycle.test.tsx
  app/assets/js/models/accounts/accountAccessLifecycle.ts
  app/assets/js/models/accounts/index.tsx
  app/assets/js/models/companies/companyLifecycle.test.tsx
  app/assets/js/models/companies/companyLifecycle.ts
  app/assets/js/models/companies/index.tsx
  app/assets/js/models/companyExports/index.tsx
  app/assets/js/models/companyExports/transferLifecycle.test.tsx
  app/assets/js/models/companyExports/transferLifecycle.ts
  app/assets/js/models/companyExports/transferQueries.test.tsx
  app/assets/js/models/companyExports/transferQueries.ts
  app/assets/js/pages/AccountApiTokensPage/index.tsx
  app/assets/js/pages/AccountApiTokensPage/loader.test.tsx
  app/assets/js/pages/AccountApiTokensPage/loader.tsx
  app/assets/js/pages/AccountMcpConnectionsPage/index.tsx
  app/assets/js/pages/AccountMcpConnectionsPage/loader.test.tsx
  app/assets/js/pages/AccountMcpConnectionsPage/loader.tsx
  app/assets/js/pages/CompanyExportPage/index.test.tsx
  app/assets/js/pages/CompanyExportPage/index.tsx
  app/assets/js/pages/CompanyExportPage/loader.test.tsx
  app/assets/js/pages/CompanyExportPage/loader.tsx
  app/assets/js/pages/CompanyImportPage/index.test.tsx
  app/assets/js/pages/CompanyImportPage/index.tsx
  app/assets/js/pages/CompanyImportPage/loader.test.tsx
  app/assets/js/pages/CompanyImportPage/loader.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/pages/LobbyPage/loader.test.tsx
  app/assets/js/pages/LobbyPage/loader.tsx
  app/assets/js/pages/NewCompanyPage/billingIntent.ts
  app/assets/js/pages/NewCompanyPage/index.tsx
  app/assets/js/pages/NewCompanyPage/loader.test.tsx
  app/assets/js/pages/NewCompanyPage/loader.tsx
Due: App Tests

chore: Migrate billing pages to tanstack
  app/assets/js/models/billing/billingLifecycle.test.tsx
  app/assets/js/models/billing/billingLifecycle.ts
  app/assets/js/models/billing/billingQueries.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/BillingPickCompanyPage/index.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/BillingPickCompanyPage/loader.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/loader.test.tsx
  app/assets/js/pages/CompanyBillingPage/loader.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
Due: App Tests

chore: Migrate billing pages to tanstack (#5311)
  app/assets/js/models/billing/billingLifecycle.test.tsx
  app/assets/js/models/billing/billingLifecycle.ts
  app/assets/js/models/billing/billingQueries.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/BillingPickCompanyPage/index.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/BillingPickCompanyPage/loader.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/loader.test.tsx
  app/assets/js/pages/CompanyBillingPage/loader.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
Due: App Tests

docs: Clarify when to use assertPresent
  .agents/skills/tanstack-query/SKILL.md
  .agents/skills/tanstack-query/reference.md
  AGENTS.md
Due: none

chore: Migrate SaaS admin pages to tanstack
  app/ee/assets/js/models/billingCatalogLifecycle.test.tsx
  app/ee/assets/js/models/billingCatalogLifecycle.ts
  app/ee/assets/js/models/emailSettingsLifecycle.test.tsx
  app/ee/assets/js/models/emailSettingsLifecycle.ts
  app/ee/assets/js/models/searchIndexLifecycle.test.tsx
  app/ee/assets/js/models/searchIndexLifecycle.ts
  app/ee/assets/js/models/siteMessageLifecycle.test.tsx
  app/ee/assets/js/models/siteMessageLifecycle.ts
  app/ee/assets/js/models/updateBadgeLifecycle.test.tsx
  app/ee/assets/js/models/updateBadgeLifecycle.ts
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/loader.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.test.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/TestEmailModal.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/index.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/loader.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/index.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/loader.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/SiteMessageModal.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/index.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/loader.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/index.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/loader.tsx
Due: App Tests

Fix
  .agents/skills/tanstack-query/SKILL.md
Due: none

chore: Migrate SaaS admin pages to tanstack (#5313)
  app/ee/assets/js/models/billingCatalogLifecycle.test.tsx
  app/ee/assets/js/models/billingCatalogLifecycle.ts
  app/ee/assets/js/models/emailSettingsLifecycle.test.tsx
  app/ee/assets/js/models/emailSettingsLifecycle.ts
  app/ee/assets/js/models/searchIndexLifecycle.test.tsx
  app/ee/assets/js/models/searchIndexLifecycle.ts
  app/ee/assets/js/models/siteMessageLifecycle.test.tsx
  app/ee/assets/js/models/siteMessageLifecycle.ts
  app/ee/assets/js/models/updateBadgeLifecycle.test.tsx
  app/ee/assets/js/models/updateBadgeLifecycle.ts
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/loader.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.test.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/TestEmailModal.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/index.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/loader.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/index.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/loader.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/SiteMessageModal.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/index.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/loader.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/index.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/loader.tsx
Due: App Tests

docs: Clarify when to use assertPresent (#5312)
  .agents/skills/tanstack-query/SKILL.md
  .agents/skills/tanstack-query/reference.md
  AGENTS.md
Due: none

chore: Migrate shared company loader to tanstack
  app/assets/js/components/Pages/index.tsx
  app/assets/js/components/Pages/useRefresh.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/billing/billingLifecycle.test.tsx
  app/assets/js/models/billing/billingLifecycle.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/companies/companyLayoutQueries.test.tsx
  app/assets/js/models/companies/companyLayoutQueries.ts
  app/assets/js/models/companies/companyMembershipLifecycle.test.tsx
  app/assets/js/models/companies/companyMembershipLifecycle.ts
  app/assets/js/models/companies/index.tsx
  app/assets/js/models/siteMessages/index.ts
  app/assets/js/models/spaces/spaceAccessLifecycle.test.ts
  app/assets/js/models/spaces/spaceAccessLifecycle.ts
  app/assets/js/models/spaces/spaceLifecycle.test.tsx
  app/assets/js/models/spaces/spaceLifecycle.ts
  app/assets/js/pages/CompanyRenamePage/index.tsx
  app/assets/js/routes/ErrorPage.test.tsx
  app/assets/js/routes/ErrorPage.tsx
  app/assets/js/routes/companyLoader.test.tsx
  app/assets/js/routes/companyLoader.tsx
  app/assets/js/routes/paths.test.tsx
  app/assets/js/routes/paths.tsx
  app/assets/js/routes/redirectUtils.tsx
  app/assets/js/routes/useCompanyLoaderData.tsx
  app/ee/assets/js/models/siteMessageLifecycle.test.tsx
  app/ee/assets/js/models/siteMessageLifecycle.ts
  specs/0019-hover-page-preloading.md
Due: App Tests

Fix
  specs/0019-hover-page-preloading.md
Due: none

chore: Migrate shared company loader to tanstack (#5314)
  app/assets/js/components/Pages/index.tsx
  app/assets/js/components/Pages/useRefresh.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/billing/billingLifecycle.test.tsx
  app/assets/js/models/billing/billingLifecycle.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/companies/companyLayoutQueries.test.tsx
  app/assets/js/models/companies/companyLayoutQueries.ts
  app/assets/js/models/companies/companyMembershipLifecycle.test.tsx
  app/assets/js/models/companies/companyMembershipLifecycle.ts
  app/assets/js/models/companies/index.tsx
  app/assets/js/models/siteMessages/index.ts
  app/assets/js/models/spaces/spaceAccessLifecycle.test.ts
  app/assets/js/models/spaces/spaceAccessLifecycle.ts
  app/assets/js/models/spaces/spaceLifecycle.test.tsx
  app/assets/js/models/spaces/spaceLifecycle.ts
  app/assets/js/pages/CompanyRenamePage/index.tsx
  app/assets/js/routes/ErrorPage.test.tsx
  app/assets/js/routes/ErrorPage.tsx
  app/assets/js/routes/companyLoader.test.tsx
  app/assets/js/routes/companyLoader.tsx
  app/assets/js/routes/paths.test.tsx
  app/assets/js/routes/paths.tsx
  app/assets/js/routes/redirectUtils.tsx
  app/assets/js/routes/useCompanyLoaderData.tsx
  app/ee/assets/js/models/siteMessageLifecycle.test.tsx
  app/ee/assets/js/models/siteMessageLifecycle.ts
  specs/0019-hover-page-preloading.md
Due: App Tests

chore: Prepare page loaders for hover preloading
  app/assets/js/pages/CompanyImportPage/index.tsx
  app/assets/js/pages/CompanyImportPage/loader.test.tsx
  app/assets/js/pages/CompanyImportPage/loader.tsx
  app/assets/js/pages/SetupPage/index.test.tsx
  app/assets/js/pages/SetupPage/index.tsx
  app/assets/js/pages/SetupPage/loader.tsx
  app/assets/js/routes/auth.test.ts
  app/assets/js/routes/index.test.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/pageRoute.test.tsx
  app/assets/js/routes/pageRoute.tsx
  app/assets/js/routes/types.ts
  app/ee/assets/js/models/siteMessageLifecycle.ts
  specs/0019-hover-page-preloading.md
Due: App Tests

chore: Prepare page loaders for hover preloading (#5315)
  app/assets/js/pages/CompanyImportPage/index.tsx
  app/assets/js/pages/CompanyImportPage/loader.test.tsx
  app/assets/js/pages/CompanyImportPage/loader.tsx
  app/assets/js/pages/SetupPage/index.test.tsx
  app/assets/js/pages/SetupPage/index.tsx
  app/assets/js/pages/SetupPage/loader.tsx
  app/assets/js/routes/auth.test.ts
  app/assets/js/routes/index.test.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/pageRoute.test.tsx
  app/assets/js/routes/pageRoute.tsx
  app/assets/js/routes/types.ts
  app/ee/assets/js/models/siteMessageLifecycle.ts
  specs/0019-hover-page-preloading.md
Due: App Tests

fix: Bind query requests to their cache-key headers
  app/assets/js/api/index.tsx
  app/ee/assets/js/admin_api/index.tsx
  app/lib/turbo_connect/ts_gen.ex
  app/lib/turbo_connect/ts_gen/queries.ex
  app/test/turbo_connect/ts_gen_test.exs
  specs/0019-hover-page-preloading.md
Due: App Tests

fix: Keep Oban Sentry capture from crashing telemetry
  app/lib/operately/application.ex
  app/lib/operately/sentry.ex
  app/test/operately/sentry_oban_integration_test.exs
  app/test/operately/sentry_test.exs
Due: App Tests

fix: Make Oban Sentry telemetry attach idempotent
  app/lib/operately/sentry.ex
  app/test/operately/sentry_test.exs
Due: App Tests

fix: Bind query requests to their cache-key headers (#5316)
  app/assets/js/api/index.tsx
  app/ee/assets/js/admin_api/index.tsx
  app/lib/turbo_connect/ts_gen.ex
  app/lib/turbo_connect/ts_gen/queries.ex
  app/test/turbo_connect/ts_gen_test.exs
  specs/0019-hover-page-preloading.md
Due: App Tests

feat: Preload page data on hover and keyboard focus
  .agents/skills/tanstack-query/SKILL.md
  .agents/skills/tanstack-query/reference.md
  app/assets/js/api/index.tsx
  app/assets/js/api/queryClient.ts
  app/assets/js/api/queryErrors.test.ts
  app/assets/js/api/queryErrors.ts
  app/assets/js/app.tsx
  app/assets/js/routes/auth.test.ts
  app/assets/js/routes/auth.tsx
  app/assets/js/routes/companyLoader.tsx
  app/assets/js/routes/pageRoute.test.tsx
  app/assets/js/routes/pageRoute.tsx
  app/assets/js/routes/preloading/PagePreloading.test.tsx
  app/assets/js/routes/preloading/PagePreloading.tsx
  app/assets/js/routes/preloading/hoverPreloading.test.ts
  app/assets/js/routes/preloading/hoverPreloading.ts
  app/assets/js/routes/preloading/preloadPage.test.ts
  app/assets/js/routes/preloading/preloadPage.ts
  app/assets/js/routes/preloading/preloadSession.ts
  app/ee/assets/js/admin_api/index.tsx
  app/lib/turbo_connect/ts_gen.ex
  app/test/features/hover_preloading_test.exs
  app/test/support/features/hover_preloading_steps.ex
  app/test/turbo_connect/ts_gen_test.exs
  specs/0019-hover-page-preloading.md
Due: App Tests

Fix
  app/assets/js/api/queryErrors.test.ts
  app/assets/js/routes/preloading/PagePreloading.test.tsx
  app/assets/js/routes/preloading/PagePreloading.tsx
  app/assets/js/routes/preloading/preloadPage.test.ts
  app/ee/assets/js/models/emailSettingsLifecycle.test.tsx
  app/ee/assets/js/models/updateBadgeLifecycle.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/loader.test.tsx
Due: App Tests

feat: Preload page data on hover and keyboard focus (#5319)
  .agents/skills/tanstack-query/SKILL.md
  .agents/skills/tanstack-query/reference.md
  app/assets/js/api/index.tsx
  app/assets/js/api/queryClient.ts
  app/assets/js/api/queryErrors.test.ts
  app/assets/js/api/queryErrors.ts
  app/assets/js/app.tsx
  app/assets/js/routes/auth.test.ts
  app/assets/js/routes/auth.tsx
  app/assets/js/routes/companyLoader.tsx
  app/assets/js/routes/pageRoute.test.tsx
  app/assets/js/routes/pageRoute.tsx
  app/assets/js/routes/preloading/PagePreloading.test.tsx
  app/assets/js/routes/preloading/PagePreloading.tsx
  app/assets/js/routes/preloading/hoverPreloading.test.ts
  app/assets/js/routes/preloading/hoverPreloading.ts
  app/assets/js/routes/preloading/preloadPage.test.ts
  app/assets/js/routes/preloading/preloadPage.ts
  app/assets/js/routes/preloading/preloadSession.ts
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/models/emailSettingsLifecycle.test.tsx
  app/ee/assets/js/models/updateBadgeLifecycle.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/loader.test.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/loader.test.tsx
  app/lib/turbo_connect/ts_gen.ex
  app/test/features/hover_preloading_test.exs
  app/test/support/features/hover_preloading_steps.ex
  app/test/turbo_connect/ts_gen_test.exs
  specs/0019-hover-page-preloading.md
Due: App Tests

fix: discard AccountOnboardingJob on non-retryable SendGrid errors
  app/ee/lib/account_onboarding_job.ex
  app/ee/test/lib/account_onboarding_job_test.exs
Due: App Tests

fix: keep StatusSelector hook order when options are empty
  turboui/src/StatusSelector/index.test.tsx
  turboui/src/StatusSelector/index.tsx
Due: Turboui, App Tests

fix: retry AccountOnboardingJob on SendGrid 408 timeouts
  app/ee/lib/account_onboarding_job.ex
  app/ee/test/lib/account_onboarding_job_test.exs
Due: App Tests

fix: close StatusSelector when status options become empty
  turboui/src/StatusSelector/index.test.tsx
  turboui/src/StatusSelector/index.tsx
Due: Turboui, App Tests

fix: remove unreachable SendGrid error clause
  app/ee/lib/account_onboarding_job.ex
Due: App Tests

fix: allow space members to open shared draft discussions
  app/lib/operately_web/api/spaces/get_discussion.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/test/operately_web/api/spaces/get_discussion_test.exs
  app/test/operately_web/api/spaces/update_discussion_test.exs
Due: App Tests

feat: Preload likely destinations from home and space pages
  app/assets/js/app.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/assets/js/pages/HomePage/useHomePagePreloading.test.ts
  app/assets/js/pages/HomePage/useHomePagePreloading.ts
  app/assets/js/pages/SpacePage/page.test.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/assets/js/pages/SpacePage/useSpacePagePreloading.test.ts
  app/assets/js/pages/SpacePage/useSpacePagePreloading.ts
  app/assets/js/routes/preloading/PagePreloading.test.tsx
  app/assets/js/routes/preloading/PagePreloading.tsx
  app/assets/js/routes/preloading/hoverPreloading.test.ts
  app/assets/js/routes/preloading/hoverPreloading.ts
  app/assets/js/routes/preloading/predictivePreloading.test.ts
  app/assets/js/routes/preloading/predictivePreloading.ts
  app/assets/js/routes/preloading/preloadPage.test.ts
  app/assets/js/routes/preloading/preloadPage.ts
  app/test/features/predictive_preloading_test.exs
  app/test/support/features/hover_preloading_steps.ex
  app/test/support/features/predictive_preloading_steps.ex
  specs/0019-hover-page-preloading.md
Due: App Tests

feat: Preload likely destinations from home and space pages (#5327)
  app/assets/js/app.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/assets/js/pages/HomePage/useHomePagePreloading.test.ts
  app/assets/js/pages/HomePage/useHomePagePreloading.ts
  app/assets/js/pages/SpacePage/page.test.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/assets/js/pages/SpacePage/useSpacePagePreloading.test.ts
  app/assets/js/pages/SpacePage/useSpacePagePreloading.ts
  app/assets/js/routes/preloading/PagePreloading.test.tsx
  app/assets/js/routes/preloading/PagePreloading.tsx
  app/assets/js/routes/preloading/hoverPreloading.test.ts
  app/assets/js/routes/preloading/hoverPreloading.ts
  app/assets/js/routes/preloading/predictivePreloading.test.ts
  app/assets/js/routes/preloading/predictivePreloading.ts
  app/assets/js/routes/preloading/preloadPage.test.ts
  app/assets/js/routes/preloading/preloadPage.ts
  app/test/features/predictive_preloading_test.exs
  app/test/support/features/hover_preloading_steps.ex
  app/test/support/features/predictive_preloading_steps.ex
  specs/0019-hover-page-preloading.md
Due: App Tests

fix: Apply English plural rules to missing translations
  app/lib/operately/i18n/converter.ex
  app/test/operately/i18n/converter_test.exs
  app/test/operately/i18n/po_test.exs
  docs/internationalization.md
  specs/0018-internationalization.md
Due: App Tests

fix: Apply English plural rules to missing translations (#5329)
  app/lib/operately/i18n/converter.ex
  app/test/operately/i18n/converter_test.exs
  app/test/operately/i18n/po_test.exs
  docs/internationalization.md
  specs/0018-internationalization.md
Due: App Tests

feat: add language preference, resolver, and rollout flag
  app/assets/js/api/index.tsx
  app/lib/operately/companies/experimental_features.ex
  app/lib/operately/i18n/effective_language.ex
  app/lib/operately/i18n/languages.ex
  app/lib/operately/notifications/buffered_email_worker.ex
  app/lib/operately/notifications/email_worker.ex
  app/lib/operately/operations/account_deleting.ex
  app/lib/operately/people/person.ex
  app/lib/operately_email/cron/assignments.ex
  app/lib/operately_email/cron/daily_summary.ex
  app/lib/operately_web/api/external.ex
  app/lib/operately_web/api/people/update.ex
  app/lib/operately_web/api/serializers/person.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/plugs/set_locale.ex
  app/lib/operately_web/router.ex
  app/priv/repo/migrations/20260921184756_add_language_to_people.exs
  app/test/operately/companies/experimental_features_test.exs
  app/test/operately/i18n/effective_language_test.exs
  app/test/operately/i18n/languages_test.exs
  app/test/operately/notifications/email_worker_test.exs
  app/test/operately/operations/account_deleting_test.exs
  app/test/operately/people/person_test.exs
  app/test/operately_web/api/people/get_me_test.exs
  app/test/operately_web/api/people/update_test.exs
  app/test/operately_web/plugs/set_locale_test.exs
  cli/src/generated/api-catalog.json
  docs/internationalization.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: reject malformed person language values without raising
  app/lib/operately/people/person.ex
  app/test/operately/people/person_test.exs
Due: App Tests

fix: use keyword-style enum for language API type
  app/lib/operately_web/api/types.ex
Due: App Tests

chore: Migrate project comments to tanstack
  app/assets/js/features/CommentSection/CommentSection.tsx
  app/assets/js/features/CommentSection/index.tsx
  app/assets/js/features/CommentSection/useCommentSection.test.tsx
  app/assets/js/features/CommentSection/useForProjectCheckIn.tsx
  app/assets/js/features/CommentSection/useForProjectRetrospective.tsx
  app/assets/js/features/notifications/index.tsx
  app/assets/js/features/notifications/useClearNotificationsOnLoad.tsx
  app/assets/js/models/notifications.tsx
  app/assets/js/models/projects/projectInteractionQueries.test.ts
  app/assets/js/models/projects/projectInteractionQueries.ts
  app/assets/js/pages/ProjectActivityPage/Comments.test.tsx
  app/assets/js/pages/ProjectActivityPage/Comments.tsx
  app/assets/js/pages/ProjectActivityPage/index.tsx
  app/assets/js/pages/ProjectCheckInPage/Comments.test.tsx
  app/assets/js/pages/ProjectCheckInPage/Comments.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectDiscussionPage/Comments.test.tsx
  app/assets/js/pages/ProjectDiscussionPage/Comments.tsx
  app/assets/js/pages/ProjectDiscussionPage/page.tsx
  app/assets/js/pages/ProjectRetrospectivePage/Comments.test.tsx
  app/assets/js/pages/ProjectRetrospectivePage/Comments.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
  app/test/features/project_discussions_test.exs
  app/test/support/features/project_discussions_steps.ex
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
