Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Enrich managed Polar product metadata (#4653)
  app/ee/lib/admin_api/mutations/update_billing_product.ex
  app/ee/test/operately_ee/admin_api/mutations/create_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/update_billing_product_test.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/polar/client.ex
  app/lib/operately/billing/polar/operations/managed_product_creating.ex
  app/lib/operately/billing/polar/operations/managed_product_updating.ex
  app/lib/operately/billing/polar/operations/product_sync.ex
  app/lib/operately/billing/polar/product_mapper.ex
  app/test/operately/billing/polar/product_mapper_test.exs
  app/test/operately_web/api/billing/get_test.exs
Due: App Tests

chore: Bootstrap missing provider-managed plans during Polar sync
  app/ee/test/operately_ee/admin_api/mutations/sync_billing_products_from_polar_test.exs
  app/lib/operately/billing/polar/operations/product_sync.ex
  app/lib/operately/billing/polar/product_mapper.ex
  app/test/operately/billing/polar/product_sync_test.exs
Due: App Tests

chore: Bootstrap missing provider-managed plans during Polar sync (#4654)
  app/ee/test/operately_ee/admin_api/mutations/sync_billing_products_from_polar_test.exs
  app/lib/operately/billing/polar/operations/product_sync.ex
  app/lib/operately/billing/polar/product_mapper.ex
  app/test/operately/billing/polar/product_sync_test.exs
Due: App Tests

Move more components to turboui
  app/assets/js/features/ResourceHub/AddFileWidget.tsx
  app/assets/js/features/ResourceHub/AddFilesButton.tsx
  app/assets/js/features/ResourceHub/FolderSelectField/viewModel.tsx
  app/assets/js/features/ResourceHub/NodesList.tsx
  app/assets/js/features/ResourceHub/index.tsx
  app/assets/js/features/SpaceTools/ResourceHubs/RegularState.tsx
  app/assets/js/models/resourceHubs/index.tsx
  app/assets/js/models/resourceHubs/turbouiAdapters.tsx
  app/assets/js/pages/ResourceHubEditFilePage/form.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/ResourceHub/AddFilesButton.tsx
  turboui/src/ResourceHub/FileDragAndDropArea.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/useFileDragAndDrop.ts
  turboui/src/ResourceHub/utils.test.ts
  turboui/src/ResourceHub/utils.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/components/TextElements/index.tsx
  app/assets/js/models/resourceHubs/index.tsx
  app/assets/js/models/resourceHubs/turbouiAdapters.tsx
Due: App Tests

Fix tests
  app/assets/js/models/resourceHubs/nodeUtils.tsx
Due: App Tests

Move more components to turboui
  app/assets/js/features/ResourceHub/CopyDocumentModal.tsx
  app/assets/js/features/ResourceHub/NodesList.tsx
  app/assets/js/features/ResourceHub/components/CopyDocumentModal.tsx
  app/assets/js/features/ResourceHub/components/CopyFolder.tsx
  app/assets/js/features/ResourceHub/components/CopyResource.tsx
  app/assets/js/features/ResourceHub/components/DocumentMenu.tsx
  app/assets/js/features/ResourceHub/components/FileMenu.tsx
  app/assets/js/features/ResourceHub/components/FolderMenu.tsx
  app/assets/js/features/ResourceHub/components/LinkMenu.tsx
  app/assets/js/features/ResourceHub/components/MoveResource.tsx
  app/assets/js/features/ResourceHub/components/index.tsx
  app/assets/js/features/ResourceHub/contexts/NewFileModalsContext.tsx
  app/assets/js/features/ResourceHub/contexts/NodesContext.tsx
  app/assets/js/features/ResourceHub/index.tsx
  app/assets/js/features/ResourceHub/useResourceHubNodesListContext.ts
  app/assets/js/models/resourceHubs/turbouiAdapters.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  turboui/src/ResourceHub/DraftNodesList.tsx
  turboui/src/ResourceHub/NodeMenu.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/ResourceHubNodeRow.tsx
  turboui/src/ResourceHub/contexts/NodesListContext.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/nodeMenus/CopyDocumentModal.tsx
  turboui/src/ResourceHub/nodeMenus/CopyFolder.tsx
  turboui/src/ResourceHub/nodeMenus/CopyResource.tsx
  turboui/src/ResourceHub/nodeMenus/DocumentMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FileMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FolderMenu.tsx
  turboui/src/ResourceHub/nodeMenus/LinkMenu.tsx
  turboui/src/ResourceHub/nodeMenus/MoveResource.tsx
  turboui/src/ResourceHub/types.ts
  turboui/src/ResourceHub/useAddFile.ts
Due: Turboui, App Tests

Move Files context to turboui
  app/assets/js/features/ResourceHub/AddFileWidget.tsx
  app/assets/js/features/ResourceHub/AddFolderModal.tsx
  app/assets/js/features/ResourceHub/NodesList.tsx
  app/assets/js/features/ResourceHub/contexts/NewFileModalsContext.tsx
  app/assets/js/features/ResourceHub/index.tsx
  app/assets/js/features/ResourceHub/useAddFileWidgetProps.ts
  app/assets/js/models/resourceHubs/index.tsx
  app/assets/js/models/resourceHubs/useNewFileModalsContextValue.ts
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/ResourceHub/AddFileWidget.tsx
  turboui/src/ResourceHub/AddFolderModal.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/contexts/NewFileModalsContext.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/types.ts
Due: Turboui, App Tests

Move resource hub components completely to turboui
  app/assets/js/features/ResourceHub/CopyDocumentModal.tsx
  app/assets/js/features/ResourceHub/FolderSelectField/viewModel.tsx
  app/assets/js/features/ResourceHub/Navigation/NewResourcePageNavigation.tsx
  app/assets/js/features/ResourceHub/Navigation/ResourcePageNavigation.tsx
  app/assets/js/features/ResourceHub/index.tsx
  app/assets/js/models/resourceHubs/index.tsx
  app/assets/js/models/resourceHubs/useAddFileWidgetProps.ts
  app/assets/js/models/resourceHubs/useCopyDocumentListContext.ts
  app/assets/js/models/resourceHubs/useResourceHubNodesListContext.ts
  app/assets/js/models/resourceHubs/useResourceHubNodesListProps.ts
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubEditDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubEditFilePage/page.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/Page/Navigation.tsx
  turboui/src/ResourceHub/AddFileWidget.tsx
  turboui/src/ResourceHub/FolderSelectField/index.tsx
  turboui/src/ResourceHub/FolderSelectField/viewModel.tsx
  turboui/src/ResourceHub/Navigation/NewResourcePageNavigation.tsx
  turboui/src/ResourceHub/Navigation/ResourcePageNavigation.tsx
  turboui/src/ResourceHub/Navigation/index.tsx
  turboui/src/ResourceHub/contexts/NodesListContext.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/nodeMenus/CopyDocumentModal.tsx
  turboui/src/ResourceHub/nodeMenus/CopyFolder.tsx
  turboui/src/ResourceHub/nodeMenus/CopyResource.tsx
  turboui/src/ResourceHub/nodeMenus/DocumentMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FileMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FolderMenu.tsx
  turboui/src/ResourceHub/nodeMenus/LinkMenu.tsx
  turboui/src/ResourceHub/nodeMenus/MoveResource.tsx
  turboui/src/ResourceHub/types.ts
  turboui/src/utils/assertions.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/components/LoadingProgressBar/index.tsx
  app/assets/js/models/resourceHubs/turbouiAdapters.tsx
  app/assets/js/models/resourceHubs/useResourceHubNodesListProps.ts
  app/package-lock.json
  app/package.json
  turboui/src/ResourceHub/AddFileWidget.tsx
Due: Turboui, App Tests

Fix tests
  app/assets/js/models/resourceHubs/index.tsx
  app/assets/js/models/resourceHubs/paths.ts
  app/assets/js/models/resourceHubs/useResourceHubNodesListContext.ts
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubEditDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubEditFilePage/page.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/page.tsx
  turboui/src/ResourceHub/FolderSelectField/viewModel.tsx
Due: Turboui, App Tests

Fix tests
  turboui/src/ResourceHub/nodeMenus/DocumentMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FileMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FolderMenu.tsx
  turboui/src/ResourceHub/nodeMenus/LinkMenu.tsx
Due: Turboui, App Tests

Fix test
  turboui/src/ResourceHub/FolderSelectField/index.tsx
  turboui/src/ResourceHub/FolderSelectField/viewModel.tsx
  turboui/src/ResourceHub/nodeMenus/MoveResource.tsx
Due: Turboui, App Tests

Adjust skills
  .agents/skills/help-docs/SKILL.md
  .agents/skills/help-docs/reference.md
Due: none

chore: Generate shared API types for turboui
  Makefile
  app/lib/mix/tasks/operately.gen.turboui.api_types.ex
  app/lib/turbo_connect/ts_gen.ex
  app/test/mix/tasks/operately.gen.turboui.api_types_test.exs
  app/test/turbo_connect/ts_gen_test.exs
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: Generate shared API types for turboui (#4656)
  Makefile
  app/lib/mix/tasks/operately.gen.turboui.api_types.ex
  app/lib/turbo_connect/ts_gen.ex
  app/test/mix/tasks/operately.gen.turboui.api_types_test.exs
  app/test/turbo_connect/ts_gen_test.exs
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: Simplify resource hub props around shared api types
  app/assets/js/features/SpaceTools/ResourceHubs/RegularState.tsx
  app/assets/js/models/resourceHubs/index.tsx
  app/assets/js/models/resourceHubs/nodeUtils.tsx
  app/assets/js/models/resourceHubs/turbouiAdapters.tsx
  app/assets/js/models/resourceHubs/useCopyDocumentListContext.ts
  app/assets/js/models/resourceHubs/useResourceHubNodesListContext.ts
  app/assets/js/models/resourceHubs/useResourceHubNodesListProps.ts
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubDraftsPage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/ResourceHub/AddFilesButton.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.test.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.tsx
  turboui/src/ResourceHub/DraftNodesList.tsx
  turboui/src/ResourceHub/FolderSelectField/index.test.tsx
  turboui/src/ResourceHub/FolderSelectField/index.tsx
  turboui/src/ResourceHub/FolderSelectField/viewModel.tsx
  turboui/src/ResourceHub/Navigation/NewResourcePageNavigation.tsx
  turboui/src/ResourceHub/Navigation/ResourcePageNavigation.tsx
  turboui/src/ResourceHub/NodeDescription.tsx
  turboui/src/ResourceHub/NodeIcon.tsx
  turboui/src/ResourceHub/NodeMenu.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/ResourceHubNodeRow.tsx
  turboui/src/ResourceHub/contexts/NodesListContext.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/nodeMenus/CopyDocumentModal.tsx
  turboui/src/ResourceHub/nodeMenus/CopyFolder.tsx
  turboui/src/ResourceHub/nodeMenus/CopyResource.tsx
  turboui/src/ResourceHub/nodeMenus/DocumentMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FileMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FolderMenu.tsx
  turboui/src/ResourceHub/nodeMenus/LinkMenu.tsx
  turboui/src/ResourceHub/nodeMenus/MoveResource.tsx
  turboui/src/ResourceHub/selectors.ts
  turboui/src/ResourceHub/types.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/resourceHubs/index.tsx
Due: App Tests

chore: Simplify resource hub props around shared api types (#4657)
  app/assets/js/features/SpaceTools/ResourceHubs/RegularState.tsx
  app/assets/js/models/resourceHubs/index.tsx
  app/assets/js/models/resourceHubs/nodeUtils.tsx
  app/assets/js/models/resourceHubs/turbouiAdapters.tsx
  app/assets/js/models/resourceHubs/useCopyDocumentListContext.ts
  app/assets/js/models/resourceHubs/useResourceHubNodesListContext.ts
  app/assets/js/models/resourceHubs/useResourceHubNodesListProps.ts
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubDraftsPage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/ResourceHub/AddFilesButton.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.test.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.tsx
  turboui/src/ResourceHub/DraftNodesList.tsx
  turboui/src/ResourceHub/FolderSelectField/index.test.tsx
  turboui/src/ResourceHub/FolderSelectField/index.tsx
  turboui/src/ResourceHub/FolderSelectField/viewModel.tsx
  turboui/src/ResourceHub/Navigation/NewResourcePageNavigation.tsx
  turboui/src/ResourceHub/Navigation/ResourcePageNavigation.tsx
  turboui/src/ResourceHub/NodeDescription.tsx
  turboui/src/ResourceHub/NodeIcon.tsx
  turboui/src/ResourceHub/NodeMenu.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/ResourceHubNodeRow.tsx
  turboui/src/ResourceHub/contexts/NodesListContext.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/nodeMenus/CopyDocumentModal.tsx
  turboui/src/ResourceHub/nodeMenus/CopyFolder.tsx
  turboui/src/ResourceHub/nodeMenus/CopyResource.tsx
  turboui/src/ResourceHub/nodeMenus/DocumentMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FileMenu.tsx
  turboui/src/ResourceHub/nodeMenus/FolderMenu.tsx
  turboui/src/ResourceHub/nodeMenus/LinkMenu.tsx
  turboui/src/ResourceHub/nodeMenus/MoveResource.tsx
  turboui/src/ResourceHub/selectors.ts
  turboui/src/ResourceHub/types.ts
Due: Turboui, App Tests

chore: Move resource hub pages to turboui
  app/assets/js/pages/ResourceHubDraftsPage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/ResourceHubDraftsPage/index.stories.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
  turboui/src/ResourceHubDraftsPage/index.tsx
  turboui/src/ResourceHubFolderPage/index.stories.tsx
  turboui/src/ResourceHubFolderPage/index.test.tsx
  turboui/src/ResourceHubFolderPage/index.tsx
  turboui/src/ResourceHubPage/SharedListPage.tsx
  turboui/src/ResourceHubPage/index.stories.tsx
  turboui/src/ResourceHubPage/index.test.tsx
  turboui/src/ResourceHubPage/index.tsx
  turboui/src/ResourceHubPage/mockData.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Remove unused resource hub access context
  app/assets/js/api/index.tsx
  app/lib/operately/access/access_context.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/data/change_041_create_one_resource_hub_for_each_existing_space.ex
  app/lib/operately/data/change_043_create_access_bindings_between_resource_hubs_and_people.ex
  app/lib/operately/groups/insert_group.ex
  app/lib/operately/operations/resource_hub_creating.ex
  app/lib/operately_web/api/people/search.ex
  app/lib/operately_web/api/resource_hubs/create.ex
  app/priv/repo/migrations/20260611120000_remove_resource_hub_access_contexts.exs
  app/test/operately/data/change_041_create_one_resource_hub_for_each_existing_space_test.exs
  app/test/operately/data/change_043_create_access_bindings_between_resource_hubs_and_people_test.exs
  app/test/operately/data/change_045_update_resource_hub_activities_access_context_test.exs
  app/test/operately/operations/group_creation_test.exs
  app/test/operately/operations/resource_hub_creating_test.exs
  app/test/operately_web/api/external_mutations/mutations/resource_hubs/create.ex
  app/test/operately_web/api/people/search_test.exs
  app/test/operately_web/api/resource_hubs/create_test.exs
  app/test/support/features/company_transfers_permissions_steps.ex
  app/test/support/features/company_transfers_round_trip_steps.ex
  cli/src/generated/api-catalog.json
Due: App Tests

Fix unit tests
  app/test/operately/access/bindings_test.exs
Due: App Tests

chore: Remove unused resource hub access context (#4660)
  app/assets/js/api/index.tsx
  app/lib/operately/access/access_context.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/data/change_041_create_one_resource_hub_for_each_existing_space.ex
  app/lib/operately/data/change_043_create_access_bindings_between_resource_hubs_and_people.ex
  app/lib/operately/groups/insert_group.ex
  app/lib/operately/operations/resource_hub_creating.ex
  app/lib/operately_web/api/people/search.ex
  app/lib/operately_web/api/resource_hubs/create.ex
  app/priv/repo/migrations/20260611120000_remove_resource_hub_access_contexts.exs
  app/test/operately/access/bindings_test.exs
  app/test/operately/data/change_041_create_one_resource_hub_for_each_existing_space_test.exs
  app/test/operately/data/change_043_create_access_bindings_between_resource_hubs_and_people_test.exs
  app/test/operately/data/change_045_update_resource_hub_activities_access_context_test.exs
  app/test/operately/operations/group_creation_test.exs
  app/test/operately/operations/resource_hub_creating_test.exs
  app/test/operately_web/api/external_mutations/mutations/resource_hubs/create.ex
  app/test/operately_web/api/people/search_test.exs
  app/test/operately_web/api/resource_hubs/create_test.exs
  app/test/support/features/company_transfers_permissions_steps.ex
  app/test/support/features/company_transfers_round_trip_steps.ex
  cli/src/generated/api-catalog.json
Due: App Tests

Fix tests
  turboui/src/Page/PageOptions.tsx
  turboui/src/Page/index.tsx
  turboui/src/ResourceHubFolderPage/index.test.tsx
  turboui/src/ResourceHubFolderPage/index.tsx
Due: Turboui, App Tests

chore: Move resource hub pages to turboui (#4659)
  app/assets/js/pages/ResourceHubDraftsPage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/Page/PageOptions.tsx
  turboui/src/Page/index.tsx
  turboui/src/ResourceHubDraftsPage/index.stories.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
  turboui/src/ResourceHubDraftsPage/index.tsx
  turboui/src/ResourceHubFolderPage/index.stories.tsx
  turboui/src/ResourceHubFolderPage/index.test.tsx
  turboui/src/ResourceHubFolderPage/index.tsx
  turboui/src/ResourceHubPage/SharedListPage.tsx
  turboui/src/ResourceHubPage/index.stories.tsx
  turboui/src/ResourceHubPage/index.test.tsx
  turboui/src/ResourceHubPage/index.tsx
  turboui/src/ResourceHubPage/mockData.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix access filter
  app/lib/operately/access/filters.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/lib/operately_web/api/spaces/list_tools.ex
Due: App Tests

chore: Add skills for writing docs (#4644)
  .agents/skills/help-docs/SKILL.md
  .agents/skills/help-docs/reference.md
Due: none

Fix tests
  app/lib/operately/access/filters.ex
  app/lib/operately/updates.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/lib/operately_web/api/spaces/list_tools.ex
Due: App Tests

Fix tests
  app/lib/operately/resource_hubs/notifications.ex
  app/lib/operately/resource_hubs/parent.ex
  app/lib/operately_email/emails/resource_hub_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
Due: App Tests

Fix access filter
  app/assets/js/models/resourceHubs/useResourceHubNodesListContext.ts
  app/assets/js/pages/ResourceHubFilePage/loader.tsx
  app/assets/js/pages/ResourceHubLinkPage/loader.tsx
  app/lib/operately/resource_hubs/notifications.ex
  app/lib/operately/resource_hubs/parent.ex
  app/lib/operately/updates.ex
  app/lib/operately_email/emails/resource_hub_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/documents/get.ex
  app/lib/operately_web/api/files/get.ex
  app/lib/operately_web/api/links/get.ex
  app/lib/operately_web/api/resource_hubs/get_folder.ex
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/lib/operately_web/api/spaces/list_tools.ex
  app/test/operately_web/api/links/get_test.exs
Due: App Tests

Fix feature tests
  app/assets/js/models/resourceHubs/useCopyDocumentListContext.ts
  app/assets/js/pages/ResourceHubDocumentPage/loader.tsx
  app/lib/operately/resource_hubs/parent.ex
  app/test/operately_web/api/documents/get_test.exs
  app/test/operately_web/api/files/get_test.exs
  app/test/operately_web/api/links/get_test.exs
  app/test/operately_web/api/resource_hubs/get_folder_test.exs
Due: App Tests

Fix tests
  app/test/support/features/company_transfers_permissions_steps.ex
Due: App Tests

Fix tests
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentCreated/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentEdited/index.tsx
  app/assets/js/features/activities/ResourceHubFileCommented/index.tsx
  app/assets/js/features/activities/ResourceHubFileCreated/index.tsx
  app/assets/js/features/activities/ResourceHubFileDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubFileEdited/index.tsx
  app/assets/js/features/activities/ResourceHubFolderCopied/index.tsx
  app/assets/js/features/activities/ResourceHubFolderCreated/index.tsx
  app/assets/js/features/activities/ResourceHubFolderDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubLinkCommented/index.tsx
  app/assets/js/features/activities/ResourceHubLinkCreated/index.tsx
  app/assets/js/features/activities/ResourceHubLinkDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubLinkEdited/index.tsx
  app/assets/js/features/activities/resourceHubActivity.tsx
  app/assets/js/features/activities/resourceHubParentAware.test.tsx
  app/lib/operately_web/api/serializers/activity_content/resource_hub_file_created.ex
  app/lib/operately_web/api/serializers/resource_hub_activity.ex
Due: App Tests

Fix lint
  app/assets/js/features/activities/resourceHubActivity.tsx
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
