Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

CI node_modules installs conditional and resilient
  .semaphore/cache.yml
  Makefile
  scripts/ensure_node_modules.sh
Due: none

Adjust parallelism
  .semaphore/semaphore.yml
Due: none

Split large feature tests into smaller files
  app/test/features/project_milestones/comments_test.exs
  app/test/features/project_milestones/details_test.exs
  app/test/features/project_milestones/lifecycle_test.exs
  app/test/features/project_milestones/project_page_test.exs
  app/test/features/project_milestones_test.exs
  app/test/features/project_tasks/collaboration_test.exs
  app/test/features/project_tasks/creation_test.exs
  app/test/features/project_tasks/management_test.exs
  app/test/features/project_tasks_test.exs
  app/test/features/projects/access_and_permissions_test.exs
  app/test/features/projects/ai_sidebar_test.exs
  app/test/features/projects/people_test.exs
  app/test/features/projects/project_page_test.exs
  app/test/features/projects_test.exs
  app/test/features/space_kanban/activities_test.exs
  app/test/features/space_kanban/board_test.exs
  app/test/features/space_kanban/notifications_test.exs
  app/test/features/space_kanban_test.exs
  app/test/support/features/project_milestones_case.ex
  app/test/support/features/project_tasks_case.ex
  app/test/support/features/projects_case.ex
  app/test/support/features/space_kanban_case.ex
Due: App Tests

Split other large test files
  app/test/features/company_admin/access_and_validation_test.exs
  app/test/features/company_admin/billing_and_settings_test.exs
  app/test/features/company_admin/membership_test.exs
  app/test/features/company_admin/roles_and_limits_test.exs
  app/test/features/company_admin_test.exs
  app/test/features/goal/access_management_test.exs
  app/test/features/goal/deletion_and_permissions_test.exs
  app/test/features/goal/details_test.exs
  app/test/features/goal/preload_access_test.exs
  app/test/features/goal/targets_and_description_test.exs
  app/test/features/goal_test.exs
  app/test/features/project_contributors/adding_test.exs
  app/test/features/project_contributors/editing_and_page_test.exs
  app/test/features/project_contributors/removal_and_conversion_test.exs
  app/test/features/project_contributors_test.exs
  app/test/features/resource_hub_document/content_test.exs
  app/test/features/resource_hub_document/drafts_test.exs
  app/test/features/resource_hub_document/resource_management_test.exs
  app/test/features/resource_hub_document_test.exs
  app/test/features/resource_hub_link/actions_test.exs
  app/test/features/resource_hub_link/creation_test.exs
  app/test/features/resource_hub_link/resource_management_test.exs
  app/test/features/resource_hub_link_test.exs
  app/test/features/space_kanban/activities/assignment_and_creation_test.exs
  app/test/features/space_kanban/activities/description_test.exs
  app/test/features/space_kanban/activities/status_and_schedule_test.exs
  app/test/features/space_kanban/activities/task_lifecycle_test.exs
  app/test/features/space_kanban/activities_test.exs
  app/test/support/features/company_admin_case.ex
  app/test/support/features/goal_case.ex
  app/test/support/features/project_contributors_case.ex
  app/test/support/features/resource_hub_document_case.ex
  app/test/support/features/resource_hub_link_case.ex
Due: App Tests

chore: vendor clean-code skill
  .agents/skills/clean-code/SKILL.md
  .agents/skills/clean-code/reference.md
  AGENTS.md
Due: none

chore: vendor clean-code skill (#4635)
  .agents/skills/clean-code/SKILL.md
  .agents/skills/clean-code/reference.md
  AGENTS.md
Due: none

Try 18 splits
  .semaphore/semaphore.yml
Due: none

Fix tests
  app/test/features/project_tasks/task_access_test.exs
  app/test/features/project_tasks/task_assignee_test.exs
  app/test/features/project_tasks/task_comment_controls_test.exs
  app/test/features/project_tasks/task_comments_test.exs
  app/test/features/project_tasks/task_creation_notifications_test.exs
  app/test/features/project_tasks/task_creation_test.exs
  app/test/features/project_tasks/task_creation_workflow_test.exs
  app/test/features/project_tasks/task_description_test.exs
  app/test/features/project_tasks/task_schedule_and_milestone_test.exs
  app/test/features/project_tasks/task_status_test.exs
  app/test/features/project_tasks/task_subscriptions_and_moves_test.exs
  app/test/features/subscriptions/goal_update_test.exs
  app/test/features/subscriptions/message_test.exs
  app/test/features/subscriptions/project_check_in_test.exs
  app/test/features/subscriptions/project_discussion_test.exs
  app/test/features/subscriptions/project_retrospective_test.exs
  app/test/support/features/project_tasks_steps.ex
  app/test/support/features/subscriptions_steps.ex
Due: App Tests

fix: clarify daily assignments email reminders
  app/lib/operately_email/emails/assignments_email.ex
  app/lib/operately_email/templates/assignments.html.eex
  app/lib/operately_email/templates/assignments.text.eex
  app/lib/operately_web/email_preview/previews/assignments.ex
  app/test/features/assignments_email_test.exs
  app/test/operately_email/assignments_email_test.exs
  app/test/support/features/assignments_email_steps.ex
Due: App Tests

chore: centralize assignment email detail labels
  app/lib/operately_email/emails/assignments_email.ex
Due: App Tests

fix: clarify daily assignments email reminders (#4636)
  app/lib/operately_email/emails/assignments_email.ex
  app/lib/operately_email/templates/assignments.html.eex
  app/lib/operately_email/templates/assignments.text.eex
  app/lib/operately_web/email_preview/previews/assignments.ex
  app/test/features/assignments_email_test.exs
  app/test/operately_email/assignments_email_test.exs
  app/test/support/features/assignments_email_steps.ex
Due: App Tests

chore: Optimize Demo creation
  app/lib/operately/activities.ex
  app/lib/operately/demo.ex
  app/test/operately/activities_test.exs
  app/test/operately/demo_test.exs
Due: App Tests

Remove sleep from Demo
  app/lib/operately/demo.ex
Due: App Tests

chore: Optimize Demo creation (#4638)
  app/lib/operately/activities.ex
  app/lib/operately/demo.ex
  app/test/operately/activities_test.exs
  app/test/operately/demo_test.exs
Due: App Tests

chore: Optimize CI lint
  Makefile
Due: none

chore: Optimize CI lint
  Makefile
  app/test/operately/demo_test.exs
Due: App Tests

chore: Optimize CI lint (#4639)
  Makefile
  app/test/operately/demo_test.exs
Due: App Tests

feat: share docs and files project UI
  AGENTS.md
  app/assets/js/features/ResourceHub/DocsAndFiles.tsx
  app/assets/js/features/ResourceHub/Navigation/ResourcePageNavigation.test.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.test.tsx
  app/assets/js/features/activities/ResourceHubFileCreated/index.tsx
  app/assets/js/features/activities/ResourceHubLinkCreated/index.test.tsx
  app/assets/js/features/activities/ResourceHubLinkCreated/index.tsx
  app/assets/js/features/activities/ResourceHubLinkDeleted/index.test.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  app/lib/operately/data/change_101_create_project_resource_hubs.ex
  app/lib/operately/data/change_102_rename_project_resource_hubs.ex
  app/lib/operately/resource_hubs/project_hub.ex
  turboui/src/DocsAndFiles/index.stories.tsx
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: align project folder docs layout
  app/assets/js/features/ResourceHub/DocsAndFiles.tsx
  app/assets/js/pages/ResourceHubFolderPage/loader.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  turboui/src/DocsAndFiles/index.stories.tsx
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: refine docs and files list UI
  app/assets/js/features/ResourceHub/DocsAndFiles.tsx
  turboui/src/DocsAndFiles/index.tsx
Due: Turboui, App Tests

fix: refine docs and files list UI
  app/assets/js/features/ResourceHub/DocsAndFiles.tsx
  app/assets/js/features/ResourceHub/Drafts/ContinueEditingDrafts.tsx
  app/assets/js/features/ResourceHub/Drafts/index.tsx
  app/assets/js/features/ResourceHub/Header.tsx
  app/assets/js/features/ResourceHub/Navigation/ResourcePageNavigation.test.tsx
  app/assets/js/features/ResourceHub/NodesList.tsx
  app/assets/js/features/ResourceHub/SortControl.tsx
  app/assets/js/features/ResourceHub/components/ZeroNodes.tsx
  app/assets/js/features/ResourceHub/components/index.tsx
  app/assets/js/features/ResourceHub/contexts/NodesContext.tsx
  app/assets/js/features/ResourceHub/index.tsx
  app/assets/js/features/activities/ResourceHubLinkDeleted/index.test.tsx
  app/test/operately/operations/project_creation_test.exs
  turboui/src/DocsAndFiles/index.tsx
Due: Turboui, App Tests

fix: tests
  app/assets/js/features/ResourceHub/DocsAndFiles.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/DocsAndFiles/index.tsx
Due: Turboui, App Tests

fix: sync resource hub access contexts
  app/lib/operately/data/change_103_sync_resource_hub_activity_access_contexts.ex
  app/lib/operately/operations/resource_access_granting.ex
  app/priv/repo/migrations/20260604122000_sync_resource_hub_activity_access_contexts.exs
  app/test/operately/data/change_103_sync_resource_hub_activity_access_contexts_test.exs
  app/test/operately/operations/resource_access_granting_test.exs
Due: App Tests

chore: Use consistent limit language and permission-accurate guidance
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.tsx
  app/assets/js/models/billing/dangerBanner.test.ts
  app/assets/js/models/billing/dangerBanner.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/memberLimitGuidance.ts
  app/assets/js/models/blobs/index.test.tsx
  app/assets/js/models/blobs/index.tsx
  app/assets/js/pages/InviteLinkFullPage/index.tsx
  app/lib/operately/billing/enforce_limits.ex
  app/test/features/company_admin/billing_banners_test.exs
  app/test/features/company_admin/membership_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/operately/billing/enforce_limits_test.exs
  app/test/operately/operations/account_signing_up_test.exs
  app/test/operately_web/api/cli_auth_test.exs
  app/test/operately_web/api/companies/create_member_test.exs
  app/test/operately_web/api/companies/invite_guest_test.exs
  app/test/operately_web/api/companies/restore_member_test.exs
  app/test/operately_web/api/invitations_test.exs
  app/test/operately_web/api/mutations/create_account_test.exs
  app/test/operately_web/api/mutations/create_blob_test.exs
  app/test/support/features/invite_links_steps.ex
  turboui/src/BillingLimitGuidanceNotice/index.test.tsx
  turboui/src/BillingLimitGuidanceNotice/index.tsx
Due: Turboui, App Tests

Fix
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately_email/emails/billing_near_limit_warning_email.ex
  app/test/operately/billing/enforce_limits_test.exs
  app/test/operately_email/billing_near_limit_warning_email_test.exs
Due: App Tests

chore: Use consistent limit language and permission-accurate guidance (#4640)
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.tsx
  app/assets/js/models/billing/dangerBanner.test.ts
  app/assets/js/models/billing/dangerBanner.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/memberLimitGuidance.ts
  app/assets/js/models/blobs/index.test.tsx
  app/assets/js/models/blobs/index.tsx
  app/assets/js/pages/InviteLinkFullPage/index.tsx
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately_email/emails/billing_near_limit_warning_email.ex
  app/test/features/company_admin/billing_banners_test.exs
  app/test/features/company_admin/membership_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/operately/billing/enforce_limits_test.exs
  app/test/operately/operations/account_signing_up_test.exs
  app/test/operately_email/billing_near_limit_warning_email_test.exs
  app/test/operately_web/api/cli_auth_test.exs
  app/test/operately_web/api/companies/create_member_test.exs
  app/test/operately_web/api/companies/invite_guest_test.exs
  app/test/operately_web/api/companies/restore_member_test.exs
  app/test/operately_web/api/invitations_test.exs
  app/test/operately_web/api/mutations/create_account_test.exs
  app/test/operately_web/api/mutations/create_blob_test.exs
  app/test/support/features/invite_links_steps.ex
  turboui/src/BillingLimitGuidanceNotice/index.test.tsx
  turboui/src/BillingLimitGuidanceNotice/index.tsx
Due: Turboui, App Tests

feat: Billing management UI copy refresh
  app/assets/js/pages/BillingPickCompanyPage/index.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  app/test/features/billing_test.exs
  app/test/support/features/billing_steps.ex
  turboui/src/CompanyBilling/changeConsequences.ts
  turboui/src/CompanyBilling/feedback.ts
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBillingCancellationPage/index.stories.tsx
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPage/index.stories.tsx
  turboui/src/CompanyBillingPage/index.test.tsx
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
Due: Turboui, App Tests

feat: Billing management UI copy refresh (#4641)
  app/assets/js/pages/BillingPickCompanyPage/index.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  app/test/features/billing_test.exs
  app/test/support/features/billing_steps.ex
  turboui/src/CompanyBilling/changeConsequences.ts
  turboui/src/CompanyBilling/feedback.ts
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBillingCancellationPage/index.stories.tsx
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPage/index.stories.tsx
  turboui/src/CompanyBillingPage/index.test.tsx
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
Due: Turboui, App Tests
