Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

docs: append hello world to README
  README.md
Due: none

feat: catalog project and milestone feed copy
  app/assets/js/features/activities/MilestoneDescriptionUpdating/index.tsx
  app/assets/js/features/activities/MilestoneDueDateUpdating/index.tsx
  app/assets/js/features/activities/ProjectChampionUpdating/index.test.tsx
  app/assets/js/features/activities/ProjectChampionUpdating/index.tsx
  app/assets/js/features/activities/ProjectContributorEdited/index.tsx
  app/assets/js/features/activities/ProjectContributorsAddition/index.test.tsx
  app/assets/js/features/activities/ProjectDescriptionChanged/index.tsx
  app/assets/js/features/activities/ProjectDueDateUpdating/index.tsx
  app/assets/js/features/activities/ProjectGoalConnection/index.tsx
  app/assets/js/features/activities/ProjectMilestoneCommented/index.tsx
  app/assets/js/features/activities/ProjectMilestoneUpdating/index.tsx
  app/assets/js/features/activities/ProjectReviewerUpdating/index.tsx
  app/assets/js/features/activities/ProjectStartDateUpdating/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

fix: format project and milestone feed Trans returns
  app/assets/js/features/activities/MilestoneDescriptionUpdating/index.tsx
  app/assets/js/features/activities/MilestoneDueDateUpdating/index.tsx
  app/assets/js/features/activities/ProjectChampionUpdating/index.test.tsx
  app/assets/js/features/activities/ProjectChampionUpdating/index.tsx
  app/assets/js/features/activities/ProjectContributorEdited/index.tsx
  app/assets/js/features/activities/ProjectContributorsAddition/index.test.tsx
  app/assets/js/features/activities/ProjectDescriptionChanged/index.tsx
  app/assets/js/features/activities/ProjectDueDateUpdating/index.tsx
  app/assets/js/features/activities/ProjectMilestoneUpdating/index.tsx
  app/assets/js/features/activities/ProjectReviewerUpdating/index.tsx
  app/assets/js/features/activities/ProjectStartDateUpdating/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

Add package command for turboui
  Makefile
  turboui/.gitignore
  turboui/README.md
Due: Turboui, App Tests

Adjustments
  app/assets/js/__tests__/setup.ts
  app/assets/js/features/activities/CompanyMembersPermissionsEdited/index.test.tsx
  app/assets/js/features/activities/KpiEntryDeleted/index.test.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.test.tsx
  app/assets/js/features/activities/TaskNameUpdating/index.test.tsx
  app/assets/js/models/blobs/index.test.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.test.tsx
  app/jest.config.json
  turboui/README.md
  turboui/scripts/check-package.mjs
  turboui/scripts/package-consumer/index.html
  turboui/scripts/package-consumer/main.tsx
  turboui/scripts/package-consumer/package.json
  turboui/scripts/package-consumer/smoke.mjs
Due: Turboui, App Tests

Adjustments
  Makefile
  app/assets/js/__tests__/setup.ts
  app/assets/js/features/activities/CompanyMembersPermissionsEdited/index.test.tsx
  app/assets/js/features/activities/KpiEntryDeleted/index.test.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.test.tsx
  app/assets/js/features/activities/TaskNameUpdating/index.test.tsx
  app/assets/js/models/blobs/index.test.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.test.tsx
  app/jest.config.json
  turboui/README.md
  turboui/scripts/check-package.mjs
  turboui/scripts/package-consumer/index.html
  turboui/scripts/package-consumer/main.tsx
  turboui/scripts/package-consumer/package.json
  turboui/scripts/package-consumer/smoke.mjs
Due: Turboui, App Tests

feat: Prototype KPI previews with iframe, Shadow DOM, and scoped CSS
  turboui/src/ConfirmDialog/index.tsx
  turboui/src/DateField/index.tsx
  turboui/src/Embedding/DropdownMenu.tsx
  turboui/src/Embedding/Popover.tsx
  turboui/src/Embedding/Tooltip.tsx
  turboui/src/Embedding/index.stories.tsx
  turboui/src/Embedding/index.test.tsx
  turboui/src/Embedding/index.tsx
  turboui/src/Forms/SelectPerson.tsx
  turboui/src/Menu/index.tsx
  turboui/src/Modal/index.tsx
  turboui/src/Page/useHtmlTitle.tsx
  turboui/src/PersonField/index.tsx
  turboui/src/Reactions/index.tsx
  turboui/src/RichEditor/Blob/BlobView.tsx
  turboui/src/RichEditor/components/ColorPicker.tsx
  turboui/src/RichEditor/components/TableActionPreview.tsx
  turboui/src/RichEditor/components/Toolbar.tsx
  turboui/src/RichEditor/components/useTableControls.ts
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/extensions/MentionPeople/MentionPopup.test.tsx
  turboui/src/RichEditor/extensions/MentionPeople/MentionPopup.tsx
  turboui/src/RichEditor/extensions/MentionPeople/index.tsx
  turboui/src/RichEditor/mentionExtensions.ts
  turboui/src/RichEditor/useEditor.tsx
  turboui/src/SlideIn/index.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/TimePicker/index.tsx
  turboui/src/Tooltip/index.tsx
  turboui/src/index.tsx
  turboui/src/utils/useWindowSizeBreakpoint.tsx
Due: Turboui, App Tests

correct timezone comparisons, guard missing goal dates, and scope task test selectors
  app/assets/js/features/goals/GoalPageHeader/Banner.test.tsx
  app/assets/js/features/goals/GoalPageHeader/Banner.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/support/features/project_tasks_steps.ex
  turboui/src/FormattedTime/index.test.tsx
  turboui/src/FormattedTime/index.tsx
  turboui/src/utils/time.tsx
Due: Turboui, App Tests

feat: Add opt-in Shadow DOM support to TurboUI
  app/package-lock.json
  turboui/README.md
  turboui/package-lock.json
  turboui/package.json
  turboui/scripts/package-consumer/main.tsx
  turboui/scripts/package-consumer/smoke.mjs
  turboui/src/ConfirmDialog/index.tsx
  turboui/src/DateField/hooks/usePopoverPositioning.test.tsx
  turboui/src/DateField/hooks/usePopoverPositioning.ts
  turboui/src/DateField/index.tsx
  turboui/src/Embedding/DropdownMenu.tsx
  turboui/src/Embedding/Popover.tsx
  turboui/src/Embedding/Tooltip.tsx
  turboui/src/Embedding/index.stories.tsx
  turboui/src/Embedding/index.test.tsx
  turboui/src/Embedding/index.tsx
  turboui/src/Forms/SelectPerson.tsx
  turboui/src/Menu/index.tsx
  turboui/src/Modal/index.tsx
  turboui/src/Page/useHtmlTitle.tsx
  turboui/src/PersonField/index.tsx
  turboui/src/Reactions/index.tsx
  turboui/src/RichEditor/Blob/BlobView.tsx
  turboui/src/RichEditor/components/ColorPicker.tsx
  turboui/src/RichEditor/components/TableActionPreview.tsx
  turboui/src/RichEditor/components/Toolbar.tsx
  turboui/src/RichEditor/components/useTableControls.ts
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/extensions/MentionPeople/MentionPopup.test.tsx
  turboui/src/RichEditor/extensions/MentionPeople/MentionPopup.tsx
  turboui/src/RichEditor/extensions/MentionPeople/index.tsx
  turboui/src/RichEditor/mentionExtensions.ts
  turboui/src/RichEditor/useEditor.tsx
  turboui/src/SlideIn/index.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/TimePicker/index.tsx
  turboui/src/Tooltip/index.tsx
  turboui/src/index.tsx
  turboui/src/utils/useWindowSizeBreakpoint.tsx
Due: Turboui, App Tests

Adjust tests
  app/assets/js/features/goals/GoalPageHeader/Banner.test.tsx
  app/assets/js/features/goals/GoalPageHeader/Banner.tsx
Due: App Tests

Adjust translation
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

Adjust tests
  app/assets/js/features/goals/GoalPageHeader/Banner.test.tsx
Due: App Tests

preserve embedded modal focus containment with open popups
  turboui/src/Embedding/index.stories.tsx
  turboui/src/Embedding/index.test.tsx
  turboui/src/Embedding/index.tsx
Due: Turboui, App Tests

align embedded overlays with offset portal layers
  turboui/README.md
  turboui/src/Forms/SelectPerson.tsx
  turboui/src/Menu/index.test.tsx
  turboui/src/Menu/index.tsx
  turboui/src/RichEditor/components/TableActionPreview.tsx
Due: Turboui, App Tests

handle unavailable ResizeObserver in embedded layouts
  turboui/src/DateField/hooks/usePopoverPositioning.test.tsx
  turboui/src/DateField/hooks/usePopoverPositioning.ts
  turboui/src/utils/useWindowSizeBreakpoint.test.tsx
  turboui/src/utils/useWindowSizeBreakpoint.tsx
Due: Turboui, App Tests

dismiss reaction removal mode when clicking another instance
  turboui/src/Reactions/index.test.tsx
  turboui/src/Reactions/index.tsx
Due: Turboui, App Tests

dismiss reaction removal mode when clicking outside reaction items
  turboui/src/Reactions/index.test.tsx
  turboui/src/Reactions/index.tsx
Due: Turboui, App Tests

fix: Stabilize rich-text table menus in Shadow DOM
  .semaphore/semaphore.yml
  turboui/README.md
  turboui/jest.config.json
  turboui/package.json
  turboui/src/Embedding/index.stories.tsx
  turboui/src/RichEditor/components/TableControls.browser.test.js
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/components/TableControls.tsx
  turboui/src/RichEditor/components/useTableControls.ts
Due: Turboui, App Tests

Adjust tests
  turboui/README.md
  turboui/jest.config.json
  turboui/package.json
  turboui/src/RichEditor/components/TableControls.browser.test.ts
Due: Turboui, App Tests

Adjust translation for acknowledge
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately_email/emails/goal_closing_email_test.exs
  app/test/operately_email/emails/project_check_in_submitted_email_test.exs
  docs/internationalization.md
Due: App Tests

Adjust translation for parent goal
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
Due: App Tests

Fix 'due today' translation
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately_email/check_in_overview_test.exs
Due: App Tests

fix: Stabilize rich-text table menus in Shadow DOM (#5398)
  .semaphore/semaphore.yml
  turboui/README.md
  turboui/jest.config.json
  turboui/package.json
  turboui/src/Embedding/index.stories.tsx
  turboui/src/RichEditor/components/TableControls.browser.test.ts
  turboui/src/RichEditor/components/TableControls.test.tsx
  turboui/src/RichEditor/components/TableControls.tsx
  turboui/src/RichEditor/components/useTableControls.ts
Due: Turboui, App Tests

Adjust Agents.md
  AGENTS.md
Due: none

Adjsut test
  app/test/features/global_search/interaction_test.exs
  app/test/support/features/global_search_steps.ex
  turboui/src/GlobalSearch/SearchOverlay.tsx
Due: Turboui, App Tests

Adjsut test
  app/test/features/global_search/interaction_test.exs
  app/test/support/features/global_search_steps.ex
Due: App Tests

chore: Share KPI demo fixtures and behavior across consumers
  turboui/AGENTS.md
  turboui/README.md
  turboui/scripts/check-artifact.mjs
  turboui/scripts/package-consumer/main.tsx
  turboui/scripts/package-consumer/smoke.mjs
  turboui/src/SpaceKpisPage/KpiSummaryCard.stories.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/demos/index.ts
  turboui/src/demos/kpis/fixtures.ts
  turboui/src/demos/kpis/state.ts
  turboui/src/demos/kpis/types.ts
  turboui/src/demos/kpis/useKpiDemo.browser.test.ts
  turboui/src/demos/kpis/useKpiDemo.test.tsx
  turboui/src/demos/kpis/useKpiDemo.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

handle comment and reaction failures while preserving optimistic posting
  turboui/src/CommentSection/CommentInput.test.tsx
  turboui/src/CommentSection/CommentInput.tsx
  turboui/src/CommentSection/CommentItem.test.tsx
  turboui/src/CommentSection/CommentItem.tsx
  turboui/src/Reactions/index.test.tsx
  turboui/src/Reactions/index.tsx
  turboui/src/demos/kpis/useKpiDemo.browser.test.ts
Due: Turboui, App Tests

chore: Share KPI demo fixtures and behavior across consumers (#5399)
  turboui/AGENTS.md
  turboui/README.md
  turboui/scripts/check-artifact.mjs
  turboui/scripts/package-consumer/main.tsx
  turboui/scripts/package-consumer/smoke.mjs
  turboui/src/CommentSection/CommentInput.test.tsx
  turboui/src/CommentSection/CommentInput.tsx
  turboui/src/CommentSection/CommentItem.test.tsx
  turboui/src/CommentSection/CommentItem.tsx
  turboui/src/Reactions/index.test.tsx
  turboui/src/Reactions/index.tsx
  turboui/src/SpaceKpisPage/KpiSummaryCard.stories.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/demos/index.ts
  turboui/src/demos/kpis/fixtures.ts
  turboui/src/demos/kpis/state.ts
  turboui/src/demos/kpis/types.ts
  turboui/src/demos/kpis/useKpiDemo.browser.test.ts
  turboui/src/demos/kpis/useKpiDemo.test.tsx
  turboui/src/demos/kpis/useKpiDemo.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: keep page header actions readable on mobile
  app/assets/js/components/PaperContainer/Header.test.tsx
  app/assets/js/components/PaperContainer/Header.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
  turboui/src/ResourceHubDraftsPage/index.tsx
Due: Turboui, App Tests

test: assert header layout without UI copy
  app/assets/js/components/PaperContainer/Header.test.tsx
Due: App Tests

test: remove header layout class assertions
  app/assets/js/components/PaperContainer/Header.test.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
Due: Turboui, App Tests
