Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

Tighten types
  app/assets/js/models/resourceHubs/pageNavigation.ts
Due: App Tests

Add e2e tests
  app/test/features/goal/docs_and_files_test.exs
  app/test/features/projects/docs_and_files_test.exs
  app/test/support/features/goal_steps.ex
  app/test/support/features/projects_steps.ex
Due: App Tests

Fix lint
  app/assets/js/pages/ResourceHubDraftsPage/navigation.tsx
  app/assets/js/pages/ResourceHubFolderPage/navigation.tsx
  app/assets/js/pages/ResourceHubPage/navigation.tsx
Due: App Tests

Add unit tests
  app/assets/js/__tests__/resourceHubNavigationTestHelpers.ts
  app/assets/js/models/resourceHubs/pageNavigation.ts
  app/assets/js/pages/ResourceHubDocumentPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubDocumentPage/navigation.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubDraftsPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubDraftsPage/navigation.tsx
  app/assets/js/pages/ResourceHubDraftsPage/page.tsx
  app/assets/js/pages/ResourceHubEditDocumentPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubEditDocumentPage/navigation.tsx
  app/assets/js/pages/ResourceHubEditDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubEditFilePage/navigation.test.tsx
  app/assets/js/pages/ResourceHubEditFilePage/navigation.tsx
  app/assets/js/pages/ResourceHubEditFilePage/page.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/navigation.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/navigation.test.tsx
  app/assets/js/pages/ResourceHubFilePage/navigation.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubFolderPage/navigation.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubLinkPage/navigation.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/navigation.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/navigation.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/page.tsx
  app/assets/js/pages/ResourceHubPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubPage/navigation.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
Due: App Tests

Fix tests
  app/assets/js/models/resourceHubs/paths.ts
  app/lib/operately_web/api/serializers/resource_hub_file.ex
  app/test/operately_web/api/documents/get_test.exs
  app/test/operately_web/api/files/get_test.exs
  app/test/operately_web/api/links/get_test.exs
  app/test/operately_web/api/resource_hubs/get_folder_test.exs
  app/test/operately_web/api/resource_hubs/get_test.exs
Due: App Tests

Fix
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
Due: App Tests

fix: Links can be used in turboui Forms.RichTextArea
  app/assets/js/layouts/CompanyLayout/SiteMessageBanner.tsx
  turboui/src/Forms/RichTextArea.tsx
Due: Turboui, App Tests

fix: Links can be used in turboui Forms.RichTextArea (#4699)
  app/assets/js/layouts/CompanyLayout/SiteMessageBanner.tsx
  turboui/src/Forms/RichTextArea.tsx
Due: Turboui, App Tests

chore: Record flaky test retries in CI reports
  .semaphore/semaphore.yml
  app/lib/mix/tasks/tests_with_retries.ex
  app/lib/operately/junit_report_merger.ex
  app/lib/operately/junit_retry_summary.ex
  app/test/operately/junit_retry_summary_test.exs
Due: App Tests

Create retries report
  .semaphore/semaphore.yml
  app/lib/mix/tasks/tests_with_retries.ex
  app/lib/operately/junit_retry_summary.ex
  app/test/operately/junit_retry_summary_test.exs
  scripts/build_retries_report.sh
Due: App Tests

fix: Disable rich editor mentions and attachments outside company context
  app/assets/js/hooks/useRichEditorHandlers.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/SiteMessageModal.tsx
  turboui/src/RichEditor/components/AttachmentButton.tsx
  turboui/src/RichEditor/components/Toolbar.tsx
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

Harden tests
  app/test/support/features/project_milestones_steps.ex
  app/test/support/features/ui.ex
Due: App Tests

fix: Disable rich editor mentions and attachments outside company context (#4701)
  app/assets/js/hooks/useRichEditorHandlers.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/SiteMessageModal.tsx
  app/test/support/features/project_milestones_steps.ex
  app/test/support/features/ui.ex
  turboui/src/RichEditor/components/AttachmentButton.tsx
  turboui/src/RichEditor/components/Toolbar.tsx
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

Write report when there is no retry
  .semaphore/semaphore.yml
  app/lib/operately/junit_retry_summary.ex
  app/test/operately/junit_retry_summary_test.exs
  scripts/build_retries_report.sh
  scripts/publish_retries_report.sh
Due: App Tests

chore: Record flaky test retries in CI reports (#4700)
  .semaphore/semaphore.yml
  app/lib/mix/tasks/tests_with_retries.ex
  app/lib/operately/junit_report_merger.ex
  app/lib/operately/junit_retry_summary.ex
  app/test/operately/junit_retry_summary_test.exs
  scripts/build_retries_report.sh
  scripts/publish_retries_report.sh
Due: App Tests

feat: Include goal_id scope to Docs & Files CLI and API wrappers
  app/lib/operately_web/api/wrappers/docs_and_files/create_document.ex
  app/lib/operately_web/api/wrappers/docs_and_files/create_file.ex
  app/lib/operately_web/api/wrappers/docs_and_files/create_folder.ex
  app/lib/operately_web/api/wrappers/docs_and_files/create_link.ex
  app/lib/operately_web/api/wrappers/docs_and_files/hub_scope.ex
  app/lib/operately_web/api/wrappers/docs_and_files/list_contents.ex
  app/test/operately_web/api/wrappers/docs_and_files/create_document_test.exs
  app/test/operately_web/api/wrappers/docs_and_files/create_file_test.exs
  app/test/operately_web/api/wrappers/docs_and_files/create_folder_test.exs
  app/test/operately_web/api/wrappers/docs_and_files/list_contents_test.exs
  cli/src/commands/custom-endpoints/documents/helpers.ts
  cli/src/commands/custom-endpoints/index.ts
  cli/src/generated/api-catalog.json
  cli/src/test/unit/custom-endpoints.test.ts
Due: App Tests

feat: Include goal_id scope to Docs & Files CLI and API wrappers (#4702)
  app/lib/operately_web/api/wrappers/docs_and_files/create_document.ex
  app/lib/operately_web/api/wrappers/docs_and_files/create_file.ex
  app/lib/operately_web/api/wrappers/docs_and_files/create_folder.ex
  app/lib/operately_web/api/wrappers/docs_and_files/create_link.ex
  app/lib/operately_web/api/wrappers/docs_and_files/hub_scope.ex
  app/lib/operately_web/api/wrappers/docs_and_files/list_contents.ex
  app/test/operately_web/api/wrappers/docs_and_files/create_document_test.exs
  app/test/operately_web/api/wrappers/docs_and_files/create_file_test.exs
  app/test/operately_web/api/wrappers/docs_and_files/create_folder_test.exs
  app/test/operately_web/api/wrappers/docs_and_files/list_contents_test.exs
  cli/src/commands/custom-endpoints/documents/helpers.ts
  cli/src/commands/custom-endpoints/index.ts
  cli/src/generated/api-catalog.json
  cli/src/test/unit/custom-endpoints.test.ts
Due: App Tests

chore: Add e2e coverage for CLI documents
  app/test/cli_e2e/documents/create_file_test.exs
  app/test/cli_e2e/documents/create_folder_test.exs
  app/test/cli_e2e/documents/create_link_test.exs
  app/test/cli_e2e/documents/create_test.exs
  app/test/cli_e2e/documents/delete_test.exs
  app/test/cli_e2e/documents/get_test.exs
  app/test/cli_e2e/documents/list_contents_test.exs
  app/test/cli_e2e/documents/publish_document_test.exs
  app/test/cli_e2e/documents/update_test.exs
  app/test/support/cli_e2e/documents/create_file_steps.ex
  app/test/support/cli_e2e/documents/create_folder_steps.ex
  app/test/support/cli_e2e/documents/create_link_steps.ex
  app/test/support/cli_e2e/documents/create_steps.ex
  app/test/support/cli_e2e/documents/delete_steps.ex
  app/test/support/cli_e2e/documents/get_steps.ex
  app/test/support/cli_e2e/documents/hub_scope_steps.ex
  app/test/support/cli_e2e/documents/list_contents_steps.ex
  app/test/support/cli_e2e/documents/publish_document_steps.ex
  app/test/support/cli_e2e/documents/update_steps.ex
Due: App Tests

chore: Add e2e coverage for CLI documents (#4703)
  app/test/cli_e2e/documents/create_file_test.exs
  app/test/cli_e2e/documents/create_folder_test.exs
  app/test/cli_e2e/documents/create_link_test.exs
  app/test/cli_e2e/documents/create_test.exs
  app/test/cli_e2e/documents/delete_test.exs
  app/test/cli_e2e/documents/get_test.exs
  app/test/cli_e2e/documents/list_contents_test.exs
  app/test/cli_e2e/documents/publish_document_test.exs
  app/test/cli_e2e/documents/update_test.exs
  app/test/support/cli_e2e/documents/create_file_steps.ex
  app/test/support/cli_e2e/documents/create_folder_steps.ex
  app/test/support/cli_e2e/documents/create_link_steps.ex
  app/test/support/cli_e2e/documents/create_steps.ex
  app/test/support/cli_e2e/documents/delete_steps.ex
  app/test/support/cli_e2e/documents/get_steps.ex
  app/test/support/cli_e2e/documents/hub_scope_steps.ex
  app/test/support/cli_e2e/documents/list_contents_steps.ex
  app/test/support/cli_e2e/documents/publish_document_steps.ex
  app/test/support/cli_e2e/documents/update_steps.ex
Due: App Tests

chore: Demo includes documents and links for projects and goals
  app/lib/operately/demo.ex
  app/lib/operately/demo/data.ex
  app/lib/operately/demo/resource_hubs.ex
  app/test/operately/demo_test.exs
Due: App Tests

chore: Demo includes documents and links for projects and goals (#4704)
  app/lib/operately/demo.ex
  app/lib/operately/demo/data.ex
  app/lib/operately/demo/resource_hubs.ex
  app/test/operately/demo_test.exs
Due: App Tests

fix: Show site message title and description as one inline paragraph
  app/assets/js/layouts/CompanyLayout/SiteMessageBanner.tsx
Due: App Tests

fix: Show site message title and description as one inline paragraph (#4705)
  app/assets/js/layouts/CompanyLayout/SiteMessageBanner.tsx
Due: App Tests

docs: Add components-architecture agent skill
  .agents/skills/components-architecture/SKILL.md
  .agents/skills/components-architecture/reference.md
Due: none

docs: Add components-architecture agent skill (#4706)
  .agents/skills/components-architecture/SKILL.md
  .agents/skills/components-architecture/reference.md
Due: none

fix: Correct workflow artifact upload in publish_retries_report.sh
  scripts/publish_retries_report.sh
Due: none

fix: Correct workflow artifact upload in publish_retries_report.sh (#4707)
  scripts/publish_retries_report.sh
Due: none

chore: Update CLI version to 1.7.0
  cli/README.md
  cli/package-lock.json
  cli/package.json
Due: none

chore: Update CLI version to 1.7.0 (#4708)
  cli/README.md
  cli/package-lock.json
  cli/package.json
Due: none

Fix TS errors
  app/assets/js/pages/ProfilePage/index.tsx
  turboui/src/CommentSection/CommentItem.tsx
  turboui/src/CommentSection/types.ts
  turboui/src/MilestoneField/index.stories.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/ProfilePage/index.stories.tsx
  turboui/src/ProfilePage/index.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TaskCreationModal.tsx
  turboui/src/TaskBoard/components/index.test.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/stories/MilestoneCard.stories.tsx
  turboui/src/TaskBoard/stories/TaskBoard.stories.tsx
  turboui/src/TaskBoard/stories/TaskCreationModal.stories.tsx
  turboui/src/TaskBoard/types.ts
  turboui/src/WorkMap/components/TableRow/ChildRows.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/i18n.js
  app/assets/js/utils/formatting.ts
  app/assets/js/utils/time.tsx
  app/knip.json
Due: App Tests

Fix tests
  app/assets/js/features/documents/DocumentTitle.test.tsx
  turboui/src/CheckInCard/__tests__/index.test.tsx
  turboui/src/DiscussionCard/__tests__/index.test.tsx
  turboui/src/FormattedTime/LongDate.test.tsx
Due: Turboui, App Tests

docs: add Cursor Cloud setup instructions to AGENTS.md
  AGENTS.md
Due: none

fix: migrate remaining Tooltip imports to TurboUI
  app/assets/js/components/Badges/AccessLevelBadges.tsx
  app/assets/js/components/Tooltip/index.tsx
  app/assets/js/features/spaces/PrivacyIndicator/index.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
Due: App Tests

Update AGENTS.md
  AGENTS.md
Due: none
