Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Patch npm advisories in app, CLI, and turboui (#5167)
  app/package-lock.json
  app/package.json
  app/test/support/cli_e2e/documents/hub_scope_steps.ex
  cli/package-lock.json
  cli/package.json
  cli/src/test/unit/custom-endpoints.test.ts
  turboui/package-lock.json
Due: Turboui, App Tests

feat: improve legibility of kanban toggle for closed columns
  app/test/operately/operations/kanban_state_updating_test.exs
  turboui/src/TaskBoard/KanbanView/Kanban.test.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
Due: Turboui, App Tests

new approach to kanban display options menu
  turboui/src/TaskBoard/KanbanView/Kanban.test.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/KanbanView/index.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/TasksBoardView.tsx
  turboui/src/TaskBoard/components/TaskDisplayMenu.test.tsx
  turboui/src/TaskBoard/components/TaskDisplayMenu.tsx
Due: Turboui, App Tests

Truncate long company names in the navbar
  turboui/src/CompanyNavigation/CompanyDropdown.tsx
  turboui/src/CompanyNavigation/DropdownMenu.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/truncateCompanyName.test.ts
  turboui/src/CompanyNavigation/truncateCompanyName.ts
Due: Turboui, App Tests

feat: Prototype an update-available badge in the navbar
  turboui/src/CompanyNavigation/UpdateBadge.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/types.ts
Due: Turboui, App Tests

fix: preserve configured kanban status order
  turboui/src/TaskBoard/KanbanView/Kanban.test.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
Due: Turboui, App Tests

test: render kanban toolbar in template page mock
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

feat: improve legibility of kanban toggle for closed columns (#5171)
  app/test/operately/operations/kanban_state_updating_test.exs
  turboui/src/TaskBoard/KanbanView/Kanban.test.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/KanbanView/index.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/TasksBoardView.tsx
  turboui/src/TaskBoard/components/TaskDisplayMenu.test.tsx
  turboui/src/TaskBoard/components/TaskDisplayMenu.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

Improvements
  turboui/src/CompanyNavigation/UpdateBadge.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/types.ts
Due: Turboui, App Tests

Fix lint
  turboui/src/utils/storybook/isStorybook.ts
Due: Turboui, App Tests

feat: hide completed milestones when showing options for a task
  turboui/src/MilestoneField/index.stories.tsx
  turboui/src/MilestoneField/index.test.tsx
  turboui/src/MilestoneField/index.tsx
Due: Turboui, App Tests

Handle truncation issue
  turboui/src/CompanyNavigation/truncateCompanyName.test.ts
  turboui/src/CompanyNavigation/truncateCompanyName.ts
Due: Turboui, App Tests

chore: avoid copy-dependent milestone picker tests
  turboui/src/MilestoneField/index.test.tsx
Due: Turboui, App Tests

feat: hide completed milestones when showing options for a task (#5173)
  turboui/src/MilestoneField/index.stories.tsx
  turboui/src/MilestoneField/index.test.tsx
  turboui/src/MilestoneField/index.tsx
Due: Turboui, App Tests

chore: Add update-available badge in the navbar to storybook (#5108)
  turboui/src/CompanyNavigation/CompanyDropdown.tsx
  turboui/src/CompanyNavigation/DropdownMenu.tsx
  turboui/src/CompanyNavigation/UpdateBadge.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/truncateCompanyName.test.ts
  turboui/src/CompanyNavigation/truncateCompanyName.ts
  turboui/src/CompanyNavigation/types.ts
  turboui/src/utils/storybook/isStorybook.ts
Due: Turboui, App Tests

docs: Teach angents and Greptile to use .test.ts for Jest tests
  .agents/skills/writing-tests/SKILL.md
  .greptile/files.json
  .greptile/rules.md
  AGENTS.md
Due: none

feat: Move the lobby to TurboUI and show the instance version behind a flag
  app/assets/js/pages/LobbyPage/index.tsx
  turboui/src/CurrentVersion/index.stories.tsx
  turboui/src/CurrentVersion/index.test.tsx
  turboui/src/CurrentVersion/index.tsx
  turboui/src/LobbyPage/index.stories.tsx
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/LobbyPage/index.tsx
  turboui/src/LobbyPage/mockData.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

Show the navbar update badge behind the current_version flag
  app/assets/js/layouts/CompanyLayout/index.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/types.ts
Due: Turboui, App Tests

Show the self-hosted release version on the lobby
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/window.d.ts
  app/lib/operately.ex
  app/lib/operately_web/controllers/page_controller.ex
  app/rel/single-host/templates/docker-compose.yml.eex
  app/test/operately/version_test.exs
  docs/installation/upgrade.md
  turboui/src/CurrentVersion/index.test.tsx
  turboui/src/CurrentVersion/index.tsx
Due: Turboui, App Tests

Adjustments
  .agents/skills/writing-tests/SKILL.md
  .greptile/rules.md
Due: none

docs: Teach angents and Greptile to use .test.ts for Jest tests (#5174)
  .agents/skills/writing-tests/SKILL.md
  .greptile/files.json
  .greptile/rules.md
  AGENTS.md
Due: none

feat: Move the lobby to TurboUI and show the instance version behind a flag (#5175)
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/window.d.ts
  app/lib/operately.ex
  app/lib/operately_web/controllers/page_controller.ex
  app/rel/single-host/templates/docker-compose.yml.eex
  app/test/operately/version_test.exs
  docs/installation/upgrade.md
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/types.ts
  turboui/src/CurrentVersion/index.stories.tsx
  turboui/src/CurrentVersion/index.test.tsx
  turboui/src/CurrentVersion/index.tsx
  turboui/src/LobbyPage/index.stories.tsx
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/LobbyPage/index.tsx
  turboui/src/LobbyPage/mockData.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Stop person search 401s from leaking as unhandled rejections
  app/assets/js/models/people/usePersonFieldSearch.test.tsx
  app/assets/js/models/people/usePersonFieldSearch.tsx
  app/assets/js/models/people/usePossibleManagersSearch.tsx
  app/assets/js/models/tasks/useTaskAssigneeSearch.test.tsx
  app/assets/js/models/tasks/useTaskAssigneeSearch.tsx
  app/assets/js/routes/pageRoute.tsx
  app/assets/js/utils/unauthorized.test.ts
  app/assets/js/utils/unauthorized.ts
Due: App Tests

fix: Stop person search 401s from leaking as unhandled rejections (#5176)
  app/assets/js/models/people/usePersonFieldSearch.test.tsx
  app/assets/js/models/people/usePersonFieldSearch.tsx
  app/assets/js/models/people/usePossibleManagersSearch.tsx
  app/assets/js/models/tasks/useTaskAssigneeSearch.test.tsx
  app/assets/js/models/tasks/useTaskAssigneeSearch.tsx
  app/assets/js/routes/pageRoute.tsx
  app/assets/js/utils/unauthorized.test.ts
  app/assets/js/utils/unauthorized.ts
Due: App Tests

feat: Wire navbar update badge and instance disable switch
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/utils/versions.test.ts
  app/assets/js/utils/versions.ts
  app/assets/js/window.d.ts
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/index.tsx
  app/ee/assets/js/pages/index.tsx
  app/ee/assets/js/routes/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/update_update_badge_settings.ex
  app/ee/lib/admin_api/queries/get_update_badge_settings.ex
  app/ee/test/operately_ee/admin_api/mutations/update_update_badge_settings_test.exs
  app/ee/test/operately_ee/admin_api/queries/get_update_badge_settings_test.exs
  app/lib/operately/system_settings.ex
  app/lib/operately/system_settings/settings.ex
  app/lib/operately_web/controllers/page_controller.ex
  app/priv/repo/migrations/20260827194843_add_update_badge_enabled_to_system_settings.exs
  app/test/operately/system_settings_test.exs
Due: App Tests

Fix
  app/assets/js/utils/versions.ts
Due: App Tests

feat: Wire navbar update badge and instance disable switch (#5177)
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/utils/versions.test.ts
  app/assets/js/utils/versions.ts
  app/assets/js/window.d.ts
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/assets/js/pages/SaasAdminUpdateBadgePage/index.tsx
  app/ee/assets/js/pages/index.tsx
  app/ee/assets/js/routes/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/update_update_badge_settings.ex
  app/ee/lib/admin_api/queries/get_update_badge_settings.ex
  app/ee/test/operately_ee/admin_api/mutations/update_update_badge_settings_test.exs
  app/ee/test/operately_ee/admin_api/queries/get_update_badge_settings_test.exs
  app/lib/operately/system_settings.ex
  app/lib/operately/system_settings/settings.ex
  app/lib/operately_web/controllers/page_controller.ex
  app/priv/repo/migrations/20260827194843_add_update_badge_enabled_to_system_settings.exs
  app/test/operately/system_settings_test.exs
Due: App Tests

chore: Pre-dismiss v1.8 product release toast for all people
  app/lib/operately/data/change_115_dismiss_product_release_v180.ex
  app/priv/repo/migrations/20260828013943_dismiss_product_release_v180_for_all_people.exs
  app/test/operately/data/change_115_dismiss_product_release_v180_test.exs
Due: App Tests

chore: Prefer explicit product version from the release RSS feed
  app/assets/js/api/index.tsx
  app/assets/js/utils/versions.test.ts
  app/assets/js/utils/versions.ts
  app/lib/operately/product_releases/parser.ex
  app/lib/operately/product_releases/release.ex
  app/lib/operately_web/api/serializers/product_release.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/product_releases/fixtures/with_version.xml
  app/test/operately/product_releases/parser_test.exs
  app/test/operately_web/api/product_releases/get_latest_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: Prefer explicit product version from the release RSS feed (#5179)
  app/assets/js/api/index.tsx
  app/assets/js/utils/versions.test.ts
  app/assets/js/utils/versions.ts
  app/lib/operately/product_releases/parser.ex
  app/lib/operately/product_releases/release.ex
  app/lib/operately_web/api/serializers/product_release.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/product_releases/fixtures/with_version.xml
  app/test/operately/product_releases/parser_test.exs
  app/test/operately_web/api/product_releases/get_latest_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: Pre-dismiss v1.8 product release toast for all people (#5178)
  app/lib/operately/data/change_115_dismiss_product_release_v180.ex
  app/priv/repo/migrations/20260828013943_dismiss_product_release_v180_for_all_people.exs
  app/test/operately/data/change_115_dismiss_product_release_v180_test.exs
Due: App Tests

chore: Remove product_release_announcements experimental flag
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/routes/companyLoader.tsx
  app/lib/operately/product_releases.ex
  app/lib/operately_web/api/product_releases/dismiss.ex
  app/lib/operately_web/api/product_releases/get_latest.ex
  app/test/features/product_release_announcements_test.exs
  app/test/operately/product_releases_test.exs
  app/test/operately_web/api/product_releases/dismiss_test.exs
  app/test/operately_web/api/product_releases/get_latest_test.exs
  app/test/support/features/product_release_announcements_steps.ex
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/LobbyPage/mockData.ts
Due: Turboui, App Tests

chore: Remove Docker build from the CI pipeline
  .semaphore/semaphore.yml
Due: none

Fix
  Makefile
Due: none

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
