Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

fix: Stabilize flaky champion change/remove feature tests (#4964)
  app/test/support/features/projects_steps.ex
Due: App Tests

docs: Enhance spec 0017-project-templates.md (#4965)
  specs/0017-project-templates.md
Due: none

Fix KPI chart y-axis to always start at zero
  turboui/src/SpaceKpisPage/KpiLineChart.test.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
Due: Turboui, App Tests

Fix stale 'no data' state on KPI list after logging an entry
  app/lib/operately/kpis.ex
  app/lib/operately_web/api/kpis.ex
  app/test/operately_web/api/kpis/get_kpi_test.exs
  app/test/operately_web/api/kpis/list_kpis_test.exs
Due: App Tests

chore: Add search index maintenance controls
  app/config/config.exs
  app/lib/operately/search.ex
  app/lib/operately/search/bootstrap_worker.ex
  app/lib/operately/search/maintenance_runs.ex
  app/lib/operately/search/maintenance_worker.ex
  app/test/operately/search/bootstrap_worker_test.exs
  app/test/operately/search/core_work_maintenance_test.exs
  app/test/operately/search/maintenance_runs_test.exs
  app/test/operately/search/maintenance_test.exs
  app/test/operately/search/resource_hub_maintenance_test.exs
Due: App Tests

chore: Add search index maintenance controls (#4968)
  app/config/config.exs
  app/lib/operately/search.ex
  app/lib/operately/search/bootstrap_worker.ex
  app/lib/operately/search/maintenance_runs.ex
  app/lib/operately/search/maintenance_worker.ex
  app/test/operately/search/bootstrap_worker_test.exs
  app/test/operately/search/core_work_maintenance_test.exs
  app/test/operately/search/maintenance_runs_test.exs
  app/test/operately/search/maintenance_test.exs
  app/test/operately/search/resource_hub_maintenance_test.exs
Due: App Tests

Fix stale 'No data' on KPI list row after logging an entry
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
Due: Turboui, App Tests

feat: Add search index maintenance admin API
  app/ee/assets/js/admin_api/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/start_search_index_maintenance.ex
  app/ee/lib/admin_api/queries/get_search_index_status.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/mutations/start_search_index_maintenance_test.exs
  app/ee/test/operately_ee/admin_api/queries/get_search_index_status_test.exs
  app/lib/operately/search/index_run.ex
  app/lib/operately_web/api/serializers/search_index_run.ex
  app/lib/operately_web/api/type_names.ex
  app/test/operately/search/source_registry_test.exs
  app/test/operately_web/api/type_names_test.exs
Due: App Tests

feat: Add search index maintenance admin API (#4970)
  app/ee/assets/js/admin_api/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/start_search_index_maintenance.ex
  app/ee/lib/admin_api/queries/get_search_index_status.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/mutations/start_search_index_maintenance_test.exs
  app/ee/test/operately_ee/admin_api/queries/get_search_index_status_test.exs
  app/lib/operately/search/index_run.ex
  app/lib/operately_web/api/serializers/search_index_run.ex
  app/lib/operately_web/api/type_names.ex
  app/test/operately/search/source_registry_test.exs
  app/test/operately_web/api/type_names_test.exs
Due: App Tests

docs: Add API patterns to clean-code skill
  .agents/skills/clean-code/SKILL.md
Due: none

chore: Add production controls for the initial search backfill
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/index.tsx
  app/ee/assets/js/pages/index.tsx
  app/ee/assets/js/routes/index.tsx
  docs/installation/upgrade.md
  specs/0015-full-text-search.md
  turboui/src/SearchIndexAdminPage/index.stories.tsx
  turboui/src/SearchIndexAdminPage/index.test.tsx
  turboui/src/SearchIndexAdminPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

docs: Add API patterns to clean-code skill (#4971)
  .agents/skills/clean-code/SKILL.md
Due: none

chore: Add production controls for the initial search backfill (#4972)
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminSearchIndexPage/index.tsx
  app/ee/assets/js/pages/index.tsx
  app/ee/assets/js/routes/index.tsx
  docs/installation/upgrade.md
  specs/0015-full-text-search.md
  turboui/src/SearchIndexAdminPage/index.stories.tsx
  turboui/src/SearchIndexAdminPage/index.test.tsx
  turboui/src/SearchIndexAdminPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Collapse completed milestones on task lists
  turboui/src/TaskBoard/components/CompletedMilestonesSection.tsx
  turboui/src/TaskBoard/components/index.test.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/stories/TaskBoard.stories.tsx
  turboui/src/TaskBoard/tests/mockData.ts
Due: Turboui, App Tests

fix ci
  app/test/support/features/project_milestones_steps.ex
  turboui/src/TaskBoard/components/CompletedMilestonesSection.tsx
Due: Turboui, App Tests

feat: Collapse completed milestones on task lists (#4974)
  app/test/support/features/project_milestones_steps.ex
  turboui/src/TaskBoard/components/CompletedMilestonesSection.tsx
  turboui/src/TaskBoard/components/index.test.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/stories/TaskBoard.stories.tsx
  turboui/src/TaskBoard/tests/mockData.ts
Due: Turboui, App Tests

feat: Explicit milestone selector and creation action on kanban task boards
  app/assets/js/pages/ProjectPage/index.tsx
  app/test/support/features/project_milestones_steps.ex
  turboui/src/Menu/index.tsx
  turboui/src/ProjectPage/MilestoneViewSelector.test.tsx
  turboui/src/ProjectPage/MilestoneViewSelector.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

feat: Explicit milestone selector and creation action on kanban task boards (#4975)
  app/assets/js/pages/ProjectPage/index.tsx
  app/test/support/features/project_milestones_steps.ex
  turboui/src/Menu/index.tsx
  turboui/src/ProjectPage/MilestoneViewSelector.test.tsx
  turboui/src/ProjectPage/MilestoneViewSelector.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

feat: add milestone status icons to board filter
  turboui/src/ProjectPage/MilestoneViewSelector.test.tsx
  turboui/src/ProjectPage/MilestoneViewSelector.tsx
Due: Turboui, App Tests

feat: add milestone status icons to board filter (#4977)
  turboui/src/ProjectPage/MilestoneViewSelector.test.tsx
  turboui/src/ProjectPage/MilestoneViewSelector.tsx
Due: Turboui, App Tests

chore: Add Getter profiles for multi-context authorization
  app/lib/operately/repo/getter.ex
  app/lib/operately/resource_hubs/document.ex
  app/lib/operately/resource_hubs/file.ex
  app/lib/operately/resource_hubs/folder.ex
  app/lib/operately/resource_hubs/getter.ex
  app/lib/operately/resource_hubs/link.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately/resource_hubs/resource_hub.ex
  app/lib/operately/tasks/task.ex
  app/test/operately/repo/getter_test.exs
  app/test/operately/resource_hubs/getter_profiles_test.exs
  app/test/operately/tasks/task_test.exs
Due: App Tests

Refactor Getter
  app/lib/operately/repo/getter.ex
  app/lib/operately/repo/getter/access_query.ex
  app/lib/operately/repo/getter/args.ex
  app/lib/operately/repo/getter/association.ex
  app/lib/operately/repo/getter/auth_preloader.ex
  app/lib/operately/repo/getter/profile.ex
Due: App Tests

clean-code skill explains Getter
  .agents/skills/clean-code/SKILL.md
  .agents/skills/clean-code/getter.md
Due: none

feat: Tighten search result rows with context labels and body excerpts
  app/assets/css/lineclamp.css
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately/search/company_query_test.exs
  app/test/support/features/company_search_steps.ex
  turboui/src/SearchPage/index.test.tsx
  turboui/src/SearchPage/index.tsx
Due: Turboui, App Tests

feat: Tighten search result rows with context labels and body excerpts (#4979)
  app/assets/css/lineclamp.css
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately/search/company_query_test.exs
  app/test/support/features/company_search_steps.ex
  turboui/src/SearchPage/index.test.tsx
  turboui/src/SearchPage/index.tsx
Due: Turboui, App Tests

chore: Add Getter profiles for multi-context authorization (#4978)
  .agents/skills/clean-code/SKILL.md
  .agents/skills/clean-code/getter.md
  app/lib/operately/repo/getter.ex
  app/lib/operately/repo/getter/access_query.ex
  app/lib/operately/repo/getter/args.ex
  app/lib/operately/repo/getter/association.ex
  app/lib/operately/repo/getter/auth_preloader.ex
  app/lib/operately/repo/getter/profile.ex
  app/lib/operately/resource_hubs/document.ex
  app/lib/operately/resource_hubs/file.ex
  app/lib/operately/resource_hubs/folder.ex
  app/lib/operately/resource_hubs/getter.ex
  app/lib/operately/resource_hubs/link.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately/resource_hubs/resource_hub.ex
  app/lib/operately/tasks/task.ex
  app/test/operately/repo/getter_test.exs
  app/test/operately/resource_hubs/getter_profiles_test.exs
  app/test/operately/tasks/task_test.exs
Due: App Tests

fix: Stabilize form setValue and discussion page hook order
  app/assets/js/pages/DiscussionPage/page.tsx
  turboui/src/Forms/context.tsx
  turboui/src/Forms/index.test.tsx
Due: Turboui, App Tests

fix: Stabilize form setValue and discussion page hook order (#4980)
  app/assets/js/pages/DiscussionPage/page.tsx
  turboui/src/Forms/context.tsx
  turboui/src/Forms/index.test.tsx
Due: Turboui, App Tests

chore: Add project template data model
  app/lib/operately/comments/comment_thread.ex
  app/lib/operately/goals/goal.ex
  app/lib/operately/projects.ex
  app/lib/operately/projects/check_in.ex
  app/lib/operately/projects/contributor.ex
  app/lib/operately/projects/key_resource.ex
  app/lib/operately/projects/list_operation.ex
  app/lib/operately/projects/milestone.ex
  app/lib/operately/projects/project.ex
  app/lib/operately/projects/retrospective.ex
  app/lib/operately/resource_hubs/document.ex
  app/lib/operately/resource_hubs/file.ex
  app/lib/operately/resource_hubs/folder.ex
  app/lib/operately/resource_hubs/link.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately/resource_hubs/parent.ex
  app/lib/operately/resource_hubs/resource_hub.ex
  app/lib/operately/tasks/task.ex
  app/lib/operately/updates.ex
  app/lib/operately_web/api/comments/list.ex
  app/lib/operately_web/api/projects/list.ex
  app/lib/operately_web/api/projects/search_potential_contributors.ex
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/lib/operately_web/api/spaces/list_tools.ex
  app/priv/repo/migrations/20260803104503_add_project_template_data_model.exs
  app/test/operately/resource_hubs/getter_profiles_test.exs
  app/test/operately/tasks/task_test.exs
  app/test/operately_web/api/comments/list_test.exs
  app/test/operately_web/api/comments/update_test.exs
  app/test/operately_web/api/resource_hubs/list_nodes_test.exs
Due: App Tests

fix: Forward refs from TurboUI Link components
  turboui/src/Link/index.test.tsx
  turboui/src/Link/index.tsx
Due: Turboui, App Tests

fix: Forward refs from TurboUI Link components (#4982)
  turboui/src/Link/index.test.tsx
  turboui/src/Link/index.tsx
Due: Turboui, App Tests

feat: Rank title-and-body search matches above title-only
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/full_text_query.ex
  app/lib/operately/search/resource_hub_query.ex
  app/test/operately/search/company_query_test.exs
  app/test/operately/search/resource_hub_query_test.exs
Due: App Tests

feat: Add the project template data model
  app/lib/operately/company_transfers/import/ordering_state_rewriter.ex
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/project_templates/milestone.ex
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately/project_templates/task.ex
  app/lib/operately/projects/project.ex
  app/priv/repo/migrations/20260804104110_add_project_template_data_model.exs
  app/test/operately/company_transfers/export/relational_collector_test.exs
  app/test/operately/company_transfers/import/ordering_state_rewriter_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/project_templates/milestone_test.exs
  app/test/operately/project_templates/project_template_test.exs
  app/test/operately/project_templates/task_test.exs
  app/test/support/factory.ex
  app/test/support/factory/project_templates.ex
  specs/0017-project-templates.md
Due: App Tests

feat: Rank title-and-body search matches above title-only (#4983)
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/full_text_query.ex
  app/lib/operately/search/resource_hub_query.ex
  app/test/operately/search/company_query_test.exs
  app/test/operately/search/resource_hub_query_test.exs
Due: App Tests

feat: Release full-text search feature
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.test.ts
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.ts
  app/assets/js/models/search/resourceHub.ts
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  app/assets/js/pages/SearchPage/index.tsx
  app/assets/js/pages/SearchPage/loader.ts
  app/test/features/global_search/interaction_test.exs
  app/test/features/resource_hub_search_test.exs
  app/test/support/features/company_search_steps.ex
  app/test/support/features/global_search_steps.ex
  app/test/support/features/resource_hub_search_steps.ex
Due: App Tests

feat: Add the project template data model (#4985)
  app/lib/operately/company_transfers/import/ordering_state_rewriter.ex
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/project_templates/milestone.ex
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately/project_templates/task.ex
  app/lib/operately/projects/project.ex
  app/priv/repo/migrations/20260804104110_add_project_template_data_model.exs
  app/test/operately/company_transfers/export/relational_collector_test.exs
  app/test/operately/company_transfers/import/ordering_state_rewriter_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/project_templates/milestone_test.exs
  app/test/operately/project_templates/project_template_test.exs
  app/test/operately/project_templates/task_test.exs
  app/test/support/factory.ex
  app/test/support/factory/project_templates.ex
  specs/0017-project-templates.md
Due: App Tests
