Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

feat: Add MCP tools for docs search, versions, and contributors
  app/lib/operately_web/mcp/catalog/json_schema.ex
  app/lib/operately_web/mcp/helpers.ex
  app/lib/operately_web/mcp/input_validator.ex
  app/lib/operately_web/mcp/tools/docs_and_files/get_document_version.ex
  app/lib/operately_web/mcp/tools/docs_and_files/list_document_versions.ex
  app/lib/operately_web/mcp/tools/docs_and_files/restore_document_version.ex
  app/lib/operately_web/mcp/tools/docs_and_files/search.ex
  app/lib/operately_web/mcp/tools/projects/add_contributor.ex
  app/lib/operately_web/mcp/tools/projects/list_contributors.ex
  app/lib/operately_web/mcp/tools/projects/remove_contributor.ex
  app/lib/operately_web/mcp/tools/projects/update_contributor.ex
  app/lib/operately_web/mcp/tools/search_full_text.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/mcp/input_validator_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/get_document_version_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/list_document_versions_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/restore_document_version_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/search_test.exs
  app/test/operately_web/mcp/tools/projects/add_contributor_test.exs
  app/test/operately_web/mcp/tools/projects/list_contributors_test.exs
  app/test/operately_web/mcp/tools/projects/remove_contributor_test.exs
  app/test/operately_web/mcp/tools/projects/update_contributor_test.exs
  app/test/operately_web/mcp/tools/search_full_text_test.exs
Due: App Tests

feat: Add MCP tools for docs search, versions, and contributors (#5143)
  app/lib/operately_web/mcp/catalog/json_schema.ex
  app/lib/operately_web/mcp/helpers.ex
  app/lib/operately_web/mcp/input_validator.ex
  app/lib/operately_web/mcp/tools/docs_and_files/get_document_version.ex
  app/lib/operately_web/mcp/tools/docs_and_files/list_document_versions.ex
  app/lib/operately_web/mcp/tools/docs_and_files/restore_document_version.ex
  app/lib/operately_web/mcp/tools/docs_and_files/search.ex
  app/lib/operately_web/mcp/tools/projects/add_contributor.ex
  app/lib/operately_web/mcp/tools/projects/list_contributors.ex
  app/lib/operately_web/mcp/tools/projects/remove_contributor.ex
  app/lib/operately_web/mcp/tools/projects/update_contributor.ex
  app/lib/operately_web/mcp/tools/search_full_text.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/mcp/input_validator_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/get_document_version_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/list_document_versions_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/restore_document_version_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/search_test.exs
  app/test/operately_web/mcp/tools/projects/add_contributor_test.exs
  app/test/operately_web/mcp/tools/projects/list_contributors_test.exs
  app/test/operately_web/mcp/tools/projects/remove_contributor_test.exs
  app/test/operately_web/mcp/tools/projects/update_contributor_test.exs
  app/test/operately_web/mcp/tools/search_full_text_test.exs
Due: App Tests

feat: Move KPI update comments into a slide-in (#5141)
  app/assets/js/pages/SpaceKpisPage/KpiEntryComments.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/test/features/kpi_comments_test.exs
  app/test/support/features/kpi_comments_steps.ex
  turboui/src/CommentSection/CommentInput.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.test.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

chore: update vulnerable Elixir dependencies
  app/mix.exs
  app/mix.lock
Due: App Tests

feat: Lead the KPI page with its name and put the current value on the chart
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
  turboui/src/SpaceKpisPage/TrendIndicator.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
Due: Turboui, App Tests

fix: Keep empty KPI charts the same height as a plotted series
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
Due: Turboui, App Tests

feat: Lead the KPI page with its name and put the current value on the chart (#5146)
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
  turboui/src/SpaceKpisPage/TrendIndicator.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
Due: Turboui, App Tests

feat: Add MCP tools for project templates comments
  app/lib/operately_web/mcp/tools/project_templates/create_comment.ex
  app/lib/operately_web/mcp/tools/project_templates/delete_comment.ex
  app/lib/operately_web/mcp/tools/project_templates/list_comments.ex
  app/lib/operately_web/mcp/tools/project_templates/update_comment.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/mcp/tools/project_templates/create_comment_test.exs
  app/test/operately_web/mcp/tools/project_templates/delete_comment_test.exs
  app/test/operately_web/mcp/tools/project_templates/list_comments_test.exs
  app/test/operately_web/mcp/tools/project_templates/update_comment_test.exs
Due: App Tests

feat: Add MCP tools for project templates comments (#5147)
  app/lib/operately_web/mcp/tools/project_templates/create_comment.ex
  app/lib/operately_web/mcp/tools/project_templates/delete_comment.ex
  app/lib/operately_web/mcp/tools/project_templates/list_comments.ex
  app/lib/operately_web/mcp/tools/project_templates/update_comment.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/mcp/tools/project_templates/create_comment_test.exs
  app/test/operately_web/mcp/tools/project_templates/delete_comment_test.exs
  app/test/operately_web/mcp/tools/project_templates/list_comments_test.exs
  app/test/operately_web/mcp/tools/project_templates/update_comment_test.exs
Due: App Tests

fix: Align template task rows with active project task lists
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

fix: align cancel link with submit button on template discussions
  turboui/src/Forms/Submit.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/TemplateDiscussionForm/index.test.tsx
  turboui/src/TemplateDiscussionForm/index.tsx
Due: Turboui, App Tests

chore: update vulnerable Elixir dependencies (#5145)
  app/mix.exs
  app/mix.lock
Due: App Tests

chore: add Storybook story for template discussion form
  turboui/src/TemplateDiscussionForm/index.stories.tsx
Due: Turboui, App Tests

fix: Type the KPI annotation activities' space as always present
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/types.ex
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

feat: Sync CLI with project templates and document history
  Makefile
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/api/wrappers/docs_and_files/search.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/wrappers/documents/restore_document_version.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/get_document_version.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/list_document_versions.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/search.ex
  app/test/operately_web/api/spaces_test.exs
  app/test/operately_web/api/wrappers/docs_and_files/search_test.exs
  cli/README.md
  cli/docs/commands.md
  cli/package-lock.json
  cli/package.json
  cli/src/commands/custom-endpoints/documents/create_file.ts
  cli/src/commands/custom-endpoints/documents/helpers.ts
  cli/src/commands/custom-endpoints/index.ts
  cli/src/commands/custom-endpoints/project_templates/create_file.ts
  cli/src/commands/custom-endpoints/uploads/company-file.ts
  cli/src/generated/api-catalog.json
  cli/src/test/integration.test.ts
  cli/src/test/unit/custom-endpoints.test.ts
  cli/src/test/unit/parser.test.ts
  cli/src/test/unit/registry.test.ts
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: Keep the generated CLI catalog's original key order
  cli/src/generated/api-catalog.json
Due: none

chore: Restore keyword-style enum declarations in api/types.ex
  app/lib/operately_web/api/types.ex
Due: App Tests

Add e2e tests
  app/test/cli_e2e/documents/document_versions_test.exs
  app/test/cli_e2e/documents/search_test.exs
  app/test/cli_e2e/project_templates/create_file_test.exs
  app/test/support/cli_e2e/documents/document_versions_steps.ex
  app/test/support/cli_e2e/documents/search_steps.ex
  app/test/support/cli_e2e/project_templates/create_file_steps.ex
Due: App Tests

refactor: Simplify KPI annotations to date and title
  app/assets/js/api/index.tsx
  app/assets/js/models/kpis/index.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/lib/operately/kpis/kpi_annotation.ex
  app/lib/operately/operations/kpi_annotation_adding.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/serializers/kpi_annotation.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260825193734_create_kpi_annotations.exs
  app/test/operately/operations/kpi_annotation_adding_test.exs
  app/test/operately/operations/kpi_annotation_editing_test.exs
  app/test/operately_web/api/kpis/add_kpi_annotation_test.exs
  app/test/support/fixtures/kpis_fixtures.ex
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/SpaceKpisPage/AnnotationForm.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.test.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

chore: Preserve generated catalog ordering
  cli/src/generated/api-catalog.json
Due: none

Fix
  Makefile
Due: none

fix: Include KPI annotations in company transfers
  app/lib/operately/company_transfers/schema/policy_registry.ex
Due: App Tests

chore: Sync CLI with project templates and document history (#5151)
  Makefile
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/api/wrappers/docs_and_files/search.ex
  app/test/cli_e2e/documents/document_versions_test.exs
  app/test/cli_e2e/documents/search_test.exs
  app/test/cli_e2e/project_templates/create_file_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/wrappers/documents/restore_document_version.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/get_document_version.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/list_document_versions.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/search.ex
  app/test/operately_web/api/spaces_test.exs
  app/test/operately_web/api/wrappers/docs_and_files/search_test.exs
  app/test/support/cli_e2e/documents/document_versions_steps.ex
  app/test/support/cli_e2e/documents/search_steps.ex
  app/test/support/cli_e2e/project_templates/create_file_steps.ex
  cli/README.md
  cli/docs/commands.md
  cli/package-lock.json
  cli/package.json
  cli/src/commands/custom-endpoints/documents/create_file.ts
  cli/src/commands/custom-endpoints/documents/helpers.ts
  cli/src/commands/custom-endpoints/index.ts
  cli/src/commands/custom-endpoints/project_templates/create_file.ts
  cli/src/commands/custom-endpoints/uploads/company-file.ts
  cli/src/generated/api-catalog.json
  cli/src/test/integration.test.ts
  cli/src/test/unit/custom-endpoints.test.ts
  cli/src/test/unit/parser.test.ts
  cli/src/test/unit/registry.test.ts
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: Align cancel link with submit button on template discussions (#5149)
  turboui/src/Forms/Submit.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/TemplateDiscussionForm/index.stories.tsx
  turboui/src/TemplateDiscussionForm/index.test.tsx
  turboui/src/TemplateDiscussionForm/index.tsx
Due: Turboui, App Tests

Adjustments
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

Don't include copy in tests
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

fix: Align template task rows with active project task lists (#5148)
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

fix: Render API-created space task notes (#5031)
  app/test/features/space_kanban/task_cards_test.exs
  app/test/support/features/space_kanban_steps.ex
  turboui/src/PageDescription/index.test.tsx
  turboui/src/RichEditor/richTextContent.test.ts
  turboui/src/RichEditor/richTextContent.ts
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

fix: remove created date from template milestone sidebar
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/MilestonePage/components/Sidebar.test.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/MilestonePage/variantFeatures.test.ts
  turboui/src/MilestonePage/variantFeatures.ts
Due: Turboui, App Tests

fix: Show success toasts for template copy and archive
  app/test/support/features/project_templates_steps.ex
  turboui/src/ProjectTemplateLifecycle/index.test.tsx
  turboui/src/ProjectTemplateLifecycle/index.tsx
Due: Turboui, App Tests

feat: Enable task keyboard shortcuts on template task boards
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/components/TemplateTasksSection.tsx
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

fix: Allow empty content when resetting the rich text editor
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

fix: coerce empty rich text before passing it to TipTap
  turboui/src/RichEditor/richTextContent.test.ts
  turboui/src/RichEditor/richTextContent.ts
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

fix: Make rich text normalization TipTap-safe
  turboui/src/RichEditor/richTextContent.test.ts
  turboui/src/RichEditor/richTextContent.ts
Due: Turboui, App Tests

fix: Guard indexed access in rich text content tests
  turboui/src/RichEditor/richTextContent.test.ts
Due: Turboui, App Tests
