Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

Adjustments
  app/assets/js/features/discussions/DiscardDiscussionDraftModal.tsx
  app/assets/js/pages/DiscussionDraftsPage/index.tsx
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  turboui/src/DiscardDiscussionDraftModal/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add discard action for discussion drafts (#4767)
  app/assets/js/pages/DiscussionDraftsPage/index.tsx
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/lib/operately_web/paths.ex
  app/test/features/discussions/drafts_test.exs
  app/test/support/features/discussions_steps.ex
  turboui/src/DiscardDiscussionDraftModal/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Migrate AccessSelectors and access-level forms to TurboUI
  app/assets/js/features/projects/AccessSelectors.tsx
  app/assets/js/features/spaces/AccessSelectors/index.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
  app/assets/js/pages/SpaceAddPage/index.tsx
  app/assets/js/pages/SpaceEditGeneralAccessPage/index.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: show invite-only privacy indicator on project page sidebar
  app/assets/js/pages/ProjectPage/index.tsx
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

fix: Keep projects AccessSelectors on legacy Forms for ProjectAddPage
  app/assets/js/features/projects/AccessSelectors.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
  specs/0014-forms-turboui-migration.md
Due: App Tests

chore: Add per-instance MCP rate limits
  app/config/config.exs
  app/config/test.exs
  app/lib/operately/mcp/client_metadata.ex
  app/lib/operately/mcp/client_metadata/fetcher.ex
  app/lib/operately/mcp/observability.ex
  app/lib/operately/mcp/rate_limit.ex
  app/lib/operately_web/controllers/mcp_controller.ex
  app/lib/operately_web/controllers/mcp_oauth_controller.ex
  app/lib/operately_web/mcp/plugs/rate_limit_oauth.ex
  app/lib/operately_web/mcp/plugs/rate_limit_tools_call.ex
  app/lib/operately_web/telemetry.ex
  app/test/operately/mcp/client_metadata/fetcher_test.exs
  app/test/operately/mcp/observability_test.exs
  app/test/operately/mcp/rate_limit_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/controllers/mcp_oauth_controller_test.exs
  app/test/support/mcp_tool_conn_helper.ex
Due: App Tests

Adjustments
  app/lib/operately/application.ex
  app/lib/operately/mcp/rate_limit.ex
  app/test/operately/mcp/rate_limit_test.exs
Due: App Tests

chore: Add per-instance MCP rate limits (#4776)
  app/config/config.exs
  app/config/test.exs
  app/lib/operately/application.ex
  app/lib/operately/mcp/client_metadata.ex
  app/lib/operately/mcp/client_metadata/fetcher.ex
  app/lib/operately/mcp/observability.ex
  app/lib/operately/mcp/rate_limit.ex
  app/lib/operately_web/controllers/mcp_controller.ex
  app/lib/operately_web/controllers/mcp_oauth_controller.ex
  app/lib/operately_web/mcp/plugs/rate_limit_oauth.ex
  app/lib/operately_web/mcp/plugs/rate_limit_tools_call.ex
  app/lib/operately_web/telemetry.ex
  app/test/operately/mcp/client_metadata/fetcher_test.exs
  app/test/operately/mcp/observability_test.exs
  app/test/operately/mcp/rate_limit_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/controllers/mcp_oauth_controller_test.exs
  app/test/support/mcp_tool_conn_helper.ex
Due: App Tests

feat: Add MCP connections page with grant revocation
  app/assets/js/api/index.tsx
  app/assets/js/models/accounts/index.tsx
  app/assets/js/pages/AccountMcpConnectionsPage/index.tsx
  app/assets/js/pages/AccountSecurityPage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately/mcp.ex
  app/lib/operately/mcp/grant.ex
  app/lib/operately/mcp/operations/grant.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/mcp_grants.ex
  app/lib/operately_web/api/serializers/mcp_grant.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/features/mcp_connections_test.exs
  app/test/operately/mcp/operations/grant_test.exs
  app/test/operately_web/api/mcp_grants_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/controllers/mcp_oauth_controller_test.exs
  app/test/operately_web/mcp/plugs/require_mcp_auth_test.exs
  app/test/support/features/mcp_connections_steps.ex
  app/test/support/mcp_tool_conn_helper.ex
  turboui/src/AccountMcpConnectionsPage/index.stories.tsx
  turboui/src/AccountMcpConnectionsPage/index.tsx
  turboui/src/ApiTypes/index.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

Adjustment
  app/assets/js/pages/AccountMcpConnectionsPage/index.tsx
  app/lib/operately/mcp/operations/grant.ex
Due: App Tests

feat: Add MCP connections page with grant revocation (#4777)
  app/assets/js/api/index.tsx
  app/assets/js/models/accounts/index.tsx
  app/assets/js/pages/AccountMcpConnectionsPage/index.tsx
  app/assets/js/pages/AccountSecurityPage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately/mcp.ex
  app/lib/operately/mcp/grant.ex
  app/lib/operately/mcp/operations/grant.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/mcp_grants.ex
  app/lib/operately_web/api/serializers/mcp_grant.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/features/mcp_connections_test.exs
  app/test/operately/mcp/operations/grant_test.exs
  app/test/operately_web/api/mcp_grants_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/controllers/mcp_oauth_controller_test.exs
  app/test/operately_web/mcp/plugs/require_mcp_auth_test.exs
  app/test/support/features/mcp_connections_steps.ex
  app/test/support/mcp_tool_conn_helper.ex
  turboui/src/AccountMcpConnectionsPage/index.stories.tsx
  turboui/src/AccountMcpConnectionsPage/index.tsx
  turboui/src/ApiTypes/index.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Add priv/static build artifacts to artifacts
  app/.gitignore
  app/priv/static/.vite/manifest.json
  app/priv/static/apple-touch-icon.png
  app/priv/static/apple-touch-icon.png.gz
  app/priv/static/favicon-2ffebfe642a6bc14d7bb74a838b10a9f.svg
  app/priv/static/favicon-2ffebfe642a6bc14d7bb74a838b10a9f.svg.gz
  app/priv/static/favicon.svg
  app/priv/static/favicon.svg.gz
  app/priv/static/marko-6ff2815d403f1370a65de08f0bfc3dd7.jpg
  app/priv/static/marko.jpg
  app/vite.config.mjs
Due: App Tests

Fix tests
  Makefile
Due: none

chore: Add priv/static build artifacts to artifacts (#4778)
  Makefile
  app/.gitignore
  app/priv/static/.vite/manifest.json
  app/priv/static/apple-touch-icon.png
  app/priv/static/apple-touch-icon.png.gz
  app/priv/static/favicon-2ffebfe642a6bc14d7bb74a838b10a9f.svg
  app/priv/static/favicon-2ffebfe642a6bc14d7bb74a838b10a9f.svg.gz
  app/priv/static/favicon.svg
  app/priv/static/favicon.svg.gz
  app/priv/static/marko-6ff2815d403f1370a65de08f0bfc3dd7.jpg
  app/priv/static/marko.jpg
  app/vite.config.mjs
Due: App Tests

feat: Improve Account Security page design to match Settings page
  app/assets/js/pages/AccountSecurityPage/index.tsx
  app/assets/js/pages/AccountSettingsPage/index.tsx
  app/test/support/features/api_tokens_steps.ex
  app/test/support/features/mcp_connections_steps.ex
  turboui/src/AccountSecurityPage/index.stories.tsx
  turboui/src/AccountSecurityPage/index.tsx
  turboui/src/AccountSettingsPage/index.stories.tsx
  turboui/src/AccountSettingsPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Adjust types
  app/assets/js/features/spaces/AccessSelectors/index.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

refactor: Add reusable Forms.AccessSelectors in TurboUI
  app/assets/js/features/spaces/AccessSelectors/index.tsx
  app/assets/js/features/spaces/index.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
  app/assets/js/pages/SpaceAddPage/index.tsx
  app/assets/js/pages/SpaceEditGeneralAccessPage/index.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/AccessSelectors.stories.tsx
  turboui/src/Forms/AccessSelectors.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

Adjust buttons
  app/test/support/features/project_contributors_steps.ex
  app/test/support/features/project_creation_steps.ex
  app/test/support/features/projects_steps.ex
  turboui/src/ProjectPage/OverviewSidebar.tsx
Due: Turboui, App Tests

Add lock icon beside the title
  turboui/src/GoalPage/PageHeader.tsx
  turboui/src/ProjectPageLayout/PageHeader.tsx
  turboui/src/ProjectPageLayout/index.tsx
Due: Turboui, App Tests

fix: Stabilize Goal closing and Status flaky tests
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/GoalReopenPage/useForm.tsx
  app/test/support/features/goal_closing_steps.ex
  app/test/support/features/status_customization_steps.ex
  app/test/support/features/ui.ex
Due: App Tests

fix: Stabilize Goal closing and Status flaky tests (#4780)
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/GoalReopenPage/useForm.tsx
  app/test/support/features/goal_closing_steps.ex
  app/test/support/features/status_customization_steps.ex
  app/test/support/features/ui.ex
Due: App Tests

fix: Show invite-only privacy indicator on project page (#4775)
  app/assets/js/pages/ProjectPage/index.tsx
  app/test/support/features/project_contributors_steps.ex
  app/test/support/features/project_creation_steps.ex
  app/test/support/features/projects_steps.ex
  turboui/src/GoalPage/PageHeader.tsx
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ProjectPageLayout/PageHeader.tsx
  turboui/src/ProjectPageLayout/index.tsx
Due: Turboui, App Tests

feat: Improve Account Security page design to match Settings page (#4779)
  app/assets/js/pages/AccountSecurityPage/index.tsx
  app/assets/js/pages/AccountSettingsPage/index.tsx
  app/test/support/features/api_tokens_steps.ex
  app/test/support/features/mcp_connections_steps.ex
  turboui/src/AccountSecurityPage/index.stories.tsx
  turboui/src/AccountSecurityPage/index.tsx
  turboui/src/AccountSettingsPage/index.stories.tsx
  turboui/src/AccountSettingsPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix
  app/assets/js/features/Permissions/AccessFields.test.tsx
  app/assets/js/features/Permissions/AccessFields.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
  turboui/src/Forms/AccessSelectors.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/__mocks__/@tabler/icons-react.js
Due: Turboui, App Tests

Adjustments
  app/assets/js/features/Permissions/AccessFields.test.tsx
  app/assets/js/features/Permissions/AccessFields.tsx
  turboui/src/Forms/AccessSelectors.stories.tsx
Due: Turboui, App Tests

chore: Migrate AccessSelectors and access-level forms to TurboUI (#4774)
  app/assets/js/features/Permissions/AccessFields.test.tsx
  app/assets/js/features/Permissions/AccessFields.tsx
  app/assets/js/features/spaces/AccessSelectors/index.tsx
  app/assets/js/features/spaces/index.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
  app/assets/js/pages/SpaceAddPage/index.tsx
  app/assets/js/pages/SpaceEditGeneralAccessPage/index.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/AccessSelectors.stories.tsx
  turboui/src/Forms/AccessSelectors.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
  turboui/src/__mocks__/@tabler/icons-react.js
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Extend TurboUI RichTextArea and migrate simple rich-text forms
  app/assets/js/features/ProjectRetrospective/Form.tsx
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/ProjectResumePage/Form.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/form.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/form.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

fix: Guard optional link type in ResourceHubNewLinkPage form
  app/assets/js/pages/ResourceHubNewLinkPage/form.tsx
Due: App Tests

chore: remove deprecated Form module and migrate last usage
  app/assets/js/components/Form/index.tsx
  app/assets/js/pages/CompanyAdminTrustedEmailDomainsPage/page.tsx
Due: App Tests

fix: use Person serializer in GetMe query
  app/lib/operately_web/api/people/get_me.ex
  app/lib/operately_web/api/serializer.ex
  app/lib/operately_web/api/serializers/person.ex
  app/test/operately_web/api/people/get_me_test.exs
Due: App Tests

Fix navigation in project access pages
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  app/assets/js/pages/ProjectContributorsPage/loader.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
Due: App Tests

Add navigation to AccountChangePasswordPage
  app/assets/js/pages/AccountChangePasswordPage/index.tsx
Due: App Tests

Fix navigation in AccountAppereancePage
  app/assets/js/pages/AccountAppearancePage/index.tsx
Due: App Tests

Remove unused component
  app/assets/js/features/accounts/PageNavigation.tsx
Due: App Tests

fix: Complete breadcrumbs on project access and account pages (#4784)
  app/assets/js/features/accounts/PageNavigation.tsx
  app/assets/js/pages/AccountAppearancePage/index.tsx
  app/assets/js/pages/AccountChangePasswordPage/index.tsx
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  app/assets/js/pages/ProjectContributorsPage/loader.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
Due: App Tests

fix: Stabilize Goal Closing flaky tests
  app/test/support/features/goal_closing_steps.ex
Due: App Tests

fix: Stabilize Goal Closing flaky tests (#4785)
  app/test/support/features/goal_closing_steps.ex
Due: App Tests
