Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

chore: Enforce translation completeness in CI
  .semaphore/semaphore.yml
  Makefile
  app/lib/mix/tasks/operately.i18n.check.ex
  app/lib/operately/i18n/catalog.ex
  app/lib/operately/i18n/check.ex
  app/lib/operately/i18n/translation_check.ex
  app/test/operately/i18n/check_test.exs
  app/test/operately/i18n/translation_check_test.exs
  docs/internationalization.md
Due: App Tests

chore: Enforce translation completeness in CI (#5424)
  .semaphore/semaphore.yml
  Makefile
  app/lib/mix/tasks/operately.i18n.check.ex
  app/lib/operately/i18n/catalog.ex
  app/lib/operately/i18n/check.ex
  app/lib/operately/i18n/translation_check.ex
  app/test/operately/i18n/check_test.exs
  app/test/operately/i18n/translation_check_test.exs
  docs/internationalization.md
Due: App Tests

docs: Add internationalization skill and new-language workflow
  .agents/skills/clean-code/SKILL.md
  .agents/skills/components-architecture/SKILL.md
  .agents/skills/internationalization/SKILL.md
  .agents/skills/internationalization/references/adding-a-language.md
  .agents/skills/ui-copy/SKILL.md
  AGENTS.md
  docs/i18n/glossaries/template.md
  docs/internationalization.md
  turboui/AGENTS.md
Due: Turboui, App Tests

docs: Add internationalization skill and new-language workflow (#5425)
  .agents/skills/clean-code/SKILL.md
  .agents/skills/components-architecture/SKILL.md
  .agents/skills/internationalization/SKILL.md
  .agents/skills/internationalization/references/adding-a-language.md
  .agents/skills/ui-copy/SKILL.md
  AGENTS.md
  docs/i18n/glossaries/template.md
  docs/internationalization.md
  turboui/AGENTS.md
Due: Turboui, App Tests

chore: Test that CI fails when translation is missing
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

fix: keep page header actions readable on mobile
  app/assets/js/components/PaperContainer/Header.test.tsx
  app/assets/js/components/PaperContainer/Header.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
  turboui/src/ResourceHubDraftsPage/index.tsx
Due: Turboui, App Tests

test: remove header layout class assertions
  app/assets/js/components/PaperContainer/Header.test.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
Due: Turboui, App Tests

test: assert header layout without UI copy
  app/assets/js/components/PaperContainer/Header.test.tsx
Due: App Tests

fix: keep centered header actions on the left
  app/assets/js/components/PaperContainer/Header.tsx
  turboui/src/ResourceHubDraftsPage/index.tsx
Due: Turboui, App Tests

fix: remove empty toolbar row from space task boards
  turboui/src/SpaceKanbanPage/SpaceKanbanPage.stories.tsx
  turboui/src/SpaceKanbanPage/index.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.test.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/KanbanView/index.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
Due: Turboui, App Tests

Clarify pt-BR acknowledgement translations
  app/assets/js/generated/locales/pt-BR.json
  app/package-lock.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately_email/emails/goal_closing_email_test.exs
  app/test/operately_email/emails/project_check_in_submitted_email_test.exs
  docs/i18n/glossaries/pt-BR.md
  turboui/README.md
  turboui/package-lock.json
  turboui/package.json
  turboui/src/CheckInHeader/index.test.tsx
Due: Turboui, App Tests

Retain Reviewer as an English role name in pt-BR
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately_email/templates_test.exs
  docs/i18n/glossaries/pt-BR.md
  turboui/src/ReviewPage/index.test.tsx
  turboui/src/Subscriptions/components/SubscribersSelectorModal.test.tsx
Due: Turboui, App Tests

Adjust readme
  turboui/README.md
Due: Turboui, App Tests

fix: Clarify pt-BR acknowledgement and role terminology (#5428)
  app/assets/js/generated/locales/pt-BR.json
  app/package-lock.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately_email/emails/goal_closing_email_test.exs
  app/test/operately_email/emails/project_check_in_submitted_email_test.exs
  app/test/operately_email/templates_test.exs
  docs/i18n/glossaries/pt-BR.md
  turboui/README.md
  turboui/package-lock.json
  turboui/package.json
  turboui/src/CheckInHeader/index.test.tsx
  turboui/src/ReviewPage/index.test.tsx
  turboui/src/Subscriptions/components/SubscribersSelectorModal.test.tsx
Due: Turboui, App Tests

fix: fall back when avatar images fail
  turboui/src/Avatar/index.test.tsx
  turboui/src/Avatar/index.tsx
Due: Turboui, App Tests

test: cover avatar recovery after image failure
  turboui/src/Avatar/index.test.tsx
Due: Turboui, App Tests

test: use stable selectors in kanban header tests
  turboui/src/TaskBoard/KanbanView/Kanban.test.tsx
Due: Turboui, App Tests

fix: remove empty toolbar row from space task boards (#5427)
  turboui/src/SpaceKanbanPage/SpaceKanbanPage.stories.tsx
  turboui/src/SpaceKanbanPage/index.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.test.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/KanbanView/index.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
Due: Turboui, App Tests

strengthen analytics activation concurrency tests
  app/test/operately/analytics_test.exs
Due: App Tests

skip analytics delivery for deleted accounts
  app/lib/operately/analytics/delivery.ex
  app/test/operately/analytics/delivery_test.exs
Due: App Tests

docs: Add German translation glossary
  docs/i18n/glossaries/de.md
  docs/internationalization.md
Due: none

docs: Add German translation glossary (#5433)
  docs/i18n/glossaries/de.md
  docs/internationalization.md
Due: none

make native-speaker translation review optional
  .agents/skills/internationalization/SKILL.md
  .agents/skills/internationalization/references/adding-a-language.md
  .agents/skills/ui-copy/SKILL.md
  docs/i18n/glossaries/pt-BR.md
  docs/i18n/glossaries/template.md
  docs/internationalization.md
Due: none

docs: Add Russian translation glossary
  docs/i18n/glossaries/ru.md
  docs/internationalization.md
Due: none

Clean up glossary
  docs/i18n/glossaries/ru.md
Due: none

docs: Add Russian translation glossary (#5434)
  .agents/skills/internationalization/SKILL.md
  .agents/skills/internationalization/references/adding-a-language.md
  .agents/skills/ui-copy/SKILL.md
  docs/i18n/glossaries/pt-BR.md
  docs/i18n/glossaries/ru.md
  docs/i18n/glossaries/template.md
  docs/internationalization.md
Due: none

chore: Add frontend conversion tracking and context sync
  app/assets/js/analytics/browser.test.ts
  app/assets/js/analytics/browser.ts
  app/assets/js/analytics/index.test.ts
  app/assets/js/analytics/index.ts
  app/assets/js/analytics/session.ts
  app/assets/js/api/index.tsx
  app/assets/js/app.tsx
  app/assets/js/pages/InviteLinkJoinPage/loader.test.tsx
  app/assets/js/routes/auth.tsx
  app/assets/js/routes/language.test.tsx
  app/assets/js/routes/pageRoute.test.tsx
  app/assets/js/routes/preloading/preloadPage.test.ts
  app/assets/js/window.d.ts
  app/ee/assets/js/pages/SaasAdminPage/AccountActionsMenu.test.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.test.tsx
  app/lib/operately_web/analytics.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/analytics/sync_context.ex
  app/lib/operately_web/api/internal.ex
  app/lib/operately_web/controllers/page_controller.ex
  app/test/operately_web/api/analytics/sync_context_test.exs
  cli/src/generated/api-catalog.json
  docs/conversion-tracking.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

track invitation signup starts and discard pending visits on logout
  app/assets/js/analytics/browser.test.ts
  app/assets/js/analytics/browser.ts
Due: App Tests

preserve signup context and defer analytics reset until SDK loads
  app/assets/js/analytics/browser.test.ts
  app/assets/js/analytics/browser.ts
Due: App Tests

Fix lint
  app/assets/js/analytics/browser.ts
Due: App Tests

reset stale analytics identity on unauthenticated app visits
  app/assets/js/analytics/browser.test.ts
  app/assets/js/analytics/browser.ts
Due: App Tests

Fix lint
  app/assets/js/analytics/browser.ts
  app/assets/js/window.d.ts
Due: App Tests

chore: Add frontend conversion tracking and context sync (#5435)
  app/assets/js/analytics/browser.test.ts
  app/assets/js/analytics/browser.ts
  app/assets/js/analytics/index.test.ts
  app/assets/js/analytics/index.ts
  app/assets/js/analytics/session.ts
  app/assets/js/api/index.tsx
  app/assets/js/app.tsx
  app/assets/js/pages/InviteLinkJoinPage/loader.test.tsx
  app/assets/js/routes/auth.tsx
  app/assets/js/routes/language.test.tsx
  app/assets/js/routes/pageRoute.test.tsx
  app/assets/js/routes/preloading/preloadPage.test.ts
  app/assets/js/window.d.ts
  app/ee/assets/js/pages/SaasAdminPage/AccountActionsMenu.test.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.test.tsx
  app/lib/operately_web/analytics.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/analytics/sync_context.ex
  app/lib/operately_web/api/internal.ex
  app/lib/operately_web/controllers/page_controller.ex
  app/test/operately_web/api/analytics/sync_context_test.exs
  cli/src/generated/api-catalog.json
  docs/conversion-tracking.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

docs: Add French terminology glossary
  docs/i18n/glossaries/fr.md
  docs/internationalization.md
Due: none

docs: Add French terminology glossary (#5436)
  docs/i18n/glossaries/fr.md
  docs/internationalization.md
Due: none

docs: Add Spanish terminology glossary
  docs/i18n/glossaries/es.md
  docs/internationalization.md
Due: none

docs: Add Spanish terminology glossary (#5437)
  docs/i18n/glossaries/es.md
  docs/internationalization.md
Due: none

fix: Improve MCP protocol rejection diagnostics
  app/lib/operately/mcp/observability.ex
  app/lib/operately_web/controllers/mcp_controller.ex
  app/test/operately/mcp/observability_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
Due: App Tests
