Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

fix: Make rich text normalization TipTap-safe (#5155)
  turboui/src/RichEditor/richTextContent.test.ts
  turboui/src/RichEditor/richTextContent.ts
Due: Turboui, App Tests

fix: remove created date from template milestone sidebar
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/MilestonePage/components/Sidebar.test.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/MilestonePage/variantFeatures.test.ts
  turboui/src/MilestonePage/variantFeatures.ts
Due: Turboui, App Tests

fix: Show success toasts for template copy and archive
  app/test/support/features/project_templates_steps.ex
  turboui/src/ProjectTemplateLifecycle/index.test.tsx
  turboui/src/ProjectTemplateLifecycle/index.tsx
Due: Turboui, App Tests

fix: Remove created date from template milestone sidebar (#5152)
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/MilestonePage/components/Sidebar.test.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/MilestonePage/variantFeatures.test.ts
  turboui/src/MilestonePage/variantFeatures.ts
Due: Turboui, App Tests

feat: Enable task keyboard shortcuts on template task boards
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/components/TemplateTasksSection.tsx
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

Add toast for restoring templates
  app/test/support/features/project_templates_steps.ex
  turboui/src/ProjectTemplateLifecycle/index.test.tsx
  turboui/src/ProjectTemplateLifecycle/index.tsx
Due: Turboui, App Tests

fix: Show success toasts when copying and archiving project templates (#5153)
  app/test/support/features/project_templates_steps.ex
  turboui/src/ProjectTemplateLifecycle/index.test.tsx
  turboui/src/ProjectTemplateLifecycle/index.tsx
Due: Turboui, App Tests

feat: publish multi-arch (amd64/arm64) production image
  .semaphore/semaphore.yml
  Makefile
Due: none

fix: Label KPI chart dates on calendar ticks
  turboui/src/SpaceKpisPage/KpiLineChart.test.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
  turboui/src/SpaceKpisPage/timeAxis.test.ts
  turboui/src/SpaceKpisPage/timeAxis.ts
  turboui/src/SpaceKpisPage/utils.ts
Due: Turboui, App Tests

fix: Parse KPI calendar dates in local time
  app/assets/js/models/kpis/index.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.tsx
  turboui/src/SpaceKpisPage/timeAxis.test.ts
  turboui/src/SpaceKpisPage/timeAxis.ts
  turboui/src/SpaceKpisPage/utils.test.ts
  turboui/src/SpaceKpisPage/utils.ts
Due: Turboui, App Tests

fix: Label KPI chart dates on calendar ticks (#5158)
  app/assets/js/models/kpis/index.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.test.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.tsx
  turboui/src/SpaceKpisPage/timeAxis.test.ts
  turboui/src/SpaceKpisPage/timeAxis.ts
  turboui/src/SpaceKpisPage/utils.test.ts
  turboui/src/SpaceKpisPage/utils.ts
Due: Turboui, App Tests

feat: ask what to do with open tasks when completing a milestone
  app/assets/js/api/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/lib/operately/comments.ex
  app/lib/operately/comments/create_milestone_comment_operation.ex
  app/lib/operately/projects/milestone.ex
  app/lib/operately_web/api/projects/create_milestone_comment.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/projects/create_milestone_comment_test.exs
  turboui/src/ApiTypes/index.ts
  turboui/src/MilestonePage/components/CompleteMilestoneModal.stories.tsx
  turboui/src/MilestonePage/components/CompleteMilestoneModal.test.tsx
  turboui/src/MilestonePage/components/CompleteMilestoneModal.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/ProjectPage/taskCompletion.test.ts
  turboui/src/ProjectPage/taskCompletion.ts
  turboui/src/TaskBoard/components/CompletedMilestonesSection.tsx
  turboui/src/TaskBoard/components/index.test.tsx
Due: Turboui, App Tests

feat: Surface KPI updates on Review for champions
  app/assets/js/api/index.tsx
  app/lib/operately/assignments/assignment.ex
  app/lib/operately/assignments/kpi_schedule.ex
  app/lib/operately/assignments/loader.ex
  app/lib/operately/operations/kpi_creation.ex
  app/lib/operately/operations/kpi_deleting.ex
  app/lib/operately/operations/kpi_editing.ex
  app/lib/operately/operations/kpi_entry_logging.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/assignments/kpi_schedule_test.exs
  app/test/operately/assignments/loader_test.exs
  app/test/operately_email/assignments_email_test.exs
  app/test/operately_web/api/people/get_assignments_count_test.exs
  app/test/operately_web/api/people/list_assignments_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/ReviewPage/AssignmentsList.tsx
  turboui/src/ReviewPage/index.tsx
  turboui/src/ReviewPage/stories/mockData.ts
Due: Turboui, App Tests

feat: Surface KPI updates on Review for champions (#5159)
  app/assets/js/api/index.tsx
  app/lib/operately/assignments/assignment.ex
  app/lib/operately/assignments/kpi_schedule.ex
  app/lib/operately/assignments/loader.ex
  app/lib/operately/operations/kpi_creation.ex
  app/lib/operately/operations/kpi_deleting.ex
  app/lib/operately/operations/kpi_editing.ex
  app/lib/operately/operations/kpi_entry_logging.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/assignments/kpi_schedule_test.exs
  app/test/operately/assignments/loader_test.exs
  app/test/operately_email/assignments_email_test.exs
  app/test/operately_web/api/people/get_assignments_count_test.exs
  app/test/operately_web/api/people/list_assignments_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/ReviewPage/AssignmentsList.tsx
  turboui/src/ReviewPage/index.tsx
  turboui/src/ReviewPage/stories/mockData.ts
Due: Turboui, App Tests

fix: improve status selector
  turboui/src/MilestonePage/components/CompleteMilestoneModal.test.tsx
  turboui/src/MilestonePage/components/CompleteMilestoneModal.tsx
  turboui/src/StatusSelector/index.test.tsx
  turboui/src/StatusSelector/index.tsx
Due: Turboui, App Tests

fix: new milestone completion rules propagated to mcp
  AGENTS.md
  app/lib/operately/comments/create_milestone_comment_operation.ex
  app/lib/operately/tasks/task.ex
  app/lib/operately_web/api/tasks.ex
  app/lib/operately_web/mcp/tools/milestones/complete.ex
  app/test/operately_web/api/projects/create_milestone_comment_test.exs
  app/test/operately_web/mcp/tools/milestones/complete_test.exs
  cli/src/generated/api-catalog.json
Due: App Tests

fix: bulk-closing tasks during milestone completion now creates a standard task_status_updating activity
  app/lib/operately/activities.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/comments/create_milestone_comment_operation.ex
  app/test/operately_web/api/projects/create_milestone_comment_test.exs
Due: App Tests

fix: address code review feedback
  app/assets/js/pages/MilestonePage/index.test.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/test/operately/operations/project_template_creation_from_project_test.exs
  turboui/src/MilestonePage/components/CompleteMilestoneModal.test.tsx
Due: Turboui, App Tests

fix: temporary activity ID collision
  app/assets/js/pages/MilestonePage/index.test.tsx
  app/assets/js/pages/MilestonePage/index.tsx
Due: App Tests

Open due date offset with d on template kanban cards
  turboui/src/TaskBoard/KanbanView/Card.test.tsx
  turboui/src/TaskBoard/KanbanView/Card.tsx
  turboui/src/TaskBoard/KanbanView/Column.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/KanbanView/index.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/types.ts
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/kanbanAdapters.test.ts
  turboui/src/TemplateProjectPage/kanbanAdapters.ts
Due: Turboui, App Tests

Keep template kanban slide-in closed after dismiss
  turboui/src/TaskBoard/KanbanView/index.test.tsx
  turboui/src/TaskBoard/KanbanView/index.tsx
Due: Turboui, App Tests

feat: Enable task keyboard shortcuts on template task boards (#5154)
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/components/TemplateTasksSection.tsx
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/TaskBoard/KanbanView/Card.test.tsx
  turboui/src/TaskBoard/KanbanView/Card.tsx
  turboui/src/TaskBoard/KanbanView/Column.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/KanbanView/index.test.tsx
  turboui/src/TaskBoard/KanbanView/index.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TaskBoard/types.ts
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/kanbanAdapters.test.ts
  turboui/src/TemplateProjectPage/kanbanAdapters.ts
Due: Turboui, App Tests

feat: ask user what to do with remaining open tasks when completing a milestone (#5163)
  AGENTS.md
  app/assets/js/api/index.tsx
  app/assets/js/pages/MilestonePage/index.test.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/lib/operately/activities.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/comments.ex
  app/lib/operately/comments/create_milestone_comment_operation.ex
  app/lib/operately/projects/milestone.ex
  app/lib/operately/tasks/task.ex
  app/lib/operately_web/api/projects/create_milestone_comment.ex
  app/lib/operately_web/api/tasks.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/mcp/tools/milestones/complete.ex
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately_web/api/projects/create_milestone_comment_test.exs
  app/test/operately_web/mcp/tools/milestones/complete_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/MilestonePage/components/CompleteMilestoneModal.stories.tsx
  turboui/src/MilestonePage/components/CompleteMilestoneModal.test.tsx
  turboui/src/MilestonePage/components/CompleteMilestoneModal.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/ProjectPage/taskCompletion.test.ts
  turboui/src/ProjectPage/taskCompletion.ts
  turboui/src/StatusSelector/index.test.tsx
  turboui/src/StatusSelector/index.tsx
  turboui/src/TaskBoard/components/CompletedMilestonesSection.tsx
  turboui/src/TaskBoard/components/index.test.tsx
Due: Turboui, App Tests

fix: Accept CIMD clients that fall back to public auth
  app/lib/operately/mcp/client_metadata.ex
  app/lib/operately/mcp/client_metadata/document.ex
  app/lib/operately_web/controllers/mcp_metadata_controller.ex
  app/test/operately/mcp/client_metadata/document_test.exs
  app/test/operately/mcp/client_metadata_test.exs
  app/test/operately_web/controllers/mcp_metadata_controller_test.exs
Due: App Tests

Stabilize CLI flaky tests
  app/test/support/cli_e2e/auth_steps.ex
  app/test/support/cli_e2e/create_company_steps.ex
  app/test/support/cli_e2e/helpers.ex
  app/test/support/cli_e2e/join_steps.ex
  app/test/support/cli_e2e/signup_steps.ex
Due: App Tests

fix: Accept CIMD clients that fall back to public auth (#5165)
  app/lib/operately/mcp/client_metadata.ex
  app/lib/operately/mcp/client_metadata/document.ex
  app/lib/operately_web/controllers/mcp_metadata_controller.ex
  app/test/operately/mcp/client_metadata/document_test.exs
  app/test/operately/mcp/client_metadata_test.exs
  app/test/operately_web/controllers/mcp_metadata_controller_test.exs
  app/test/support/cli_e2e/auth_steps.ex
  app/test/support/cli_e2e/create_company_steps.ex
  app/test/support/cli_e2e/helpers.ex
  app/test/support/cli_e2e/join_steps.ex
  app/test/support/cli_e2e/signup_steps.ex
Due: App Tests

chore: Publish multi-arch (amd64/arm64) production image (#5157)
  .semaphore/semaphore.yml
  Makefile
Due: none

chore: Hide experimental KPI commands from CLI and API docs
  app/lib/operately/api_docs/catalog.ex
  app/lib/operately/api_docs/generator.ex
  app/lib/operately/api_docs/markdown.ex
  app/lib/operately_web/api.ex
  app/test/operately/api_docs/generator_test.exs
  app/test/support/cli_backward_compatibility/resource_hubs_steps.ex
  cli/README.md
  cli/docs/commands.md
  cli/scripts/gen-commands-doc.mjs
  cli/src/commands/help.ts
  cli/src/generated/api-catalog.json
  cli/src/test/integration.test.ts
  cli/src/test/unit/fixture-catalog.ts
  cli/src/test/unit/help-handler.test.ts
  cli/src/test/unit/help.test.ts
  cli/src/types/catalog.ts
Due: App Tests

Add docstring to namespace
  app/lib/turbo_connect/api.ex
Due: App Tests

chore: Hide experimental KPI commands from CLI and API docs (#5166)
  app/lib/operately/api_docs/catalog.ex
  app/lib/operately/api_docs/generator.ex
  app/lib/operately/api_docs/markdown.ex
  app/lib/operately_web/api.ex
  app/lib/turbo_connect/api.ex
  app/test/operately/api_docs/generator_test.exs
  app/test/support/cli_backward_compatibility/resource_hubs_steps.ex
  cli/README.md
  cli/docs/commands.md
  cli/scripts/gen-commands-doc.mjs
  cli/src/commands/help.ts
  cli/src/generated/api-catalog.json
  cli/src/test/integration.test.ts
  cli/src/test/unit/fixture-catalog.ts
  cli/src/test/unit/help-handler.test.ts
  cli/src/test/unit/help.test.ts
  cli/src/types/catalog.ts
Due: App Tests

chore: Patch npm advisories in app, CLI, and turboui
  app/package-lock.json
  app/package.json
  app/test/support/cli_e2e/documents/hub_scope_steps.ex
  cli/package-lock.json
  cli/package.json
  cli/src/test/unit/custom-endpoints.test.ts
  turboui/package-lock.json
Due: Turboui, App Tests

Upgrade required node
  cli/package-lock.json
  cli/package.json
Due: none

feat: make document lists easier to scan
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ResourceHub/NodeDescription.tsx
  turboui/src/ResourceHub/NodeIcon.tsx
  turboui/src/ResourceHub/NodeMetadata.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/ResourceHubNodeRow.tsx
  turboui/src/ResourceHub/selectors.ts
  turboui/src/ResourceHubFolderPage/index.tsx
  turboui/src/ResourceHubPage/SharedListPage.tsx
  turboui/src/ResourceHubPage/index.test.tsx
  turboui/src/ResourceHubPage/index.tsx
  turboui/src/ResourceHubPage/mockData.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

fix: address mobile regression
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/ResourceHub/NodeMetadata.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
Due: Turboui, App Tests

feat: make document lists easier to scan (#5168)
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/DocsAndFiles/index.test.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ResourceHub/NodeDescription.tsx
  turboui/src/ResourceHub/NodeIcon.tsx
  turboui/src/ResourceHub/NodeMetadata.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/ResourceHubNodeRow.tsx
  turboui/src/ResourceHub/selectors.ts
  turboui/src/ResourceHubFolderPage/index.tsx
  turboui/src/ResourceHubPage/SharedListPage.tsx
  turboui/src/ResourceHubPage/index.test.tsx
  turboui/src/ResourceHubPage/index.tsx
  turboui/src/ResourceHubPage/mockData.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

fix: complete task activities and status metadata
  app/lib/operately/comments/create_milestone_comment_operation.ex
  app/lib/operately/operations/kanban_state_updating.ex
  app/test/operately_web/api/projects/create_milestone_comment_test.exs
Due: App Tests

fix: complete task activities and status metadata (#5169)
  app/lib/operately/comments/create_milestone_comment_operation.ex
  app/lib/operately/operations/kanban_state_updating.ex
  app/test/operately_web/api/projects/create_milestone_comment_test.exs
Due: App Tests
