Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

chore: Allow conventional commit scopes in PR titles (#5120)
  scripts/pr-name-check
Due: none

Remove project Team & Access pages in favor of the overview sidebar
  app/assets/js/components/ProjectPageNavigation/index.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddChampion.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddContributors.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddReviewer.tsx
  app/assets/js/pages/ProjectContributorsAddPage/index.tsx
  app/assets/js/pages/ProjectContributorsAddPage/loader.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ChangeChampion.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ChangeReviewer.tsx
  app/assets/js/pages/ProjectContributorsEditPage/EditContributor.tsx
  app/assets/js/pages/ProjectContributorsEditPage/PageTitle.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ReassignAsContributor.tsx
  app/assets/js/pages/ProjectContributorsEditPage/index.tsx
  app/assets/js/pages/ProjectContributorsEditPage/loader.tsx
  app/assets/js/pages/ProjectContributorsPage/OtherPeople.tsx
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  app/assets/js/pages/ProjectContributorsPage/loader.tsx
  app/assets/js/pages/ProjectEditAccessLevelsPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/paths.ex
  app/test/features/project_contributors/adding_people_test.exs
  app/test/features/project_contributors/editing_and_page_test.exs
  app/test/features/project_contributors/removal_test.exs
  app/test/features/project_contributors/role_assignments_test.exs
  app/test/features/project_contributors/role_conversion_test.exs
  app/test/support/features/project_contributors_steps.ex
  app/test/support/features/project_creation_steps.ex
  app/test/support/features/projects_steps.ex
  turboui/src/ContributorsSection/ContributorModal.stories.tsx
  turboui/src/ContributorsSection/ContributorModal.test.tsx
  turboui/src/ContributorsSection/ContributorModal.tsx
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
Due: Turboui, App Tests

Save contributor access only when the form is submitted
  turboui/src/ContributorsSection/ContributorModal.test.tsx
  turboui/src/ContributorsSection/ContributorModal.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

Lock full-access contributor permissions for edit-only users
  app/assets/js/pages/ProjectPage/index.tsx
  turboui/src/ContributorsSection/ContributorModal.stories.tsx
  turboui/src/ContributorsSection/ContributorModal.test.tsx
  turboui/src/ContributorsSection/ContributorModal.tsx
Due: Turboui, App Tests

Add a read-only Menu state for locked contributor access
  turboui/src/ContributorsSection/ContributorModal.tsx
  turboui/src/Menu/index.stories.tsx
  turboui/src/Menu/index.test.tsx
  turboui/src/Menu/index.tsx
Due: Turboui, App Tests

Enforce peer-level rules for removing project contributors
  app/assets/js/models/projects/useProjectContributorActions.tsx
  app/lib/operately_web/api/projects/delete_contributor.ex
  app/test/features/project_contributors/access_permissions_test.exs
  app/test/features/project_contributors/removal_test.exs
  app/test/operately_web/api/projects/delete_contributor_test.exs
  app/test/support/features/project_contributors_steps.ex
  turboui/src/ContributorsSection/index.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
Due: Turboui, App Tests

feat: Add notification subscriptions to KPIs
  app/assets/js/api/index.tsx
  app/assets/js/models/subscriptions/useSubscription.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/lib/operately/activities/notifications/kpi_edited.ex
  app/lib/operately/activities/notifications/kpi_entry_logged.ex
  app/lib/operately/data/change_113_create_subscription_lists_for_kpis.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/kpis/notifications.ex
  app/lib/operately/notifications.ex
  app/lib/operately/notifications/subscription_list.ex
  app/lib/operately/operations/kpi_creation.ex
  app/lib/operately/operations/kpi_editing.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/notifications/is_subscribed.ex
  app/lib/operately_web/api/notifications/subscribe.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260824151433_add_subscription_list_to_kpis.exs
  app/test/operately/data/change_113_create_subscription_lists_for_kpis_test.exs
  app/test/operately/operations/kpi_creation_test.exs
  app/test/operately/operations/kpi_editing_test.exs
  app/test/operately/operations/kpi_entry_logging_test.exs
  app/test/operately_web/api/kpis/get_kpi_test.exs
  app/test/operately_web/api/notifications/is_subscribed_test.exs
  app/test/operately_web/api/notifications/subscribe_test.exs
  turboui/src/ApiTypes/index.ts
  turboui/src/NotificationToggle/index.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/components/Badges/AccessLevelBadges.tsx
  app/assets/js/models/permissions/index.tsx
  app/assets/js/models/projectContributors/index.tsx
  app/assets/js/models/projects/index.tsx
Due: App Tests

feat: Add notification subscriptions to KPIs (#5122)
  app/assets/js/api/index.tsx
  app/assets/js/models/subscriptions/useSubscription.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/lib/operately/activities/notifications/kpi_edited.ex
  app/lib/operately/activities/notifications/kpi_entry_logged.ex
  app/lib/operately/data/change_113_create_subscription_lists_for_kpis.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/kpis/notifications.ex
  app/lib/operately/notifications.ex
  app/lib/operately/notifications/subscription_list.ex
  app/lib/operately/operations/kpi_creation.ex
  app/lib/operately/operations/kpi_editing.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/notifications/is_subscribed.ex
  app/lib/operately_web/api/notifications/subscribe.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260824151433_add_subscription_list_to_kpis.exs
  app/test/operately/data/change_113_create_subscription_lists_for_kpis_test.exs
  app/test/operately/operations/kpi_creation_test.exs
  app/test/operately/operations/kpi_editing_test.exs
  app/test/operately/operations/kpi_entry_logging_test.exs
  app/test/operately_web/api/kpis/get_kpi_test.exs
  app/test/operately_web/api/notifications/is_subscribed_test.exs
  app/test/operately_web/api/notifications/subscribe_test.exs
  turboui/src/ApiTypes/index.ts
  turboui/src/NotificationToggle/index.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

fix: Prevent duplicate contributors on the same project
  app/assets/js/models/projects/useProjectContributorActions.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately/data/change_114_delete_duplicate_project_contributors.ex
  app/lib/operately/operations/project_contributor_addition.ex
  app/lib/operately/operations/project_contributors_addition.ex
  app/lib/operately/projects/contributor.ex
  app/lib/operately_web/api/projects/create_contributor.ex
  app/lib/operately_web/api/projects/create_contributors.ex
  app/priv/repo/migrations/20260824164851_delete_duplicate_project_contributors_and_add_unique_index.exs
  app/test/features/project_contributors/role_demotion_test.exs
  app/test/operately/data/change_114_delete_duplicate_project_contributors_test.exs
  app/test/operately/operations/project_contributors_addition_test.exs
  app/test/operately_web/api/projects/create_contributor_test.exs
  app/test/operately_web/api/projects/create_contributors_test.exs
  app/test/support/features/project_contributors_steps.ex
Due: App Tests

Adjust tests
  app/lib/operately/operations/project_creation.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/test/operately/access/activity_context_assigner_test.exs
  app/test/operately/projects_test.exs
  app/test/operately_web/api/projects/list_test.exs
Due: App Tests

Fix
  app/lib/operately_web/api/projects/create_contributor.ex
Due: App Tests

fix: Prevent duplicate contributors on the same project (#5123)
  app/assets/js/models/projects/useProjectContributorActions.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately/data/change_114_delete_duplicate_project_contributors.ex
  app/lib/operately/operations/project_contributor_addition.ex
  app/lib/operately/operations/project_contributors_addition.ex
  app/lib/operately/operations/project_creation.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/projects/contributor.ex
  app/lib/operately_web/api/projects/create_contributor.ex
  app/lib/operately_web/api/projects/create_contributors.ex
  app/priv/repo/migrations/20260824164851_delete_duplicate_project_contributors_and_add_unique_index.exs
  app/test/features/project_contributors/role_demotion_test.exs
  app/test/operately/access/activity_context_assigner_test.exs
  app/test/operately/data/change_114_delete_duplicate_project_contributors_test.exs
  app/test/operately/operations/project_contributors_addition_test.exs
  app/test/operately/projects_test.exs
  app/test/operately_web/api/projects/create_contributor_test.exs
  app/test/operately_web/api/projects/create_contributors_test.exs
  app/test/operately_web/api/projects/list_test.exs
  app/test/support/features/project_contributors_steps.ex
Due: App Tests

feat: Support project templates in Work Map quick add
  app/assets/js/models/workMap/index.tsx
  app/assets/js/pages/CompanyWorkMapPage/loader.tsx
  app/assets/js/pages/CompanyWorkMapPage/page.tsx
  app/assets/js/pages/SpaceWorkMapPage/loader.tsx
  app/assets/js/pages/SpaceWorkMapPage/page.tsx
  turboui/src/ProjectTemplateSelection/index.test.tsx
  turboui/src/ProjectTemplateSelection/index.tsx
  turboui/src/WorkMap/components/AddItemModal.test.tsx
  turboui/src/WorkMap/components/AddItemModal.tsx
  turboui/src/WorkMap/components/TableRow/ChildRows.tsx
  turboui/src/WorkMap/components/TableRow/ItemNameCell.tsx
  turboui/src/WorkMap/components/TableRow/index.tsx
  turboui/src/WorkMap/components/WorkMapTable.tsx
  turboui/src/WorkMap/components/ZeroState.test.tsx
  turboui/src/WorkMap/components/ZeroState.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/AddItemModal.stories.tsx
  turboui/src/WorkMap/stories/WorkMapPage.stories.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Add tests
  app/test/features/work_map/project_templates_test.exs
  app/test/support/features/work_map_steps.ex
Due: App Tests

Adjust tests
  app/test/support/features/work_map_steps.ex
Due: App Tests

feat: Support project templates in Work Map quick add (#5124)
  app/assets/js/models/workMap/index.tsx
  app/assets/js/pages/CompanyWorkMapPage/loader.tsx
  app/assets/js/pages/CompanyWorkMapPage/page.tsx
  app/assets/js/pages/SpaceWorkMapPage/loader.tsx
  app/assets/js/pages/SpaceWorkMapPage/page.tsx
  app/test/features/work_map/project_templates_test.exs
  app/test/support/features/work_map_steps.ex
  turboui/src/ProjectTemplateSelection/index.test.tsx
  turboui/src/ProjectTemplateSelection/index.tsx
  turboui/src/WorkMap/components/AddItemModal.test.tsx
  turboui/src/WorkMap/components/AddItemModal.tsx
  turboui/src/WorkMap/components/TableRow/ChildRows.tsx
  turboui/src/WorkMap/components/TableRow/ItemNameCell.tsx
  turboui/src/WorkMap/components/TableRow/index.tsx
  turboui/src/WorkMap/components/WorkMapTable.tsx
  turboui/src/WorkMap/components/ZeroState.test.tsx
  turboui/src/WorkMap/components/ZeroState.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/AddItemModal.stories.tsx
  turboui/src/WorkMap/stories/WorkMapPage.stories.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Edit KPIs in place and list their actions in the sidebar
  turboui/src/SpaceKpisPage/KpiActionsMenu.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/NewKpiModal.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/useKpiFields.ts
Due: Turboui, App Tests

feat: Edit KPIs in place and list their actions in the sidebar (#5125)
  turboui/src/SpaceKpisPage/KpiActionsMenu.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/NewKpiModal.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/useKpiFields.ts
Due: Turboui, App Tests

chore: Remove Log update from the KPI list table
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
Due: Turboui, App Tests

chore: Remove Log update from the KPI list table (#5126)
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
Due: Turboui, App Tests

feat: Show an inline sparkline on the KPI list
  app/lib/operately/kpis.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/test/operately/kpis/kpis_test.exs
  app/test/operately_web/api/kpis/list_kpis_test.exs
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/KpiSparkline.tsx
  turboui/src/SpaceKpisPage/KpiSummaryCard.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
Due: Turboui, App Tests

feat: Show an inline sparkline on the KPI list (#5127)
  app/lib/operately/kpis.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/test/operately/kpis/kpis_test.exs
  app/test/operately_web/api/kpis/list_kpis_test.exs
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/KpiSparkline.tsx
  turboui/src/SpaceKpisPage/KpiSummaryCard.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
Due: Turboui, App Tests

feat: Show KPI history values on chart hover
  turboui/src/SpaceKpisPage/KpiLineChart.test.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
Due: Turboui, App Tests

fix: Keep KPI chart hover tooltip inside the viewport
  turboui/src/SpaceKpisPage/KpiLineChart.test.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
Due: Turboui, App Tests

feat: Show KPI history values on chart hover (#5128)
  turboui/src/SpaceKpisPage/KpiLineChart.test.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
Due: Turboui, App Tests

fix: Plot the same KPI history on the space card and the KPI list
  app/lib/operately/kpis.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/spaces/list_tools.ex
  app/test/operately/kpis/kpis_test.exs
  app/test/operately_web/api/spaces/list_tools_test.exs
  app/test/support/factory/spaces.ex
Due: App Tests

docs: Note that latest_entry is populated for every KPI list view
  app/lib/operately/kpis.ex
  app/lib/operately/kpis/kpi.ex
Due: App Tests

fix: Plot the same KPI history on the space card and the KPI list (#5129)
  app/lib/operately/kpis.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/spaces/list_tools.ex
  app/test/operately/kpis/kpis_test.exs
  app/test/operately_web/api/spaces/list_tools_test.exs
  app/test/support/factory/spaces.ex
Due: App Tests

feat: simplify project templates empty state
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
Due: Turboui, App Tests

fix: test element not exact copy
  AGENTS.md
  app/test/support/features/project_templates_steps.ex
Due: App Tests

docs: add empty state design guidelines
  turboui/AGENTS.md
Due: Turboui, App Tests

fix: Expect kpi_update in MCP comment parent types
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
Due: App Tests

feat: simplify project templates empty state (#5133)
  AGENTS.md
  app/test/support/features/project_templates_steps.ex
  turboui/AGENTS.md
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
Due: Turboui, App Tests

fix: Include commentsCount on KPI entry fixtures
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
Due: Turboui, App Tests

feat: refine project templates index
  turboui/src/ProjectTemplatesPage/TemplateCard.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
  turboui/src/ResourceHub/Header.tsx
Due: Turboui, App Tests

feat: refine project templates index (#5135)
  turboui/src/ProjectTemplatesPage/TemplateCard.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
  turboui/src/ResourceHub/Header.tsx
Due: Turboui, App Tests

feat: Move KPI update comments into a slide-in
  app/assets/js/pages/SpaceKpisPage/KpiEntryComments.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/test/features/kpi_comments_test.exs
  app/test/support/features/kpi_comments_steps.ex
  turboui/src/CommentSection/CommentInput.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.test.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests
