Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Index resource hub content for search
  app/lib/operately/operations/resource_hub_document_creating.ex
  app/lib/operately/operations/resource_hub_document_deleting.ex
  app/lib/operately/operations/resource_hub_document_editing.ex
  app/lib/operately/operations/resource_hub_document_publishing.ex
  app/lib/operately/operations/resource_hub_file_creating.ex
  app/lib/operately/operations/resource_hub_file_deleting.ex
  app/lib/operately/operations/resource_hub_file_editing.ex
  app/lib/operately/operations/resource_hub_folder_copying.ex
  app/lib/operately/operations/resource_hub_folder_creating.ex
  app/lib/operately/operations/resource_hub_folder_deleting.ex
  app/lib/operately/operations/resource_hub_folder_renaming.ex
  app/lib/operately/operations/resource_hub_link_creating.ex
  app/lib/operately/operations/resource_hub_link_deleting.ex
  app/lib/operately/operations/resource_hub_link_editing.ex
  app/lib/operately/search/entry.ex
  app/lib/operately/search/resource_hub_index.ex
  app/lib/operately/search/resource_hub_index/tree.ex
  app/lib/operately/search/resource_hub_index/worker.ex
  app/lib/operately/search/source_indexer.ex
  app/lib/operately/search/source_registry.ex
  app/lib/operately/search/sources/resource_hub/ancestor_visibility.ex
  app/lib/operately/search/sources/resource_hub/document.ex
  app/lib/operately/search/sources/resource_hub/file.ex
  app/lib/operately/search/sources/resource_hub/folder.ex
  app/lib/operately/search/sources/resource_hub/link.ex
  app/lib/operately/search/sources/resource_hub/loader.ex
  app/lib/operately/search/sources/resource_hub/metadata.ex
  app/lib/operately/search/sources/resource_hub/record.ex
  app/test/operately/search/maintenance_test.exs
  app/test/operately/search/resource_hub_index/tree_test.exs
  app/test/operately/search/resource_hub_indexing_test.exs
  app/test/operately/search/resource_hub_maintenance_test.exs
  app/test/operately/search/resource_hub_sources_test.exs
  app/test/operately/search/schema_test.exs
  app/test/operately/search/source_indexer_test.exs
  specs/0015-full-text-search.md
Due: App Tests

Restoring doc version triggers indexing
  app/lib/operately/operations/resource_hub_document_version_restoring.ex
  app/test/operately/search/resource_hub_indexing_test.exs
Due: App Tests

Track resource hub scope changes in search index
  app/lib/operately/search/sources/resource_hub/loader.ex
  app/lib/operately/search/sources/resource_hub/metadata.ex
  app/lib/operately/search/sources/resource_hub/record.ex
  app/test/operately/search/resource_hub_maintenance_test.exs
  app/test/operately/search/resource_hub_sources_test.exs
Due: App Tests

chore: Index resource hub content for search (#4900)
  app/lib/operately/operations/resource_hub_document_creating.ex
  app/lib/operately/operations/resource_hub_document_deleting.ex
  app/lib/operately/operations/resource_hub_document_editing.ex
  app/lib/operately/operations/resource_hub_document_publishing.ex
  app/lib/operately/operations/resource_hub_document_version_restoring.ex
  app/lib/operately/operations/resource_hub_file_creating.ex
  app/lib/operately/operations/resource_hub_file_deleting.ex
  app/lib/operately/operations/resource_hub_file_editing.ex
  app/lib/operately/operations/resource_hub_folder_copying.ex
  app/lib/operately/operations/resource_hub_folder_creating.ex
  app/lib/operately/operations/resource_hub_folder_deleting.ex
  app/lib/operately/operations/resource_hub_folder_renaming.ex
  app/lib/operately/operations/resource_hub_link_creating.ex
  app/lib/operately/operations/resource_hub_link_deleting.ex
  app/lib/operately/operations/resource_hub_link_editing.ex
  app/lib/operately/search/entry.ex
  app/lib/operately/search/resource_hub_index.ex
  app/lib/operately/search/resource_hub_index/tree.ex
  app/lib/operately/search/resource_hub_index/worker.ex
  app/lib/operately/search/source_indexer.ex
  app/lib/operately/search/source_registry.ex
  app/lib/operately/search/sources/resource_hub/ancestor_visibility.ex
  app/lib/operately/search/sources/resource_hub/document.ex
  app/lib/operately/search/sources/resource_hub/file.ex
  app/lib/operately/search/sources/resource_hub/folder.ex
  app/lib/operately/search/sources/resource_hub/link.ex
  app/lib/operately/search/sources/resource_hub/loader.ex
  app/lib/operately/search/sources/resource_hub/metadata.ex
  app/lib/operately/search/sources/resource_hub/record.ex
  app/test/operately/search/maintenance_test.exs
  app/test/operately/search/resource_hub_index/tree_test.exs
  app/test/operately/search/resource_hub_indexing_test.exs
  app/test/operately/search/resource_hub_maintenance_test.exs
  app/test/operately/search/resource_hub_sources_test.exs
  app/test/operately/search/schema_test.exs
  app/test/operately/search/source_indexer_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Add resource hub search to API
  app/assets/js/api/index.tsx
  app/lib/operately/search.ex
  app/lib/operately/search/entry.ex
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately/search/result.ex
  app/lib/operately/search/text.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/resource_hubs/search.ex
  app/lib/operately_web/api/serializers/search_result.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/resource_hubs/search.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/search.ex
  app/test/operately_web/api/resource_hubs/search_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0015-full-text-search.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Escape LIKE metacharacters in resource hub search
  app/lib/operately/search/resource_hub_query.ex
  app/test/operately/search/resource_hub_query_test.exs
Due: App Tests

register search result API type
  app/lib/operately_web/api/types.ex
Due: App Tests

chore: Add resource hub search to API (#4901)
  app/assets/js/api/index.tsx
  app/lib/operately/search.ex
  app/lib/operately/search/entry.ex
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately/search/result.ex
  app/lib/operately/search/text.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/resource_hubs/search.ex
  app/lib/operately_web/api/serializers/search_result.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/resource_hubs/search.ex
  app/test/operately_web/api/external_queries/queries/wrappers/documents/search.ex
  app/test/operately_web/api/resource_hubs/search_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0015-full-text-search.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

docs: Add ecto query introctions to clean-code skill
  .agents/skills/clean-code/SKILL.md
  .agents/skills/clean-code/reference.md
Due: none

docs: Add ecto query introctions to clean-code skill (#4902)
  .agents/skills/clean-code/SKILL.md
  .agents/skills/clean-code/reference.md
Due: none

refactor: migrate CommentsCountIndicator to TurboUI
  app/assets/js/features/Comments/CommentsCountIndicator.tsx
  app/assets/js/features/Comments/index.tsx
  app/assets/js/features/SpaceTools/Discussions/RegularState.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
Due: App Tests

feat: consolidate AccessLevel into TurboUI AccessLevelSummary
  app/assets/js/features/goals/AccessLevel.tsx
  app/assets/js/features/projects/AccessLevel.tsx
  app/assets/js/features/spaces/AccessLevel/index.test.ts
  app/assets/js/features/spaces/AccessLevel/index.tsx
  app/assets/js/features/spaces/index.tsx
  app/assets/js/pages/GoalAccessManagementPage/page.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  app/assets/js/pages/SpaceAccessManagementPage/page.tsx
  app/assets/js/pages/SpaceAddPage/index.tsx
  turboui/src/AccessLevelSummary/index.stories.tsx
  turboui/src/AccessLevelSummary/index.test.ts
  turboui/src/AccessLevelSummary/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: format AccessLevelSummary tests with Prettier
  turboui/src/AccessLevelSummary/index.test.ts
Due: Turboui, App Tests

fix: Return resource hub nodes from search
  app/assets/js/api/index.tsx
  app/lib/operately/search.ex
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately_web/api/resource_hubs/search.ex
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately_web/api/external_queries/queries/resource_hubs/search.ex
  app/test/operately_web/api/resource_hubs/search_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: Return resource hub nodes from search (#4903)
  app/assets/js/api/index.tsx
  app/lib/operately/search.ex
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately_web/api/resource_hubs/search.ex
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately_web/api/external_queries/queries/resource_hubs/search.ex
  app/test/operately_web/api/resource_hubs/search_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

feat: Add inline search to resource hubs behind FF
  app/assets/js/models/search/resourceHub.ts
  app/assets/js/pages/ResourceHubPage/page.tsx
  app/test/features/resource_hub_search_test.exs
  app/test/support/features/resource_hub_search_steps.ex
  specs/0015-full-text-search.md
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/useResourceHubSearch.ts
  turboui/src/ResourceHubPage/SharedListPage.tsx
  turboui/src/ResourceHubPage/index.stories.tsx
  turboui/src/ResourceHubPage/index.test.tsx
  turboui/src/ResourceHubPage/index.tsx
  turboui/src/ResourceHubPage/types.ts
Due: Turboui, App Tests

Adjust spacing
  turboui/src/ResourceHub/ContinueEditingDrafts.tsx
Due: Turboui, App Tests

Disable sorting when search is active
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/SortControl.tsx
  turboui/src/ResourceHubPage/index.test.tsx
Due: Turboui, App Tests

feat: Add inline search to resource hubs behind FF (#4906)
  app/assets/js/models/search/resourceHub.ts
  app/assets/js/pages/ResourceHubPage/page.tsx
  app/test/features/resource_hub_search_test.exs
  app/test/support/features/resource_hub_search_steps.ex
  specs/0015-full-text-search.md
  turboui/src/ResourceHub/ContinueEditingDrafts.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/SortControl.tsx
  turboui/src/ResourceHub/useResourceHubSearch.ts
  turboui/src/ResourceHubPage/SharedListPage.tsx
  turboui/src/ResourceHubPage/index.stories.tsx
  turboui/src/ResourceHubPage/index.test.tsx
  turboui/src/ResourceHubPage/index.tsx
  turboui/src/ResourceHubPage/types.ts
Due: Turboui, App Tests

feat: Match word prefixes in resource hub search
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately/search/text.ex
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately/search/text_test.exs
Due: App Tests

refactor: migrate CommentsCountIndicator to TurboUI (#4905)
  app/assets/js/features/Comments/CommentsCountIndicator.tsx
  app/assets/js/features/Comments/index.tsx
  app/assets/js/features/SpaceTools/Discussions/RegularState.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
Due: App Tests

chore: Testing deployment
  README.md
Due: none

chore: Testing deployment (#4908)
  README.md
Due: none

docs: improve AGENTS.md with cli/specs coverage and accurate references
  AGENTS.md
Due: none

build: publish multi-arch (amd64/arm64) production image
  .semaphore/semaphore.yml
  Makefile
Due: none

feat: Add search to Project and Goal docs & files
  .gitignore
  app/assets/js/models/search/resourceHub.ts
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  specs/0015-full-text-search.md
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/DocsAndFiles/sorting.ts
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/Search.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/useResourceHubSearch.ts
  turboui/src/SortControl/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/search/resourceHub.ts
Due: App Tests

Update spec
  specs/0015-full-text-search.md
Due: none

feat: Add search to Project and Goal docs & files (#4912)
  .gitignore
  app/assets/js/models/search/resourceHub.ts
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
  specs/0015-full-text-search.md
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/DocsAndFiles/sorting.ts
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ResourceHub/NodesList.tsx
  turboui/src/ResourceHub/Search.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/useResourceHubSearch.ts
  turboui/src/SortControl/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Harden Docs & Files drag-and-drop upload
  turboui/src/ResourceHub/FileDragAndDropArea.test.tsx
  turboui/src/ResourceHub/FileDragAndDropArea.tsx
  turboui/src/ResourceHub/useFileDragAndDrop.test.ts
  turboui/src/ResourceHub/useFileDragAndDrop.ts
Due: Turboui, App Tests

Reduce number of members in Demo to fit free limit
  app/lib/operately/demo/data.ex
  app/test/operately/demo_test.exs
Due: App Tests

Preserve structured lexemes in resource hub search
  app/lib/operately/search/text.ex
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately/search/text_test.exs
Due: App Tests

fix: make Docs & Files dropzone cover the whole view
  turboui/src/ResourceHub/FileDragAndDropArea.test.tsx
  turboui/src/ResourceHub/FileDragAndDropArea.tsx
  turboui/src/ResourceHub/useFileDragAndDrop.test.ts
  turboui/src/ResourceHub/useFileDragAndDrop.ts
Due: Turboui, App Tests

Add tests
  app/lib/operately/search/text.ex
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately/search/text_test.exs
Due: App Tests

feat: Match word prefixes in resource hub search (#4907)
  app/lib/operately/search/resource_hub_query.ex
  app/lib/operately/search/text.ex
  app/test/operately/search/resource_hub_query_test.exs
  app/test/operately/search/text_test.exs
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
