Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

Update AGENTS.md
  AGENTS.md
Due: none

docs: add Cursor Cloud setup instructions to AGENTS.md (#4710)
  AGENTS.md
Due: none

chore: migrate app callouts to TurboUI
  app/assets/js/components/Callouts/index.tsx
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/pages/CompanyAdminRestoreSuspendedPeoplePage/index.tsx
  app/assets/js/pages/GoalClosingPage/ActiveSubitemsWarning.tsx
  app/knip.json
Due: App Tests

chore: migrate draft clipboard copy to turboui
  app/assets/js/components/CopyToClipboard/index.tsx
  app/assets/js/features/drafts/OngoingDraftActions.tsx
Due: App Tests

chore: move Spacer to turboui
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/form.tsx
  app/assets/js/pages/SetupPage/page.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
  turboui/src/Spacer/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: move text separator to turboui
  app/assets/js/pages/NotificationsPage/index.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  turboui/src/TextSeparator/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: move bordered row to turboui
  app/assets/js/components/BorderedRow/index.tsx
  app/assets/js/pages/GoalAccessManagementPage/page.tsx
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  app/assets/js/pages/SpaceAccessManagementPage/page.tsx
  turboui/src/BorderedRow/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: move BulletDot into turboui
  app/assets/js/components/TextElements/index.tsx
  app/assets/js/features/documents/DocumentTitle.tsx
  app/assets/js/pages/GoalCheckInPage/Header.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  turboui/src/BulletDot/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: move Circle into TurboUI
  app/assets/js/features/goals/GoalCheckIn/StatusSelector.tsx
  turboui/src/Circle/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: preserve legacy space tooltip test ids
  app/assets/js/features/spaces/PrivacyIndicator/index.tsx
Due: App Tests

fix: remove unused app tooltip dependency
  app/assets/js/components/Badges/AccessLevelBadges.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
  app/package-lock.json
  app/package.json
Due: App Tests

chore: format resource hub link page
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
Due: App Tests

test: mock BulletDot in document title tests
  app/assets/js/features/documents/DocumentTitle.test.tsx
Due: App Tests

chore: CI reports are lists instead of tables
  app/lib/operately/junit_retry_summary.ex
  app/test/fixtures/junit_reports/retry_all_pass.xml
  app/test/operately/junit_retry_summary_test.exs
  scripts/build_retries_report.sh
  scripts/publish_retries_report.sh
Due: App Tests

chore: CI reports are lists instead of tables (#4719)
  app/lib/operately/junit_retry_summary.ex
  app/test/fixtures/junit_reports/retry_all_pass.xml
  app/test/operately/junit_retry_summary_test.exs
  scripts/build_retries_report.sh
  scripts/publish_retries_report.sh
Due: App Tests

chore: Move Spacer to turboui (#4714)
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/form.tsx
  app/assets/js/pages/SetupPage/page.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
  turboui/src/Spacer/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Add MCP persistence schemas and token helpers
  app/lib/operately/mcp/access_token.ex
  app/lib/operately/mcp/authorization_code.ex
  app/lib/operately/mcp/grant.ex
  app/lib/operately/mcp/refresh_token.ex
  app/lib/operately/mcp/session.ex
  app/lib/operately/mcp/token.ex
  app/priv/repo/migrations/20260623120000_create_mcp_foundations.exs
Due: App Tests

Exclude MCP tables from migration
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/test/operately/company_transfers/schema_graph_test.exs
Due: App Tests

chore: Move Circle component into TurboUI (#4718)
  app/assets/js/features/goals/GoalCheckIn/StatusSelector.tsx
  turboui/src/Circle/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Move BulletDot into turboui (#4717)
  app/assets/js/components/TextElements/index.tsx
  app/assets/js/features/documents/DocumentTitle.test.tsx
  app/assets/js/features/documents/DocumentTitle.tsx
  app/assets/js/pages/GoalCheckInPage/Header.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  turboui/src/BulletDot/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Add MCP persistence schemas and token helpers (#4720)
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/mcp/access_token.ex
  app/lib/operately/mcp/authorization_code.ex
  app/lib/operately/mcp/grant.ex
  app/lib/operately/mcp/refresh_token.ex
  app/lib/operately/mcp/session.ex
  app/lib/operately/mcp/token.ex
  app/priv/repo/migrations/20260623120000_create_mcp_foundations.exs
  app/test/operately/company_transfers/schema_graph_test.exs
Due: App Tests

chore: Add MCP OAuth domain context
  app/config/config.exs
  app/lib/operately/mcp.ex
  app/lib/operately/mcp/client_metadata.ex
  app/lib/operately/mcp/operations/authorization.ex
  app/lib/operately/mcp/operations/grant.ex
  app/lib/operately/mcp/operations/session.ex
  app/lib/operately/mcp/operations/token_exchange.ex
  app/lib/operately/mcp/resources.ex
  app/lib/operately/people.ex
  app/lib/operately/people/cli_auth_session.ex
  app/test/operately/mcp/client_metadata_test.exs
Due: App Tests

chore: Move bordered row to turboui (#4716)
  app/assets/js/components/BorderedRow/index.tsx
  app/assets/js/pages/GoalAccessManagementPage/page.tsx
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  app/assets/js/pages/SpaceAccessManagementPage/page.tsx
  turboui/src/BorderedRow/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Add MCP OAuth domain context (#4721)
  app/config/config.exs
  app/lib/operately/mcp.ex
  app/lib/operately/mcp/client_metadata.ex
  app/lib/operately/mcp/operations/authorization.ex
  app/lib/operately/mcp/operations/grant.ex
  app/lib/operately/mcp/operations/session.ex
  app/lib/operately/mcp/operations/token_exchange.ex
  app/lib/operately/mcp/resources.ex
  app/lib/operately/people.ex
  app/lib/operately/people/cli_auth_session.ex
  app/test/operately/mcp/client_metadata_test.exs
Due: App Tests

chore: Migrate app callouts to TurboUI (#4712)
  app/assets/js/components/Callouts/index.tsx
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/pages/CompanyAdminRestoreSuspendedPeoplePage/index.tsx
  app/assets/js/pages/GoalClosingPage/ActiveSubitemsWarning.tsx
  app/knip.json
Due: App Tests

chore: Migrate draft clipboard copy to turboui (#4713)
  app/assets/js/components/CopyToClipboard/index.tsx
  app/assets/js/features/drafts/OngoingDraftActions.tsx
Due: App Tests

chore: Move text separator to turboui (#4715)
  app/assets/js/pages/NotificationsPage/index.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  turboui/src/TextSeparator/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Migrate remaining Tooltip imports to TurboUI (#4711)
  app/assets/js/components/Badges/AccessLevelBadges.tsx
  app/assets/js/components/Tooltip/index.tsx
  app/assets/js/features/spaces/PrivacyIndicator/index.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
  app/package.json
Due: App Tests

chore: Add MCP OAuth and HTTP endpoints
  app/lib/operately_web/controllers/mcp_controller.ex
  app/lib/operately_web/controllers/mcp_metadata_controller.ex
  app/lib/operately_web/controllers/mcp_oauth_controller.ex
  app/lib/operately_web/controllers/mcp_oauth_html.ex
  app/lib/operately_web/controllers/mcp_oauth_html/company_picker.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/consent.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/error.html.heex
  app/lib/operately_web/mcp/auth.ex
  app/lib/operately_web/mcp/plugs/require_mcp_auth.ex
  app/lib/operately_web/mcp/plugs/resolve_company.ex
  app/lib/operately_web/mcp/plugs/validate_origin.ex
  app/lib/operately_web/router.ex
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/controllers/mcp_metadata_controller_test.exs
  app/test/operately_web/controllers/mcp_oauth_controller_test.exs
  app/test/operately_web/mcp/plugs/require_mcp_auth_test.exs
Due: App Tests

chore: move small status indicator to turboui
  app/assets/js/components/status/SmallStatusIndicator.tsx
  app/assets/js/components/status/Status.tsx
  app/assets/js/components/status/index.tsx
  app/assets/js/features/activities/GoalCheckIn/index.tsx
  app/assets/js/features/activities/ProjectCheckInSubmitted/index.tsx
  turboui/src/SmallStatusIndicator/constants.ts
  turboui/src/SmallStatusIndicator/index.stories.tsx
  turboui/src/SmallStatusIndicator/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: move image placeholder to turboui
  app/assets/js/components/Image/index.tsx
  app/assets/js/pages/ResourceHubFilePage/Content.tsx
  turboui/src/ImageWithPlaceholder/index.stories.tsx
  turboui/src/ImageWithPlaceholder/index.tsx
  turboui/src/ResourceHub/NodeIcon.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Add MCP OAuth and HTTP endpoints (#4722)
  app/lib/operately_web/controllers/mcp_controller.ex
  app/lib/operately_web/controllers/mcp_metadata_controller.ex
  app/lib/operately_web/controllers/mcp_oauth_controller.ex
  app/lib/operately_web/controllers/mcp_oauth_html.ex
  app/lib/operately_web/controllers/mcp_oauth_html/company_picker.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/consent.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/error.html.heex
  app/lib/operately_web/mcp/auth.ex
  app/lib/operately_web/mcp/plugs/require_mcp_auth.ex
  app/lib/operately_web/mcp/plugs/resolve_company.ex
  app/lib/operately_web/mcp/plugs/validate_origin.ex
  app/lib/operately_web/router.ex
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/controllers/mcp_metadata_controller_test.exs
  app/test/operately_web/controllers/mcp_oauth_controller_test.exs
  app/test/operately_web/mcp/plugs/require_mcp_auth_test.exs
Due: App Tests

chore: Move Forms input primitives and FieldGroup layouts to TurboUI
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/CheckboxInput.tsx
  turboui/src/Forms/ErrorMessage.tsx
  turboui/src/Forms/FieldGroup.stories.tsx
  turboui/src/Forms/FieldGroup.tsx
  turboui/src/Forms/FieldGroup/Context.tsx
  turboui/src/Forms/FieldGroup/Grid.tsx
  turboui/src/Forms/FieldGroup/Horizontal.tsx
  turboui/src/Forms/FieldGroup/Vertical.tsx
  turboui/src/Forms/FieldGroup/layoutTypes.ts
  turboui/src/Forms/Input.tsx
  turboui/src/Forms/Inputs.stories.tsx
  turboui/src/Forms/Label.tsx
  turboui/src/Forms/NumberInput.tsx
  turboui/src/Forms/PasswordInput.tsx
  turboui/src/Forms/RadioButtons.tsx
  turboui/src/Forms/TitleInput.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
  turboui/src/Forms/validation.ts
Due: Turboui, App Tests

chore: Move Forms input primitives and FieldGroup layouts to TurboUI (#4725)
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/CheckboxInput.tsx
  turboui/src/Forms/ErrorMessage.tsx
  turboui/src/Forms/FieldGroup.stories.tsx
  turboui/src/Forms/FieldGroup.tsx
  turboui/src/Forms/FieldGroup/Context.tsx
  turboui/src/Forms/FieldGroup/Grid.tsx
  turboui/src/Forms/FieldGroup/Horizontal.tsx
  turboui/src/Forms/FieldGroup/Vertical.tsx
  turboui/src/Forms/FieldGroup/layoutTypes.ts
  turboui/src/Forms/Input.tsx
  turboui/src/Forms/Inputs.stories.tsx
  turboui/src/Forms/Label.tsx
  turboui/src/Forms/NumberInput.tsx
  turboui/src/Forms/PasswordInput.tsx
  turboui/src/Forms/RadioButtons.tsx
  turboui/src/Forms/TitleInput.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
  turboui/src/Forms/validation.ts
Due: Turboui, App Tests

feat: move contributor avatar into turboui avatar
  app/assets/js/components/ContributorAvatar/index.tsx
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  turboui/src/Avatar/Avatar.stories.tsx
  turboui/src/Avatar/ContributorAvatar.tsx
  turboui/src/Avatar/index.tsx
  turboui/src/Avatar/types.ts
Due: Turboui, App Tests

feat: add turboui forms phase 0 parity
  turboui/src/Forms/FormError.tsx
  turboui/src/Forms/Forms.stories.tsx
  turboui/src/Forms/Submit.tsx
  turboui/src/Forms/TextInput.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
  turboui/src/Forms/useForm.tsx
Due: Turboui, App Tests

fix: finalize turboui forms phase 0
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/types.ts
  turboui/src/Forms/useForm.tsx
Due: Turboui, App Tests

chore: Add wrapper-driven MCP tool catalog
  app/lib/operately_web/controllers/mcp_controller.ex
  app/lib/operately_web/mcp/catalog/definition.ex
  app/lib/operately_web/mcp/catalog/json_schema.ex
  app/lib/operately_web/mcp/catalog/registry.ex
  app/lib/operately_web/mcp/tool.ex
  app/lib/operately_web/mcp/tools.ex
  app/lib/operately_web/mcp/tools/companies/get_current_company.ex
  app/lib/operately_web/mcp/tools/fetch.ex
  app/lib/operately_web/mcp/tools/goals/get.ex
  app/lib/operately_web/mcp/tools/goals/list.ex
  app/lib/operately_web/mcp/tools/people/get_me.ex
  app/lib/operately_web/mcp/tools/projects/get.ex
  app/lib/operately_web/mcp/tools/projects/list.ex
  app/lib/operately_web/mcp/tools/search.ex
  app/lib/operately_web/mcp/tools/tasks/get.ex
  app/lib/operately_web/mcp/tools/tasks/list.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
  specs/0012-operately-mcp.md
Due: App Tests
