Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

Adjustments
  turboui/.storybook/preview.d.ts
  turboui/.storybook/preview.tsx
  turboui/.storybook/tsconfig.json
  turboui/src/global.d.ts
Due: Turboui, App Tests

fix: Stabilize flaky tests caused by optimistic updates on project page
  app/test/support/features/feed_steps.ex
  app/test/support/features/notifications_steps.ex
  app/test/support/features/projects_steps.ex
  app/test/support/features/ui.ex
  app/test/support/features/ui/date_field.ex
  app/test/support/features/ui/rich_text.ex
  turboui/src/Button/UnstalyedButton.tsx
  turboui/src/RichEditor/extensions/MentionPeople/MentionList.tsx
Due: Turboui, App Tests

Adjustment
  app/test/support/features/ui/rich_text.ex
Due: App Tests

Stabilize date selection
  app/test/support/features/ui/date_field.ex
  turboui/src/DateField/components/InlineCalendar.tsx
Due: Turboui, App Tests

Adjustment
  app/test/support/features/space_kanban_steps.ex
  app/test/support/features/ui/date_field.ex
  turboui/src/DateField/components/InlineCalendar.tsx
  turboui/src/TaskPage/PageHeader.tsx
Due: Turboui, App Tests

Split project test file
  app/test/features/projects/project_page_dates_test.exs
  app/test/features/projects/project_page_goal_and_export_test.exs
  app/test/features/projects/project_page_pause_resume_test.exs
  app/test/features/projects/project_page_rename_and_space_test.exs
  app/test/features/projects/project_page_test.exs
Due: App Tests

fix: Stabilize flaky tests caused by optimistic updates on project page (#4802)
  app/test/features/projects/project_page_dates_test.exs
  app/test/features/projects/project_page_goal_and_export_test.exs
  app/test/features/projects/project_page_pause_resume_test.exs
  app/test/features/projects/project_page_rename_and_space_test.exs
  app/test/features/projects/project_page_test.exs
  app/test/support/features/feed_steps.ex
  app/test/support/features/notifications_steps.ex
  app/test/support/features/projects_steps.ex
  app/test/support/features/space_kanban_steps.ex
  app/test/support/features/ui.ex
  app/test/support/features/ui/date_field.ex
  app/test/support/features/ui/rich_text.ex
  turboui/src/Button/UnstalyedButton.tsx
  turboui/src/DateField/components/InlineCalendar.tsx
  turboui/src/RichEditor/extensions/MentionPeople/MentionList.tsx
  turboui/src/TaskPage/PageHeader.tsx
Due: Turboui, App Tests

refactor: Move SelectStatus into TurboUI Forms
  app/assets/js/features/forms/SelectStatus.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/SelectStatus.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

Remove unused code
  app/assets/js/components/Forms/SelectStatus.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/components/status/Status.tsx
  app/assets/js/components/status/index.tsx
Due: App Tests

chore: Migrate check-in forms to TurboUI and add SelectStatus bridge
  app/assets/js/components/Forms/RichTextArea.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/features/forms/SelectStatus.tsx
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/features/goals/GoalCheckIn/StatusSelector.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/features/goals/GoalTargetsV2/TargetsContext.tsx
  app/assets/js/features/goals/GoalTargetsV2/targetErrors.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/Form.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

docs: Mark Phase 5 tsc.lint acceptance in forms migration spec
  specs/0014-forms-turboui-migration.md
Due: none

fix: Resolve lint failures after check-in forms migration
  app/assets/js/components/Forms/validations/richContentPresence.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

chore: Migrate check-in forms to TurboUI and add SelectStatus bridge (#4793)
  app/assets/js/components/Forms/RichTextArea.tsx
  app/assets/js/components/Forms/SelectStatus.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/components/Forms/validations/richContentPresence.tsx
  app/assets/js/components/status/Status.tsx
  app/assets/js/components/status/index.tsx
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/features/goals/GoalCheckIn/StatusSelector.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/features/goals/GoalTargetsV2/TargetsContext.tsx
  app/assets/js/features/goals/GoalTargetsV2/targetErrors.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/Form.tsx
  turboui/src/Forms/SelectStatus.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

chore: Add TurboUI SelectPerson, SelectGoal bridge, and migrate selector forms
  app/assets/js/components/Forms/SelectPerson.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/features/forms/SelectGoal.tsx
  app/assets/js/features/projects/AccessSelectors.tsx
  app/assets/js/pages/GoalAccessAddPage/index.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddChampion.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddContributors.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddReviewer.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ChangeChampion.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ChangeReviewer.tsx
  app/assets/js/pages/ProjectContributorsEditPage/EditContributor.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ReassignAsContributor.tsx
  app/assets/js/pages/SpaceAddMembersPage/index.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/SelectPerson.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

fix: Address TypeScript nullability in migrated selector forms
  app/assets/js/features/projects/AccessSelectors.tsx
  app/assets/js/pages/GoalAccessAddPage/index.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddContributors.tsx
  app/assets/js/pages/ProjectContributorsEditPage/EditContributor.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ReassignAsContributor.tsx
  app/assets/js/pages/SpaceAddMembersPage/index.tsx
Due: App Tests

fix: Stop SelectPerson default effect from resetting user selection
  turboui/src/Forms/SelectPerson.tsx
  turboui/src/Forms/index.test.tsx
Due: Turboui, App Tests

Adjustment
  Makefile
  turboui/tsconfig.json
Due: Turboui, App Tests

fix: Guard TipTap undo/redo against destroyed editors
  turboui/src/RichEditor/components/RedoButton.tsx
  turboui/src/RichEditor/components/UndoButton.tsx
  turboui/src/RichEditor/components/canExecuteEditorCommand.test.ts
  turboui/src/RichEditor/components/canExecuteEditorCommand.ts
Due: Turboui, App Tests

chore: Add TurboUI SelectPerson, SelectGoal bridge, and migrate selector forms (#4803)
  app/assets/js/components/Forms/SelectPerson.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/features/forms/SelectGoal.tsx
  app/assets/js/features/projects/AccessSelectors.tsx
  app/assets/js/pages/GoalAccessAddPage/index.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddChampion.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddContributors.tsx
  app/assets/js/pages/ProjectContributorsAddPage/AddReviewer.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ChangeChampion.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ChangeReviewer.tsx
  app/assets/js/pages/ProjectContributorsEditPage/EditContributor.tsx
  app/assets/js/pages/ProjectContributorsEditPage/ReassignAsContributor.tsx
  app/assets/js/pages/SpaceAddMembersPage/index.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/SelectPerson.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

chore: Migrate remaining forms call sites to TurboUI
  app/assets/js/features/goals/GoalTargetsV2/components/TargetNumericField.tsx
  app/assets/js/features/goals/GoalTargetsV2/components/TargetTextField.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/SetupPage/page.tsx
  app/assets/js/pages/SignUpWithEmailPage/index.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
  specs/0014-forms-turboui-migration.md
Due: App Tests

fix: Type SignUp code field value for TurboUI Forms
  app/assets/js/pages/SignUpWithEmailPage/index.tsx
Due: App Tests

fix: Format ResourceHub page imports with Prettier
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
Due: App Tests

chore: Delete unused legacy Forms module
  app/assets/js/components/Forms/CheckboxInput.tsx
  app/assets/js/components/Forms/Elements/Input.tsx
  app/assets/js/components/Forms/Elements/Label.tsx
  app/assets/js/components/Forms/Elements/index.tsx
  app/assets/js/components/Forms/ErrorMessage.tsx
  app/assets/js/components/Forms/FieldGroup.tsx
  app/assets/js/components/Forms/FieldGroup/Context.tsx
  app/assets/js/components/Forms/FieldGroup/Grid.tsx
  app/assets/js/components/Forms/FieldGroup/Horizontal.tsx
  app/assets/js/components/Forms/FieldGroup/Vertical.tsx
  app/assets/js/components/Forms/Form.tsx
  app/assets/js/components/Forms/FormContext.tsx
  app/assets/js/components/Forms/FormError.tsx
  app/assets/js/components/Forms/NumberInput.tsx
  app/assets/js/components/Forms/PasswordInput.tsx
  app/assets/js/components/Forms/RadioButtons.tsx
  app/assets/js/components/Forms/SelectBox.tsx
  app/assets/js/components/Forms/Submit.tsx
  app/assets/js/components/Forms/SubmitButton.tsx
  app/assets/js/components/Forms/TextInput.tsx
  app/assets/js/components/Forms/TitleInput.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/components/Forms/useForm.tsx
  app/assets/js/components/Forms/useForm/errors.tsx
  app/assets/js/components/Forms/useForm/field.tsx
  app/assets/js/components/Forms/useForm/state.tsx
  app/assets/js/components/Forms/useForm/trigger.tsx
  app/assets/js/components/Forms/useForm/validations.tsx
  app/assets/js/components/Forms/useForm/values.tsx
  app/assets/js/components/Forms/validations/hook.tsx
  app/assets/js/components/Forms/validations/isNumber.tsx
  app/assets/js/components/Forms/validations/presence.tsx
  app/assets/js/components/Forms/validations/textLength.tsx
  app/package-lock.json
  app/package.json
  specs/0014-forms-turboui-migration.md
Due: App Tests

chore: Run storybook tests in CI
  .semaphore/semaphore.yml
  Makefile
  turboui/.gitignore
  turboui/AGENTS.md
  turboui/package-lock.json
  turboui/package.json
  turboui/test-runner-jest.config.js
Due: Turboui, App Tests

Adjustment
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/MilestoneField/index.stories.tsx
  turboui/src/WorkMap/stories/AddItemModal.stories.tsx
  turboui/src/WorkMap/stories/WorkMap.stories.tsx
  turboui/src/WorkMap/stories/WorkMapTable.stories.tsx
  turboui/src/WorkMap/tests/steps.ts
  turboui/test-runner-jest.config.js
Due: Turboui, App Tests

Fix TS errors
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/WorkMap/tests/steps.ts
Due: Turboui, App Tests

Attempt to fix CI
  devenv
Due: none

chore: Update node version in dev docker image
  docker/dev/Dockerfile.dev
Due: none
