Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

prevent assignees from overflowing from TaskItem
  turboui/src/AssigneesField/index.tsx
  turboui/src/TaskBoard/components/TaskItem.tsx
  turboui/src/TaskBoard/stories/TaskItem.stories.tsx
Due: Turboui, App Tests

fix: generate activity when user deletes a comment on a task
  app/assets/js/api/index.tsx
  app/assets/js/features/activities/TaskCommentDeleting/index.tsx
  app/assets/js/features/activities/index.tsx
  app/assets/js/models/activities/feed.tsx
  app/lib/operately/activities/content/task_comment_deleting.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/activities/notifications/task_comment_deleting.ex
  app/lib/operately/operations/comment_deleting.ex
  app/lib/operately_web/api/comments/delete.ex
  app/lib/operately_web/api/serializers/activity_content/task_comment_deleting.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/comments/delete_test.exs
  turboui/src/Timeline/TaskActivities.tsx
  turboui/src/Timeline/index.tsx
  turboui/src/Timeline/types.ts
Due: Turboui, App Tests

fix: generate activity when user deletes a comment on a task (#4545)
  app/assets/js/api/index.tsx
  app/assets/js/features/activities/TaskCommentDeleting/index.tsx
  app/assets/js/features/activities/index.tsx
  app/assets/js/models/activities/feed.tsx
  app/lib/operately/activities/content/task_comment_deleting.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/activities/notifications/task_comment_deleting.ex
  app/lib/operately/operations/comment_deleting.ex
  app/lib/operately_web/api/comments/delete.ex
  app/lib/operately_web/api/serializers/activity_content/task_comment_deleting.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/comments/delete_test.exs
  turboui/src/Timeline/TaskActivities.tsx
  turboui/src/Timeline/index.tsx
  turboui/src/Timeline/types.ts
Due: Turboui, App Tests

feat: subscriptions for space-level tasks
  app/assets/js/api/index.tsx
  app/assets/js/models/subscriptions/useSubscription.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpaceKanbanPage/index.tsx
  app/lib/operately/notifications.ex
  app/lib/operately/notifications/subscription_list.ex
  app/lib/operately_web/api/notifications/is_subscribed.ex
  app/lib/operately_web/api/notifications/subscribe.ex
  app/lib/operately_web/api/projects/milestones.ex
  app/lib/operately_web/api/spaces.ex
  app/lib/operately_web/api/tasks.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/notifications/is_subscribed_test.exs
  app/test/operately_web/api/notifications/subscribe_test.exs
  app/test/operately_web/api/tasks_test.exs
  app/test/support/fixtures/tasks_fixtures.ex
Due: App Tests

feat: subscriptions for space-level tasks (#4548)
  app/assets/js/api/index.tsx
  app/assets/js/models/subscriptions/useSubscription.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpaceKanbanPage/index.tsx
  app/lib/operately/notifications.ex
  app/lib/operately/notifications/subscription_list.ex
  app/lib/operately_web/api/notifications/is_subscribed.ex
  app/lib/operately_web/api/notifications/subscribe.ex
  app/lib/operately_web/api/projects/milestones.ex
  app/lib/operately_web/api/spaces.ex
  app/lib/operately_web/api/tasks.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/notifications/is_subscribed_test.exs
  app/test/operately_web/api/notifications/subscribe_test.exs
  app/test/operately_web/api/tasks_test.exs
  app/test/support/fixtures/tasks_fixtures.ex
Due: App Tests

fix: correct ordinal date formatting for English locales
  app/assets/js/components/FormattedTime/LongDate.test.tsx
  app/assets/js/components/FormattedTime/LongDate.tsx
Due: App Tests

fix: render English long dates with correct ordinal suffix
  app/assets/js/components/FormattedTime/LongDate.tsx
Due: App Tests

fix: correct ordinal date formatting for English locales (#4549)
  app/assets/js/components/FormattedTime/LongDate.test.tsx
  app/assets/js/components/FormattedTime/LongDate.tsx
Due: App Tests

fix: link digest check-in updates to the right pages
  app/lib/operately_email/emails/project_check_in_submitted_email.ex
  app/lib/operately_email/mailers/digest_mailer.ex
  app/lib/operately_email/templates/buffered_activity_digest.text.eex
  app/lib/operately_email/templates/daily_activity_digest.text.eex
  app/lib/operately_email/templates/partials/_digest_group.html.eex
  app/lib/operately_web/email_preview/previews/buffered_activity_digest.ex
  app/test/operately_email/mailers/digest_mailer_test.exs
  app/test/operately_email/project_check_in_submitted_email_test.exs
Due: App Tests

fix: link digest check-in updates to the right pages (#4550)
  app/lib/operately_email/emails/project_check_in_submitted_email.ex
  app/lib/operately_email/mailers/digest_mailer.ex
  app/lib/operately_email/templates/buffered_activity_digest.text.eex
  app/lib/operately_email/templates/daily_activity_digest.text.eex
  app/lib/operately_email/templates/partials/_digest_group.html.eex
  app/lib/operately_web/email_preview/previews/buffered_activity_digest.ex
  app/test/operately_email/mailers/digest_mailer_test.exs
  app/test/operately_email/project_check_in_submitted_email_test.exs
Due: App Tests

fix: support multiple task assignees in CLI
  cli/README.md
  cli/src/generated/api-catalog.json
  cli/src/test/integration.test.ts
  cli/src/test/unit/fixture-catalog.ts
  cli/src/test/unit/parser.test.ts
Due: none

fix: support multiple task assignees in CLI (#4553)
  cli/README.md
  cli/src/generated/api-catalog.json
  cli/src/test/integration.test.ts
  cli/src/test/unit/fixture-catalog.ts
  cli/src/test/unit/parser.test.ts
Due: none

feat: add subscriber search filter
  turboui/src/Subscriptions/components/SubscribersSelectorModal.test.tsx
  turboui/src/Subscriptions/components/SubscribersSelectorModal.tsx
Due: Turboui, App Tests

fix: hide deleted resource feed items
  app/lib/operately_web/api/companies/list_activities.ex
  app/test/operately_web/api/companies/list_activities_test.exs
Due: App Tests

feat: show last check-in on forms
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/models/goalCheckIns/index.tsx
  app/assets/js/pages/GoalCheckInNewPage/index.tsx
  app/assets/js/pages/GoalCheckInNewPage/loader.test.tsx
  app/assets/js/pages/GoalCheckInNewPage/loader.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/loader.test.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: show document modified date
  app/assets/js/features/documents/DocumentTitle.test.tsx
  app/assets/js/features/documents/DocumentTitle.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
Due: App Tests

fix: link resource comment feed items to comments
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.test.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.tsx
  app/assets/js/features/activities/ResourceHubFileCommented/index.tsx
  app/assets/js/features/activities/ResourceHubLinkCommented/index.tsx
  app/assets/js/features/activities/feedItemLinks.tsx
Due: App Tests

feat: include next milestones in completion email
  app/lib/operately_email/emails/project_milestone_commented_email.ex
  app/lib/operately_email/templates/project_milestone_commented.html.eex
  app/lib/operately_email/templates/project_milestone_commented.text.eex
  app/test/operately_email/project_milestone_commented_email_test.exs
Due: App Tests

fix: notify goal description mentions
  app/lib/operately/activities/notifications/goal_created.ex
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/test/operately/notifications/direct_mention_classifier_test.exs
  app/test/operately/operations/goal_creation_test.exs
Due: App Tests

feat: aggregate document edit feed items
  app/assets/js/features/Feed/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentEdited/index.tsx
  app/assets/js/models/activities/index.test.tsx
  app/assets/js/models/activities/index.tsx
Due: App Tests

feat: deprecate company feed page
  app/assets/js/layouts/CompanyLayout/CompanyDropdown.tsx
  app/assets/js/pages/FeedPage/index.tsx
  app/assets/js/pages/FeedPage/loader.tsx
  app/assets/js/pages/FeedPage/page.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.test.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/paths.ex
Due: App Tests

feat: allow admins to delete feed items
  app/assets/js/api/index.tsx
  app/assets/js/features/Feed/index.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/companies/delete_activity.ex
  app/test/operately_web/api/companies/delete_activity_test.exs
Due: App Tests

don't resize modal on typing
  turboui/src/Subscriptions/components/SubscribersSelectorModal.tsx
Due: Turboui, App Tests

add extra defensive guards in subscriber finding
  turboui/src/Subscriptions/components/SubscribersSelectorModal.tsx
Due: Turboui, App Tests

fix: hide deleted resource feed items (#4562)
  app/lib/operately_web/api/companies/list_activities.ex
  app/test/operately_web/api/companies/list_activities_test.exs
Due: App Tests

feat: show document modified date (#4559)
  app/assets/js/features/documents/DocumentTitle.test.tsx
  app/assets/js/features/documents/DocumentTitle.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
Due: App Tests

add comments [ci skip]
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/paths.ex
Due: App Tests

feat: deprecate company feed page (#4557)
  app/assets/js/layouts/CompanyLayout/CompanyDropdown.tsx
  app/assets/js/pages/FeedPage/index.tsx
  app/assets/js/pages/FeedPage/loader.tsx
  app/assets/js/pages/FeedPage/page.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.test.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/paths.ex
Due: App Tests

feat: add subscriber search filter (#4554)
  turboui/src/Subscriptions/components/SubscribersSelectorModal.test.tsx
  turboui/src/Subscriptions/components/SubscribersSelectorModal.tsx
Due: Turboui, App Tests

fix: link resource comment feed items to comments
  app/assets/js/features/activities/CommentAdded/index.tsx
  app/assets/js/features/activities/DiscussionCommentSubmitted/index.tsx
  app/assets/js/features/activities/GoalCheckInCommented/index.tsx
  app/assets/js/features/activities/ProjectCheckInCommented/index.tsx
  app/assets/js/features/activities/ProjectMilestoneCommented/index.tsx
  app/assets/js/features/activities/ProjectRetrospectiveCommented/index.tsx
  app/assets/js/features/activities/ProjectTaskCommented/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.test.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.tsx
  app/assets/js/features/activities/ResourceHubFileCommented/index.tsx
  app/assets/js/features/activities/ResourceHubLinkCommented/index.tsx
  app/assets/js/features/activities/SpaceTaskCommented/index.tsx
  app/assets/js/features/activities/commentPaths.test.tsx
  app/assets/js/features/activities/feedItemLinks.tsx
Due: App Tests

fix: link resource comment feed items to comments (#4556)
  app/assets/js/features/activities/CommentAdded/index.tsx
  app/assets/js/features/activities/DiscussionCommentSubmitted/index.tsx
  app/assets/js/features/activities/GoalCheckInCommented/index.tsx
  app/assets/js/features/activities/ProjectCheckInCommented/index.tsx
  app/assets/js/features/activities/ProjectMilestoneCommented/index.tsx
  app/assets/js/features/activities/ProjectRetrospectiveCommented/index.tsx
  app/assets/js/features/activities/ProjectTaskCommented/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.test.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.tsx
  app/assets/js/features/activities/ResourceHubFileCommented/index.tsx
  app/assets/js/features/activities/ResourceHubLinkCommented/index.tsx
  app/assets/js/features/activities/SpaceTaskCommented/index.tsx
  app/assets/js/features/activities/commentPaths.test.tsx
  app/assets/js/features/activities/feedItemLinks.tsx
Due: App Tests

feat: User can manage active subscriptions
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  specs/0013-polar-recurring-billing.md
  turboui/src/CompanyBillingPage/index.stories.tsx
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/state.ts
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/CompanyBillingPlanSelectionPage/index.stories.tsx
  turboui/src/CompanyBillingPlanSelectionPage/index.tsx
  turboui/src/CompanyBillingPlanSelectionPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/billing/index.ts
Due: App Tests

feat: User can manage active subscriptions (#4564)
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  specs/0013-polar-recurring-billing.md
  turboui/src/CompanyBillingPage/index.stories.tsx
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/state.ts
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/CompanyBillingPlanSelectionPage/index.stories.tsx
  turboui/src/CompanyBillingPlanSelectionPage/index.tsx
  turboui/src/CompanyBillingPlanSelectionPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: User can cancel and reactivate subscription
  app/assets/js/api/index.tsx
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/CompanyBillingCancellationPage/index.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  specs/0013-polar-recurring-billing.md
  turboui/src/CompanyBillingCancellationPage/index.stories.tsx
  turboui/src/CompanyBillingCancellationPage/index.tsx
  turboui/src/CompanyBillingCancellationPage/types.ts
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPage/index.stories.tsx
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: User can cancel and reactivate subscription (#4565)
  app/assets/js/api/index.tsx
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/CompanyBillingCancellationPage/index.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  specs/0013-polar-recurring-billing.md
  turboui/src/CompanyBillingCancellationPage/index.stories.tsx
  turboui/src/CompanyBillingCancellationPage/index.tsx
  turboui/src/CompanyBillingCancellationPage/types.ts
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPage/index.stories.tsx
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Add Polar webhook signature verification
  app/config/runtime.exs
  app/lib/operately/billing/polar/webhook_verifier.ex
  app/lib/operately_web/controllers/polar_webhook_controller.ex
  app/lib/operately_web/endpoint.ex
  app/lib/operately_web/raw_body_reader.ex
  app/lib/operately_web/router.ex
  app/test/operately_web/controllers/polar_webhook_controller_test.exs
  specs/0013-polar-recurring-billing.md
Due: App Tests

chore: Add Polar webhook signature verification (#4566)
  app/config/runtime.exs
  app/lib/operately/billing/polar/webhook_verifier.ex
  app/lib/operately_web/controllers/polar_webhook_controller.ex
  app/lib/operately_web/endpoint.ex
  app/lib/operately_web/raw_body_reader.ex
  app/lib/operately_web/router.ex
  app/test/operately_web/controllers/polar_webhook_controller_test.exs
  specs/0013-polar-recurring-billing.md
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
