Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

fix: Hide template card counts and skip reload on Create project
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
Due: Turboui, App Tests

fix: Hide template card counts and skip reload on Create project (#5056)
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
Due: Turboui, App Tests

Stabilize flaky project discussions list test
  app/test/operately_web/api/projects/discussions_test.exs
Due: App Tests

Increase parallelism
  .semaphore/semaphore.yml
Due: none

Fix hardcoded parallelism
  Makefile
Due: none

fix: Derive test shards from CI parallelism and stabilize flaky tests (#5057)
  .semaphore/semaphore.yml
  Makefile
  app/test/operately_web/api/projects/discussions_test.exs
Due: App Tests

feat: Add move for project template docs and files
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/FolderSelectField/index.stories.tsx
  turboui/src/FolderSelectField/index.test.tsx
  turboui/src/FolderSelectField/index.tsx
  turboui/src/ResourceHub/FolderSelectField/index.test.tsx
  turboui/src/ResourceHub/FolderSelectField/index.tsx
  turboui/src/ResourceHub/FolderSelectField/viewModel.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/nodeMenus/CopyResource.tsx
  turboui/src/ResourceHub/nodeMenus/MoveResource.tsx
  turboui/src/TemplateProjectPage/DocsAndFiles.tsx
  turboui/src/TemplateProjectPage/TemplateMoveResourceModal.tsx
  turboui/src/TemplateProjectPage/TemplateResourceDeleteMenu.tsx
  turboui/src/TemplateProjectPage/TemplateResourceMenu.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/TemplateProjectPage/resourceTree.ts
Due: Turboui, App Tests

feat: Add move for project template docs and files (#5060)
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/FolderSelectField/index.stories.tsx
  turboui/src/FolderSelectField/index.test.tsx
  turboui/src/FolderSelectField/index.tsx
  turboui/src/ResourceHub/FolderSelectField/index.test.tsx
  turboui/src/ResourceHub/FolderSelectField/index.tsx
  turboui/src/ResourceHub/FolderSelectField/viewModel.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/nodeMenus/CopyResource.tsx
  turboui/src/ResourceHub/nodeMenus/MoveResource.tsx
  turboui/src/TemplateProjectPage/DocsAndFiles.tsx
  turboui/src/TemplateProjectPage/TemplateMoveResourceModal.tsx
  turboui/src/TemplateProjectPage/TemplateResourceDeleteMenu.tsx
  turboui/src/TemplateProjectPage/TemplateResourceMenu.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/TemplateProjectPage/resourceTree.ts
Due: Turboui, App Tests

feat: Add folder rename for project template docs and files
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/ResourceHub/nodeMenus/FolderMenu.tsx
  turboui/src/TemplateProjectPage/DocsAndFiles.tsx
  turboui/src/TemplateProjectPage/TemplateResourceMenu.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

feat: Add folder rename for project template docs and files (#5061)
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/ResourceHub/nodeMenus/FolderMenu.tsx
  turboui/src/TemplateProjectPage/DocsAndFiles.tsx
  turboui/src/TemplateProjectPage/TemplateResourceMenu.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

Make template task form fields clickable via form-field variants
  turboui/src/MilestoneField/index.stories.tsx
  turboui/src/MilestoneField/index.test.tsx
  turboui/src/MilestoneField/index.tsx
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/StatusSelector/index.stories.tsx
  turboui/src/StatusSelector/index.test.tsx
  turboui/src/StatusSelector/index.tsx
  turboui/src/TemplateProjectPage/MilestoneFormModal.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

Enable template milestone create as soon as the name is typed
  turboui/src/TemplateProjectPage/MilestoneFormModal.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TextField/index.test.tsx
  turboui/src/TextField/index.tsx
Due: Turboui, App Tests

Enable template task create as soon as the title is typed
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

fix: Improve template task and milestone form UX (#5062)
  turboui/src/MilestoneField/index.stories.tsx
  turboui/src/MilestoneField/index.test.tsx
  turboui/src/MilestoneField/index.tsx
  turboui/src/RelativeDayField/index.test.tsx
  turboui/src/RelativeDayField/index.tsx
  turboui/src/StatusSelector/index.stories.tsx
  turboui/src/StatusSelector/index.test.tsx
  turboui/src/StatusSelector/index.tsx
  turboui/src/TemplateProjectPage/MilestoneFormModal.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TextField/index.test.tsx
  turboui/src/TextField/index.tsx
Due: Turboui, App Tests

feat: Prototype HomePage and product release announcement in TurboUI
  turboui/src/Button/UnstalyedButton.tsx
  turboui/src/HomePage/SpacesZeroState.tsx
  turboui/src/HomePage/index.stories.tsx
  turboui/src/HomePage/index.test.tsx
  turboui/src/HomePage/index.tsx
  turboui/src/HomePage/mockData.tsx
  turboui/src/ProductReleaseAnnouncement/index.stories.tsx
  turboui/src/ProductReleaseAnnouncement/index.test.tsx
  turboui/src/ProductReleaseAnnouncement/index.tsx
  turboui/src/ProductReleaseAnnouncement/truncateReleaseParagraphs.test.ts
  turboui/src/ProductReleaseAnnouncement/truncateReleaseParagraphs.ts
  turboui/src/ProductReleaseAnnouncement/types.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

Add spec
  specs/0018-product-release-announcements.md
Due: none

fix: Ignore port when matching loopback MCP OAuth redirect URIs
  app/lib/operately/mcp/client_metadata.ex
  app/lib/operately/mcp/client_metadata/redirect_uri.ex
  app/test/operately/mcp/client_metadata/redirect_uri_test.exs
  app/test/operately/mcp/client_metadata_test.exs
  specs/0012-operately-mcp.md
Due: App Tests

fix: Ignore port when matching loopback MCP OAuth redirect URIs (#5064)
  app/lib/operately/mcp/client_metadata.ex
  app/lib/operately/mcp/client_metadata/redirect_uri.ex
  app/test/operately/mcp/client_metadata/redirect_uri_test.exs
  app/test/operately/mcp/client_metadata_test.exs
  specs/0012-operately-mcp.md
Due: App Tests

fix: Distinguish invalid MCP tokens and default challenge scope to mcp:read
  app/lib/operately_web/mcp/auth.ex
  app/lib/operately_web/mcp/plugs/require_mcp_auth.ex
  app/lib/operately_web/mcp/plugs/resolve_company.ex
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/mcp/plugs/require_mcp_auth_test.exs
Due: App Tests

fix: Distinguish invalid MCP tokens and default challenge scope to mcp:read (#5065)
  app/lib/operately_web/mcp/auth.ex
  app/lib/operately_web/mcp/plugs/require_mcp_auth.ex
  app/lib/operately_web/mcp/plugs/resolve_company.ex
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/mcp/plugs/require_mcp_auth_test.exs
Due: App Tests

fix: Make MCP refresh-token rotation atomic and persist replay revocation
  app/lib/operately/mcp/operations/token_exchange.ex
  app/lib/operately/mcp/refresh_token.ex
  app/priv/repo/migrations/20260814125253_unique_mcp_refresh_token_previous_token_id.exs
  app/test/operately/mcp/operations/token_exchange_test.exs
  app/test/operately_web/controllers/mcp_oauth_controller_test.exs
  specs/0012-operately-mcp.md
Due: App Tests

fix: Make MCP refresh-token rotation atomic and persist replay revocation (#5066)
  app/lib/operately/mcp/operations/token_exchange.ex
  app/lib/operately/mcp/refresh_token.ex
  app/priv/repo/migrations/20260814125253_unique_mcp_refresh_token_previous_token_id.exs
  app/test/operately/mcp/operations/token_exchange_test.exs
  app/test/operately_web/controllers/mcp_oauth_controller_test.exs
  specs/0012-operately-mcp.md
Due: App Tests

Improve tests
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
Due: App Tests

update spec
  specs/0017-project-templates.md
Due: none

chore: Add comments to project templates
  app/assets/js/api/index.tsx
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/comment.ex
  app/lib/operately/project_templates/comments/materialization.ex
  app/lib/operately/project_templates/comments/reverse_copy.ex
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately/project_templates/resources/materialization.ex
  app/lib/operately/project_templates/resources/reverse_copy.ex
  app/lib/operately_web/api/project_templates/create_from_project.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/priv/repo/migrations/20260814151200_add_project_template_comments.exs
  app/test/operately/company_transfers/export/relational_collector_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/operately/project_templates/comment_test.exs
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_from_project.ex
  app/test/operately_web/api/project_templates/create_from_project_test.exs
  app/test/support/factory.ex
  app/test/support/factory/project_templates.ex
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
Due: App Tests

chore: Add comments to project templates (#5067)
  app/assets/js/api/index.tsx
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/comment.ex
  app/lib/operately/project_templates/comments/materialization.ex
  app/lib/operately/project_templates/comments/reverse_copy.ex
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately/project_templates/resources/materialization.ex
  app/lib/operately/project_templates/resources/reverse_copy.ex
  app/lib/operately_web/api/project_templates/create_from_project.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/priv/repo/migrations/20260814151200_add_project_template_comments.exs
  app/test/operately/company_transfers/export/relational_collector_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/operately/project_templates/comment_test.exs
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_from_project.ex
  app/test/operately_web/api/project_templates/create_from_project_test.exs
  app/test/support/factory.ex
  app/test/support/factory/project_templates.ex
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
Due: App Tests

feat: Wire Save as template on the project page
  app/assets/js/api/index.tsx
  app/assets/js/models/projects/saveProjectAsTemplate.test.ts
  app/assets/js/models/projects/saveProjectAsTemplate.ts
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately_web/api/serializers/project.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/features/projects/project_page_goal_and_export_test.exs
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/SaveProjectAsTemplateModal/index.stories.tsx
  turboui/src/SaveProjectAsTemplateModal/index.test.tsx
  turboui/src/SaveProjectAsTemplateModal/index.tsx
Due: Turboui, App Tests

Skip milestone and task comments in project templates
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/comment.ex
  app/lib/operately/project_templates/comments/materialization.ex
  app/lib/operately/project_templates/comments/reverse_copy.ex
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/support/factory/project_templates.ex
  specs/0017-project-templates.md
Due: App Tests

Adjust spec
  specs/0017-project-templates.md
Due: none

Adjust tests
  app/test/operately/operations/project_template_materialization_test.exs
Due: App Tests

feat: Wire Save as template on the project page (#5068)
  app/assets/js/api/index.tsx
  app/assets/js/models/projects/saveProjectAsTemplate.test.ts
  app/assets/js/models/projects/saveProjectAsTemplate.ts
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/comment.ex
  app/lib/operately/project_templates/comments/materialization.ex
  app/lib/operately/project_templates/comments/reverse_copy.ex
  app/lib/operately_web/api/serializers/project.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/features/projects/project_page_goal_and_export_test.exs
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/support/factory/project_templates.ex
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/SaveProjectAsTemplateModal/index.stories.tsx
  turboui/src/SaveProjectAsTemplateModal/index.test.tsx
  turboui/src/SaveProjectAsTemplateModal/index.tsx
Due: Turboui, App Tests

feat: Edit comments in project templates
  app/assets/js/api/index.tsx
  app/assets/js/models/projectTemplates/useTemplateComments.tsx
  app/assets/js/pages/ProjectTemplateDiscussionPage/index.tsx
  app/assets/js/pages/ProjectTemplateDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateLinkPage/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_comment.ex
  app/lib/operately_web/api/project_templates/delete_comment.ex
  app/lib/operately_web/api/project_templates/list_comments.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_comment.ex
  app/lib/operately_web/api/serializers/project_template_comment.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_comment.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/delete_comment.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_comment.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/project_templates/list_comments.ex
  app/test/operately_web/api/project_templates/create_comment_test.exs
  app/test/operately_web/api/project_templates/delete_comment_test.exs
  app/test/operately_web/api/project_templates/list_comments_test.exs
  app/test/operately_web/api/project_templates/update_comment_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/CommentSection/CommentItem.test.tsx
  turboui/src/CommentSection/CommentItem.tsx
  turboui/src/CommentSection/CommentSection.tsx
  turboui/src/CommentSection/types.ts
  turboui/src/TemplateDiscussionPage/index.test.tsx
  turboui/src/TemplateDiscussionPage/index.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/projectTemplates/useTemplateComments.tsx
Due: App Tests

feat: Edit comments in project templates (#5069)
  app/assets/js/api/index.tsx
  app/assets/js/models/projectTemplates/useTemplateComments.tsx
  app/assets/js/pages/ProjectTemplateDiscussionPage/index.tsx
  app/assets/js/pages/ProjectTemplateDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateLinkPage/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_comment.ex
  app/lib/operately_web/api/project_templates/delete_comment.ex
  app/lib/operately_web/api/project_templates/list_comments.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_comment.ex
  app/lib/operately_web/api/serializers/project_template_comment.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_comment.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/delete_comment.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_comment.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/project_templates/list_comments.ex
  app/test/operately_web/api/project_templates/create_comment_test.exs
  app/test/operately_web/api/project_templates/delete_comment_test.exs
  app/test/operately_web/api/project_templates/list_comments_test.exs
  app/test/operately_web/api/project_templates/update_comment_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/CommentSection/CommentItem.test.tsx
  turboui/src/CommentSection/CommentItem.tsx
  turboui/src/CommentSection/CommentSection.tsx
  turboui/src/CommentSection/types.ts
  turboui/src/TemplateDiscussionPage/index.test.tsx
  turboui/src/TemplateDiscussionPage/index.tsx
Due: Turboui, App Tests

chore: Add project template feature tests coverage
  app/lib/operately_web/paths.ex
  app/test/features/project_templates/create_project_test.exs
  app/test/features/project_templates/editor_test.exs
  app/test/features/project_templates/feature_gate_test.exs
  app/test/features/project_templates/include_options_test.exs
  app/test/features/project_templates/library_test.exs
  app/test/features/project_templates/save_as_template_test.exs
  app/test/support/features/project_templates_steps.ex
  specs/0017-project-templates.md
Due: App Tests

Fix dialyzer
  app/test/support/features/project_templates_steps.ex
Due: App Tests

chore: Add project template feature tests coverage (#5070)
  app/lib/operately_web/paths.ex
  app/test/features/project_templates/create_project_test.exs
  app/test/features/project_templates/editor_test.exs
  app/test/features/project_templates/feature_gate_test.exs
  app/test/features/project_templates/include_options_test.exs
  app/test/features/project_templates/library_test.exs
  app/test/features/project_templates/save_as_template_test.exs
  app/test/support/features/project_templates_steps.ex
  specs/0017-project-templates.md
Due: App Tests

fix: Include nested folders in project template resource breadcrumbs
  app/assets/js/models/projectTemplates/pageNavigation.test.ts
  app/assets/js/models/projectTemplates/pageNavigation.ts
  app/assets/js/pages/ProjectTemplateDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateEditDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateEditFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateEditLinkPage/index.tsx
  app/assets/js/pages/ProjectTemplateFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateLinkPage/index.tsx
  app/assets/js/pages/ProjectTemplateNewDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateNewLinkPage/index.tsx
  app/assets/js/routes/paths.test.ts
  app/assets/js/routes/paths.tsx
  turboui/src/TemplateProjectPage/DocsAndFiles.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/projectTemplates/pageNavigation.ts
Due: App Tests

fix: Include nested folders in project template resource breadcrumbs (#5071)
  app/assets/js/models/projectTemplates/pageNavigation.test.ts
  app/assets/js/models/projectTemplates/pageNavigation.ts
  app/assets/js/pages/ProjectTemplateDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateEditDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateEditFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateEditLinkPage/index.tsx
  app/assets/js/pages/ProjectTemplateFilePage/index.tsx
  app/assets/js/pages/ProjectTemplateLinkPage/index.tsx
  app/assets/js/pages/ProjectTemplateNewDocumentPage/index.tsx
  app/assets/js/pages/ProjectTemplateNewLinkPage/index.tsx
  app/assets/js/routes/paths.test.ts
  app/assets/js/routes/paths.tsx
  turboui/src/TemplateProjectPage/DocsAndFiles.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests
