Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

fix: Remove assertPresent from Project Page
  app/assets/js/pages/ProjectPage/index.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/ProjectPage/Overview.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ProjectPage/types.ts
Due: Turboui, App Tests

fix: Remove assertPresent from Project Page (#4213)
  app/assets/js/pages/ProjectPage/index.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/ProjectPage/Overview.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ProjectPage/types.ts
Due: Turboui, App Tests

feat: Show success toast message when URL is copied
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/TaskPage/Sidebar.tsx
Due: Turboui, App Tests

feat: Show success toast message when URL is copied (#4214)
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/TaskPage/Sidebar.tsx
Due: Turboui, App Tests

Adjust names of external_queries test files
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/goals/get_check_ins.ex
  app/test/operately_web/api/external_queries/queries/goals/get_discussions.ex
  app/test/operately_web/api/external_queries/queries/goals/list_access_members.ex
  app/test/operately_web/api/external_queries/queries/goals/parent_goal_search.ex
  app/test/operately_web/api/external_queries/queries/is_subscribed_to_resource.ex
  app/test/operately_web/api/external_queries/queries/project_discussions/get.ex
  app/test/operately_web/api/external_queries/queries/project_discussions/list.ex
  app/test/operately_web/api/external_queries/queries/project_discussions_get.ex
  app/test/operately_web/api/external_queries/queries/project_milestones/list_tasks.ex
  app/test/operately_web/api/external_queries/queries/projects/count_children.ex
  app/test/operately_web/api/external_queries/queries/projects/get_contributors.ex
  app/test/operately_web/api/external_queries/queries/projects/get_milestones.ex
  app/test/operately_web/api/external_queries/queries/projects/parent_goal_search.ex
  app/test/operately_web/api/external_queries/queries/projects/search.ex
  app/test/operately_web/api/external_queries/queries/spaces/count_by_access_level.ex
  app/test/operately_web/api/external_queries/queries/spaces/list_members.ex
  app/test/operately_web/api/external_queries/queries/spaces/list_tasks.ex
  app/test/operately_web/api/external_queries/queries/spaces/search.ex
  app/test/operately_web/api/external_queries/queries/tasks/list.ex
Due: App Tests

Make some mutations internal only
  app/lib/operately_web/api.ex
Due: App Tests

Add external_mutation to turbocase
  app/test/support/turbo_case.ex
Due: App Tests

Make blob mutations internal
  app/lib/operately_web/api.ex
Due: App Tests

Fix return mismatch in mutations
  app/lib/operately_web/api/mutations/add_space_members.ex
  app/lib/operately_web/api/mutations/create_space.ex
Due: App Tests

Fix tests
  app/assets/js/pages/SpaceAddPage/index.tsx
  app/test/operately_web/api/mutations/create_space_test.exs
Due: App Tests

chore: Add API tokens endpoints
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/api_tokens.ex
  app/lib/operately_web/api/serializers/api_token.ex
  app/lib/operately_web/paths.ex
  app/test/operately_web/api/api_tokens_test.exs
Due: App Tests

Adjustments
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/api_tokens.ex
  app/test/operately_web/api/api_tokens_test.exs
Due: App Tests

Fix lint
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/api_tokens.ex
  app/lib/operately_web/api/types.ex
Due: App Tests

Fix dialyzer
  app/lib/operately_web/api/api_tokens.ex
Due: App Tests

chore: Add API tokens endpoints (#4216)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/api_tokens.ex
  app/lib/operately_web/api/serializers/api_token.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/operately_web/api/api_tokens_test.exs
Due: App Tests

chore: Add missing API token endpoints
  app/lib/operately/people.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/api_tokens.ex
  app/lib/operately_web/api/serializers/api_token.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/api_tokens_test.exs
Due: App Tests

chore: Add missing API token endpoints (#4217)
  app/lib/operately/people.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/api_tokens.ex
  app/lib/operately_web/api/serializers/api_token.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/api_tokens_test.exs
Due: App Tests

feat: Add API Tokens page behind feature flag
  app/assets/js/api/index.tsx
  app/assets/js/layouts/CompanyLayout/User.tsx
  app/assets/js/models/accounts/index.tsx
  app/assets/js/pages/AccountApiTokensPage/index.tsx
  app/assets/js/pages/AccountSecurityPage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  app/assets/js/window.d.ts
  app/lib/operately_web/controllers/page_controller.ex
  turboui/src/AccountApiTokensPage/index.stories.tsx
  turboui/src/AccountApiTokensPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
Due: App Tests

Fix
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix
  app/assets/js/models/accounts/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add API Tokens page behind feature flag (#4218)
  app/assets/js/api/index.tsx
  app/assets/js/layouts/CompanyLayout/User.tsx
  app/assets/js/models/accounts/index.tsx
  app/assets/js/pages/AccountApiTokensPage/index.tsx
  app/assets/js/pages/AccountSecurityPage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  app/assets/js/window.d.ts
  app/lib/operately_web/controllers/page_controller.ex
  turboui/src/AccountApiTokensPage/index.stories.tsx
  turboui/src/AccountApiTokensPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add API Tokens Usage page
  app/assets/js/pages/AccountApiTokensUsagePage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  turboui/src/AccountApiTokensUsagePage/index.stories.tsx
  turboui/src/AccountApiTokensUsagePage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add API Tokens Usage page (#4219)
  app/assets/js/pages/AccountApiTokensUsagePage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  turboui/src/AccountApiTokensUsagePage/index.stories.tsx
  turboui/src/AccountApiTokensUsagePage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add a modal for creating new API tokens
  app/assets/js/pages/AccountApiTokensPage/index.tsx
  turboui/src/AccountApiTokensPage/index.stories.tsx
  turboui/src/AccountApiTokensPage/index.tsx
Due: Turboui, App Tests

feat: Add a modal for creating new API tokens (#4220)
  app/assets/js/pages/AccountApiTokensPage/index.tsx
  turboui/src/AccountApiTokensPage/index.stories.tsx
  turboui/src/AccountApiTokensPage/index.tsx
Due: Turboui, App Tests

chore: Add icons and test IDs to token menu
  turboui/src/AccountApiTokensPage/index.tsx
Due: Turboui, App Tests

chore: Add icons and test IDs to token menu (#4221)
  turboui/src/AccountApiTokensPage/index.tsx
Due: Turboui, App Tests

Add tests
  app/test/features/account_settings_test.exs
  app/test/operately/people/api_tokens_test.exs
  app/test/support/features/account_settings_steps.ex
Due: App Tests

Add feature tests
  app/lib/operately_web/paths.ex
  app/test/features/api_tokens_test.exs
  app/test/support/features/api_tokens_steps.ex
  turboui/src/AccountApiTokensPage/index.tsx
Due: Turboui, App Tests

chore: Add feature tests for API tokens (#4222)
  app/lib/operately_web/paths.ex
  app/test/features/account_settings_test.exs
  app/test/features/api_tokens_test.exs
  app/test/operately/people/api_tokens_test.exs
  app/test/support/features/account_settings_steps.ex
  app/test/support/features/api_tokens_steps.ex
  turboui/src/AccountApiTokensPage/index.tsx
Due: Turboui, App Tests

chore: API docs can be generated
  Makefile
  app/lib/mix/tasks/operately.gen.api.docs.ex
  app/lib/operately/api_docs/generator.ex
  app/lib/operately/api_docs/markdown.ex
  app/lib/operately/api_docs/type_formatter.ex
  app/test/mix/tasks/operately.gen.api.docs_test.exs
  app/test/operately/api_docs/generator_test.exs
  app/test/operately/api_docs/markdown_test.exs
Due: App Tests

Adjustments
  app/lib/operately/api_docs/generator.ex
  app/lib/operately/api_docs/markdown.ex
  app/lib/operately/api_docs/type_formatter.ex
Due: App Tests

chore: API docs can be generated (#4223)
  Makefile
  app/lib/mix/tasks/operately.gen.api.docs.ex
  app/lib/operately/api_docs/generator.ex
  app/lib/operately/api_docs/markdown.ex
  app/lib/operately/api_docs/type_formatter.ex
  app/test/mix/tasks/operately.gen.api.docs_test.exs
  app/test/operately/api_docs/generator_test.exs
  app/test/operately/api_docs/markdown_test.exs
Due: App Tests

chore: API docs are synced on Opertately website when there are changes
  .semaphore/deploy.yml
  scripts/sync_api_docs_to_website.sh
Due: none

chore: API docs are synced on Opertately website when there are changes (#4224)
  .semaphore/deploy.yml
  scripts/sync_api_docs_to_website.sh
Due: none

fix: Adjust sync-docs script
  scripts/sync_api_docs_to_website.sh
Due: none

fix: Adjust sync-docs script (#4225)
  scripts/sync_api_docs_to_website.sh
Due: none
