Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

chore: Migrate account and company admin pages to TurboUI Page (#4926)
  app/assets/js/pages/AccountAppearancePage/index.tsx
  app/assets/js/pages/AccountChangePasswordPage/index.tsx
  app/assets/js/pages/CompanyAdminManageAdminsPage/page.tsx
  app/assets/js/pages/CompanyAdminPage/CompanyAdmins.tsx
  app/assets/js/pages/CompanyAdminPage/DangerZone.tsx
  app/assets/js/pages/CompanyAdminPage/NavigationBackToLobby.tsx
  app/assets/js/pages/CompanyAdminPage/Section.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyAdminRestoreSuspendedPeoplePage/index.tsx
  app/assets/js/pages/CompanyAdminTrustedEmailDomainsPage/page.tsx
  app/assets/js/pages/CompanyPermissionsPage/index.tsx
  app/assets/js/pages/CompanyRenamePage/index.tsx
Due: App Tests

Cover paused and closed parent-state validation in company search
  app/lib/operately/search/company_query.ex
  app/test/operately/search/company_query/core_work_items_test.exs
  app/test/operately/search/company_query_test.exs
Due: App Tests

chore: Include check-ins and retrospectives in global search query (#4932)
  app/lib/operately/search/company_query.ex
  app/lib/operately/search/company_query/core_work_items.ex
  app/lib/operately/search/company_query/resource_hub_items.ex
  app/lib/operately/search/company_query/result_builder.ex
  app/test/operately/search/company_query/core_work_items_test.exs
  app/test/operately/search/company_query/result_builder_test.exs
  app/test/operately/search/company_query_test.exs
Due: App Tests

chore: Migrate auth and onboarding pages to TurboUI Page
  app/assets/js/pages/BillingPickCompanyPage/index.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/ForgotPasswordPage/index.tsx
  app/assets/js/pages/InviteLinkFullPage/index.tsx
  app/assets/js/pages/JoinPage/index.tsx
  app/assets/js/pages/LobbyPage/index.tsx
  app/assets/js/pages/LoginPage/index.tsx
  app/assets/js/pages/NewCompanyPage/index.tsx
  app/assets/js/pages/ResetPasswordPage/index.tsx
  app/assets/js/pages/SetupPage/page.tsx
  app/assets/js/pages/SignUpPage/index.tsx
  app/assets/js/pages/SignUpWithEmailPage/index.tsx
Due: App Tests

chore: Collect historical test timings in CI
  .semaphore/semaphore.yml
  Makefile
  scripts/test_timings/collector.rb
  scripts/test_timings/collector_test.rb
Due: none

Add missing tests
  scripts/test_timings/collector_test.rb
Due: none

chore: Collect historical test timings in CI (#4934)
  .semaphore/semaphore.yml
  Makefile
  scripts/test_timings/collector.rb
  scripts/test_timings/collector_test.rb
Due: none

chore: Balance test shards using historical timings
  .semaphore/semaphore.yml
  Makefile
  scripts/run_feature_tests.js
  scripts/run_unit_tests.js
  scripts/test_file_splitter.js
  scripts/test_splitting/file_splitter.js
  scripts/test_splitting/file_splitter_test.js
  scripts/test_splitting/manifest.js
  scripts/test_splitting/manifest_planner.js
  scripts/test_splitting/manifest_planner_test.js
  scripts/test_splitting/suite_files.js
Due: none

Adjust pull comands
  .semaphore/semaphore.yml
Due: none

Improve tests
  scripts/test_splitting/manifest_planner_test.js
Due: none

chore: Balance test shards using historical timings (#4935)
  .semaphore/semaphore.yml
  Makefile
  scripts/run_feature_tests.js
  scripts/run_unit_tests.js
  scripts/test_file_splitter.js
  scripts/test_splitting/file_splitter.js
  scripts/test_splitting/file_splitter_test.js
  scripts/test_splitting/manifest.js
  scripts/test_splitting/manifest_planner.js
  scripts/test_splitting/manifest_planner_test.js
  scripts/test_splitting/suite_files.js
Due: none

fix: Isolate certification tests from global configuration
  app/test/operately_web/certification_test.exs
Due: App Tests

fix: Isolate certification tests from global configuration (#4936)
  app/test/operately_web/certification_test.exs
Due: App Tests

Undo changes in the Lobby page
  app/assets/js/pages/LobbyPage/index.tsx
Due: App Tests

Add legacyNavigation option to turboui page
  app/assets/js/pages/ForgotPasswordPage/index.tsx
  app/assets/js/pages/NewCompanyPage/index.tsx
  turboui/src/Page/Navigation.tsx
  turboui/src/Page/Page.stories.tsx
  turboui/src/Page/index.tsx
Due: Turboui, App Tests

chore: Update check-in and retrospective search indexes
  app/lib/operately/async_publishing/scheduled_post_publishing.ex
  app/lib/operately/operations/goal_check_in.ex
  app/lib/operately/operations/goal_check_in_deleting.ex
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/operations/goal_closing.ex
  app/lib/operately/operations/goal_reopening.ex
  app/lib/operately/operations/project_check_in.ex
  app/lib/operately/operations/project_check_in_deleting.ex
  app/lib/operately/operations/project_check_in_edit.ex
  app/lib/operately/operations/project_closed.ex
  app/lib/operately/operations/project_goal_connection.ex
  app/lib/operately/operations/project_goal_disconnection.ex
  app/lib/operately/operations/project_pausing.ex
  app/lib/operately/operations/project_resuming.ex
  app/lib/operately/operations/project_retrospective_editing.ex
  app/lib/operately/operations/project_space_moving.ex
  app/lib/operately/projects.ex
  app/lib/operately/search/core_work_index_updates.ex
  app/lib/operately_web/api/goals.ex
  app/test/operately/search/check_ins_and_retrospectives_indexing_test.exs
  app/test/operately/search/core_work_index_updates_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Update check-in and retrospective search indexes (#4937)
  app/lib/operately/async_publishing/scheduled_post_publishing.ex
  app/lib/operately/operations/goal_check_in.ex
  app/lib/operately/operations/goal_check_in_deleting.ex
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/operations/goal_closing.ex
  app/lib/operately/operations/goal_reopening.ex
  app/lib/operately/operations/project_check_in.ex
  app/lib/operately/operations/project_check_in_deleting.ex
  app/lib/operately/operations/project_check_in_edit.ex
  app/lib/operately/operations/project_closed.ex
  app/lib/operately/operations/project_goal_connection.ex
  app/lib/operately/operations/project_goal_disconnection.ex
  app/lib/operately/operations/project_pausing.ex
  app/lib/operately/operations/project_resuming.ex
  app/lib/operately/operations/project_retrospective_editing.ex
  app/lib/operately/operations/project_space_moving.ex
  app/lib/operately/projects.ex
  app/lib/operately/search/core_work_index_updates.ex
  app/lib/operately_web/api/goals.ex
  app/test/operately/search/check_ins_and_retrospectives_indexing_test.exs
  app/test/operately/search/core_work_index_updates_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Add temporary combined company search API
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/companies/global_search.ex
  app/lib/operately_web/api/serializers/search_result.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/mcp/tools/search.ex
  app/test/operately_web/api/companies/global_search_test.exs
  app/test/operately_web/api/external_queries/queries/companies/global_search.ex
  app/test/operately_web/mcp/tools/search_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0015-full-text-search.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: Add temporary combined company search API (#4938)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/companies/global_search.ex
  app/lib/operately_web/api/serializers/search_result.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/mcp/tools/search.ex
  app/test/operately_web/api/companies/global_search_test.exs
  app/test/operately_web/api/external_queries/queries/companies/global_search.ex
  app/test/operately_web/mcp/tools/search_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0015-full-text-search.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: update @tiptap dependencies to 3.29.2
  cli/package-lock.json
  cli/package.json
  turboui/package-lock.json
  turboui/package.json
Due: Turboui, App Tests

docs: Add project templates spec
  specs/0017-project-templates.md
Due: none

docs: Add project templates spec (#4944)
  specs/0017-project-templates.md
Due: none

Add Operately.Kpis context with kpis and kpi_values tables
  app/lib/operately/kpis.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/kpis/kpi_value.ex
  app/priv/repo/migrations/20260730120000_create_kpis_table.exs
  app/priv/repo/migrations/20260730120100_create_kpi_values.exs
  app/test/operately/kpis/kpi_test.exs
  app/test/operately/kpis/kpi_value_test.exs
  app/test/operately/kpis_test.exs
Due: App Tests

chore: Add expanded quick-search API
  app/assets/js/api/index.tsx
  app/lib/operately/search/quick_search.ex
  app/lib/operately/search/quick_search/resource_hub_items.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/companies/global_search.ex
  app/lib/operately_web/api/companies/quick_search.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/search/quick_search/resource_hub_items_test.exs
  app/test/operately/search/quick_search_test.exs
  app/test/operately_web/api/companies/quick_search_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/companies/quick_search.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0015-full-text-search.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Add KPI space-tool POC as Storybook stories
  turboui/src/SpaceKpiTool/CreateKpiForm.tsx
  turboui/src/SpaceKpiTool/KpiCard.tsx
  turboui/src/SpaceKpiTool/KpiChart.tsx
  turboui/src/SpaceKpiTool/LogDataPointForm.tsx
  turboui/src/SpaceKpiTool/index.stories.tsx
  turboui/src/SpaceKpiTool/index.tsx
  turboui/src/SpaceKpiTool/mockData.ts
  turboui/src/SpaceKpiTool/types.ts
Due: Turboui, App Tests

Add production KPI schemas, operations, activities and notifications
  app/lib/operately/activities/content/kpi_creating.ex
  app/lib/operately/activities/content/kpi_data_point_adding.ex
  app/lib/operately/activities/content/kpi_deleting.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/activities/notifications/kpi_creating.ex
  app/lib/operately/activities/notifications/kpi_data_point_adding.ex
  app/lib/operately/activities/notifications/kpi_deleting.ex
  app/lib/operately/groups/space_tools.ex
  app/lib/operately/kpis.ex
  app/lib/operately/kpis/data_point.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/kpis/notifications.ex
  app/lib/operately/kpis/permissions.ex
  app/lib/operately/operations/add_kpi_data_point.ex
  app/lib/operately/operations/create_kpi.ex
  app/lib/operately/operations/delete_kpi.ex
  app/lib/operately/operations/update_kpi.ex
  app/lib/operately/operations/update_kpi_data_point.ex
  app/priv/repo/migrations/20260730120000_create_kpis_and_data_points.exs
  app/test/operately/groups_test.exs
  app/test/operately/kpis/data_point_test.exs
  app/test/operately/kpis/kpi_test.exs
  app/test/operately/operations/add_kpi_data_point_test.exs
  app/test/operately/operations/create_kpi_test.exs
  app/test/operately/operations/delete_kpi_test.exs
Due: App Tests

Adjustments
  app/lib/operately/search/quick_search.ex
  app/lib/operately/search/quick_search/resource_hub_items.ex
  app/lib/operately/search/text.ex
  app/lib/operately_web/api/companies/global_search.ex
  app/test/operately/search/text_test.exs
Due: App Tests

chore: Add expanded quick-search API (#4947)
  app/assets/js/api/index.tsx
  app/lib/operately/search/quick_search.ex
  app/lib/operately/search/quick_search/resource_hub_items.ex
  app/lib/operately/search/text.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/companies/global_search.ex
  app/lib/operately_web/api/companies/quick_search.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/search/quick_search/resource_hub_items_test.exs
  app/test/operately/search/quick_search_test.exs
  app/test/operately/search/text_test.exs
  app/test/operately_web/api/companies/quick_search_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/companies/quick_search.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0015-full-text-search.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Add KPIs space tool: ListTools loading, serialization, and mutations
  app/assets/js/api/index.tsx
  app/lib/operately/groups/space_tools.ex
  app/lib/operately/kpis/data_point.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/operations/kpi_creating.ex
  app/lib/operately/operations/kpi_data_point_adding.ex
  app/lib/operately/operations/kpi_data_point_updating.ex
  app/lib/operately/operations/kpi_deleting.ex
  app/lib/operately/operations/kpi_updating.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/lib/operately_web/api/serializers/kpi_data_point.ex
  app/lib/operately_web/api/serializers/space_tools.ex
  app/lib/operately_web/api/spaces.ex
  app/lib/operately_web/api/spaces/list_tools.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260730120000_create_space_kpis.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/spaces/add_kpi_data_point.ex
  app/test/operately_web/api/external_mutations/mutations/spaces/create_kpi.ex
  app/test/operately_web/api/external_mutations/mutations/spaces/delete_kpi.ex
  app/test/operately_web/api/external_mutations/mutations/spaces/update_kpi.ex
  app/test/operately_web/api/external_mutations/mutations/spaces/update_kpi_data_point.ex
  app/test/operately_web/api/spaces/kpis_test.exs
  app/test/operately_web/api/spaces/list_tools_test.exs
  app/test/support/factory.ex
  app/test/support/factory/kpis.ex
  app/test/support/factory/spaces.ex
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

feat: Expand the global quick search
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.test.ts
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.ts
  app/test/features/global_search/filtering_and_context_test.exs
  app/test/features/global_search/interaction_test.exs
  app/test/features/global_search/navigation_results_test.exs
  app/test/support/features/global_search_steps.ex
  specs/0015-full-text-search.md
  turboui/src/GlobalSearch/index.stories.tsx
  turboui/src/GlobalSearch/index.test.tsx
  turboui/src/GlobalSearch/index.tsx
Due: Turboui, App Tests

Show company members as a list
  app/assets/js/pages/PeoplePage/page.test.tsx
  app/assets/js/pages/PeoplePage/page.tsx
Due: App Tests

feat: Expand the global quick search (#4951)
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.test.ts
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.ts
  app/test/features/global_search/filtering_and_context_test.exs
  app/test/features/global_search/interaction_test.exs
  app/test/features/global_search/navigation_results_test.exs
  app/test/support/features/global_search_steps.ex
  specs/0015-full-text-search.md
  turboui/src/GlobalSearch/index.stories.tsx
  turboui/src/GlobalSearch/index.test.tsx
  turboui/src/GlobalSearch/index.tsx
Due: Turboui, App Tests
