Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

chore: Add full-text search indexing pipeline (#4852)
  app/lib/operately/rich_content.ex
  app/lib/operately/search/indexer.ex
  app/lib/operately/search/source.ex
  app/lib/operately/search/source_registry.ex
  app/test/operately/rich_content_test.exs
  app/test/operately/search/indexer_test.exs
  app/test/operately/search/source_registry_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Enable membership purchasing
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/loader.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  app/assets/js/routes/companyLoader.tsx
  app/lib/operately/billing.ex
  app/lib/operately/billing/access_state_reconciling.ex
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately/billing/limit_breach_alerting.ex
  app/lib/operately/billing/near_limit_alerting.ex
  app/lib/operately_web/api/billing/get_limit_warnings.ex
  app/lib/operately_web/api/billing/helpers.ex
  app/test/features/billing_test.exs
  app/test/operately/billing/access_state_reconciling_test.exs
  app/test/operately/billing/enforce_limits_test.exs
  app/test/operately/billing/limit_breach_alerting_test.exs
  app/test/operately/billing/near_limit_alerting_test.exs
  app/test/operately/billing_test.exs
  app/test/operately_web/api/billing/cancel_test.exs
  app/test/operately_web/api/billing/change_plan_test.exs
  app/test/operately_web/api/billing/create_checkout_session_test.exs
  app/test/operately_web/api/billing/create_customer_portal_session_test.exs
  app/test/operately_web/api/billing/create_payment_method_session_test.exs
  app/test/operately_web/api/billing/get_access_state_test.exs
  app/test/operately_web/api/billing/get_test.exs
  app/test/operately_web/api/billing/reactivate_test.exs
  app/test/operately_web/api/billing/refresh_test.exs
  app/test/support/features/billing_steps.ex
  app/test/support/features/company_billing_recovery_steps.ex
  turboui/src/CompanyBillingCancellationPage/index.stories.tsx
  turboui/src/CompanyBillingCancellationPage/types.ts
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPlanSelectionPage/index.stories.tsx
  turboui/src/CompanyBillingPlanSelectionPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
Due: Turboui, App Tests

chore: Enable membership purchasing (#4853)
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/loader.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  app/assets/js/routes/companyLoader.tsx
  app/lib/operately/billing.ex
  app/lib/operately/billing/access_state_reconciling.ex
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately/billing/limit_breach_alerting.ex
  app/lib/operately/billing/near_limit_alerting.ex
  app/lib/operately_web/api/billing/get_limit_warnings.ex
  app/lib/operately_web/api/billing/helpers.ex
  app/test/features/billing_test.exs
  app/test/operately/billing/access_state_reconciling_test.exs
  app/test/operately/billing/enforce_limits_test.exs
  app/test/operately/billing/limit_breach_alerting_test.exs
  app/test/operately/billing/near_limit_alerting_test.exs
  app/test/operately/billing_test.exs
  app/test/operately_web/api/billing/cancel_test.exs
  app/test/operately_web/api/billing/change_plan_test.exs
  app/test/operately_web/api/billing/create_checkout_session_test.exs
  app/test/operately_web/api/billing/create_customer_portal_session_test.exs
  app/test/operately_web/api/billing/create_payment_method_session_test.exs
  app/test/operately_web/api/billing/get_access_state_test.exs
  app/test/operately_web/api/billing/get_test.exs
  app/test/operately_web/api/billing/reactivate_test.exs
  app/test/operately_web/api/billing/refresh_test.exs
  app/test/support/features/billing_steps.ex
  app/test/support/features/company_billing_recovery_steps.ex
  turboui/src/CompanyBillingCancellationPage/index.stories.tsx
  turboui/src/CompanyBillingCancellationPage/types.ts
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPlanSelectionPage/index.stories.tsx
  turboui/src/CompanyBillingPlanSelectionPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
Due: Turboui, App Tests

chore: Move document titles from resource nodes to documents
  app/assets/js/features/SpaceTools/ResourceHubs/RegularState.tsx
  app/lib/operately/data/change_106_backfill_document_names_from_nodes.ex
  app/lib/operately/operations/resource_hub_document_creating.ex
  app/lib/operately/operations/resource_hub_document_editing.ex
  app/lib/operately/operations/resource_hub_document_publishing.ex
  app/lib/operately/operations/resource_hub_folder_copying/nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/resources.ex
  app/lib/operately/resource_hubs/document.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately_email/emails/resource_hub_document_commented_email.ex
  app/lib/operately_email/emails/resource_hub_document_created_email.ex
  app/lib/operately_email/emails/resource_hub_document_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_document_edited_email.ex
  app/lib/operately_email/templates/resource_hub_document_created.html.eex
  app/lib/operately_email/templates/resource_hub_document_created.text.eex
  app/lib/operately_email/templates/resource_hub_document_deleted.html.eex
  app/lib/operately_email/templates/resource_hub_document_deleted.text.eex
  app/lib/operately_email/templates/resource_hub_document_edited.html.eex
  app/lib/operately_email/templates/resource_hub_document_edited.text.eex
  app/lib/operately_web/api/serializers/resource_hub_document.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
  app/priv/repo/migrations/20260720120000_add_name_to_resource_documents.exs
  app/priv/repo/migrations/20260720120100_backfill_document_names_from_nodes.exs
  app/priv/repo/migrations/20260720120200_require_name_on_resource_documents.exs
  app/test/operately/data/change_106_backfill_document_names_from_nodes_test.exs
  app/test/operately/demo_test.exs
  app/test/operately/operations/resource_hub_document_creating_test.exs
  app/test/operately/operations/resource_hub_document_editing_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately_web/api/documents/update_test.exs
  app/test/operately_web/api/resource_hubs/copy_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/publish_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_document_test.exs
  app/test/support/cli_e2e/documents/update_steps.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
  turboui/src/ResourceHub/index.tsx
  turboui/src/ResourceHub/selectors.ts
Due: Turboui, App Tests

Fix migration
  app/lib/operately/data/change_047_populate_published_at_field_in_existing_published_documents.ex
Due: App Tests

Adjustments
  app/lib/operately/data/change_106_backfill_document_names_from_nodes.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
Due: App Tests

chore: Add search index backfill and reconciliation
  app/lib/operately/search.ex
  app/lib/operately/search/index_maintenance.ex
  app/lib/operately/search/index_maintenance/batch_processor.ex
  app/lib/operately/search/index_maintenance/batch_result.ex
  app/lib/operately/search/index_maintenance/entry_synchronizer.ex
  app/lib/operately/search/index_maintenance/index_scan.ex
  app/lib/operately/search/index_maintenance/run_lifecycle.ex
  app/lib/operately/search/index_maintenance/source_scan.ex
  app/lib/operately/search/index_run.ex
  app/lib/operately/search/maintenance_worker.ex
  app/lib/operately/search/source.ex
  app/priv/repo/migrations/20260720150000_rename_search_index_run_phases.exs
  app/test/operately/search/maintenance_test.exs
  specs/0015-full-text-search.md
Due: App Tests

Fix tests
  app/test/operately/company_transfers/importer_test.exs
  app/test/support/features/resource_hub_document_steps.ex
  app/test/support/features/resource_hub_steps.ex
Due: App Tests

Adjustments
  app/lib/operately/search/index_maintenance/run_lifecycle.ex
  app/test/operately/search/maintenance_test.exs
Due: App Tests

chore: Add search index backfill and reconciliation (#4855)
  app/lib/operately/search.ex
  app/lib/operately/search/index_maintenance.ex
  app/lib/operately/search/index_maintenance/batch_processor.ex
  app/lib/operately/search/index_maintenance/batch_result.ex
  app/lib/operately/search/index_maintenance/entry_synchronizer.ex
  app/lib/operately/search/index_maintenance/index_scan.ex
  app/lib/operately/search/index_maintenance/run_lifecycle.ex
  app/lib/operately/search/index_maintenance/source_scan.ex
  app/lib/operately/search/index_run.ex
  app/lib/operately/search/maintenance_worker.ex
  app/lib/operately/search/source.ex
  app/priv/repo/migrations/20260720150000_rename_search_index_run_phases.exs
  app/test/operately/search/maintenance_test.exs
  specs/0015-full-text-search.md
Due: App Tests

Adjust tests
  app/test/operately_web/api/resource_hubs/list_nodes_test.exs
  app/test/support/features/goal_steps.ex
  app/test/support/features/projects_steps.ex
Due: App Tests

chore: Move link titles from resource nodes to links
  app/lib/operately/data/change_107_backfill_link_names_from_nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/resources.ex
  app/lib/operately/operations/resource_hub_link_creating.ex
  app/lib/operately/operations/resource_hub_link_editing.ex
  app/lib/operately/resource_hubs/link.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately_email/emails/resource_hub_link_commented_email.ex
  app/lib/operately_email/emails/resource_hub_link_created_email.ex
  app/lib/operately_email/emails/resource_hub_link_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_link_edited_email.ex
  app/lib/operately_email/templates/resource_hub_link_created.html.eex
  app/lib/operately_email/templates/resource_hub_link_deleted.html.eex
  app/lib/operately_email/templates/resource_hub_link_deleted.text.eex
  app/lib/operately_email/templates/resource_hub_link_edited.html.eex
  app/lib/operately_email/templates/resource_hub_link_edited.text.eex
  app/lib/operately_web/api/serializers/resource_hub_link.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
  app/priv/repo/migrations/20260720160000_add_name_to_resource_links.exs
  app/priv/repo/migrations/20260720160100_backfill_link_names_from_nodes.exs
  app/priv/repo/migrations/20260720160200_require_name_on_resource_links.exs
  app/test/operately/data/change_107_backfill_link_names_from_nodes_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately/operations/resource_hub_link_creating_test.exs
  app/test/operately/operations/resource_hub_link_editing_test.exs
  app/test/operately_web/api/links/create_test.exs
  app/test/operately_web/api/links/update_test.exs
  app/test/operately_web/api/resource_hubs/copy_folder_test.exs
  app/test/support/cli_e2e/documents/update_steps.ex
  app/test/support/features/resource_hub_link_steps.ex
  app/test/support/features/resource_hub_steps.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
  turboui/src/ResourceHub/selectors.ts
Due: Turboui, App Tests

Adjust test
  app/test/operately/data/change_102_migrate_project_key_resources_to_resource_hub_links_test.exs
Due: App Tests

feat: show goal targets and checklist on Work Map progress hover
  app/assets/js/api/index.tsx
  app/assets/js/models/workMap/index.tsx
  app/lib/operately_web/api/serializers/work_map_item.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/companies/get_work_map_test.exs
  turboui/src/ApiTypes/index.ts
  turboui/src/WorkMap/components/TableRow/GoalProgressSummary.test.tsx
  turboui/src/WorkMap/components/TableRow/GoalProgressSummary.tsx
  turboui/src/WorkMap/components/TableRow/ProgressCell.tsx
  turboui/src/WorkMap/components/TableRow/index.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/TableRow.stories.tsx
  turboui/src/WorkMap/tests/mockData.ts
  turboui/src/WorkMap/utils/sort.test.ts
  turboui/src/WorkMap/utils/timelineItem.test.ts
Due: Turboui, App Tests

chore: Move link titles from resource nodes to links (#4856)
  app/lib/operately/data/change_107_backfill_link_names_from_nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/resources.ex
  app/lib/operately/operations/resource_hub_link_creating.ex
  app/lib/operately/operations/resource_hub_link_editing.ex
  app/lib/operately/resource_hubs/link.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately_email/emails/resource_hub_link_commented_email.ex
  app/lib/operately_email/emails/resource_hub_link_created_email.ex
  app/lib/operately_email/emails/resource_hub_link_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_link_edited_email.ex
  app/lib/operately_email/templates/resource_hub_link_created.html.eex
  app/lib/operately_email/templates/resource_hub_link_deleted.html.eex
  app/lib/operately_email/templates/resource_hub_link_deleted.text.eex
  app/lib/operately_email/templates/resource_hub_link_edited.html.eex
  app/lib/operately_email/templates/resource_hub_link_edited.text.eex
  app/lib/operately_web/api/serializers/resource_hub_link.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
  app/priv/repo/migrations/20260720160000_add_name_to_resource_links.exs
  app/priv/repo/migrations/20260720160100_backfill_link_names_from_nodes.exs
  app/priv/repo/migrations/20260720160200_require_name_on_resource_links.exs
  app/test/operately/data/change_102_migrate_project_key_resources_to_resource_hub_links_test.exs
  app/test/operately/data/change_107_backfill_link_names_from_nodes_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately/operations/resource_hub_link_creating_test.exs
  app/test/operately/operations/resource_hub_link_editing_test.exs
  app/test/operately_web/api/links/create_test.exs
  app/test/operately_web/api/links/update_test.exs
  app/test/operately_web/api/resource_hubs/copy_folder_test.exs
  app/test/support/cli_e2e/documents/update_steps.ex
  app/test/support/features/resource_hub_link_steps.ex
  app/test/support/features/resource_hub_steps.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
  turboui/src/ResourceHub/selectors.ts
Due: Turboui, App Tests

fix: Harden search index maintenance
  app/lib/operately/search.ex
  app/lib/operately/search/entry.ex
  app/lib/operately/search/error_category.ex
  app/lib/operately/search/index_maintenance.ex
  app/lib/operately/search/index_maintenance/batch_result.ex
  app/lib/operately/search/index_maintenance/entry_synchronizer.ex
  app/lib/operately/search/index_maintenance/index_scan.ex
  app/lib/operately/search/index_maintenance/run_lifecycle.ex
  app/lib/operately/search/index_maintenance/source_scan.ex
  app/lib/operately/search/index_run.ex
  app/lib/operately/search/indexer.ex
  app/lib/operately/search/indexer/entry_builder.ex
  app/lib/operately/search/indexer/writer.ex
  app/lib/operately/search/maintenance_worker.ex
  app/lib/operately/search/source.ex
  app/priv/repo/migrations/20260720160000_harden_search_index_maintenance.exs
  app/test/operately/search/indexer_test.exs
  app/test/operately/search/maintenance_test.exs
  app/test/operately/search/schema_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Move file titles from resource nodes to files
  app/lib/operately/data/change_108_backfill_file_names_from_nodes.ex
  app/lib/operately/operations/resource_hub_file_creating.ex
  app/lib/operately/operations/resource_hub_file_editing.ex
  app/lib/operately/operations/resource_hub_folder_copying/nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/resources.ex
  app/lib/operately/resource_hubs/file.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately_email/emails/resource_hub_file_commented_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
  app/lib/operately_email/emails/resource_hub_file_deleted_email.ex
  app/lib/operately_email/templates/resource_hub_file_deleted.html.eex
  app/lib/operately_email/templates/resource_hub_file_deleted.text.eex
  app/lib/operately_web/api/serializers/resource_hub_file.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
  app/priv/repo/migrations/20260720170000_add_name_to_resource_files.exs
  app/priv/repo/migrations/20260720170100_backfill_file_names_from_nodes.exs
  app/priv/repo/migrations/20260720170200_require_name_on_resource_files.exs
  app/test/operately/data/change_046_update_file_created_activity_format_test.exs
  app/test/operately/data/change_108_backfill_file_names_from_nodes_test.exs
  app/test/operately/operations/resource_hub_file_creating_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately_web/api/files/update_test.exs
  app/test/operately_web/api/resource_hubs/copy_folder_test.exs
  app/test/support/cli_e2e/documents/create_file_steps.ex
  app/test/support/cli_e2e/documents/update_steps.ex
  app/test/support/features/resource_hub_file_steps.ex
  app/test/support/features/resource_hub_steps.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
Due: App Tests

Adjustment
  app/lib/operately/search/index_maintenance/run_lifecycle.ex
  app/lib/operately/search/maintenance_worker.ex
Due: App Tests

chore: Move file titles from resource nodes to files (#4859)
  app/lib/operately/data/change_108_backfill_file_names_from_nodes.ex
  app/lib/operately/operations/resource_hub_file_creating.ex
  app/lib/operately/operations/resource_hub_file_editing.ex
  app/lib/operately/operations/resource_hub_folder_copying/nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/resources.ex
  app/lib/operately/resource_hubs/file.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately_email/emails/resource_hub_file_commented_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
  app/lib/operately_email/emails/resource_hub_file_deleted_email.ex
  app/lib/operately_email/templates/resource_hub_file_deleted.html.eex
  app/lib/operately_email/templates/resource_hub_file_deleted.text.eex
  app/lib/operately_web/api/serializers/resource_hub_file.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
  app/priv/repo/migrations/20260720170000_add_name_to_resource_files.exs
  app/priv/repo/migrations/20260720170100_backfill_file_names_from_nodes.exs
  app/priv/repo/migrations/20260720170200_require_name_on_resource_files.exs
  app/test/operately/data/change_046_update_file_created_activity_format_test.exs
  app/test/operately/data/change_108_backfill_file_names_from_nodes_test.exs
  app/test/operately/operations/resource_hub_file_creating_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately_web/api/files/update_test.exs
  app/test/operately_web/api/resource_hubs/copy_folder_test.exs
  app/test/support/cli_e2e/documents/create_file_steps.ex
  app/test/support/cli_e2e/documents/update_steps.ex
  app/test/support/features/resource_hub_file_steps.ex
  app/test/support/features/resource_hub_steps.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
Due: App Tests

Rename migration
  app/priv/repo/migrations/20260720180000_harden_search_index_maintenance.exs
Due: App Tests

fix: harden Work Map progress hover Storybook play test
  turboui/src/WorkMap/components/TableRow/GoalProgressSummary.test.tsx
  turboui/src/WorkMap/components/TableRow/GoalProgressSummary.tsx
  turboui/src/WorkMap/stories/TableRow.stories.tsx
Due: Turboui, App Tests

chore: Move folder titles from resource nodes to folders
  app/lib/operately/data/change_109_backfill_folder_names_from_nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/folders.ex
  app/lib/operately/operations/resource_hub_folder_copying/nodes.ex
  app/lib/operately/operations/resource_hub_folder_creating.ex
  app/lib/operately/operations/resource_hub_folder_renaming.ex
  app/lib/operately/resource_hubs/folder.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately_web/api/serializers/resource_hub_folder.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
  app/priv/repo/migrations/20260720180000_add_name_to_resource_folders.exs
  app/priv/repo/migrations/20260720180100_backfill_folder_names_from_nodes.exs
  app/priv/repo/migrations/20260720180200_require_name_on_resource_folders.exs
  app/test/features/resource_hub_document/deletion_test.exs
  app/test/features/resource_hub_document/movement_test.exs
  app/test/features/resource_hub_file/deletion_test.exs
  app/test/features/resource_hub_file/movement_test.exs
  app/test/features/resource_hub_folder/deletion_and_movement_test.exs
  app/test/features/resource_hub_link/resource_management_test.exs
  app/test/operately/data/change_102_migrate_project_key_resources_to_resource_hub_links_test.exs
  app/test/operately/data/change_106_backfill_document_names_from_nodes_test.exs
  app/test/operately/data/change_107_backfill_link_names_from_nodes_test.exs
  app/test/operately/data/change_108_backfill_file_names_from_nodes_test.exs
  app/test/operately/data/change_109_backfill_folder_names_from_nodes_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately_web/api/resource_hubs/copy_folder_test.exs
  app/test/operately_web/api/resource_hubs/get_folder_test.exs
  app/test/operately_web/api/resource_hubs/rename_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/rename_folder_test.exs
  app/test/support/cli_backward_compatibility/resource_hubs_steps.ex
  app/test/support/cli_e2e/documents/create_folder_steps.ex
  app/test/support/cli_e2e/documents/update_steps.ex
  app/test/support/features/resource_hub/deletion.ex
  app/test/support/features/resource_hub/moving.ex
  app/test/support/features/resource_hub_file_steps.ex
  app/test/support/features/resource_hub_folder_steps.ex
  app/test/support/features/resource_hub_steps.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
Due: App Tests

chore: Harden search index maintenance (#4858)
  app/lib/operately/search.ex
  app/lib/operately/search/entry.ex
  app/lib/operately/search/error_category.ex
  app/lib/operately/search/index_maintenance.ex
  app/lib/operately/search/index_maintenance/batch_result.ex
  app/lib/operately/search/index_maintenance/entry_synchronizer.ex
  app/lib/operately/search/index_maintenance/index_scan.ex
  app/lib/operately/search/index_maintenance/run_lifecycle.ex
  app/lib/operately/search/index_maintenance/source_scan.ex
  app/lib/operately/search/index_run.ex
  app/lib/operately/search/indexer.ex
  app/lib/operately/search/indexer/entry_builder.ex
  app/lib/operately/search/indexer/writer.ex
  app/lib/operately/search/maintenance_worker.ex
  app/lib/operately/search/source.ex
  app/priv/repo/migrations/20260720180000_harden_search_index_maintenance.exs
  app/test/operately/search/indexer_test.exs
  app/test/operately/search/maintenance_test.exs
  app/test/operately/search/schema_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Move folder titles from resource nodes to folders (#4860)
  app/lib/operately/data/change_109_backfill_folder_names_from_nodes.ex
  app/lib/operately/operations/resource_hub_folder_copying/folders.ex
  app/lib/operately/operations/resource_hub_folder_copying/nodes.ex
  app/lib/operately/operations/resource_hub_folder_creating.ex
  app/lib/operately/operations/resource_hub_folder_renaming.ex
  app/lib/operately/resource_hubs/folder.ex
  app/lib/operately/resource_hubs/node.ex
  app/lib/operately_web/api/serializers/resource_hub_folder.ex
  app/lib/operately_web/api/serializers/resource_hub_node.ex
  app/priv/repo/migrations/20260720180000_add_name_to_resource_folders.exs
  app/priv/repo/migrations/20260720180100_backfill_folder_names_from_nodes.exs
  app/priv/repo/migrations/20260720180200_require_name_on_resource_folders.exs
  app/test/features/resource_hub_document/deletion_test.exs
  app/test/features/resource_hub_document/movement_test.exs
  app/test/features/resource_hub_file/deletion_test.exs
  app/test/features/resource_hub_file/movement_test.exs
  app/test/features/resource_hub_folder/deletion_and_movement_test.exs
  app/test/features/resource_hub_link/resource_management_test.exs
  app/test/operately/data/change_102_migrate_project_key_resources_to_resource_hub_links_test.exs
  app/test/operately/data/change_106_backfill_document_names_from_nodes_test.exs
  app/test/operately/data/change_107_backfill_link_names_from_nodes_test.exs
  app/test/operately/data/change_108_backfill_file_names_from_nodes_test.exs
  app/test/operately/data/change_109_backfill_folder_names_from_nodes_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately_web/api/resource_hubs/copy_folder_test.exs
  app/test/operately_web/api/resource_hubs/get_folder_test.exs
  app/test/operately_web/api/resource_hubs/rename_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/rename_folder_test.exs
  app/test/support/cli_backward_compatibility/resource_hubs_steps.ex
  app/test/support/cli_e2e/documents/create_folder_steps.ex
  app/test/support/cli_e2e/documents/update_steps.ex
  app/test/support/features/resource_hub/deletion.ex
  app/test/support/features/resource_hub/moving.ex
  app/test/support/features/resource_hub_file_steps.ex
  app/test/support/features/resource_hub_folder_steps.ex
  app/test/support/features/resource_hub_steps.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
Due: App Tests

chore: Add document version storage and baseline migration
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/data/change_110_baseline_document_versions.ex
  app/lib/operately/resource_hubs.ex
  app/lib/operately/resource_hubs/document.ex
  app/lib/operately/resource_hubs/document_version.ex
  app/priv/repo/migrations/20260720190000_add_current_version_to_resource_documents.exs
  app/priv/repo/migrations/20260720190100_create_resource_document_versions.exs
  app/priv/repo/migrations/20260720190200_baseline_document_versions.exs
  app/test/operately/company_transfers/export/file_discovery_test.exs
  app/test/operately/company_transfers/import/rich_text_rewriter_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/data/change_110_baseline_document_versions_test.exs
  app/test/operately/resource_hubs/document_version_test.exs
  specs/0016-document-version-history.md
Due: App Tests

fix: Update migration to unique name
  app/priv/repo/migrations/20260720180050_harden_search_index_maintenance.exs
Due: App Tests

fix: Update migration to unique name (#4862)
  app/priv/repo/migrations/20260720180050_harden_search_index_maintenance.exs
Due: App Tests

Adjustment
  app/lib/operately/data/change_110_baseline_document_versions.ex
Due: App Tests

chore: Add document version storage and baseline migration (#4861)
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/data/change_110_baseline_document_versions.ex
  app/lib/operately/resource_hubs.ex
  app/lib/operately/resource_hubs/document.ex
  app/lib/operately/resource_hubs/document_version.ex
  app/priv/repo/migrations/20260720190000_add_current_version_to_resource_documents.exs
  app/priv/repo/migrations/20260720190100_create_resource_document_versions.exs
  app/priv/repo/migrations/20260720190200_baseline_document_versions.exs
  app/test/operately/company_transfers/export/file_discovery_test.exs
  app/test/operately/company_transfers/import/rich_text_rewriter_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/data/change_110_baseline_document_versions_test.exs
  app/test/operately/resource_hubs/document_version_test.exs
  specs/0016-document-version-history.md
Due: App Tests

fix: Make failing migrations idempotent
  app/priv/repo/migrations/20260720180050_harden_search_index_maintenance.exs
  app/priv/repo/migrations/20260720180060_ensure_name_on_resource_folders.exs
Due: App Tests

docs: Add ecto-migrations agent skill
  .agents/skills/ecto-migrations/SKILL.md
Due: none

fix: Make failing migrations idempotent (#4864)
  app/priv/repo/migrations/20260720180050_harden_search_index_maintenance.exs
  app/priv/repo/migrations/20260720180060_ensure_name_on_resource_folders.exs
Due: App Tests

docs: Add ecto-migrations agent skill (#4865)
  .agents/skills/ecto-migrations/SKILL.md
Due: none

chore: Capture document versions on write and expose history APIs
  app/assets/js/api/index.tsx
  app/lib/operately/operations/idempotent_acknowledgement.ex
  app/lib/operately/operations/resource_hub_document_creating.ex
  app/lib/operately/operations/resource_hub_document_editing.ex
  app/lib/operately/operations/resource_hub_document_publishing.ex
  app/lib/operately/operations/resource_hub_folder_copying/resources.ex
  app/lib/operately/repo/locking.ex
  app/lib/operately/resource_hubs.ex
  app/lib/operately/resource_hubs/document_version.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/documents/get_version.ex
  app/lib/operately_web/api/documents/list_versions.ex
  app/lib/operately_web/api/documents/update.ex
  app/lib/operately_web/api/serializers/document_version.ex
  app/lib/operately_web/api/serializers/resource_hub_document.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260721121911_remove_content_schema_version_from_document_versions.exs
  app/test/operately/company_transfers/export/file_discovery_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/data/change_110_baseline_document_versions_test.exs
  app/test/operately/operations/resource_hub_document_creating_test.exs
  app/test/operately/operations/resource_hub_document_editing_test.exs
  app/test/operately/operations/resource_hub_document_version_capture_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately/repo/locking_test.exs
  app/test/operately/resource_hubs/document_version_test.exs
  app/test/operately_web/api/documents/get_test.exs
  app/test/operately_web/api/documents/get_version_test.exs
  app/test/operately_web/api/documents/list_versions_test.exs
  app/test/operately_web/api/documents/update_test.exs
  app/test/support/fixtures/resource_hubs_fixtures.ex
  specs/0016-document-version-history.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Adjustment
  app/lib/operately/operations/resource_hub_document_editing.ex
Due: App Tests

Adjust tests
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/documents/get_version.ex
  app/test/operately_web/api/external_queries/queries/documents/list_versions.ex
  cli/src/generated/api-catalog.json
Due: App Tests

feat: move space PrivacyIndicator to TurboUI
  app/assets/js/features/spaces/PrivacyIndicator/index.tsx
  app/assets/js/features/spaces/SpaceCards/SpaceCard.tsx
  app/assets/js/pages/SpacePage/page.tsx
  turboui/src/PrivacyIndicator/index.stories.tsx
  turboui/src/PrivacyIndicator/index.test.tsx
  turboui/src/PrivacyIndicator/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Capture document versions on write and expose history APIs (#4866)
  app/assets/js/api/index.tsx
  app/lib/operately/operations/idempotent_acknowledgement.ex
  app/lib/operately/operations/resource_hub_document_creating.ex
  app/lib/operately/operations/resource_hub_document_editing.ex
  app/lib/operately/operations/resource_hub_document_publishing.ex
  app/lib/operately/operations/resource_hub_folder_copying/resources.ex
  app/lib/operately/repo/locking.ex
  app/lib/operately/resource_hubs.ex
  app/lib/operately/resource_hubs/document_version.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/documents/get_version.ex
  app/lib/operately_web/api/documents/list_versions.ex
  app/lib/operately_web/api/documents/update.ex
  app/lib/operately_web/api/serializers/document_version.ex
  app/lib/operately_web/api/serializers/resource_hub_document.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260721121911_remove_content_schema_version_from_document_versions.exs
  app/test/operately/company_transfers/export/file_discovery_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/data/change_110_baseline_document_versions_test.exs
  app/test/operately/operations/resource_hub_document_creating_test.exs
  app/test/operately/operations/resource_hub_document_editing_test.exs
  app/test/operately/operations/resource_hub_document_version_capture_test.exs
  app/test/operately/operations/resource_hub_folder_copying_test.exs
  app/test/operately/repo/locking_test.exs
  app/test/operately/resource_hubs/document_version_test.exs
  app/test/operately_web/api/documents/get_test.exs
  app/test/operately_web/api/documents/get_version_test.exs
  app/test/operately_web/api/documents/list_versions_test.exs
  app/test/operately_web/api/documents/update_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/documents/get_version.ex
  app/test/operately_web/api/external_queries/queries/documents/list_versions.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
  cli/src/generated/api-catalog.json
  specs/0016-document-version-history.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests
