Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Build new dev image when Dockerfile.dev changes
  .semaphore/devimage.yml
  .semaphore/semaphore.yml
  docker/dev/Dockerfile.dev
Due: none

chore: Build new dev image when Dockerfile.dev changes (#4809)
  .semaphore/devimage.yml
  .semaphore/semaphore.yml
  docker/dev/Dockerfile.dev
Due: none

chore: Build new dev image when Dockerfile.dev changes
  .semaphore/devimage.yml
  docker/dev/Dockerfile.dev
Due: none

chore: Build new dev image when Dockerfile.dev changes (#4810)
  .semaphore/devimage.yml
  docker/dev/Dockerfile.dev
Due: none

fix: Build new dev image when Dockerfile.dev changes
  docker/dev/Dockerfile.dev
Due: none

fix: Build new dev image when Dockerfile.dev changes (#4811)
  docker/dev/Dockerfile.dev
Due: none

Fix TS errors
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/WorkMap/tests/steps.ts
Due: Turboui, App Tests

chore: Run storybook tests in CI
  .semaphore/semaphore.yml
  Makefile
  turboui/.gitignore
  turboui/AGENTS.md
  turboui/package-lock.json
  turboui/package.json
  turboui/test-runner-jest.config.js
Due: Turboui, App Tests

Adjustment
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/MilestoneField/index.stories.tsx
  turboui/src/WorkMap/stories/AddItemModal.stories.tsx
  turboui/src/WorkMap/stories/WorkMap.stories.tsx
  turboui/src/WorkMap/stories/WorkMapTable.stories.tsx
  turboui/src/WorkMap/tests/steps.ts
  turboui/test-runner-jest.config.js
Due: Turboui, App Tests

chore: Migrate remaining forms call sites to TurboUI
  app/assets/js/features/goals/GoalTargetsV2/components/TargetNumericField.tsx
  app/assets/js/features/goals/GoalTargetsV2/components/TargetTextField.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/SetupPage/page.tsx
  app/assets/js/pages/SignUpWithEmailPage/index.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/EmailSettingsSection.tsx
  specs/0014-forms-turboui-migration.md
Due: App Tests

chore: Delete unused legacy Forms module
  app/assets/js/components/Forms/CheckboxInput.tsx
  app/assets/js/components/Forms/Elements/Input.tsx
  app/assets/js/components/Forms/Elements/Label.tsx
  app/assets/js/components/Forms/Elements/index.tsx
  app/assets/js/components/Forms/ErrorMessage.tsx
  app/assets/js/components/Forms/FieldGroup.tsx
  app/assets/js/components/Forms/FieldGroup/Context.tsx
  app/assets/js/components/Forms/FieldGroup/Grid.tsx
  app/assets/js/components/Forms/FieldGroup/Horizontal.tsx
  app/assets/js/components/Forms/FieldGroup/Vertical.tsx
  app/assets/js/components/Forms/Form.tsx
  app/assets/js/components/Forms/FormContext.tsx
  app/assets/js/components/Forms/FormError.tsx
  app/assets/js/components/Forms/NumberInput.tsx
  app/assets/js/components/Forms/PasswordInput.tsx
  app/assets/js/components/Forms/RadioButtons.tsx
  app/assets/js/components/Forms/SelectBox.tsx
  app/assets/js/components/Forms/Submit.tsx
  app/assets/js/components/Forms/SubmitButton.tsx
  app/assets/js/components/Forms/TextInput.tsx
  app/assets/js/components/Forms/TitleInput.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/components/Forms/useForm.tsx
  app/assets/js/components/Forms/useForm/errors.tsx
  app/assets/js/components/Forms/useForm/field.tsx
  app/assets/js/components/Forms/useForm/state.tsx
  app/assets/js/components/Forms/useForm/trigger.tsx
  app/assets/js/components/Forms/useForm/validations.tsx
  app/assets/js/components/Forms/useForm/values.tsx
  app/assets/js/components/Forms/validations/hook.tsx
  app/assets/js/components/Forms/validations/isNumber.tsx
  app/assets/js/components/Forms/validations/presence.tsx
  app/assets/js/components/Forms/validations/textLength.tsx
  app/package-lock.json
  app/package.json
  specs/0014-forms-turboui-migration.md
Due: App Tests

fix: Format ResourceHub page imports with Prettier
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
Due: App Tests

fix: Type SignUp code field value for TurboUI Forms
  app/assets/js/pages/SignUpWithEmailPage/index.tsx
Due: App Tests

chore: Run storybook tests in CI (#4807)
  .semaphore/semaphore.yml
  Makefile
  turboui/.gitignore
  turboui/AGENTS.md
  turboui/package-lock.json
  turboui/package.json
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/MilestoneField/index.stories.tsx
  turboui/src/WorkMap/stories/AddItemModal.stories.tsx
  turboui/src/WorkMap/stories/WorkMap.stories.tsx
  turboui/src/WorkMap/stories/WorkMapTable.stories.tsx
  turboui/src/WorkMap/tests/steps.ts
  turboui/test-runner-jest.config.js
Due: Turboui, App Tests

fix: Allow champions to acknowledge goal check-ins they didn't author
  app/assets/js/pages/GoalCheckInPage/AckCTA.tsx
  app/lib/operately/goals/update/permissions.ex
  app/lib/operately_email/emails/goal_check_in_email.ex
  app/lib/operately_web/api/goals/acknowledge_check_in.ex
  app/test/operately/goals/update_permissions_test.exs
  app/test/operately/permissions/read_only_test.exs
  app/test/operately_web/api/goals/acknowledge_check_in_test.exs
  app/test/operately_web/mcp/tools/goals/acknowledge_check_in_test.exs
Due: App Tests

Fix tests
  app/lib/operately/goals/update/permissions.ex
  app/test/operately_web/api/external_mutations/mutations/goals/acknowledge_check_in.ex
Due: App Tests

fix: Allow champions to acknowledge goal check-ins they didn't author (#4812)
  app/assets/js/pages/GoalCheckInPage/AckCTA.tsx
  app/lib/operately/goals/update/permissions.ex
  app/lib/operately_email/emails/goal_check_in_email.ex
  app/lib/operately_web/api/goals/acknowledge_check_in.ex
  app/test/operately/goals/update_permissions_test.exs
  app/test/operately/permissions/read_only_test.exs
  app/test/operately_web/api/external_mutations/mutations/goals/acknowledge_check_in.ex
  app/test/operately_web/api/goals/acknowledge_check_in_test.exs
  app/test/operately_web/mcp/tools/goals/acknowledge_check_in_test.exs
Due: App Tests

chore: Move SelectGoal to TurboUI and finish Forms migration wrap-up
  app/assets/js/features/forms/SelectGoal.tsx
  app/assets/js/features/goals/GoalTree/GoalSelectorDropdown.tsx
  app/assets/js/features/goals/GoalTree/components/CompanyGoalOption.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/Composed.stories.tsx
  turboui/src/Forms/RichTextArea.stories.tsx
  turboui/src/Forms/SelectGoal.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/features/goals/GoalTree/components/NodeIcon.tsx
  app/assets/js/features/goals/GoalTree/components/TableRow.tsx
  app/assets/js/features/goals/GoalTree/context/Expandable.tsx
  app/assets/js/features/goals/GoalTree/tree/buildTree.tsx
Due: App Tests

chore: Move SelectGoal to TurboUI and finish Forms migration wrap-up (#4813)
  app/assets/js/features/forms/SelectGoal.tsx
  app/assets/js/features/goals/GoalTree/GoalSelectorDropdown.tsx
  app/assets/js/features/goals/GoalTree/components/CompanyGoalOption.tsx
  app/assets/js/features/goals/GoalTree/components/NodeIcon.tsx
  app/assets/js/features/goals/GoalTree/components/TableRow.tsx
  app/assets/js/features/goals/GoalTree/context/Expandable.tsx
  app/assets/js/features/goals/GoalTree/tree/buildTree.tsx
  app/assets/js/pages/ProjectAddPage/page.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/Composed.stories.tsx
  turboui/src/Forms/RichTextArea.stories.tsx
  turboui/src/Forms/SelectGoal.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

chore: Add project and goal retrospective acknowledgement API
  app/lib/operately/activities/content/goal_retrospective_acknowledged.ex
  app/lib/operately/activities/content/project_retrospective_acknowledged.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/activities/notifications/goal_retrospective_acknowledged.ex
  app/lib/operately/activities/notifications/project_retrospective_acknowledged.ex
  app/lib/operately/activities/preloader.ex
  app/lib/operately/comments/comment_thread.ex
  app/lib/operately/goals.ex
  app/lib/operately/goals/retrospective.ex
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately/operations/goal_retrospective_acknowledgement.ex
  app/lib/operately/operations/project_retrospective_acknowledgement.ex
  app/lib/operately/projects/retrospective.ex
  app/lib/operately_email/emails/goal_retrospective_acknowledged_email.ex
  app/lib/operately_email/emails/project_retrospective_acknowledged_email.ex
  app/lib/operately_email/templates/goal_retrospective_acknowledged.html.eex
  app/lib/operately_email/templates/goal_retrospective_acknowledged.text.eex
  app/lib/operately_email/templates/project_retrospective_acknowledged.html.eex
  app/lib/operately_email/templates/project_retrospective_acknowledged.text.eex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/goals/acknowledge_retrospective.ex
  app/lib/operately_web/api/projects/acknowledge_retrospective.ex
  app/lib/operately_web/api/projects/get_retrospective.ex
  app/lib/operately_web/api/serializers/comment_thread.ex
  app/lib/operately_web/api/serializers/goal_retrospective.ex
  app/lib/operately_web/api/serializers/project_retrospective.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260710160000_add_acknowledgement_to_retrospectives.exs
  app/test/operately_web/api/goals/acknowledge_retrospective_test.exs
  app/test/operately_web/api/projects/acknowledge_retrospective_test.exs
Due: App Tests

Adjust data migrations
  app/lib/operately/data/change_030_create_subscriptions_list_for_project_retrospectives.ex
  app/lib/operately/data/change_031_add_retrospective_to_project_closed_activity.ex
  app/lib/operately/data/change_054_create_subscriptions_for_existing_goal_discussions.ex
  app/lib/operately/data/change_061_convert_retrospective_content.ex
Due: App Tests

Adjust tests
  app/lib/operately_email/emails/project_closed_email.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/goals/acknowledge_retrospective.ex
  app/test/operately_web/api/external_mutations/mutations/projects/acknowledge_retrospective.ex
Due: App Tests

chore: Add project and goal retrospective acknowledgement API (#4814)
  app/lib/operately/activities/content/goal_retrospective_acknowledged.ex
  app/lib/operately/activities/content/project_retrospective_acknowledged.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/activities/notifications/goal_retrospective_acknowledged.ex
  app/lib/operately/activities/notifications/project_retrospective_acknowledged.ex
  app/lib/operately/activities/preloader.ex
  app/lib/operately/comments/comment_thread.ex
  app/lib/operately/data/change_030_create_subscriptions_list_for_project_retrospectives.ex
  app/lib/operately/data/change_031_add_retrospective_to_project_closed_activity.ex
  app/lib/operately/data/change_054_create_subscriptions_for_existing_goal_discussions.ex
  app/lib/operately/data/change_061_convert_retrospective_content.ex
  app/lib/operately/goals.ex
  app/lib/operately/goals/retrospective.ex
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately/operations/goal_retrospective_acknowledgement.ex
  app/lib/operately/operations/project_retrospective_acknowledgement.ex
  app/lib/operately/projects/retrospective.ex
  app/lib/operately_email/emails/goal_retrospective_acknowledged_email.ex
  app/lib/operately_email/emails/project_closed_email.ex
  app/lib/operately_email/emails/project_retrospective_acknowledged_email.ex
  app/lib/operately_email/templates/goal_retrospective_acknowledged.html.eex
  app/lib/operately_email/templates/goal_retrospective_acknowledged.text.eex
  app/lib/operately_email/templates/project_retrospective_acknowledged.html.eex
  app/lib/operately_email/templates/project_retrospective_acknowledged.text.eex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/goals/acknowledge_retrospective.ex
  app/lib/operately_web/api/projects/acknowledge_retrospective.ex
  app/lib/operately_web/api/projects/get_retrospective.ex
  app/lib/operately_web/api/serializers/comment_thread.ex
  app/lib/operately_web/api/serializers/goal_retrospective.ex
  app/lib/operately_web/api/serializers/project_retrospective.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260710160000_add_acknowledgement_to_retrospectives.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/goals/acknowledge_retrospective.ex
  app/test/operately_web/api/external_mutations/mutations/projects/acknowledge_retrospective.ex
  app/test/operately_web/api/goals/acknowledge_retrospective_test.exs
  app/test/operately_web/api/projects/acknowledge_retrospective_test.exs
Due: App Tests

feat: Project and goal retrospectives can be acknowledged
  app/assets/js/api/index.tsx
  app/assets/js/features/CommentSection/CommentSection.tsx
  app/assets/js/features/CommentSection/index.tsx
  app/assets/js/features/CommentSection/useForGoalRetrospective.tsx
  app/assets/js/features/CommentSection/useForProjectRetrospective.tsx
  app/assets/js/features/activities/GoalRetrospectiveAcknowledged/index.tsx
  app/assets/js/features/activities/ProjectRetrospectiveAcknowledged/index.tsx
  app/assets/js/features/activities/index.tsx
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/pages/GoalActivityPage/AckCTA.tsx
  app/assets/js/pages/GoalActivityPage/index.tsx
  app/assets/js/pages/ProjectRetrospectivePage/AckCTA.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
  app/lib/operately/activities/activity.ex
  app/lib/operately/activities/permissions.ex
  app/lib/operately_email/emails/goal_closing_email.ex
  app/lib/operately_email/templates/goal_closing.html.eex
  app/lib/operately_email/templates/project_closed.html.eex
  app/lib/operately_web/api/companies/get_activity.ex
  app/lib/operately_web/api/projects/acknowledge_retrospective.ex
  app/lib/operately_web/api/serializers/activity.ex
  app/lib/operately_web/api/serializers/activity_content/goal_retrospective_acknowledged.ex
  app/lib/operately_web/api/serializers/activity_permission.ex
  app/lib/operately_web/api/serializers/project_retrospective.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/mcp/tools/goals/acknowledge_retrospective.ex
  app/lib/operately_web/mcp/tools/projects/acknowledge_retrospective.ex
  app/test/features/goal_retrospective_acknowledgement_test.exs
  app/test/features/project_retrospective_acknowledgement_test.exs
  app/test/mcp_e2e/tools/acknowledge_goal_retrospective_test.exs
  app/test/mcp_e2e/tools/acknowledge_project_retrospective_test.exs
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/mcp/tools/goals/acknowledge_retrospective_test.exs
  app/test/operately_web/mcp/tools/projects/acknowledge_retrospective_test.exs
  app/test/support/features/goal_retrospective_acknowledgement_steps.ex
  app/test/support/features/project_retrospective_acknowledgement_steps.ex
  app/test/support/mcp_e2e/tools/acknowledge_goal_retrospective_steps.ex
  app/test/support/mcp_e2e/tools/acknowledge_project_retrospective_steps.ex
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Add scheduled state to resources
  app/lib/operately/goals/update.ex
  app/lib/operately/messages/message.ex
  app/lib/operately/projects/check_in.ex
  app/priv/repo/migrations/20260710213208_add_scheduled_at_to_posts.exs
Due: App Tests

Add state machine to update and check_in
  app/lib/operately/goals/update.ex
  app/lib/operately/projects/check_in.ex
Due: App Tests

Adjust tests
  app/lib/operately_email/emails/project_closed_email.ex
  app/test/operately/permissions/read_only_test.exs
  app/test/support/features/goal_retrospective_acknowledgement_steps.ex
  app/test/support/features/project_retrospective_acknowledgement_steps.ex
Due: App Tests

Add operation and oban worker
  app/lib/operately/async_publishing/scheduled_post_publishing.ex
  app/lib/operately/async_publishing/worker.ex
  app/lib/operately/goals/update.ex
  app/lib/operately/messages/message.ex
  app/lib/operately/projects/check_in.ex
  app/test/operately/async_publishing/scheduled_post_publishing_test.exs
Due: App Tests

Fix lint
  turboui/src/ReviewPage/AssignmentsList.tsx
  turboui/src/ReviewPage/index.tsx
Due: Turboui, App Tests

Fix tests
  app/lib/operately/goals/update.ex
  app/lib/operately/projects/check_in.ex
  app/lib/operately/state_machine.ex
Due: App Tests

chore: Add async publishing worker and operations for scheduled posts (#4816)
  app/lib/operately/async_publishing/scheduled_post_publishing.ex
  app/lib/operately/async_publishing/worker.ex
  app/lib/operately/goals/update.ex
  app/lib/operately/messages/message.ex
  app/lib/operately/projects/check_in.ex
  app/lib/operately/state_machine.ex
  app/priv/repo/migrations/20260710213208_add_scheduled_at_to_posts.exs
  app/test/operately/async_publishing/scheduled_post_publishing_test.exs
Due: App Tests

feat: Show pending retrospective acknowledgements on the Review page
  app/lib/operately/assignments/assignment.ex
  app/lib/operately/assignments/loader.ex
  app/test/features/review_test.exs
  app/test/operately/assignments/loader_test.exs
  app/test/operately_web/api/people/list_assignments_test.exs
  app/test/support/factory.ex
  app/test/support/factory/goals.ex
  app/test/support/factory/projects.ex
  app/test/support/features/review_steps.ex
  turboui/src/ReviewPage/AssignmentsList.tsx
Due: Turboui, App Tests

feat: Show pending retrospective acknowledgements on the Review page (#4817)
  app/lib/operately/assignments/assignment.ex
  app/lib/operately/assignments/loader.ex
  app/test/features/review_test.exs
  app/test/operately/assignments/loader_test.exs
  app/test/operately_web/api/people/list_assignments_test.exs
  app/test/support/factory.ex
  app/test/support/factory/goals.ex
  app/test/support/factory/projects.ex
  app/test/support/features/review_steps.ex
  turboui/src/ReviewPage/AssignmentsList.tsx
Due: Turboui, App Tests

fix: Stabilize goal retrospective acknowledgement feature test
  app/test/support/features/goal_retrospective_acknowledgement_steps.ex
Due: App Tests

chore: Endpoints handle scheduling posts
  app/lib/operately/operations/discussion_editing.ex
  app/lib/operately/operations/discussion_posting.ex
  app/lib/operately/operations/goal_check_in.ex
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/operations/project_check_in.ex
  app/lib/operately/operations/project_check_in_edit.ex
  app/lib/operately_web/api/goals/create_check_in.ex
  app/lib/operately_web/api/goals/update_check_in.ex
  app/lib/operately_web/api/projects/create_check_in.ex
  app/lib/operately_web/api/projects/update_check_in.ex
  app/lib/operately_web/api/spaces/create_discussion.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/lib/operately_web/api/types.ex
Due: App Tests

fix: Stabilize goal retrospective acknowledgement feature test (#4818)
  app/test/support/features/goal_retrospective_acknowledgement_steps.ex
Due: App Tests

chore: Backfill acknowledgement for existing retrospectives
  app/lib/operately/data/change_104_acknowledge_existing_retrospectives.ex
  app/priv/repo/migrations/20260710223000_acknowledge_existing_retrospectives.exs
  app/test/operately/data/change_104_acknowledge_existing_retrospectives_test.exs
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
