Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

fix: link milestone comment feed action (#4513)
  app/assets/js/features/activities/ProjectMilestoneCommented/index.tsx
  app/assets/js/features/activities/feedItemLinks.tsx
Due: App Tests

chore: Add billing flows to storybooks
  turboui/src/Wireframes/BillingFlows.stories.tsx
Due: Turboui, App Tests

Adjust spec
  specs/0013-polar-recurring-billing.md
Due: none

chore: Add billing flows to storybooks (#4514)
  specs/0013-polar-recurring-billing.md
  turboui/src/Wireframes/BillingFlows.stories.tsx
Due: Turboui, App Tests

chore: Add billing foundation and schemas
  app/config/runtime.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/company_billing_account.ex
  app/lib/operately/billing/plans.ex
  app/lib/operately/billing/product_catalog_entry.ex
  app/lib/operately/billing/webhook_event.ex
  app/priv/repo/migrations/20260520100000_create_billing_tables.exs
  app/test/operately/billing_test.exs
Due: App Tests

Update spec
  specs/0013-polar-recurring-billing.md
Due: none

Fix tests
  app/lib/operately/company_transfers/schema/policy_registry.ex
Due: App Tests

Improvements
  app/lib/operately/billing.ex
  app/lib/operately/billing/company_billing_account.ex
  app/test/operately/billing_test.exs
Due: App Tests

chore: Add billing foundation and schemas (#4515)
  app/config/runtime.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/company_billing_account.ex
  app/lib/operately/billing/plans.ex
  app/lib/operately/billing/product_catalog_entry.ex
  app/lib/operately/billing/webhook_event.ex
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/priv/repo/migrations/20260520100000_create_billing_tables.exs
  app/test/operately/billing_test.exs
  specs/0013-polar-recurring-billing.md
Due: App Tests

chore: Adjust billing flows
  turboui/src/Wireframes/BillingFlows.stories.tsx
Due: Turboui, App Tests

chore: Adjust billing flows (#4516)
  turboui/src/Wireframes/BillingFlows.stories.tsx
Due: Turboui, App Tests

chore: Add admin billing API endpoints without Polar integration
  app/assets/js/api/index.tsx
  app/ee/assets/js/admin_api/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/archive_billing_product.ex
  app/ee/lib/admin_api/mutations/create_billing_product.ex
  app/ee/lib/admin_api/mutations/set_active_billing_product.ex
  app/ee/lib/admin_api/mutations/sync_billing_products_from_polar.ex
  app/ee/lib/admin_api/mutations/update_billing_product.ex
  app/ee/lib/admin_api/queries/list_billing_products.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/mutations/archive_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/create_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/set_active_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/sync_billing_products_from_polar_test.exs
  app/ee/test/operately_ee/admin_api/mutations/update_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/queries/list_billing_products_test.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/polar/product_sync.ex
  app/lib/operately_web/api/serializers/billing_product.ex
  app/lib/operately_web/paths.ex
Due: App Tests

chore: Add admin billing API endpoints without Polar integration (#4517)
  app/assets/js/api/index.tsx
  app/ee/assets/js/admin_api/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/archive_billing_product.ex
  app/ee/lib/admin_api/mutations/create_billing_product.ex
  app/ee/lib/admin_api/mutations/set_active_billing_product.ex
  app/ee/lib/admin_api/mutations/sync_billing_products_from_polar.ex
  app/ee/lib/admin_api/mutations/update_billing_product.ex
  app/ee/lib/admin_api/queries/list_billing_products.ex
  app/ee/lib/admin_api/types.ex
  app/ee/test/operately_ee/admin_api/mutations/archive_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/create_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/set_active_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/mutations/sync_billing_products_from_polar_test.exs
  app/ee/test/operately_ee/admin_api/mutations/update_billing_product_test.exs
  app/ee/test/operately_ee/admin_api/queries/list_billing_products_test.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/polar/product_sync.ex
  app/lib/operately_web/api/serializers/billing_product.ex
  app/lib/operately_web/paths.ex
Due: App Tests

fix: render refreshed task descriptions
  app/test/features/space_kanban_test.exs
  app/test/operately_web/api/spaces_test.exs
  app/test/support/features/space_kanban_steps.ex
  turboui/src/PageDescription/index.test.tsx
  turboui/src/PageDescription/index.tsx
Due: Turboui, App Tests

fix: render refreshed task descriptions (#4519)
  app/test/features/space_kanban_test.exs
  app/test/operately_web/api/spaces_test.exs
  app/test/support/features/space_kanban_steps.ex
  turboui/src/PageDescription/index.test.tsx
  turboui/src/PageDescription/index.tsx
Due: Turboui, App Tests

feat: Add billing catalog page to admin panel
  app/assets/js/window.d.ts
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/assets/js/pages/index.tsx
  app/ee/assets/js/routes/index.tsx
  app/lib/operately_web/controllers/page_controller.ex
Due: App Tests

feat: Add billing catalog page to admin panel (#4520)
  app/assets/js/window.d.ts
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/index.tsx
  app/ee/assets/js/pages/SaasAdminPage/index.tsx
  app/ee/assets/js/pages/index.tsx
  app/ee/assets/js/routes/index.tsx
  app/lib/operately_web/controllers/page_controller.ex
Due: App Tests

fix: improve project task completion dark mode
  turboui/src/ProjectPageLayout/PageHeader.tsx
Due: Turboui, App Tests

fix: improve project task completion dark mode (#4521)
  turboui/src/ProjectPageLayout/PageHeader.tsx
Due: Turboui, App Tests

fix: improve field menu contrast in dark mode
  turboui/src/PersonField/index.tsx
  turboui/src/StatusSelector/index.tsx
Due: Turboui, App Tests

feat: add kanban create task shortcut
  turboui/src/TaskBoard/KanbanView/Column.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/hooks/useTaskKeyboardNavigation.test.tsx
  turboui/src/TaskBoard/hooks/useTaskKeyboardNavigation.ts
Due: Turboui, App Tests

feat: open selected task with return
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/hooks/useTaskKeyboardNavigation.test.tsx
  turboui/src/TaskBoard/hooks/useTaskKeyboardNavigation.ts
Due: Turboui, App Tests

Auth entripoints preserver redirect_to
  app/assets/js/features/auth/Buttons.tsx
  app/assets/js/pages/SignUpPage/index.tsx
  app/assets/js/pages/SignUpWithEmailPage/index.tsx
Due: App Tests

feat: open task list items in slide-in
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TaskItem.tsx
  turboui/src/TaskBoard/components/TaskList.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/types.ts
Due: Turboui, App Tests

fix: improve field menu contrast in dark mode (#4524)
  turboui/src/PersonField/index.tsx
  turboui/src/StatusSelector/index.tsx
Due: Turboui, App Tests

fix: use searchable milestones in task slide-in
  turboui/src/TaskBoard/components/index.tsx
Due: Turboui, App Tests

fix: sync task list row state from slide-in updates
  turboui/src/TaskBoard/components/TaskItem.tsx
Due: Turboui, App Tests

fix: address task slide-in review feedback
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/TaskBoard/components/TaskItem.tsx
  turboui/src/TaskBoard/components/index.tsx
Due: Turboui, App Tests

feat: add kanban create task shortcut (#4526)
  turboui/src/TaskBoard/KanbanView/Column.tsx
  turboui/src/TaskBoard/KanbanView/Kanban.tsx
  turboui/src/TaskBoard/hooks/useTaskKeyboardNavigation.test.tsx
  turboui/src/TaskBoard/hooks/useTaskKeyboardNavigation.ts
Due: Turboui, App Tests

fix: reduce selected task shortcut churn
  turboui/src/TaskBoard/components/index.tsx
Due: Turboui, App Tests

chore: Add billing-intent route redirects from website
  app/assets/js/api/index.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/lib/operately/companies.ex
  app/lib/operately_web/api/companies/list.ex
  app/lib/operately_web/controllers/billing_intent_controller.ex
  app/lib/operately_web/router.ex
  app/test/operately/companies_test.exs
  app/test/operately_web/api/companies/list_test.exs
  app/test/operately_web/controllers/billing_intent_controller_test.exs
  specs/0013-polar-recurring-billing.md
Due: App Tests

Adjust copy
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
Due: App Tests

chore: Add billing-intent route redirects from website (#4528)
  app/assets/js/api/index.tsx
  app/assets/js/features/auth/Buttons.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/SignUpPage/index.tsx
  app/assets/js/pages/SignUpWithEmailPage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/lib/operately/companies.ex
  app/lib/operately_web/api/companies/list.ex
  app/lib/operately_web/controllers/billing_intent_controller.ex
  app/lib/operately_web/router.ex
  app/test/operately/companies_test.exs
  app/test/operately_web/api/companies/list_test.exs
  app/test/operately_web/controllers/billing_intent_controller_test.exs
  specs/0013-polar-recurring-billing.md
Due: App Tests

chore: Update billing spec and add missing flows to storybooks
  specs/0013-polar-recurring-billing.md
  turboui/src/Wireframes/BillingFlows.stories.tsx
Due: Turboui, App Tests

chore: Update billing spec and add missing flows to storybooks (#4529)
  specs/0013-polar-recurring-billing.md
  turboui/src/Wireframes/BillingFlows.stories.tsx
Due: Turboui, App Tests

chore: Remember billing plan intent during company creation
  app/assets/js/api/index.tsx
  app/assets/js/pages/NewCompanyPage/index.tsx
  app/lib/operately/operations/company_adding.ex
  app/lib/operately_web/api/companies/create.ex
  app/test/operately/operations/company_adding_test.exs
  app/test/operately_web/api/companies/create_test.exs
  specs/0013-polar-recurring-billing.md
Due: App Tests

fix: update task slide-in feature test flows
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/test/support/features/project_tasks_steps.ex
  app/test/support/features/status_customization_steps.ex
Due: App Tests

Add feature tests
  app/test/features/companies_test.exs
  app/test/support/features/companies_steps.ex
Due: App Tests

chore: Remember billing plan intent during company creation (#4530)
  app/assets/js/api/index.tsx
  app/assets/js/pages/NewCompanyPage/index.tsx
  app/lib/operately/operations/company_adding.ex
  app/lib/operately_web/api/companies/create.ex
  app/test/features/companies_test.exs
  app/test/operately/operations/company_adding_test.exs
  app/test/operately_web/api/companies/create_test.exs
  app/test/support/features/companies_steps.ex
  specs/0013-polar-recurring-billing.md
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
