Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

feat: Share TasksBoardView and add list/board switching on templates (#5101)
  app/assets/js/models/projectTemplates/optimisticUpdates.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.test.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.tsx
  app/assets/js/models/tasks/useKanbanState.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately/data/change_112_merge_template_kanban_into_root.ex
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_duplication.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/priv/repo/migrations/20260821172415_merge_template_kanban_into_root.exs
  app/test/operately/data/change_112_merge_template_kanban_into_root_test.exs
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_duplication_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/operately_web/api/project_templates/shared_steps_test.exs
  turboui/src/ProjectPage/TasksSection.tsx
  turboui/src/TaskBoard/TasksBoardView.tsx
  turboui/src/TaskBoard/components/MilestoneViewSelector.test.tsx
  turboui/src/TaskBoard/components/MilestoneViewSelector.tsx
  turboui/src/TaskBoard/hooks/useTasksBoardControls.ts
  turboui/src/TaskBoard/index.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/TemplateProjectPage/kanbanAdapters.ts
  turboui/src/utils/ids.ts
Due: Turboui, App Tests

feat: Persist template tasks list/board preference in localStorage
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

feat: Persist template tasks list/board preference in localStorage (#5102)
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

chore: Add project and template tasks board smoke feature tests
  app/test/features/project_tasks/board_test.exs
  app/test/features/project_templates/board_test.exs
  app/test/support/features/project_tasks_steps.ex
  app/test/support/features/project_templates_steps.ex
Due: App Tests

chore: Add project and template tasks board smoke feature tests (#5103)
  app/test/features/project_tasks/board_test.exs
  app/test/features/project_templates/board_test.exs
  app/test/support/features/project_tasks_steps.ex
  app/test/support/features/project_templates_steps.ex
Due: App Tests

chore: Load Jest types in the app TS project for the IDE
  .vscode/settings.json
  app/assets/js/jest-globals.d.ts
  app/jest.config.json
  app/tsconfig.json
  app/tsconfig.test.json
Due: App Tests

fix: Fix turboui test types for tsc lint
  turboui/src/BillingLimitGuidanceNotice/index.test.tsx
  turboui/src/CheckInCard/__tests__/index.test.tsx
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBillingPage/index.test.tsx
  turboui/src/DiscussionCard/__tests__/index.test.tsx
  turboui/src/DocumentEditPage/index.test.tsx
  turboui/src/DocumentPage/index.test.tsx
  turboui/src/DocumentVersionHistoryPage/__tests__/types.test.ts
  turboui/src/FilePage/index.test.tsx
  turboui/src/GlobalSearch/index.test.tsx
  turboui/src/GoalField/index.test.tsx
  turboui/src/GoalPage/__tests__/Discussions.test.tsx
  turboui/src/LastCheckIn/__tests__/index.test.tsx
  turboui/src/Link/index.test.tsx
  turboui/src/LinkNewPage/index.test.tsx
  turboui/src/LinkPage/index.test.tsx
  turboui/src/NewDocumentPage/index.test.tsx
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.test.tsx
  turboui/src/ResourceHub/Navigation/index.test.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
  turboui/src/ResourceHubFolderPage/index.test.tsx
  turboui/src/RichContentDiff/__tests__/diffRichContent.test.ts
  turboui/src/RichEditor/__tests__/LinkEditForm.test.tsx
  turboui/src/SearchIndexAdminPage/index.test.tsx
  turboui/src/SearchPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/TaskBoard/components/index.test.tsx
  turboui/src/WorkMap/components/TableRow/GoalProgressSummary.test.tsx
  turboui/src/utils/storybook/genPeople.tsx
Due: Turboui, App Tests

Add command to check turboui TS lint
  Makefile
Due: none

Check turboui lint in CI
  .semaphore/semaphore.yml
Due: none

chore: Load Jest types in the app TS project for the IDE (#5104)
  .vscode/settings.json
  app/assets/js/jest-globals.d.ts
  app/jest.config.json
  app/tsconfig.json
  app/tsconfig.test.json
Due: App Tests

fix: Fix turboui test types for tsc lint (#5105)
  .semaphore/semaphore.yml
  Makefile
  turboui/src/BillingLimitGuidanceNotice/index.test.tsx
  turboui/src/CheckInCard/__tests__/index.test.tsx
  turboui/src/CompanyBilling/index.test.ts
  turboui/src/CompanyBillingPage/index.test.tsx
  turboui/src/DiscussionCard/__tests__/index.test.tsx
  turboui/src/DocumentEditPage/index.test.tsx
  turboui/src/DocumentPage/index.test.tsx
  turboui/src/DocumentVersionHistoryPage/__tests__/types.test.ts
  turboui/src/FilePage/index.test.tsx
  turboui/src/GlobalSearch/index.test.tsx
  turboui/src/GoalField/index.test.tsx
  turboui/src/GoalPage/__tests__/Discussions.test.tsx
  turboui/src/LastCheckIn/__tests__/index.test.tsx
  turboui/src/Link/index.test.tsx
  turboui/src/LinkNewPage/index.test.tsx
  turboui/src/LinkPage/index.test.tsx
  turboui/src/NewDocumentPage/index.test.tsx
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ResourceHub/ContinueEditingDrafts.test.tsx
  turboui/src/ResourceHub/Navigation/index.test.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
  turboui/src/ResourceHubDraftsPage/index.test.tsx
  turboui/src/ResourceHubFolderPage/index.test.tsx
  turboui/src/RichContentDiff/__tests__/diffRichContent.test.ts
  turboui/src/RichEditor/__tests__/LinkEditForm.test.tsx
  turboui/src/SearchIndexAdminPage/index.test.tsx
  turboui/src/SearchPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/TaskBoard/components/index.test.tsx
  turboui/src/WorkMap/components/TableRow/GoalProgressSummary.test.tsx
  turboui/src/utils/storybook/genPeople.tsx
Due: Turboui, App Tests

chore: Migrate company navigation to turboui
  app/assets/js/layouts/CompanyLayout/Bell.tsx
  app/assets/js/layouts/CompanyLayout/CompanyDropdown.tsx
  app/assets/js/layouts/CompanyLayout/Review.tsx
  app/assets/js/layouts/CompanyLayout/User.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  turboui/src/CompanyNavigation/Bell.tsx
  turboui/src/CompanyNavigation/CompanyDropdown.tsx
  turboui/src/CompanyNavigation/CountBadge.tsx
  turboui/src/CompanyNavigation/DropdownMenu.tsx
  turboui/src/CompanyNavigation/HelpDropdown.tsx
  turboui/src/CompanyNavigation/NewDropdown.tsx
  turboui/src/CompanyNavigation/Review.tsx
  turboui/src/CompanyNavigation/User.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/mockData.ts
  turboui/src/CompanyNavigation/types.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix lint
  app/knip.json
  app/package-lock.json
  app/package.json
Due: App Tests

chore: Migrate company navigation to turboui (#5106)
  app/assets/js/layouts/CompanyLayout/Bell.tsx
  app/assets/js/layouts/CompanyLayout/CompanyDropdown.tsx
  app/assets/js/layouts/CompanyLayout/Review.tsx
  app/assets/js/layouts/CompanyLayout/User.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/knip.json
  app/package-lock.json
  app/package.json
  turboui/src/CompanyNavigation/Bell.tsx
  turboui/src/CompanyNavigation/CompanyDropdown.tsx
  turboui/src/CompanyNavigation/CountBadge.tsx
  turboui/src/CompanyNavigation/DropdownMenu.tsx
  turboui/src/CompanyNavigation/HelpDropdown.tsx
  turboui/src/CompanyNavigation/NewDropdown.tsx
  turboui/src/CompanyNavigation/Review.tsx
  turboui/src/CompanyNavigation/User.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/mockData.ts
  turboui/src/CompanyNavigation/types.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Migrate homepage to turboui
  app/assets/js/pages/HomePage/index.tsx
  turboui/src/HomePage/SpacesZeroState.tsx
  turboui/src/HomePage/index.stories.tsx
  turboui/src/HomePage/index.test.tsx
  turboui/src/HomePage/index.tsx
  turboui/src/HomePage/mockData.tsx
  turboui/src/HomePage/types.ts
  turboui/src/Page/Page.stories.tsx
  turboui/src/Page/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Add homepage+navgation story
  turboui/src/CompanyNavigation/index.stories.tsx
Due: Turboui, App Tests

chore: Migrate homepage to turboui (#5107)
  app/assets/js/pages/HomePage/index.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/HomePage/SpacesZeroState.tsx
  turboui/src/HomePage/index.stories.tsx
  turboui/src/HomePage/index.test.tsx
  turboui/src/HomePage/index.tsx
  turboui/src/HomePage/mockData.tsx
  turboui/src/HomePage/types.ts
  turboui/src/Page/Page.stories.tsx
  turboui/src/Page/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Prototype an update-available badge in the navbar
  turboui/src/CompanyNavigation/UpdateBadge.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/types.ts
Due: Turboui, App Tests

Truncate long company names in the navbar
  turboui/src/CompanyNavigation/CompanyDropdown.tsx
  turboui/src/CompanyNavigation/DropdownMenu.tsx
  turboui/src/CompanyNavigation/index.stories.tsx
  turboui/src/CompanyNavigation/index.test.tsx
  turboui/src/CompanyNavigation/index.tsx
  turboui/src/CompanyNavigation/truncateCompanyName.test.ts
  turboui/src/CompanyNavigation/truncateCompanyName.ts
Due: Turboui, App Tests

feat: Give each KPI its own page
  app/assets/js/features/SpaceTools/ToolsSection.test.tsx
  app/assets/js/features/activities/KpiCreated/index.test.tsx
  app/assets/js/features/activities/KpiCreated/index.tsx
  app/assets/js/models/kpis/index.tsx
  app/assets/js/pages/SpaceKpisPage/loader.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  turboui/src/SpaceKpisPage/DeleteKpiModal.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.test.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

feat: Give each KPI its own page (#5109)
  app/assets/js/features/SpaceTools/ToolsSection.test.tsx
  app/assets/js/features/activities/KpiCreated/index.test.tsx
  app/assets/js/features/activities/KpiCreated/index.tsx
  app/assets/js/models/kpis/index.tsx
  app/assets/js/pages/SpaceKpisPage/loader.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  turboui/src/SpaceKpisPage/DeleteKpiModal.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.test.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

Show champion in the sidebar
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiFormModal.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
  turboui/src/SpaceKpisPage/utils.ts
Due: Turboui, App Tests

Change cadence in sidebar
  turboui/src/SpaceKpisPage/KpiDetail.tsx
Due: Turboui, App Tests

Guard the inline champion search against failures and stale results
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
Due: Turboui, App Tests

feat: Show KPI details in a sidebar and edit champion and cadence inline (#5110)
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiFormModal.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
  turboui/src/SpaceKpisPage/utils.ts
Due: Turboui, App Tests

Show the last KPI update in the sidebar
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
Due: Turboui, App Tests

Keep a KPI entry's period on its own calendar day
  app/assets/js/models/kpis/index.test.tsx
  app/assets/js/models/kpis/index.tsx
Due: App Tests

feat: Add and edit project contributors from the overview sidebar
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/optimisticUpdates.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/useProjectContributorActions.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately_web/api/projects/create_contributor.ex
  app/test/operately_web/api/external_mutations/mutations/projects/create_contributor.ex
  app/test/operately_web/api/projects/create_contributor_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ContributorsSection/ContributorModal.tsx
  turboui/src/ContributorsSection/index.stories.tsx
  turboui/src/ContributorsSection/index.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add and edit project contributors from the overview sidebar (#5112)
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/optimisticUpdates.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.tsx
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/useProjectContributorActions.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/lib/operately_web/api/projects/create_contributor.ex
  app/test/operately_web/api/external_mutations/mutations/projects/create_contributor.ex
  app/test/operately_web/api/projects/create_contributor_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ContributorsSection/ContributorModal.tsx
  turboui/src/ContributorsSection/index.stories.tsx
  turboui/src/ContributorsSection/index.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Show last update in sidebar
  app/assets/js/models/kpis/index.test.tsx
  app/assets/js/models/kpis/index.tsx
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
Due: Turboui, App Tests

feat: Show the last KPI update in the KPI sidebar (#5111)
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
Due: Turboui, App Tests

fix: Don't reuse previous file upload descriptions
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/types.ts
  turboui/src/ResourceHub/AddFileWidget.test.tsx
  turboui/src/ResourceHub/AddFileWidget.tsx
Due: Turboui, App Tests

test: Read description text from the mocked file upload editor
  turboui/src/ResourceHub/AddFileWidget.test.tsx
Due: Turboui, App Tests

feat: Show other people with access from the project overview sidebar
  app/assets/js/models/projects/index.tsx
  app/assets/js/models/projects/useProjectOtherPeopleWithAccess.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  turboui/src/Link/index.tsx
  turboui/src/OtherPeopleWithAccess/Modal.tsx
  turboui/src/OtherPeopleWithAccess/OtherPeopleWithAccess.tsx
  turboui/src/OtherPeopleWithAccess/index.stories.tsx
  turboui/src/OtherPeopleWithAccess/index.tsx
  turboui/src/ProjectPage/OverviewSidebar.test.tsx
  turboui/src/ProjectPage/OverviewSidebar.tsx
  turboui/src/ProjectPage/ProjectPageWithDocsAndFilesStory.tsx
  turboui/src/ProjectPage/index.stories.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add editable KPI descriptions
  app/assets/js/api/index.tsx
  app/assets/js/models/kpis/index.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/operations/kpi_creation.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260824124317_add_description_to_kpis.exs
  app/test/operately/operations/kpi_creation_test.exs
  app/test/operately/operations/kpi_editing_test.exs
  app/test/operately_web/api/external_mutations/mutations/kpis/create_kpi.ex
  app/test/operately_web/api/external_mutations/mutations/kpis/edit_kpi.ex
  app/test/operately_web/api/kpis/create_kpi_test.exs
  app/test/operately_web/api/kpis/edit_kpi_test.exs
  app/test/operately_web/api/kpis/get_kpi_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.test.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

fix: Keep KPI descriptions current after saving
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/test/operately_web/api/kpis/list_kpis_test.exs
  turboui/src/SpaceKpisPage/KpiDetail.tsx
Due: Turboui, App Tests

feat: Add editable KPI descriptions (#5114)
  app/assets/js/api/index.tsx
  app/assets/js/models/kpis/index.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/operations/kpi_creation.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260824124317_add_description_to_kpis.exs
  app/test/operately/operations/kpi_creation_test.exs
  app/test/operately/operations/kpi_editing_test.exs
  app/test/operately_web/api/external_mutations/mutations/kpis/create_kpi.ex
  app/test/operately_web/api/external_mutations/mutations/kpis/edit_kpi.ex
  app/test/operately_web/api/kpis/create_kpi_test.exs
  app/test/operately_web/api/kpis/edit_kpi_test.exs
  app/test/operately_web/api/kpis/get_kpi_test.exs
  app/test/operately_web/api/kpis/list_kpis_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.test.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

chore: Restyle the dev bar and let it collapse out of the way
  app/assets/js/features/DevBar/DevPill.tsx
  app/assets/js/features/DevBar/ToggleTestIds.tsx
  app/assets/js/features/DevBar/ToggleTheme.tsx
  app/assets/js/features/DevBar/index.tsx
Due: App Tests

chore: Allow conventional commit scopes in PR titles
  scripts/pr-name-check
Due: none

chore: Restyle the dev bar and let it collapse out of the way (#5119)
  app/assets/js/features/DevBar/DevPill.tsx
  app/assets/js/features/DevBar/ToggleTestIds.tsx
  app/assets/js/features/DevBar/ToggleTheme.tsx
  app/assets/js/features/DevBar/index.tsx
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
