Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

fix: harden Change105 migration test for dropped agent tables
  app/lib/operately/data/change_105_delete_ai_people_and_agent_tables.ex
  app/test/operately/data/change_105_delete_ai_people_and_agent_tables_test.exs
Due: App Tests

show scheduled dates on check-in cards
  app/assets/js/models/goalCheckIns/index.tsx
  app/assets/js/models/projectCheckIns/index.tsx
  app/assets/js/pages/GoalPage/index.tsx
  turboui/src/CheckInCard/__tests__/index.test.tsx
  turboui/src/CheckInCard/index.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/index.tsx
Due: Turboui, App Tests

improve scheduled goal check-in actions
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/pages/GoalCheckInPage/Header.tsx
Due: App Tests

improve scheduled project check-in actions
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
Due: App Tests

Add tests
  app/test/features/goal_check_ins/scheduling_test.exs
  app/test/features/project_check_ins/scheduling_test.exs
  app/test/support/features/goal_check_ins_steps.ex
  app/test/support/features/project_check_ins_steps.ex
Due: App Tests

Adjustment
  app/assets/js/pages/DiscussionDraftsPage/index.tsx
Due: App Tests

Adjust tests
  app/test/support/features/goal_check_ins_steps.ex
  app/test/support/features/goal_creation_steps.ex
  app/test/support/features/project_check_ins_steps.ex
  app/test/support/features/projects_steps.ex
Due: App Tests

chore: Update npm packages
  app/package-lock.json
  turboui/package-lock.json
  turboui/package.json
Due: Turboui, App Tests

chore: Update npm packages (#4828)
  app/package-lock.json
  turboui/package-lock.json
  turboui/package.json
Due: Turboui, App Tests

fix: clear knip unused exports and sync CLI API catalog
  app/assets/js/contexts/CurrentCompanyContext.tsx
  app/assets/js/models/companies/index.tsx
  cli/src/generated/api-catalog.json
Due: App Tests

fix: simplify AI cleanup migrations and restore guest spec
  app/lib/operately/data/change_105_delete_ai_people.ex
  app/lib/operately/data/change_105_delete_ai_people_and_agent_tables.ex
  app/priv/repo/migrations/20260714130000_delete_ai_people.exs
  app/priv/repo/migrations/20260714130000_delete_ai_people_and_drop_agent_tables.exs
  app/priv/repo/migrations/20260714130100_drop_agent_tables.exs
  app/test/operately/data/change_105_delete_ai_people_and_agent_tables_test.exs
  app/test/operately/data/change_105_delete_ai_people_test.exs
  cli/src/generated/api-catalog.json
  specs/0008-guest-accounts-invitations.md
Due: App Tests

chore: Complete scheduled posting validation
  app/lib/operately/async_publishing/scheduled_post_publishing.ex
  app/lib/operately/operations/discussion_editing.ex
  app/lib/operately/operations/discussion_posting.ex
  app/lib/operately/operations/goal_check_in.ex
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/operations/project_check_in.ex
  app/lib/operately/operations/project_check_in_edit.ex
  app/lib/operately/scheduling.ex
  app/lib/operately_web/api/goals/create_check_in.ex
  app/lib/operately_web/api/goals/update_check_in.ex
  app/lib/operately_web/api/projects/create_check_in.ex
  app/lib/operately_web/api/projects/update_check_in.ex
  app/lib/operately_web/api/spaces/create_discussion.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/test/operately/async_publishing/scheduled_post_publishing_test.exs
  app/test/operately/scheduling_test.exs
  app/test/operately_web/api/goals/create_check_in_test.exs
  app/test/operately_web/api/goals/list_check_ins_test.exs
  app/test/operately_web/api/goals/update_check_in_test.exs
  app/test/operately_web/api/projects/create_check_in_test.exs
  app/test/operately_web/api/projects/list_check_ins_test.exs
  app/test/operately_web/api/projects/update_check_in_test.exs
  app/test/operately_web/api/spaces/create_discussion_test.exs
  app/test/operately_web/api/spaces/update_discussion_test.exs
  turboui/src/DiscussionCard/__tests__/index.test.tsx
  turboui/src/DiscussionCard/index.tsx
  turboui/src/SchedulePosting/ScheduleModal.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
Due: Turboui, App Tests

chore: regenerate API after Alfred removal and fix migration queries
  app/assets/js/api/index.tsx
  app/assets/js/pages/index.tsx
  app/lib/operately/data/change_105_delete_ai_people_and_agent_tables.ex
  app/mix.lock
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: remove Alfred/AI frontend and TurboUI components
  app/assets/js/features/AiSidebar/availability.test.ts
  app/assets/js/features/AiSidebar/availability.ts
  app/assets/js/features/AiSidebar/context.tsx
  app/assets/js/features/AiSidebar/index.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/pages/AgentPage/index.tsx
  app/assets/js/pages/AgentPage/state.tsx
  app/assets/js/pages/AiPlaygroundPage/index.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyManageAiAgentsPage/index.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  app/assets/js/signals/index.tsx
  app/assets/js/window.d.ts
  turboui/src/Conversations/Conversations.stories.tsx
  turboui/src/Conversations/ConversationsExample.tsx
  turboui/src/Conversations/README.md
  turboui/src/Conversations/index.tsx
  turboui/src/Conversations/useConversations.ts
  turboui/src/FloatingActionButton/FloatingActionButton.stories.tsx
  turboui/src/FloatingActionButton/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: add AI people cleanup migration and strip Alfred from install
  app/lib/operately/data/change_105_delete_ai_people_and_agent_tables.ex
  app/priv/repo/migrations/20260714130000_delete_ai_people_and_drop_agent_tables.exs
  app/rel/single-host/templates/install.sh.eex
  app/test/operately/data/change_105_delete_ai_people_and_agent_tables_test.exs
Due: App Tests

Update policy_registry
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/test/operately/company_transfers/schema_graph_test.exs
Due: App Tests

Adjust tests
  app/test/support/features/goal_creation_steps.ex
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
Due: Turboui, App Tests

chore: Complete scheduled posting validation (#4830)
  app/lib/operately/async_publishing/scheduled_post_publishing.ex
  app/lib/operately/operations/discussion_editing.ex
  app/lib/operately/operations/discussion_posting.ex
  app/lib/operately/operations/goal_check_in.ex
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/operations/project_check_in.ex
  app/lib/operately/operations/project_check_in_edit.ex
  app/lib/operately/scheduling.ex
  app/lib/operately_web/api/goals/create_check_in.ex
  app/lib/operately_web/api/goals/update_check_in.ex
  app/lib/operately_web/api/projects/create_check_in.ex
  app/lib/operately_web/api/projects/update_check_in.ex
  app/lib/operately_web/api/spaces/create_discussion.ex
  app/lib/operately_web/api/spaces/update_discussion.ex
  app/test/operately/async_publishing/scheduled_post_publishing_test.exs
  app/test/operately/scheduling_test.exs
  app/test/operately_web/api/goals/create_check_in_test.exs
  app/test/operately_web/api/goals/list_check_ins_test.exs
  app/test/operately_web/api/goals/update_check_in_test.exs
  app/test/operately_web/api/projects/create_check_in_test.exs
  app/test/operately_web/api/projects/list_check_ins_test.exs
  app/test/operately_web/api/projects/update_check_in_test.exs
  app/test/operately_web/api/spaces/create_discussion_test.exs
  app/test/operately_web/api/spaces/update_discussion_test.exs
  app/test/support/features/goal_creation_steps.ex
  turboui/src/DiscussionCard/__tests__/index.test.tsx
  turboui/src/DiscussionCard/index.tsx
  turboui/src/SchedulePosting/ScheduleModal.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
Due: Turboui, App Tests

feat: Add custom time picker component
  turboui/src/DateField/components/InlineCalendar.tsx
  turboui/src/FormattedTime/index.tsx
  turboui/src/SchedulePosting/ScheduleFlowControls.tsx
  turboui/src/SchedulePosting/ScheduleModal.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
  turboui/src/SchedulePosting/index.stories.tsx
  turboui/src/TimePicker/index.stories.tsx
  turboui/src/TimePicker/index.test.tsx
  turboui/src/TimePicker/index.tsx
  turboui/src/icons/index.tsx
  turboui/src/index.tsx
  turboui/src/utils/timezone.test.ts
  turboui/src/utils/timezone.ts
Due: Turboui, App Tests

Add missing test
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
Due: Turboui, App Tests

ScheduleModal shows selected date/time on open
  turboui/src/DateField/components/InlineCalendar.test.tsx
  turboui/src/DateField/components/InlineCalendar.tsx
  turboui/src/SchedulePosting/ScheduleFlowControls.tsx
  turboui/src/SchedulePosting/ScheduleModal.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
  turboui/src/SchedulePosting/index.stories.tsx
Due: Turboui, App Tests

Adjust tests
  app/test/support/features/ui/date_field.ex
  turboui/src/DateField/components/InlineCalendar.test.tsx
  turboui/src/DateField/components/InlineCalendar.tsx
Due: Turboui, App Tests

feat: Add custom time picker component (#4831)
  app/test/support/features/ui/date_field.ex
  turboui/src/DateField/components/InlineCalendar.test.tsx
  turboui/src/DateField/components/InlineCalendar.tsx
  turboui/src/FormattedTime/index.tsx
  turboui/src/SchedulePosting/ScheduleFlowControls.tsx
  turboui/src/SchedulePosting/ScheduleModal.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
  turboui/src/SchedulePosting/index.stories.tsx
  turboui/src/TimePicker/index.stories.tsx
  turboui/src/TimePicker/index.test.tsx
  turboui/src/TimePicker/index.tsx
  turboui/src/icons/index.tsx
  turboui/src/index.tsx
  turboui/src/utils/timezone.test.ts
  turboui/src/utils/timezone.ts
Due: Turboui, App Tests

fix: Make acknowledgements concurrently idempotent
  app/lib/operately/operations/goal_retrospective_acknowledgement.ex
  app/lib/operately/operations/goal_update_acknowledging.ex
  app/lib/operately/operations/idempotent_acknowledgement.ex
  app/lib/operately/operations/project_check_in_acknowledgement.ex
  app/lib/operately/operations/project_retrospective_acknowledgement.ex
  app/test/operately/operations/idempotent_acknowledgement_test.exs
  app/test/operately_web/api/projects/acknowledge_check_in_test.exs
Due: App Tests

fix: Make acknowledgements concurrently idempotent (#4832)
  app/lib/operately/operations/goal_retrospective_acknowledgement.ex
  app/lib/operately/operations/goal_update_acknowledging.ex
  app/lib/operately/operations/idempotent_acknowledgement.ex
  app/lib/operately/operations/project_check_in_acknowledgement.ex
  app/lib/operately/operations/project_retrospective_acknowledgement.ex
  app/test/operately/operations/idempotent_acknowledgement_test.exs
  app/test/operately_web/api/projects/acknowledge_check_in_test.exs
Due: App Tests

feat: Show accurate posting times in check-in headers
  app/assets/js/pages/GoalCheckInPage/Header.tsx
  app/assets/js/pages/ProjectCheckInPage/AckCTA.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/test/support/features/project_check_ins_steps.ex
  turboui/src/CheckInHeader/PostedTime.stories.tsx
  turboui/src/CheckInHeader/PostedTime.test.tsx
  turboui/src/CheckInHeader/PostedTime.tsx
  turboui/src/CheckInHeader/index.stories.tsx
  turboui/src/CheckInHeader/index.test.tsx
  turboui/src/CheckInHeader/index.tsx
  turboui/src/CheckInHeader/timestamp.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Show accurate posting times in check-in headers (#4833)
  app/assets/js/pages/GoalCheckInPage/Header.tsx
  app/assets/js/pages/ProjectCheckInPage/AckCTA.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/test/support/features/project_check_ins_steps.ex
  turboui/src/CheckInHeader/PostedTime.stories.tsx
  turboui/src/CheckInHeader/PostedTime.test.tsx
  turboui/src/CheckInHeader/PostedTime.tsx
  turboui/src/CheckInHeader/index.stories.tsx
  turboui/src/CheckInHeader/index.test.tsx
  turboui/src/CheckInHeader/index.tsx
  turboui/src/CheckInHeader/timestamp.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Close time picker when clicking outside it in schedule modal
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/DiscussionNewPage/index.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  turboui/src/Modal/index.tsx
  turboui/src/SchedulePosting/ScheduleFlowControls.tsx
  turboui/src/SchedulePosting/ScheduleModal.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleFlowControls.test.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
  turboui/src/SchedulePosting/index.stories.tsx
Due: Turboui, App Tests

fix: Clean up MCP connections table layout
  turboui/src/AccountMcpConnectionsPage/index.tsx
Due: Turboui, App Tests

fix: Close time picker when clicking outside it in schedule modal (#4834)
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/DiscussionNewPage/index.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  turboui/src/Modal/index.tsx
  turboui/src/SchedulePosting/ScheduleFlowControls.tsx
  turboui/src/SchedulePosting/ScheduleModal.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleFlowControls.test.tsx
  turboui/src/SchedulePosting/__tests__/ScheduleModal.test.tsx
  turboui/src/SchedulePosting/index.stories.tsx
Due: Turboui, App Tests

fix: Clean up MCP connections table layout (#4835)
  turboui/src/AccountMcpConnectionsPage/index.tsx
Due: Turboui, App Tests

chore: Invalidate CI caches when dependencies change
  .semaphore/cache.yml
  .semaphore/semaphore.yml
Due: none

Adjust flaky test
  app/test/support/features/goal_creation_steps.ex
Due: App Tests

Adjust license check
  .semaphore/semaphore.yml
  Makefile
Due: none
