Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

fix: align feed aggregation with content previews
  app/assets/js/features/activities/TaskAdding/index.tsx
  app/assets/js/features/activities/resourceHubEditedResources.tsx
  app/assets/js/features/activities/taskUpdatedResources.tsx
  app/assets/js/models/activities/index.test.tsx
  app/assets/js/models/activities/index.tsx
Due: App Tests

docs: explain feed aggregation scope
  app/assets/js/models/activities/index.tsx
Due: App Tests

fix: keep feed activity type internal
  app/assets/js/models/activities/index.tsx
Due: App Tests

fix: address feed aggregation regressions
  app/assets/js/features/activities/ResourceHubFileEdited/index.tsx
  app/assets/js/models/activities/index.test.tsx
  app/assets/js/models/activities/index.tsx
Due: App Tests

feat: aggregate document edit feed items
  app/assets/js/features/Feed/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentEdited/index.tsx
  app/assets/js/features/activities/ResourceHubLinkEdited/index.tsx
  app/assets/js/features/activities/TaskAdding/index.tsx
  app/assets/js/features/activities/TaskAssigneeUpdating/index.tsx
  app/assets/js/features/activities/TaskDueDateUpdating/index.tsx
  app/assets/js/features/activities/TaskNameUpdating/index.tsx
  app/assets/js/features/activities/TaskStatusUpdating/index.tsx
  app/assets/js/features/activities/resourceHubEditedResources.tsx
  app/assets/js/features/activities/taskUpdatedResources.tsx
  app/assets/js/models/activities/index.test.tsx
  app/assets/js/models/activities/index.tsx
Due: App Tests

feat: aggregate document edit feed items (#4560)
  app/assets/js/features/Feed/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentEdited/index.tsx
  app/assets/js/features/activities/ResourceHubLinkEdited/index.tsx
  app/assets/js/features/activities/TaskAdding/index.tsx
  app/assets/js/features/activities/TaskAssigneeUpdating/index.tsx
  app/assets/js/features/activities/TaskDueDateUpdating/index.tsx
  app/assets/js/features/activities/TaskNameUpdating/index.tsx
  app/assets/js/features/activities/TaskStatusUpdating/index.tsx
  app/assets/js/features/activities/resourceHubEditedResources.tsx
  app/assets/js/features/activities/taskUpdatedResources.tsx
  app/assets/js/models/activities/index.test.tsx
  app/assets/js/models/activities/index.tsx
Due: App Tests

fix: open milestone tasks in slide-in
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/SpaceKanbanPage/index.tsx
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/index.tsx
Due: Turboui, App Tests

fix: invalidate milestone caches on task delete
  app/assets/js/pages/MilestonePage/index.tsx
Due: App Tests

fix: open milestone tasks in slide-in
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/SpaceKanbanPage/index.tsx
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/TaskBoard/components/TaskItem.tsx
  turboui/src/TaskBoard/components/TaskList.tsx
Due: Turboui, App Tests

fix: open milestone tasks in slide-in
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/SpaceKanbanPage/index.tsx
  app/test/features/project_tasks_test.exs
  app/test/support/features/project_tasks_steps.ex
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/TaskBoard/components/TaskItem.tsx
  turboui/src/TaskBoard/components/TaskList.tsx
Due: Turboui, App Tests

fix: open milestone tasks in slide-in (#4592)
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/SpaceKanbanPage/index.tsx
  app/test/features/project_tasks_test.exs
  app/test/support/features/project_tasks_steps.ex
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/TaskBoard/components/TaskItem.tsx
  turboui/src/TaskBoard/components/TaskList.tsx
Due: Turboui, App Tests

fix: preserve task notes mentions on creation
  app/assets/js/models/tasks/useProjectTasksForTurboUi.test.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/models/tasks/useSpaceTasksForTurboUi.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TaskCreationModal.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/types.ts
Due: Turboui, App Tests

Update agents.md
  docs/agents.md
Due: none

Update agents.md (#4595)
  docs/agents.md
Due: none

chore: tighten task notes description handling
  app/assets/js/models/tasks/descriptionSerialization.ts
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/models/tasks/useSpaceTasksForTurboUi.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/RichContent/index.tsx
  turboui/src/RichContent/types.ts
  turboui/src/TaskBoard/components/TaskCreationModal.tsx
  turboui/src/TaskBoard/stories/MilestoneCard.stories.tsx
  turboui/src/TaskBoard/types.ts
Due: Turboui, App Tests

fix: preserve task notes mentions on creation (#4594)
  app/assets/js/models/tasks/descriptionSerialization.ts
  app/assets/js/models/tasks/useProjectTasksForTurboUi.test.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/models/tasks/useSpaceTasksForTurboUi.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/RichContent/index.tsx
  turboui/src/RichContent/types.ts
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TaskCreationModal.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/stories/MilestoneCard.stories.tsx
  turboui/src/TaskBoard/types.ts
Due: Turboui, App Tests

fix: Attempt to fix docs sync by matching known_hosts to repo host (#4598)
  scripts/sync_api_docs_to_website.sh
Due: none

fix: Attempt to fix docs sync by matching known_hosts to repo host
  scripts/sync_api_docs_to_website.sh
Due: none

fix: clarify task creation mention emails
  app/lib/operately_email/emails/task_adding_email.ex
  app/lib/operately_email/templates/task_adding.html.eex
  app/lib/operately_email/templates/task_adding.text.eex
  app/test/operately_web/api/tasks_test.exs
Due: App Tests

fix: route encoded task mentions to immediate email
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/test/operately/notifications/bulk_create_test.exs
Due: App Tests

Update README.md
  README.md
Due: none

Update README.md (#4600)
  README.md
Due: none

docs: Add new requirements to billing spec
  specs/0013-polar-recurring-billing.md
Due: none

docs: Add new requirements to billing spec (#4602)
  specs/0013-polar-recurring-billing.md
Due: none

fix: send immediate emails for encoded task mentions (#4599)
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately_email/emails/task_adding_email.ex
  app/lib/operately_email/templates/task_adding.html.eex
  app/lib/operately_email/templates/task_adding.text.eex
  app/test/operately/notifications/bulk_create_test.exs
  app/test/operately_web/api/tasks_test.exs
Due: App Tests

feat: Add downgrade previews and adjust billing-cycle changes
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/jest.config.json
  app/lib/operately/billing/polar/operations/plan_changing.ex
  app/test/operately/billing_test.exs
  app/test/operately_web/api/billing/change_plan_test.exs
  specs/0013-polar-recurring-billing.md
  turboui/src/CompanyBillingCancellationPage/index.tsx
  turboui/src/CompanyBillingCancellationPage/types.ts
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPage/changeConsequences.ts
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/index.stories.tsx
  turboui/src/CompanyBillingPlanSelectionPage/index.tsx
  turboui/src/CompanyBillingPlanSelectionPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add downgrade previews and adjust billing-cycle changes (#4603)
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/CompanyBillingCancellationPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.test.tsx
  app/jest.config.json
  app/lib/operately/billing/polar/operations/plan_changing.ex
  app/test/operately/billing_test.exs
  app/test/operately_web/api/billing/change_plan_test.exs
  specs/0013-polar-recurring-billing.md
  turboui/src/CompanyBillingCancellationPage/index.tsx
  turboui/src/CompanyBillingCancellationPage/types.ts
  turboui/src/CompanyBillingCancellationPage/viewModel.ts
  turboui/src/CompanyBillingPage/changeConsequences.ts
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/index.stories.tsx
  turboui/src/CompanyBillingPlanSelectionPage/index.tsx
  turboui/src/CompanyBillingPlanSelectionPage/types.ts
  turboui/src/CompanyBillingPlanSelectionPage/viewModel.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: render task description email text body
  app/lib/operately_email/emails/task_description_change_email.ex
  app/lib/operately_email/templates/task_description_change.html.eex
  app/lib/operately_email/templates/task_description_change.text.eex
  app/test/operately_email/task_description_change_email_test.exs
Due: App Tests

test: loosen task mention email assertions
  app/test/operately_email/task_description_change_email_test.exs
Due: App Tests

fix: render task description email text body (#4604)
  app/lib/operately_email/emails/task_description_change_email.ex
  app/lib/operately_email/templates/task_description_change.html.eex
  app/lib/operately_email/templates/task_description_change.text.eex
  app/test/operately_email/task_description_change_email_test.exs
Due: App Tests

chore: Persist and expose company billing access states
  app/assets/js/api/index.tsx
  app/assets/js/models/billing/index.ts
  app/assets/js/routes/companyLoader.tsx
  app/config/config.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/access_state_reconciling.ex
  app/lib/operately/billing/account_syncing.ex
  app/lib/operately/billing/company_billing_account.ex
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately/billing/reconcile_access_state_worker.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/billing/get_access_state.ex
  app/lib/operately_web/api/billing/helpers.ex
  app/lib/operately_web/api/serializers/billing_account.ex
  app/lib/operately_web/api/serializers/billing_overview.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260601120000_add_access_state_fields_to_company_billing_accounts.exs
  app/test/operately/billing/access_state_reconciling_test.exs
  app/test/operately/billing/reconcile_access_state_worker_test.exs
  app/test/operately_web/api/billing/get_access_state_test.exs
  app/test/operately_web/api/billing/get_test.exs
  specs/0013-polar-recurring-billing.md
Due: App Tests

Fix lint
  app/assets/js/models/billing/index.ts
Due: App Tests

chore: Persist and expose company billing access states (#4605)
  app/assets/js/api/index.tsx
  app/assets/js/models/billing/index.ts
  app/assets/js/routes/companyLoader.tsx
  app/config/config.exs
  app/lib/operately/billing.ex
  app/lib/operately/billing/access_state_reconciling.ex
  app/lib/operately/billing/account_syncing.ex
  app/lib/operately/billing/company_billing_account.ex
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately/billing/reconcile_access_state_worker.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/billing/get_access_state.ex
  app/lib/operately_web/api/billing/helpers.ex
  app/lib/operately_web/api/serializers/billing_account.ex
  app/lib/operately_web/api/serializers/billing_overview.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260601120000_add_access_state_fields_to_company_billing_accounts.exs
  app/test/operately/billing/access_state_reconciling_test.exs
  app/test/operately/billing/reconcile_access_state_worker_test.exs
  app/test/operately_web/api/billing/get_access_state_test.exs
  app/test/operately_web/api/billing/get_test.exs
  specs/0013-polar-recurring-billing.md
Due: App Tests

feat: Add company-wide past-due billing danger banners
  app/assets/js/layouts/CompanyLayout/ApproachingLimitBanner.tsx
  app/assets/js/layouts/CompanyLayout/PaymentDefaultBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/paymentDefaultBanner.test.ts
  app/assets/js/models/billing/paymentDefaultBanner.ts
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/test/features/company_admin_test.exs
  app/test/support/features/company_admin_steps.ex
  specs/0013-polar-recurring-billing.md
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPage/viewModel.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/billing/paymentDefaultBanner.ts
Due: App Tests

feat: Add company-wide past-due billing danger banners (#4606)
  app/assets/js/layouts/CompanyLayout/ApproachingLimitBanner.tsx
  app/assets/js/layouts/CompanyLayout/PaymentDefaultBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/paymentDefaultBanner.test.ts
  app/assets/js/models/billing/paymentDefaultBanner.ts
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/test/features/company_admin_test.exs
  app/test/support/features/company_admin_steps.ex
  specs/0013-polar-recurring-billing.md
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPage/viewModel.ts
Due: Turboui, App Tests

chore: Disable Semaphore driven deployment
  .semaphore/semaphore.yml
Due: none

chore: Disable Semaphore driven deployment (#4607)
  .semaphore/semaphore.yml
Due: none
