Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

feat: Catalog leftover account and onboarding copy
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/pages/JoinPage/index.tsx
  app/assets/js/pages/ProfileEditPage/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/OnboardingWizard/CompanyMemberOnboarding.tsx
  turboui/src/OnboardingWizard/WelcomeStep.tsx
  turboui/src/OnboardingWizard/WizardLayout.tsx
  turboui/src/OnboardingWizard/index.test.tsx
Due: Turboui, App Tests

test: Cover avatar copy and Portuguese lobby catalog
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/OnboardingWizard/index.test.tsx
Due: Turboui, App Tests

test: Use representative catalog copy in lobby and onboarding tests
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/OnboardingWizard/index.test.tsx
Due: Turboui, App Tests

test: Cover English fallback for missing Portuguese onboarding copy
  turboui/src/OnboardingWizard/index.test.tsx
Due: Turboui, App Tests

feat: Add Portuguese translations for leftover account and onboarding copy
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  specs/0018-internationalization.md
Due: App Tests

test: Cover shipped Portuguese onboarding catalog copy
  app/assets/js/i18n.test.ts
  turboui/src/OnboardingWizard/index.test.tsx
Due: Turboui, App Tests

Backend supports rich-text task lists and permission-checked toggles
  app/lib/operately/md/richtext.ex
  app/lib/operately/operations/goal_check_in_edit.ex
  app/lib/operately/rich_content/from_markdown.ex
  app/lib/operately/rich_content/markdown_task_lists.ex
  app/lib/operately/rich_content/task_items.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/rich_content/resources.ex
  app/lib/operately_web/api/rich_content/set_task_item_checked.ex
  app/lib/operately_web/api/rich_content/template_resources.ex
  app/lib/operately_web/api/types.ex
  app/lib/prosemirror2html.ex
  app/test/operately_web/api/rich_content/set_task_item_checked_test.exs
Due: App Tests

Support task lists in CLI Markdown conversion
  app/assets/js/api/index.tsx
  cli/package-lock.json
  cli/package.json
  cli/src/core/markdown-to-tiptap.ts
  cli/src/generated/api-catalog.json
  cli/src/test/unit/markdown-to-tiptap.test.ts
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Adjustments
  app/assets/js/features/activities/GoalDiscussionCreation/index.test.tsx
  app/assets/js/features/activities/GoalDiscussionCreation/index.tsx
  app/assets/js/features/projectCheckIns/DescriptionSection.tsx
  app/assets/js/models/goalCheckIns/index.tsx
  app/assets/js/models/projectCheckIns/index.tsx
  app/assets/js/pages/GoalCheckInPage/Form.test.tsx
  app/assets/js/pages/GoalCheckInPage/Form.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectDiscussionPage/page.test.tsx
  app/assets/js/pages/ProjectDiscussionPage/page.tsx
  app/lib/operately/people/person.ex
  app/lib/operately/rich_content/markdown_task_lists.ex
  app/lib/operately_web/api/people/get_me.ex
  app/test/operately/rich_content/from_markdown_test.exs
  app/test/operately_web/api/people/get_me_test.exs
  app/test/operately_web/api/people/get_test.exs
Due: App Tests

chore: Prepare rich-text table exports and previews
  app/assets/js/utils/markdown.test.ts
  app/assets/js/utils/markdown.ts
  app/assets/js/utils/markdownTable.test.ts
  app/assets/js/utils/markdownTable.ts
  app/lib/operately/md/richtext.ex
  app/lib/operately/md/table.ex
  app/lib/operately/rich_content.ex
  app/lib/operately/rich_content/table.ex
  app/lib/operately_email/rich_text_excerpt.ex
  app/lib/prosemirror2html.ex
  app/test/fixtures/rich_text/tables.json
  app/test/operately/md/richtext_test.exs
  app/test/operately/md/table_test.exs
  app/test/operately/rich_content/table_test.exs
  app/test/operately/rich_content_test.exs
  app/test/operately_email/rich_text_excerpt_test.exs
  app/test/prosemirror2html_test.exs
  turboui/src/RichContent/Summary.stories.tsx
  turboui/src/RichContent/Summary.test.tsx
  turboui/src/RichContent/Summary.tsx
  turboui/src/RichContent/contentOps.test.tsx
  turboui/src/RichContent/contentOps.tsx
  turboui/src/RichContent/tableContent.test.ts
  turboui/src/RichContent/tableContent.ts
Due: Turboui, App Tests

Improvements
  app/assets/js/utils/markdownTable.ts
  app/lib/operately/md/table.ex
  app/lib/operately/rich_content.ex
  app/lib/operately/rich_content/table.ex
  app/lib/prosemirror2html.ex
  app/test/fixtures/rich_text/tables.json
  app/test/operately/rich_content_test.exs
  app/test/prosemirror2html_test.exs
  turboui/src/Link/index.tsx
  turboui/src/PageDescription/index.test.tsx
  turboui/src/PageDescription/index.tsx
  turboui/src/RichContent/Summary.stories.tsx
  turboui/src/RichContent/Summary.test.tsx
  turboui/src/RichContent/Summary.tsx
  turboui/src/RichContent/contentOps.tsx
  turboui/src/RichContent/tableContent.test.ts
  turboui/src/RichContent/tableContent.ts
  turboui/src/RichEditor/Blob/index.tsx
Due: Turboui, App Tests

Recognize attachment-only rich-text descriptions
  app/lib/operately/rich_content.ex
  app/test/operately/rich_content_test.exs
Due: App Tests

chore: Prepare rich-text table exports and previews (#5365)
  app/assets/js/utils/markdown.test.ts
  app/assets/js/utils/markdown.ts
  app/assets/js/utils/markdownTable.test.ts
  app/assets/js/utils/markdownTable.ts
  app/lib/operately/md/richtext.ex
  app/lib/operately/md/table.ex
  app/lib/operately/rich_content.ex
  app/lib/operately/rich_content/table.ex
  app/lib/operately_email/rich_text_excerpt.ex
  app/lib/prosemirror2html.ex
  app/test/fixtures/rich_text/tables.json
  app/test/operately/md/richtext_test.exs
  app/test/operately/md/table_test.exs
  app/test/operately/rich_content/table_test.exs
  app/test/operately/rich_content_test.exs
  app/test/operately_email/rich_text_excerpt_test.exs
  app/test/prosemirror2html_test.exs
  turboui/src/Link/index.tsx
  turboui/src/PageDescription/index.test.tsx
  turboui/src/PageDescription/index.tsx
  turboui/src/RichContent/Summary.stories.tsx
  turboui/src/RichContent/Summary.test.tsx
  turboui/src/RichContent/Summary.tsx
  turboui/src/RichContent/contentOps.test.tsx
  turboui/src/RichContent/contentOps.tsx
  turboui/src/RichContent/tableContent.test.ts
  turboui/src/RichContent/tableContent.ts
  turboui/src/RichEditor/Blob/index.tsx
Due: Turboui, App Tests

fix: Align Portuguese onboarding copy with catalog phrasing
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/i18n.test.ts
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

chore: catalog remaining company and space admin copy
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/models/companyExports/index.test.ts
  app/assets/js/models/companyExports/index.tsx
  app/assets/js/pages/CompanyAdminManagePeoplePage/index.test.tsx
  app/assets/js/pages/SpaceAddPage/index.test.tsx
  app/assets/js/pages/SpaceAddPage/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
  turboui/src/CompanyAdminPage/index.test.tsx
  turboui/src/CompanyBilling/formatting.ts
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/CompanyExportPage/index.test.tsx
  turboui/src/CompanyExportPage/index.tsx
  turboui/src/CompanyImportPage/index.tsx
  turboui/src/SpaceToolsConfigurationPage/index.test.tsx
  turboui/src/SpaceToolsConfigurationPage/index.tsx
Due: Turboui, App Tests

feat: Translate remaining company and space admin copy to pt-BR
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/models/companyExports/index.test.ts
  app/assets/js/pages/SpaceAddPage/index.test.tsx
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
Due: App Tests

fix: satisfy tsc lint for cataloged company and space admin copy
  app/assets/js/models/companyExports/index.test.ts
  app/assets/js/models/companyExports/index.tsx
  app/assets/js/pages/SpaceAddPage/index.tsx
Due: App Tests

fix: pass formattedTimePreferences in CompanyExportPage tests
  turboui/src/CompanyExportPage/index.test.tsx
Due: Turboui, App Tests

feat: Support rich-text table rendering and HTML paste
  app/assets/css/prosemirror.css
  app/package-lock.json
  app/test/features/rich_text_tables_test.exs
  app/test/operately_web/api/documents/update_test.exs
  app/test/operately_web/api/project_templates/update_document_test.exs
  app/test/support/features/rich_text_tables_steps.ex
  turboui/package-lock.json
  turboui/package.json
  turboui/src/PageDescription/index.test.tsx
  turboui/src/RichContentDiff/__tests__/index.test.tsx
  turboui/src/RichContentDiff/index.stories.tsx
  turboui/src/RichEditor/Blob/AddBlobsEditorCommand.tsx
  turboui/src/RichEditor/Blob/DropFilePlugin.tsx
  turboui/src/RichEditor/Tables.stories.tsx
  turboui/src/RichEditor/components/AttachmentButton.tsx
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/extensions/Table.test.ts
  turboui/src/RichEditor/extensions/Table.ts
  turboui/src/RichEditor/tablePaste.test.ts
  turboui/src/RichEditor/tablePaste.ts
Due: Turboui, App Tests

fix: complete space administration catalog copy
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/pages/SpaceAccessManagementPage/OtherPeople.test.tsx
  app/assets/js/pages/SpaceAddMembersPage/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
  turboui/src/AccessLevelSummary/descriptions.ts
  turboui/src/AccessLevelSummary/index.test.ts
  turboui/src/AccessLevelSummary/index.tsx
  turboui/src/SpaceToolsConfigurationPage/index.test.tsx
Due: Turboui, App Tests

test: cover access-summary combinations and add-member name
  app/assets/js/pages/SpaceAddMembersPage/index.test.tsx
  turboui/src/AccessLevelSummary/index.test.ts
Due: Turboui, App Tests

Improvements
  turboui/src/RichContent/index.test.tsx
  turboui/src/RichEditor/extensions/Table.test.ts
  turboui/src/RichEditor/extensions/Table.ts
  turboui/src/RichEditor/tablePaste.test.ts
  turboui/src/RichEditor/tablePaste.ts
Due: Turboui, App Tests

feat: translate space administration catalog copy to pt-BR
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/pages/SpaceAddMembersPage/index.test.tsx
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
Due: App Tests

feat: Support rich-text table rendering and HTML paste (#5367)
  app/assets/css/prosemirror.css
  app/package-lock.json
  app/test/features/rich_text_tables_test.exs
  app/test/operately_web/api/documents/update_test.exs
  app/test/operately_web/api/project_templates/update_document_test.exs
  app/test/support/features/rich_text_tables_steps.ex
  turboui/package-lock.json
  turboui/package.json
  turboui/src/PageDescription/index.test.tsx
  turboui/src/RichContent/index.test.tsx
  turboui/src/RichContentDiff/__tests__/index.test.tsx
  turboui/src/RichContentDiff/index.stories.tsx
  turboui/src/RichEditor/Blob/AddBlobsEditorCommand.tsx
  turboui/src/RichEditor/Blob/DropFilePlugin.tsx
  turboui/src/RichEditor/Tables.stories.tsx
  turboui/src/RichEditor/components/AttachmentButton.tsx
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/extensions/Table.test.ts
  turboui/src/RichEditor/extensions/Table.ts
  turboui/src/RichEditor/tablePaste.test.ts
  turboui/src/RichEditor/tablePaste.ts
Due: Turboui, App Tests

feat: Add rich-text table editing controls
  app/assets/css/prosemirror.css
  app/test/features/rich_text_tables_test.exs
  app/test/support/features/rich_text_tables_steps.ex
  turboui/src/Menu/index.test.tsx
  turboui/src/Menu/index.tsx
  turboui/src/RichEditor/Tables.stories.tsx
  turboui/src/RichEditor/components/TableAxisMenus.test.tsx
  turboui/src/RichEditor/components/TableAxisMenus.tsx
  turboui/src/RichEditor/components/TableButton.test.tsx
  turboui/src/RichEditor/components/TableButton.tsx
  turboui/src/RichEditor/components/TableHoverControls.test.tsx
  turboui/src/RichEditor/components/TableHoverControls.tsx
  turboui/src/RichEditor/components/TableSettingsMenus.test.tsx
  turboui/src/RichEditor/components/TableSettingsMenus.tsx
  turboui/src/RichEditor/components/Toolbar.tsx
  turboui/src/RichEditor/components/ToolbarButton.tsx
  turboui/src/RichEditor/extensions/Table.test.ts
  turboui/src/RichEditor/extensions/Table.ts
  turboui/src/RichEditor/index.tsx
Due: Turboui, App Tests

restore sentence-level access summary translations
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
  turboui/src/AccessLevelSummary/descriptions.ts
  turboui/src/AccessLevelSummary/index.test.ts
  turboui/src/AccessLevelSummary/index.tsx
Due: Turboui, App Tests

Adjustments
  turboui/src/RichEditor/components/TableHoverControls.tsx
  turboui/src/RichEditor/extensions/Table.test.ts
  turboui/src/RichEditor/extensions/Table.ts
Due: Turboui, App Tests

Adjust spec
  docs/internationalization.md
  specs/0018-internationalization.md
Due: none

Adjust tests
  turboui/src/RichEditor/components/TableAxisMenus.test.tsx
Due: Turboui, App Tests

feat: Add rich-text table editing controls (#5369)
  app/assets/css/prosemirror.css
  app/test/features/rich_text_tables_test.exs
  app/test/support/features/rich_text_tables_steps.ex
  turboui/src/Menu/index.test.tsx
  turboui/src/Menu/index.tsx
  turboui/src/RichEditor/Tables.stories.tsx
  turboui/src/RichEditor/components/TableAxisMenus.test.tsx
  turboui/src/RichEditor/components/TableAxisMenus.tsx
  turboui/src/RichEditor/components/TableButton.test.tsx
  turboui/src/RichEditor/components/TableButton.tsx
  turboui/src/RichEditor/components/TableHoverControls.test.tsx
  turboui/src/RichEditor/components/TableHoverControls.tsx
  turboui/src/RichEditor/components/TableSettingsMenus.test.tsx
  turboui/src/RichEditor/components/TableSettingsMenus.tsx
  turboui/src/RichEditor/components/Toolbar.tsx
  turboui/src/RichEditor/components/ToolbarButton.tsx
  turboui/src/RichEditor/extensions/Table.test.ts
  turboui/src/RichEditor/extensions/Table.ts
  turboui/src/RichEditor/index.tsx
Due: Turboui, App Tests

docs: add a spec for simplifying the work map [ci skip]
  specs/0020-work-map-simplification.md
Due: none

docs: add a spec for simplifying the work map [ci skip] (#5371)
  specs/0020-work-map-simplification.md
Due: none

feat: Support Markdown table input in the CLI
  app/test/cli_e2e/documents/create_test.exs
  app/test/fixtures/rich_text/table_imports.json
  app/test/support/cli_e2e/documents/create_steps.ex
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/core/markdown-to-tiptap.ts
  cli/src/test/unit/input-coercion.test.ts
  cli/src/test/unit/markdown-to-tiptap.test.ts
Due: App Tests

feat: Support Markdown table input in the CLI (#5372)
  app/test/cli_e2e/documents/create_test.exs
  app/test/fixtures/rich_text/table_imports.json
  app/test/support/cli_e2e/documents/create_steps.ex
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/core/markdown-to-tiptap.ts
  cli/src/test/unit/input-coercion.test.ts
  cli/src/test/unit/markdown-to-tiptap.test.ts
Due: App Tests

feat: Support Markdown table input in MCP
  app/lib/operately/rich_content/from_markdown.ex
  app/lib/operately/rich_content/markdown_table_cell.ex
  app/lib/operately/rich_content/markdown_tables.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/update_document.ex
  app/mix.exs
  app/mix.lock
  app/test/operately/rich_content/from_markdown_test.exs
  app/test/operately/rich_content/markdown_table_cell_test.exs
  app/test/operately/rich_content/markdown_tables_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_document_test.exs
Due: App Tests

preserve escaped table breaks and empty code blocks
  app/lib/operately/md/richtext.ex
  app/lib/operately/rich_content/markdown_table_cell.ex
  app/test/operately/md/richtext_test.exs
  app/test/operately/rich_content/from_markdown_test.exs
  app/test/operately/rich_content/markdown_table_cell_test.exs
Due: App Tests
