Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

fix: register app i18n for prod relative time
  app/assets/js/i18n.js
  app/vite.config.mjs
Due: App Tests

fix: Allow remote MCP client origins on public Operately hosts
  app/lib/operately_web/mcp/plugs/validate_origin.ex
  app/test/operately_web/mcp/plugs/validate_origin_test.exs
Due: App Tests

fix: remove stale mention node type
  turboui/src/RichEditor/extensions/MentionPeople/NodeView.tsx
Due: Turboui, App Tests

fix: Allow remote MCP client origins on public Operately hosts (#4746)
  app/lib/operately_web/mcp/plugs/validate_origin.ex
  app/test/operately_web/mcp/plugs/validate_origin_test.exs
Due: App Tests

chore: Add FormError and extend useForm, TextInput, and Submit in turboui (#4727)
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/FormError.tsx
  turboui/src/Forms/Forms.stories.tsx
  turboui/src/Forms/Submit.tsx
  turboui/src/Forms/TextInput.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
  turboui/src/Forms/useForm.tsx
Due: Turboui, App Tests

fix: remove unused i18n export
  app/assets/js/i18n.js
Due: App Tests

fix: guard image ratio calculations
  app/assets/js/pages/ResourceHubFilePage/Content.tsx
  turboui/src/ImageWithPlaceholder/index.tsx
  turboui/src/ResourceHub/NodeIcon.tsx
Due: Turboui, App Tests

fix: Register app i18n for prod relative time (#4745)
  app/assets/js/i18n.js
  app/vite.config.mjs
Due: App Tests

fix: Add MCP OAuth discovery route and CORS preflight
  app/lib/operately_web/controllers/mcp_controller.ex
  app/lib/operately_web/controllers/mcp_metadata_controller.ex
  app/lib/operately_web/mcp/plugs/cors.ex
  app/lib/operately_web/router.ex
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/controllers/mcp_metadata_controller_test.exs
  app/test/operately_web/mcp/plugs/cors_test.exs
Due: App Tests

fix: Add MCP OAuth discovery route and CORS preflight (#4747)
  app/lib/operately_web/controllers/mcp_controller.ex
  app/lib/operately_web/controllers/mcp_metadata_controller.ex
  app/lib/operately_web/mcp/plugs/cors.ex
  app/lib/operately_web/router.ex
  app/test/operately_web/controllers/mcp_controller_test.exs
  app/test/operately_web/controllers/mcp_metadata_controller_test.exs
  app/test/operately_web/mcp/plugs/cors_test.exs
Due: App Tests

chore: Move contributor avatar into turboui avatar (#4726)
  app/assets/js/components/ContributorAvatar/index.tsx
  app/assets/js/pages/ProjectContributorsPage/index.tsx
  turboui/src/Avatar/Avatar.stories.tsx
  turboui/src/Avatar/ContributorAvatar.tsx
  turboui/src/Avatar/index.tsx
  turboui/src/Avatar/types.ts
Due: Turboui, App Tests

fix: Stop CIMD fetch from crashing on unsupported Req max_body_size option
  app/lib/operately/mcp/client_metadata/fetcher.ex
  app/test/operately/mcp/client_metadata/fetcher_test.exs
Due: App Tests

chore: move image placeholder to turboui (#4724)
  app/assets/js/components/Image/ImageWithPlaceholder.tsx
  app/assets/js/components/Image/index.tsx
  app/assets/js/pages/ResourceHubFilePage/Content.tsx
  turboui/src/ImageWithPlaceholder/index.stories.tsx
  turboui/src/ImageWithPlaceholder/index.tsx
  turboui/src/ResourceHub/NodeIcon.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Stop CIMD fetch from crashing on unsupported Req max_body_size option (#4748)
  app/lib/operately/mcp/client_metadata/fetcher.ex
  app/test/operately/mcp/client_metadata/fetcher_test.exs
Due: App Tests

chore: Move small status indicator to turboui (#4723)
  app/assets/js/components/status/SmallStatusIndicator.tsx
  app/assets/js/components/status/Status.tsx
  app/assets/js/components/status/index.tsx
  app/assets/js/features/activities/GoalCheckIn/index.tsx
  app/assets/js/features/activities/ProjectCheckInSubmitted/index.tsx
  turboui/src/SmallStatusIndicator/constants.ts
  turboui/src/SmallStatusIndicator/index.stories.tsx
  turboui/src/SmallStatusIndicator/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Serve OpenID configuration discovery for ChatGPT MCP connectors
  app/lib/operately_web/controllers/mcp_metadata_controller.ex
  app/lib/operately_web/mcp/plugs/cors.ex
  app/lib/operately_web/router.ex
  app/test/operately_web/controllers/mcp_metadata_controller_test.exs
Due: App Tests

fix: Serve OpenID configuration discovery for ChatGPT MCP connectors (#4749)
  app/lib/operately_web/controllers/mcp_metadata_controller.ex
  app/lib/operately_web/mcp/plugs/cors.ex
  app/lib/operately_web/router.ex
  app/test/operately_web/controllers/mcp_metadata_controller_test.exs
Due: App Tests

fix: Render @mentions in read-only rich text content
  turboui/src/RichContent/index.test.tsx
  turboui/src/RichEditor/mentionExtensions.test.ts
  turboui/src/RichEditor/mentionExtensions.ts
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

fix: Render @mentions in read-only rich text content (#4750)
  turboui/src/RichContent/index.test.tsx
  turboui/src/RichEditor/mentionExtensions.test.ts
  turboui/src/RichEditor/mentionExtensions.ts
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

fix: Expose top-level securitySchemes and validator-safe MCP tool schemas
  app/lib/operately_web/mcp/catalog/json_schema.ex
  app/lib/operately_web/mcp/tools.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
Due: App Tests

fix: Resolve mention avatars after person rename
  app/assets/js/contexts/CurrentCompanyContext.tsx
Due: App Tests

fix: Expose top-level securitySchemes and validator-safe MCP tool schemas (#4751)
  app/lib/operately_web/mcp/catalog/json_schema.ex
  app/lib/operately_web/mcp/tools.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/controllers/mcp_controller_test.exs
Due: App Tests

fix: Resolve mention avatars after person rename (#4752)
  app/assets/js/contexts/CurrentCompanyContext.tsx
Due: App Tests

fix: Load MCP tools from compiled modules
  app/lib/operately_web/mcp/catalog/registry.ex
  app/test/operately/mcp/tools_test.exs
Due: App Tests

fix: use first token for mentions
  app/lib/operately/rich_content.ex
  app/test/operately/rich_content_test.exs
  turboui/src/Avatar/AvatarWithName.tsx
  turboui/src/RichContent/contentOps.test.tsx
  turboui/src/RichContent/contentOps.tsx
  turboui/src/RichEditor/extensions/MentionPeople/NodeView.tsx
  turboui/src/utils/people.test.ts
  turboui/src/utils/people.tsx
Due: Turboui, App Tests

fix: Load MCP tools from compiled modules (#4753)
  app/lib/operately_web/mcp/catalog/registry.ex
  app/test/operately/mcp/tools_test.exs
Due: App Tests

fix: Use first name for mentions (#4742)
  app/lib/operately/rich_content.ex
  app/test/operately/rich_content_test.exs
  turboui/src/Avatar/AvatarWithName.tsx
  turboui/src/RichContent/contentOps.test.tsx
  turboui/src/RichContent/contentOps.tsx
  turboui/src/RichEditor/extensions/MentionPeople/NodeView.tsx
  turboui/src/utils/people.test.ts
  turboui/src/utils/people.tsx
Due: Turboui, App Tests

Adjustment
  app/lib/operately_web/mcp/tools/projects/close.ex
  app/test/operately_web/mcp/tools/projects/close_test.exs
Due: App Tests

feat: Add MCPP docs & files tools
  app/lib/operately_web/mcp/tools/comments/update.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_folder.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_link.ex
  app/lib/operately_web/mcp/tools/docs_and_files/move_resource_hub_item.ex
  app/lib/operately_web/mcp/tools/docs_and_files/publish_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/rename_folder.ex
  app/lib/operately_web/mcp/tools/docs_and_files/update_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/update_link.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/mcp/tools/comments/update_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_link_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/move_resource_hub_item_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/publish_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/rename_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_link_test.exs
Due: App Tests

Improvement
  app/lib/operately_web/mcp/helpers.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_folder.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_link.ex
Due: App Tests

feat: Add MCP docs & files tools (#4755)
  app/lib/operately_web/mcp/helpers.ex
  app/lib/operately_web/mcp/tools/comments/update.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_folder.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_link.ex
  app/lib/operately_web/mcp/tools/docs_and_files/move_resource_hub_item.ex
  app/lib/operately_web/mcp/tools/docs_and_files/publish_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/rename_folder.ex
  app/lib/operately_web/mcp/tools/docs_and_files/update_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/update_link.ex
  app/test/operately/mcp/tools_test.exs
  app/test/operately_web/mcp/tools/comments/update_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_link_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/move_resource_hub_item_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/publish_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/rename_folder_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_link_test.exs
Due: App Tests

docs: Add skils on how to write MCP tools
  .agents/skills/mcp-tools/SKILL.md
  .agents/skills/mcp-tools/reference.md
Due: none

docs: Add skils on how to write MCP tools (#4756)
  .agents/skills/mcp-tools/SKILL.md
  .agents/skills/mcp-tools/reference.md
Due: none

feat: Improve consent screen
  app/lib/operately_web/controllers/mcp_oauth_html/company_picker.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/consent.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/error.html.heex
Due: App Tests

Improvement
  app/lib/operately_web/controllers/mcp_oauth_html/_logo.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/company_picker.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/consent.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/error.html.heex
Due: App Tests

feat: Improve consent screen (#4757)
  app/lib/operately_web/controllers/mcp_oauth_html/_logo.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/company_picker.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/consent.html.heex
  app/lib/operately_web/controllers/mcp_oauth_html/error.html.heex
Due: App Tests

fix: Serilizer doesn't break when check-in is deleted
  app/lib/operately_web/api/serializers/activity.ex
Due: App Tests
