Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

Use os variable
  .semaphore/cache.yml
  .semaphore/semaphore.yml
Due: none

chore: Invalidate CI caches when dependencies change (#4836)
  .semaphore/cache.yml
  .semaphore/semaphore.yml
  Makefile
  app/test/support/features/goal_creation_steps.ex
Due: App Tests

chore: Restore connection pooling for Wallaby tests
  app/config/test.exs
Due: App Tests

chore: Restore connection pooling for Wallaby tests (#4837)
  app/config/test.exs
Due: App Tests

chore: Split large feature test files
  app/test/features/invite_member/expiration_test.exs
  app/test/features/invite_member/guest_accounts_test.exs
  app/test/features/invite_member/member_test.exs
  app/test/features/outside_collaborator/access_test.exs
  app/test/features/outside_collaborator/directory_test.exs
  app/test/features/outside_collaborator/profile_test.exs
  app/test/features/outside_collaborator_access_test.exs
  app/test/features/project_creation/creation_test.exs
  app/test/features/project_creation/permissions_test.exs
  app/test/features/project_creation_test.exs
  app/test/features/project_milestones/details_notifications_test.exs
  app/test/features/project_milestones/details_test.exs
  app/test/features/project_tasks/task_creation_board_test.exs
  app/test/features/project_tasks/task_creation_test.exs
  app/test/features/projects/project_page_pause_resume_test.exs
  app/test/features/projects/project_page_resume_test.exs
  app/test/features/resource_hub_link/provider_links_google_test.exs
  app/test/features/review/counter_test.exs
  app/test/features/review/obligations_test.exs
  app/test/features/review/page_test.exs
  app/test/features/review_test.exs
  app/test/features/space_kanban/notification_updates_test.exs
  app/test/features/space_kanban/notifications_test.exs
  app/test/features/status_customization/statuses_test.exs
  app/test/features/status_customization/tasks_test.exs
Due: App Tests

Adjust tests
  app/test/features/project_tasks/task_creation_board_test.exs
  app/test/features/project_tasks/task_creation_test.exs
  app/test/features/projects/project_page_pause_resume_test.exs
  app/test/features/projects/project_page_resume_test.exs
Due: App Tests

Adjust tests
  app/test/features/project_creation/creation_test.exs
  app/test/features/project_creation/permissions_test.exs
Due: App Tests

chore: Split large feature test files (#4838)
  app/test/features/invite_member/expiration_test.exs
  app/test/features/invite_member/guest_accounts_test.exs
  app/test/features/invite_member/member_test.exs
  app/test/features/outside_collaborator/access_test.exs
  app/test/features/outside_collaborator/directory_test.exs
  app/test/features/outside_collaborator/profile_test.exs
  app/test/features/outside_collaborator_access_test.exs
  app/test/features/project_creation/creation_test.exs
  app/test/features/project_creation/permissions_test.exs
  app/test/features/project_milestones/details_notifications_test.exs
  app/test/features/project_milestones/details_test.exs
  app/test/features/project_tasks/task_creation_board_test.exs
  app/test/features/project_tasks/task_creation_test.exs
  app/test/features/projects/project_page_pause_resume_test.exs
  app/test/features/projects/project_page_resume_test.exs
  app/test/features/resource_hub_link/provider_links_google_test.exs
  app/test/features/review/counter_test.exs
  app/test/features/review/obligations_test.exs
  app/test/features/review/page_test.exs
  app/test/features/review_test.exs
  app/test/features/space_kanban/notification_updates_test.exs
  app/test/features/space_kanban/notifications_test.exs
  app/test/features/status_customization/statuses_test.exs
  app/test/features/status_customization/tasks_test.exs
Due: App Tests

chore: Add external API wrappers for acknowledging retrospectives by project/goal ID
  app/assets/js/api/index.tsx
  app/lib/operately/goals/retrospective.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/wrappers/goals/acknowledge_retrospective.ex
  app/lib/operately_web/api/wrappers/projects/acknowledge_retrospective.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/wrappers/goals/acknowledge_retrospective.ex
  app/test/operately_web/api/external_mutations/mutations/wrappers/projects/acknowledge_retrospective.ex
  app/test/operately_web/api/wrappers/goals/acknowledge_retrospective_test.exs
  app/test/operately_web/api/wrappers/projects/acknowledge_retrospective_test.exs
  cli/package.json
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

chore: Acknowledge retrospective mutations take goal/project ID
  app/assets/js/api/index.tsx
  app/assets/js/pages/GoalActivityPage/AckCTA.tsx
  app/assets/js/pages/ProjectRetrospectivePage/AckCTA.tsx
  app/lib/operately/goals/retrospective.ex
  app/lib/operately_web/api/goals/acknowledge_retrospective.ex
  app/lib/operately_web/api/projects/acknowledge_retrospective.ex
  app/test/operately_web/api/external_mutations/mutations/goals/acknowledge_retrospective.ex
  app/test/operately_web/api/external_mutations/mutations/projects/acknowledge_retrospective.ex
  app/test/operately_web/api/goals/acknowledge_retrospective_test.exs
  app/test/operately_web/api/projects/acknowledge_retrospective_test.exs
  cli/package.json
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Adjust mcp tests
  app/lib/operately_web/mcp/tools/goals/acknowledge_retrospective.ex
  app/lib/operately_web/mcp/tools/projects/acknowledge_retrospective.ex
  app/test/operately_web/mcp/tools/goals/acknowledge_retrospective_test.exs
  app/test/operately_web/mcp/tools/projects/acknowledge_retrospective_test.exs
  app/test/support/mcp_e2e/tools/acknowledge_goal_retrospective_steps.ex
  app/test/support/mcp_e2e/tools/acknowledge_project_retrospective_steps.ex
Due: App Tests

chore: Update npm libraries for CLI
  cli/package-lock.json
Due: none

Stabilize flaky test
  app/test/support/features/discussions_steps.ex
Due: App Tests

chore: Update npm libraries for CLI (#4840)
  cli/package-lock.json
Due: none

chore: Acknowledge retrospective mutations takes goal/project ID (#4839)
  app/assets/js/api/index.tsx
  app/assets/js/pages/GoalActivityPage/AckCTA.tsx
  app/assets/js/pages/ProjectRetrospectivePage/AckCTA.tsx
  app/lib/operately/goals/retrospective.ex
  app/lib/operately_web/api/goals/acknowledge_retrospective.ex
  app/lib/operately_web/api/projects/acknowledge_retrospective.ex
  app/lib/operately_web/mcp/tools/goals/acknowledge_retrospective.ex
  app/lib/operately_web/mcp/tools/projects/acknowledge_retrospective.ex
  app/test/operately_web/api/external_mutations/mutations/goals/acknowledge_retrospective.ex
  app/test/operately_web/api/external_mutations/mutations/projects/acknowledge_retrospective.ex
  app/test/operately_web/api/goals/acknowledge_retrospective_test.exs
  app/test/operately_web/api/projects/acknowledge_retrospective_test.exs
  app/test/operately_web/mcp/tools/goals/acknowledge_retrospective_test.exs
  app/test/operately_web/mcp/tools/projects/acknowledge_retrospective_test.exs
  app/test/support/features/discussions_steps.ex
  app/test/support/mcp_e2e/tools/acknowledge_goal_retrospective_steps.ex
  app/test/support/mcp_e2e/tools/acknowledge_project_retrospective_steps.ex
  cli/package.json
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Work Map task item includes assigned_at
  app/assets/js/api/index.tsx
  app/lib/operately/tasks/task.ex
  app/lib/operately/work_maps/get_work_map_query.ex
  app/lib/operately/work_maps/work_map_item.ex
  app/lib/operately_web/api/serializers/work_map_item.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/work_maps/get_work_map_query_test.exs
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Updating assignees doesn't change timestamps
  app/lib/operately_web/api/tasks.ex
  app/test/operately_web/api/companies/get_flat_work_map_test.exs
  app/test/operately_web/api/tasks_test.exs
Due: App Tests

Add AssignedOn column to Tasks work map
  app/assets/js/models/workMap/index.tsx
  turboui/src/ProfilePage/index.tsx
  turboui/src/WorkMap/components/TableRow/AssignedDateCell.tsx
  turboui/src/WorkMap/components/TableRow/index.tsx
  turboui/src/WorkMap/components/WorkMapTable.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/WorkMap.stories.tsx
  turboui/src/WorkMap/tests/mockData.ts
  turboui/src/WorkMap/utils/sort.test.ts
  turboui/src/WorkMap/utils/sort.tsx
  turboui/src/WorkMap/utils/timelineItem.test.ts
Due: Turboui, App Tests

Add feature tests
  app/test/features/profile_test.exs
  app/test/support/features/profile_steps.ex
Due: App Tests

Stabilize flaky test
  app/test/support/features/project_milestones_steps.ex
Due: App Tests

Fix tests
  turboui/src/WorkMap/stories/AddItemModal.stories.tsx
  turboui/src/WorkMap/stories/WorkMap.stories.tsx
Due: Turboui, App Tests

feat: Add task assignment date to profile Work Map (#4841)
  app/assets/js/api/index.tsx
  app/assets/js/models/workMap/index.tsx
  app/lib/operately/tasks/task.ex
  app/lib/operately/work_maps/get_work_map_query.ex
  app/lib/operately/work_maps/work_map_item.ex
  app/lib/operately_web/api/serializers/work_map_item.ex
  app/lib/operately_web/api/tasks.ex
  app/lib/operately_web/api/types.ex
  app/test/features/profile_test.exs
  app/test/operately/work_maps/get_work_map_query_test.exs
  app/test/operately_web/api/companies/get_flat_work_map_test.exs
  app/test/operately_web/api/tasks_test.exs
  app/test/support/features/profile_steps.ex
  app/test/support/features/project_milestones_steps.ex
  turboui/src/ApiTypes/index.ts
  turboui/src/ProfilePage/index.tsx
  turboui/src/WorkMap/components/TableRow/AssignedDateCell.tsx
  turboui/src/WorkMap/components/TableRow/index.tsx
  turboui/src/WorkMap/components/WorkMapTable.tsx
  turboui/src/WorkMap/components/index.tsx
  turboui/src/WorkMap/stories/AddItemModal.stories.tsx
  turboui/src/WorkMap/stories/WorkMap.stories.tsx
  turboui/src/WorkMap/tests/mockData.ts
  turboui/src/WorkMap/utils/sort.test.ts
  turboui/src/WorkMap/utils/sort.tsx
  turboui/src/WorkMap/utils/timelineItem.test.ts
Due: Turboui, App Tests

fix: Close image preview before task slide-in
  turboui/src/RichEditor/Blob/BlobView.test.tsx
  turboui/src/RichEditor/Blob/BlobView.tsx
Due: Turboui, App Tests

feat: migrate app Modal call sites to TurboUI Modal
  app/assets/js/components/Modal/index.tsx
  app/assets/js/layouts/CompanyLayout/KeyboardShortcutsModal.tsx
  app/assets/js/pages/CompanyAdminManageAdminsPage/AddAdminsModal.tsx
  app/assets/js/pages/CompanyAdminManageAdminsPage/AddOwnersModal.tsx
  app/assets/js/pages/CompanyAdminPage/DangerZone.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/EnableFeatureModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.test.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/TestEmailModal.tsx
Due: App Tests

chore: format Modal migration files with Prettier
  app/assets/js/layouts/CompanyLayout/KeyboardShortcutsModal.tsx
  app/assets/js/pages/CompanyAdminManageAdminsPage/AddOwnersModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.tsx
Due: App Tests

fix: Close image preview before task slide-in (#4845)
  turboui/src/RichEditor/Blob/BlobView.test.tsx
  turboui/src/RichEditor/Blob/BlobView.tsx
Due: Turboui, App Tests

fix: Refresh relative activity timestamps
  turboui/src/FormattedTime/RelativeTime.test.tsx
  turboui/src/FormattedTime/RelativeTime.tsx
  turboui/src/FormattedTime/RelativeTimeOrDate.tsx
  turboui/src/FormattedTime/UpdatingRelativeTime.test.tsx
  turboui/src/FormattedTime/index.test.tsx
  turboui/src/FormattedTime/index.tsx
  turboui/src/FormattedTime/useRenderInterval.tsx
Due: Turboui, App Tests

fix: remove unused useColorMode and react-modal
  app/assets/js/app.tsx
  app/assets/js/contexts/ThemeContext.tsx
  app/package-lock.json
  app/package.json
Due: App Tests

feat: move space PrivacyIndicator to TurboUI
  app/assets/js/features/spaces/PrivacyIndicator/index.tsx
  app/assets/js/features/spaces/SpaceCards/SpaceCard.tsx
  app/assets/js/pages/SpacePage/page.tsx
  turboui/src/PrivacyIndicator/index.stories.tsx
  turboui/src/PrivacyIndicator/index.test.tsx
  turboui/src/PrivacyIndicator/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Preserve task activity timeline order during optimistic updates
  app/assets/js/models/tasks/prepareTaskTimelineItems.test.ts
  app/assets/js/models/tasks/prepareTaskTimelineItems.ts
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
Due: App Tests

fix: Prevent code blocks from overflowing comments
  turboui/src/CommentSection/CommentItem.test.tsx
  turboui/src/CommentSection/CommentItem.tsx
  turboui/src/Timeline/index.stories.tsx
Due: Turboui, App Tests

fix: Refresh relative activity timestamps and sort correctly (#4848)
  app/assets/js/models/tasks/prepareTaskTimelineItems.test.ts
  app/assets/js/models/tasks/prepareTaskTimelineItems.ts
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
  turboui/src/FormattedTime/RelativeTime.test.tsx
  turboui/src/FormattedTime/RelativeTime.tsx
  turboui/src/FormattedTime/RelativeTimeOrDate.tsx
  turboui/src/FormattedTime/UpdatingRelativeTime.test.tsx
  turboui/src/FormattedTime/index.test.tsx
  turboui/src/FormattedTime/index.tsx
  turboui/src/FormattedTime/useRenderInterval.tsx
Due: Turboui, App Tests

fix: Prevent code blocks from overflowing comments (#4849)
  turboui/src/CommentSection/CommentItem.test.tsx
  turboui/src/CommentSection/CommentItem.tsx
  turboui/src/Timeline/index.stories.tsx
Due: Turboui, App Tests

Fix discard draft modal in GoalCheckInPage
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/test/features/goal_check_ins/scheduling_test.exs
  app/test/support/features/goal_check_ins_steps.ex
Due: App Tests

chore: Migrate app Modal to TurboUI Modal (#4846)
  app/assets/js/app.tsx
  app/assets/js/components/Modal/index.tsx
  app/assets/js/contexts/ThemeContext.tsx
  app/assets/js/layouts/CompanyLayout/KeyboardShortcutsModal.tsx
  app/assets/js/pages/CompanyAdminManageAdminsPage/AddAdminsModal.tsx
  app/assets/js/pages/CompanyAdminManageAdminsPage/AddOwnersModal.tsx
  app/assets/js/pages/CompanyAdminPage/DangerZone.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/PlanDefinitionModal.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.test.tsx
  app/ee/assets/js/pages/SaasAdminBillingCatalogPage/ProductModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/EnableFeatureModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.test.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.tsx
  app/ee/assets/js/pages/SaasAdminEmailSettingsPage/TestEmailModal.tsx
  app/package-lock.json
  app/package.json
  app/test/features/goal_check_ins/scheduling_test.exs
  app/test/support/features/goal_check_ins_steps.ex
Due: App Tests

chore: Add full-text search database foundation
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/search/entry.ex
  app/lib/operately/search/index_run.ex
  app/priv/repo/migrations/20260717150000_add_search_indexing_foundation.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/schema_audit_test.exs
  app/test/operately/search/schema_test.exs
  specs/0015-full-text-search.md
Due: App Tests

Use the same type options in source_types and search_index_runs
  app/lib/operately/search/entry.ex
  app/lib/operately/search/index_run.ex
Due: App Tests

Automatically derive normalized title
  app/lib/operately/search/entry.ex
  app/test/operately/search/schema_test.exs
Due: App Tests

chore: Add full-text search database foundation (#4851)
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/search/entry.ex
  app/lib/operately/search/index_run.ex
  app/priv/repo/migrations/20260717150000_add_search_indexing_foundation.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/schema_audit_test.exs
  app/test/operately/search/schema_test.exs
  specs/0015-full-text-search.md
Due: App Tests

chore: Add full-text search indexing pipeline
  app/lib/operately/rich_content.ex
  app/lib/operately/search/indexer.ex
  app/lib/operately/search/source.ex
  app/lib/operately/search/source_registry.ex
  app/test/operately/rich_content_test.exs
  app/test/operately/search/indexer_test.exs
  app/test/operately/search/source_registry_test.exs
  specs/0015-full-text-search.md
Due: App Tests
