Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

chore: Add goal-backed resource hub to backend (#4686)
  app/assets/js/api/index.tsx
  app/lib/operately/api_docs/catalog.ex
  app/lib/operately/goals/goal.ex
  app/lib/operately/resource_hubs.ex
  app/lib/operately/resource_hubs/getter.ex
  app/lib/operately/resource_hubs/parent.ex
  app/lib/operately/resource_hubs/resource_hub.ex
  app/lib/operately_web/api/documents/get.ex
  app/lib/operately_web/api/files/get.ex
  app/lib/operately_web/api/goals/get.ex
  app/lib/operately_web/api/links/get.ex
  app/lib/operately_web/api/resource_hubs/get.ex
  app/lib/operately_web/api/resource_hubs/get_folder.ex
  app/lib/operately_web/api/serializers/goal.ex
  app/lib/operately_web/api/serializers/resource_hub.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260618120000_add_goal_id_to_resource_hubs.exs
  app/test/operately/resource_hubs/getter_test.exs
  app/test/operately/resource_hubs/parent_access_test.exs
  app/test/operately_web/api/documents/get_test.exs
  app/test/operately_web/api/files/get_test.exs
  app/test/operately_web/api/goals/get_test.exs
  app/test/operately_web/api/links/get_test.exs
  app/test/operately_web/api/resource_hubs/get_folder_test.exs
  app/test/operately_web/api/resource_hubs/get_test.exs
  app/test/support/factory/resource_hubs.ex
  app/test/support/fixtures/resource_hubs_fixtures.ex
  cli/src/generated/api-catalog.json
  cli/src/test/unit/fixture-catalog.ts
  cli/src/types/catalog.ts
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

feat: Add Docs & Files tab to goal pages
  app/assets/js/features/activities/feedItemLinks.tsx
  app/assets/js/features/activities/resourceHubActivity.tsx
  app/assets/js/features/activities/resourceHubParentAware.test.tsx
  app/assets/js/models/resourceHubs/paths.ts
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/test/features/goal/docs_and_files_test.exs
  app/test/operately_web/api/resource_hubs/list_nodes_test.exs
  app/test/support/factory.ex
  app/test/support/features/goal_steps.ex
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/GoalPage/Overview.tsx
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ResourceHub/Navigation/index.test.tsx
  turboui/src/ResourceHubPage/mockData.tsx
Due: Turboui, App Tests

feat: Add Docs & Files tab to goal pages (#4688)
  app/assets/js/features/activities/feedItemLinks.tsx
  app/assets/js/features/activities/resourceHubActivity.tsx
  app/assets/js/features/activities/resourceHubParentAware.test.tsx
  app/assets/js/models/resourceHubs/paths.ts
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/api/resource_hubs/list_nodes.ex
  app/test/features/goal/docs_and_files_test.exs
  app/test/operately_web/api/resource_hubs/list_nodes_test.exs
  app/test/support/factory.ex
  app/test/support/features/goal_steps.ex
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/GoalPage/Overview.tsx
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/GoalPage/index.tsx
  turboui/src/ProjectPage/index.tsx
  turboui/src/ResourceHub/Navigation/index.test.tsx
  turboui/src/ResourceHubPage/mockData.tsx
Due: Turboui, App Tests

feat: Create default resource hubs for new goals
  app/lib/operately/operations/goal_creation.ex
  app/test/features/goal/docs_and_files_test.exs
  app/test/features/goal_creation_test.exs
  app/test/operately/operations/goal_creation_test.exs
  app/test/operately_web/api/goals/create_test.exs
  app/test/operately_web/api/goals/get_test.exs
  app/test/support/features/goal_creation_steps.ex
  app/test/support/features/goal_steps.ex
Due: App Tests

Adjust tests
  app/test/operately/operations/resource_hub_creating_test.exs
Due: App Tests

feat: Create default resource hubs for new goals (#4689)
  app/lib/operately/operations/goal_creation.ex
  app/test/features/goal/docs_and_files_test.exs
  app/test/features/goal_creation_test.exs
  app/test/operately/operations/goal_creation_test.exs
  app/test/operately/operations/resource_hub_creating_test.exs
  app/test/operately_web/api/goals/create_test.exs
  app/test/operately_web/api/goals/get_test.exs
  app/test/support/features/goal_creation_steps.ex
  app/test/support/features/goal_steps.ex
Due: App Tests

chore: Add Sourcery config to ignore generated files
  .sourcery.yaml
Due: none

chore: Add Sourcery config to ignore generated files (#4690)
  .sourcery.yaml
Due: none

chore: Backfill goal resource hubs
  app/lib/operately/data/change_103_backfill_goal_resource_hubs.ex
  app/priv/repo/migrations/20260618130000_backfill_goal_resource_hubs.exs
  app/test/features/goal/docs_and_files_test.exs
  app/test/operately/data/change_103_backfill_goal_resource_hubs_test.exs
  app/test/support/features/goal_steps.ex
Due: App Tests

chore: Backfill goal resource hubs (#4691)
  app/lib/operately/data/change_103_backfill_goal_resource_hubs.ex
  app/priv/repo/migrations/20260618130000_backfill_goal_resource_hubs.exs
  app/test/features/goal/docs_and_files_test.exs
  app/test/operately/data/change_103_backfill_goal_resource_hubs_test.exs
  app/test/support/features/goal_steps.ex
Due: App Tests

fix: Remove stale seeds.exs references from db setup
  .github/copilot-instructions.md
  Makefile
  app/mix.exs
Due: App Tests

fix: Remove stale seeds.exs references from db setup (#4692)
  .github/copilot-instructions.md
  Makefile
  app/mix.exs
Due: App Tests

fix: Make draft check-in actions consistent on goal and project pages
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
Due: App Tests

Fix test
  app/test/support/features/project_check_ins_steps.ex
Due: App Tests

fix: Make draft check-in actions consistent on goal and project pages (#4693)
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/test/support/features/project_check_ins_steps.ex
Due: App Tests

fix: Add missing navigation to ProjectChechInEditPage
  app/assets/js/pages/ProjectCheckInEditPage/loader.tsx
  app/assets/js/pages/ProjectCheckInEditPage/navigation.test.tsx
  app/assets/js/pages/ProjectCheckInEditPage/navigation.tsx
  app/assets/js/pages/ProjectCheckInEditPage/page.tsx
Due: App Tests

fix: Add missing link to GoalCheckInNewPage navigation
  app/assets/js/pages/GoalCheckInNewPage/index.tsx
  app/assets/js/pages/GoalCheckInNewPage/navigation.test.tsx
  app/assets/js/pages/GoalCheckInNewPage/navigation.tsx
Due: App Tests

fix: Add missing link to GoalCheckInNewPage navigation (#4695)
  app/assets/js/pages/GoalCheckInNewPage/index.tsx
  app/assets/js/pages/GoalCheckInNewPage/navigation.test.tsx
  app/assets/js/pages/GoalCheckInNewPage/navigation.tsx
Due: App Tests

Stabilize flaky test
  app/test/support/features/projects_steps.ex
  app/test/support/features/ui.ex
  turboui/src/PersonField/index.tsx
Due: Turboui, App Tests

Stabilize other flaky test
  app/test/support/features/goal_closing_steps.ex
Due: App Tests

fix: Add missing navigation to ProjectChechInEditPage (#4694)
  app/assets/js/pages/ProjectCheckInEditPage/loader.tsx
  app/assets/js/pages/ProjectCheckInEditPage/navigation.test.tsx
  app/assets/js/pages/ProjectCheckInEditPage/navigation.tsx
  app/assets/js/pages/ProjectCheckInEditPage/page.tsx
  app/test/support/features/goal_closing_steps.ex
  app/test/support/features/projects_steps.ex
  app/test/support/features/ui.ex
  turboui/src/PersonField/index.tsx
Due: Turboui, App Tests

Fix
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
Due: App Tests

Add e2e tests
  app/test/features/goal/docs_and_files_test.exs
  app/test/features/projects/docs_and_files_test.exs
  app/test/support/features/goal_steps.ex
  app/test/support/features/projects_steps.ex
Due: App Tests

Add unit tests
  app/assets/js/__tests__/resourceHubNavigationTestHelpers.ts
  app/assets/js/models/resourceHubs/pageNavigation.ts
  app/assets/js/pages/ResourceHubDocumentPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubDocumentPage/navigation.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubDraftsPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubDraftsPage/navigation.tsx
  app/assets/js/pages/ResourceHubDraftsPage/page.tsx
  app/assets/js/pages/ResourceHubEditDocumentPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubEditDocumentPage/navigation.tsx
  app/assets/js/pages/ResourceHubEditDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubEditFilePage/navigation.test.tsx
  app/assets/js/pages/ResourceHubEditFilePage/navigation.tsx
  app/assets/js/pages/ResourceHubEditFilePage/page.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/navigation.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/navigation.test.tsx
  app/assets/js/pages/ResourceHubFilePage/navigation.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubFolderPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubFolderPage/navigation.tsx
  app/assets/js/pages/ResourceHubFolderPage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubLinkPage/navigation.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/navigation.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/navigation.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/page.tsx
  app/assets/js/pages/ResourceHubPage/navigation.test.tsx
  app/assets/js/pages/ResourceHubPage/navigation.tsx
  app/assets/js/pages/ResourceHubPage/page.tsx
Due: App Tests

fix: Stabilize flaky tests on Project page
  app/test/support/features/projects_steps.ex
  app/test/support/features/ui.ex
Due: App Tests

Fix goal reopening
  app/test/support/features/goal_closing_steps.ex
Due: App Tests

fix: Stabilize flaky tests on Project page (#4697)
  app/test/support/features/goal_closing_steps.ex
  app/test/support/features/projects_steps.ex
  app/test/support/features/ui.ex
Due: App Tests

Fix tests
  app/assets/js/models/resourceHubs/paths.ts
  app/lib/operately_web/api/serializers/resource_hub_file.ex
  app/test/operately_web/api/documents/get_test.exs
  app/test/operately_web/api/files/get_test.exs
  app/test/operately_web/api/links/get_test.exs
  app/test/operately_web/api/resource_hubs/get_folder_test.exs
  app/test/operately_web/api/resource_hubs/get_test.exs
Due: App Tests

Fix lint
  app/assets/js/pages/ResourceHubDraftsPage/navigation.tsx
  app/assets/js/pages/ResourceHubFolderPage/navigation.tsx
  app/assets/js/pages/ResourceHubPage/navigation.tsx
Due: App Tests

Tighten types
  app/assets/js/models/resourceHubs/pageNavigation.ts
Due: App Tests

fix: Stabilize acknowledge project check-in flaky test
  app/test/support/features/project_check_ins_steps.ex
Due: App Tests

fix: Stabilize acknowledge project check-in flaky test
  app/test/support/features/project_check_ins_steps.ex
  app/test/support/features/ui.ex
Due: App Tests

fix: Stabilize acknowledge project check-in flaky test (#4698)
  app/test/support/features/project_check_ins_steps.ex
  app/test/support/features/ui.ex
Due: App Tests
