Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

fix: Hide non-view space access in company read-only mode
  app/lib/operately_web/api/spaces.ex
  app/test/operately_web/api/spaces_test.exs
Due: App Tests

fix: Hide non-view space access in company read-only mode (#4622)
  app/lib/operately_web/api/spaces.ex
  app/test/operately_web/api/spaces_test.exs
Due: App Tests

chore: Add can_manage_billing permission foundation
  app/assets/js/api/index.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/lib/operately/companies.ex
  app/lib/operately/companies/permissions.ex
  app/lib/operately_web/api/billing/cancel.ex
  app/lib/operately_web/api/billing/change_plan.ex
  app/lib/operately_web/api/billing/create_checkout_session.ex
  app/lib/operately_web/api/billing/create_customer_portal_session.ex
  app/lib/operately_web/api/billing/create_payment_method_session.ex
  app/lib/operately_web/api/billing/get.ex
  app/lib/operately_web/api/billing/get_limit_warnings.ex
  app/lib/operately_web/api/billing/helpers.ex
  app/lib/operately_web/api/billing/reactivate.ex
  app/lib/operately_web/api/billing/refresh.ex
  app/lib/operately_web/api/companies/list.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/controllers/billing_intent_controller.ex
  app/test/operately/permissions/read_only_test.exs
  app/test/operately_web/api/billing/cancel_test.exs
  app/test/operately_web/api/billing/change_plan_test.exs
  app/test/operately_web/api/billing/create_checkout_session_test.exs
  app/test/operately_web/api/billing/create_customer_portal_session_test.exs
  app/test/operately_web/api/billing/create_payment_method_session_test.exs
  app/test/operately_web/api/billing/get_test.exs
  app/test/operately_web/api/billing/reactivate_test.exs
  app/test/operately_web/api/billing/refresh_test.exs
  app/test/operately_web/api/companies/get_test.exs
  app/test/operately_web/api/companies/list_test.exs
  app/test/operately_web/controllers/billing_intent_controller_test.exs
Due: App Tests

chore: Add can_manage_billing permission foundation (#4623)
  app/assets/js/api/index.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/lib/operately/companies.ex
  app/lib/operately/companies/permissions.ex
  app/lib/operately_web/api/billing/cancel.ex
  app/lib/operately_web/api/billing/change_plan.ex
  app/lib/operately_web/api/billing/create_checkout_session.ex
  app/lib/operately_web/api/billing/create_customer_portal_session.ex
  app/lib/operately_web/api/billing/create_payment_method_session.ex
  app/lib/operately_web/api/billing/get.ex
  app/lib/operately_web/api/billing/get_limit_warnings.ex
  app/lib/operately_web/api/billing/helpers.ex
  app/lib/operately_web/api/billing/reactivate.ex
  app/lib/operately_web/api/billing/refresh.ex
  app/lib/operately_web/api/companies/list.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/controllers/billing_intent_controller.ex
  app/test/operately/permissions/read_only_test.exs
  app/test/operately_web/api/billing/cancel_test.exs
  app/test/operately_web/api/billing/change_plan_test.exs
  app/test/operately_web/api/billing/create_checkout_session_test.exs
  app/test/operately_web/api/billing/create_customer_portal_session_test.exs
  app/test/operately_web/api/billing/create_payment_method_session_test.exs
  app/test/operately_web/api/billing/get_test.exs
  app/test/operately_web/api/billing/reactivate_test.exs
  app/test/operately_web/api/billing/refresh_test.exs
  app/test/operately_web/api/companies/get_test.exs
  app/test/operately_web/api/companies/list_test.exs
  app/test/operately_web/controllers/billing_intent_controller_test.exs
Due: App Tests

chore: Gate billing pages and CTAs with can_manage_billing
  app/assets/js/layouts/CompanyLayout/ApproachingLimitBanner.tsx
  app/assets/js/layouts/CompanyLayout/PaymentDefaultBanner.tsx
  app/assets/js/models/billing/approachingLimitBanner.test.ts
  app/assets/js/models/billing/approachingLimitBanner.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/paymentDefaultBanner.test.ts
  app/assets/js/models/billing/paymentDefaultBanner.ts
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingPage/loader.tsx
  app/test/features/billing_test.exs
  app/test/features/company_admin_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/support/features/billing_steps.ex
Due: App Tests

Fix tests
  app/assets/js/models/blobs/index.tsx
Due: App Tests

chore: Gate billing pages and CTAs with can_manage_billing (#4624)
  app/assets/js/layouts/CompanyLayout/ApproachingLimitBanner.tsx
  app/assets/js/layouts/CompanyLayout/PaymentDefaultBanner.tsx
  app/assets/js/models/billing/approachingLimitBanner.test.ts
  app/assets/js/models/billing/approachingLimitBanner.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/paymentDefaultBanner.test.ts
  app/assets/js/models/billing/paymentDefaultBanner.ts
  app/assets/js/models/blobs/index.tsx
  app/assets/js/pages/CompanyAdminPage/page.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/loader.tsx
  app/assets/js/pages/CompanyBillingPage/loader.tsx
  app/test/features/billing_test.exs
  app/test/features/company_admin_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/support/features/billing_steps.ex
Due: App Tests

feat: Improve billing danger banners
  app/assets/js/layouts/CompanyLayout/ApproachingLimitBanner.tsx
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.tsx
  app/assets/js/layouts/CompanyLayout/PaymentDefaultBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/billing/approachingLimitBanner.test.ts
  app/assets/js/models/billing/approachingLimitBanner.ts
  app/assets/js/models/billing/dangerBanner.test.ts
  app/assets/js/models/billing/dangerBanner.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/paymentDefaultBanner.test.ts
  app/assets/js/models/billing/paymentDefaultBanner.ts
  app/test/features/billing_test.exs
  app/test/features/company_admin_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/support/features/company_admin_steps.ex
Due: App Tests

Fix lint
  app/assets/js/models/billing/dangerBanner.ts
Due: App Tests

feat: Improve billing danger banners (#4625)
  app/assets/js/layouts/CompanyLayout/ApproachingLimitBanner.tsx
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.tsx
  app/assets/js/layouts/CompanyLayout/PaymentDefaultBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/billing/approachingLimitBanner.test.ts
  app/assets/js/models/billing/approachingLimitBanner.ts
  app/assets/js/models/billing/dangerBanner.test.ts
  app/assets/js/models/billing/dangerBanner.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/models/billing/paymentDefaultBanner.test.ts
  app/assets/js/models/billing/paymentDefaultBanner.ts
  app/test/features/billing_test.exs
  app/test/features/company_admin_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/support/features/company_admin_steps.ex
Due: App Tests

chore: Remove proactive approaching-limit billing banners
  app/assets/js/layouts/CompanyLayout/ApproachingLimitBanner.tsx
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/billing/approachingLimitBanner.test.ts
  app/assets/js/models/billing/approachingLimitBanner.ts
  app/assets/js/models/billing/dangerBanner.test.ts
  app/assets/js/models/billing/dangerBanner.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/routes/companyLoader.tsx
  app/test/features/company_admin_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/support/features/company_admin_steps.ex
Due: App Tests

chore: Remove proactive approaching-limit billing banners (#4626)
  app/assets/js/layouts/CompanyLayout/ApproachingLimitBanner.tsx
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.tsx
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/models/billing/approachingLimitBanner.test.ts
  app/assets/js/models/billing/approachingLimitBanner.ts
  app/assets/js/models/billing/dangerBanner.test.ts
  app/assets/js/models/billing/dangerBanner.ts
  app/assets/js/models/billing/index.test.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/routes/companyLoader.tsx
  app/test/features/company_admin_test.exs
  app/test/features/company_billing_recovery_test.exs
  app/test/support/features/company_admin_steps.ex
Due: App Tests

feat: Send member-limit upgrade emails to admins and owners
  app/lib/operately/billing.ex
  app/lib/operately/billing/limit_breach_alert_email_worker.ex
  app/lib/operately/billing/limit_breach_alerting.ex
  app/lib/operately/operations/company_member_adding.ex
  app/lib/operately/operations/company_member_restoring.ex
  app/lib/operately/operations/guest_inviting.ex
  app/lib/operately/people.ex
  app/lib/operately_email/emails/billing_limit_reached_email.ex
  app/lib/operately_email/templates/billing_limit_reached.html.eex
  app/lib/operately_email/templates/billing_limit_reached.text.eex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/billing_limit_reached.ex
  app/test/features/company_admin_test.exs
  app/test/features/discussions_test.exs
  app/test/operately/billing/limit_breach_alert_email_worker_test.exs
  app/test/operately/billing/limit_breach_alerting_test.exs
  app/test/operately/blobs/upload_download_test.exs
  app/test/operately/operations/company_member_adding_test.exs
  app/test/operately/operations/company_member_restoring_test.exs
  app/test/operately/operations/guest_inviting_test.exs
  app/test/operately/operations/resource_hub_file_creating_test.exs
  app/test/operately/people_test.exs
  app/test/operately_email/billing_limit_reached_email_test.exs
  app/test/operately_web/api/mutations/create_blob_test.exs
  app/test/operately_web/api/people/update_picture_test.exs
Due: App Tests

Adjustments
  app/lib/operately/billing/limit_breach_alert_email_worker.ex
  app/lib/operately/billing/limit_breach_alerting.ex
Due: App Tests

feat: Send member-limit upgrade emails to admins and owners (#4627)
  app/lib/operately/billing.ex
  app/lib/operately/billing/limit_breach_alert_email_worker.ex
  app/lib/operately/billing/limit_breach_alerting.ex
  app/lib/operately/operations/company_member_adding.ex
  app/lib/operately/operations/company_member_restoring.ex
  app/lib/operately/operations/guest_inviting.ex
  app/lib/operately/people.ex
  app/lib/operately_email/emails/billing_limit_reached_email.ex
  app/lib/operately_email/templates/billing_limit_reached.html.eex
  app/lib/operately_email/templates/billing_limit_reached.text.eex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/billing_limit_reached.ex
  app/test/features/company_admin_test.exs
  app/test/features/discussions_test.exs
  app/test/operately/billing/limit_breach_alert_email_worker_test.exs
  app/test/operately/billing/limit_breach_alerting_test.exs
  app/test/operately/blobs/upload_download_test.exs
  app/test/operately/operations/company_member_adding_test.exs
  app/test/operately/operations/company_member_restoring_test.exs
  app/test/operately/operations/guest_inviting_test.exs
  app/test/operately/operations/resource_hub_file_creating_test.exs
  app/test/operately/people_test.exs
  app/test/operately_email/billing_limit_reached_email_test.exs
  app/test/operately_web/api/mutations/create_blob_test.exs
  app/test/operately_web/api/people/update_picture_test.exs
Due: App Tests

chore: Remove billing page header action and manual refresh
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPage/viewModel.ts
Due: Turboui, App Tests

chore: Remove billing page header action and manual refresh (#4628)
  app/assets/js/pages/CompanyBillingPage/page.test.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  turboui/src/CompanyBillingPage/index.tsx
  turboui/src/CompanyBillingPage/types.ts
  turboui/src/CompanyBillingPage/viewModel.ts
Due: Turboui, App Tests

fix: isolate resource hub data migrations
  app/lib/operately/data/change_041_create_one_resource_hub_for_each_existing_space.ex
  app/lib/operately/data/change_043_create_access_bindings_between_resource_hubs_and_people.ex
  app/lib/operately/data/change_044_rename_resource_hubs.ex
  app/lib/operately/data/change_045_update_resource_hub_activities_access_context.ex
Due: App Tests

chore: add project docs and files stories
  turboui/src/ProjectPage/index.stories.tsx
Due: Turboui, App Tests

fix: remove unused project resource type
  app/assets/js/models/projects/index.tsx
Due: App Tests

feat: Send one-time 90% limit reached warning emails
  app/lib/operately/billing.ex
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately/billing/limit_breach_alerting.ex
  app/lib/operately/billing/near_limit_alert.ex
  app/lib/operately/billing/near_limit_alert_email_worker.ex
  app/lib/operately/billing/near_limit_alerting.ex
  app/lib/operately/blobs/upload.ex
  app/lib/operately/operations/company_member_adding.ex
  app/lib/operately/operations/company_member_restoring.ex
  app/lib/operately/operations/guest_inviting.ex
  app/lib/operately/operations/resource_hub_file_creating.ex
  app/lib/operately/people.ex
  app/lib/operately_email/emails/billing_near_limit_warning_email.ex
  app/lib/operately_email/templates/billing_near_limit_warning.html.eex
  app/lib/operately_email/templates/billing_near_limit_warning.text.eex
  app/lib/operately_web/api/mutations/mark_blob_uploaded.ex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/billing_near_limit_warning.ex
  app/priv/repo/migrations/20260603130000_create_billing_near_limit_alerts.exs
  app/test/operately/billing/limit_breach_alert_email_worker_test.exs
  app/test/operately/billing/near_limit_alert_email_worker_test.exs
  app/test/operately/billing/near_limit_alerting_test.exs
  app/test/operately/blobs/upload_download_test.exs
  app/test/operately/operations/company_member_adding_test.exs
  app/test/operately/operations/company_member_restoring_test.exs
  app/test/operately/operations/guest_inviting_test.exs
  app/test/operately/operations/resource_hub_file_creating_test.exs
  app/test/operately/people_test.exs
  app/test/operately_email/billing_near_limit_warning_email_test.exs
  app/test/operately_web/api/mutations/create_blob_test.exs
  app/test/operately_web/api/mutations/mark_blob_uploaded_test.exs
  app/test/operately_web/api/people/update_picture_test.exs
Due: App Tests

Fix test
  app/lib/operately/company_transfers/schema/policy_registry.ex
Due: App Tests

Improvement
  app/lib/operately/billing/near_limit_alert.ex
  app/lib/operately/billing/near_limit_alert_email_worker.ex
  app/test/operately/billing/near_limit_alert_email_worker_test.exs
Due: App Tests

feat: Send one-time 90% limit reached warning emails (#4630)
  app/lib/operately/billing.ex
  app/lib/operately/billing/enforce_limits.ex
  app/lib/operately/billing/limit_breach_alerting.ex
  app/lib/operately/billing/near_limit_alert.ex
  app/lib/operately/billing/near_limit_alert_email_worker.ex
  app/lib/operately/billing/near_limit_alerting.ex
  app/lib/operately/blobs/upload.ex
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/operations/company_member_adding.ex
  app/lib/operately/operations/company_member_restoring.ex
  app/lib/operately/operations/guest_inviting.ex
  app/lib/operately/operations/resource_hub_file_creating.ex
  app/lib/operately/people.ex
  app/lib/operately_email/emails/billing_near_limit_warning_email.ex
  app/lib/operately_email/templates/billing_near_limit_warning.html.eex
  app/lib/operately_email/templates/billing_near_limit_warning.text.eex
  app/lib/operately_web/api/mutations/mark_blob_uploaded.ex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/billing_near_limit_warning.ex
  app/priv/repo/migrations/20260603130000_create_billing_near_limit_alerts.exs
  app/test/operately/billing/limit_breach_alert_email_worker_test.exs
  app/test/operately/billing/near_limit_alert_email_worker_test.exs
  app/test/operately/billing/near_limit_alerting_test.exs
  app/test/operately/blobs/upload_download_test.exs
  app/test/operately/operations/company_member_adding_test.exs
  app/test/operately/operations/company_member_restoring_test.exs
  app/test/operately/operations/guest_inviting_test.exs
  app/test/operately/operations/resource_hub_file_creating_test.exs
  app/test/operately/people_test.exs
  app/test/operately_email/billing_near_limit_warning_email_test.exs
  app/test/operately_web/api/mutations/create_blob_test.exs
  app/test/operately_web/api/mutations/mark_blob_uploaded_test.exs
  app/test/operately_web/api/people/update_picture_test.exs
Due: App Tests

chore: Feature tests cover billing company-pick, cancel, and reactivate flows
  app/test/features/billing_test.exs
  app/test/support/features/billing_steps.ex
Due: App Tests

chore: Feature tests cover billing company-pick, cancel, and reactivate flows (#4632)
  app/test/features/billing_test.exs
  app/test/support/features/billing_steps.ex
Due: App Tests

chore: Split unit tests in Semaphore CI
  .semaphore/semaphore.yml
  Makefile
  scripts/run_ee_tests.js
  scripts/run_feature_tests.js
  scripts/run_unit_tests.js
  scripts/test_file_splitter.js
Due: none

Fix split number
  .semaphore/semaphore.yml
Due: none

fix ci
  app/lib/operately/access/binder.ex
  app/lib/operately/groups/insert_group.ex
  app/lib/operately/operations/group_member_removing.ex
  app/lib/operately/operations/group_members_adding.ex
  app/lib/operately/operations/resource_access_granting.ex
  app/lib/operately/operations/resource_hub_creating.ex
  app/lib/operately/resource_hubs/space_hub.ex
  app/lib/operately_email/emails/resource_hub_link_created_email.ex
  app/lib/operately_web/api/resource_hubs/update_parent_folder.ex
  app/test/features/project_resources_test.exs
  app/test/operately/access/binder_test.exs
  app/test/operately/operations/resource_access_granting_test.exs
  app/test/operately/operations/resource_hub_creating_test.exs
  app/test/operately_web/api/documents/publish_test.exs
  app/test/operately_web/api/resource_hubs/update_parent_folder_test.exs
  app/test/operately_web/api/spaces/list_tools_test.exs
  app/test/support/features/projects_steps.ex
Due: App Tests

fix ci 2
  app/lib/operately/operations/group_creation.ex
  app/test/operately/access/bindings_test.exs
  app/test/operately/operations/group_creation_test.exs
  app/test/operately/pub_sub/postgres_pub_sub_test.exs
  app/test/operately_web/api/comments/create_test.exs
  app/test/operately_web/api/documents/create_test.exs
  app/test/operately_web/api/documents/delete_test.exs
  app/test/operately_web/api/documents/get_test.exs
  app/test/operately_web/api/documents/update_test.exs
  app/test/operately_web/api/files/create_test.exs
  app/test/operately_web/api/files/delete_test.exs
  app/test/operately_web/api/files/get_test.exs
  app/test/operately_web/api/files/update_test.exs
  app/test/operately_web/api/links/create_test.exs
  app/test/operately_web/api/links/delete_test.exs
  app/test/operately_web/api/links/get_test.exs
  app/test/operately_web/api/links/update_test.exs
  app/test/operately_web/api/reactions/create_test.exs
  app/test/operately_web/api/resource_hubs/copy_folder_test.exs
  app/test/operately_web/api/resource_hubs/create_folder_test.exs
  app/test/operately_web/api/resource_hubs/delete_folder_test.exs
  app/test/operately_web/api/resource_hubs/get_folder_test.exs
  app/test/operately_web/api/resource_hubs/get_test.exs
  app/test/operately_web/api/resource_hubs/list_nodes_test.exs
  app/test/operately_web/api/resource_hubs/rename_folder_test.exs
  app/test/operately_web/api/resource_hubs/update_parent_folder_test.exs
  app/test/operately_web/api/spaces/list_tools_test.exs
  app/test/support/fixtures/resource_hubs_fixtures.ex
Due: App Tests

fix dialyzer
  app/lib/operately/access/binder.ex
Due: App Tests

Balance CI test splits by largest file first
  .semaphore/semaphore.yml
  scripts/test_file_splitter.js
Due: none

improvements
  app/assets/js/api/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.test.tsx
  app/assets/js/features/activities/ResourceHubDocumentCommented/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubDocumentEdited/index.tsx
  app/assets/js/features/activities/ResourceHubFileCommented/index.tsx
  app/assets/js/features/activities/ResourceHubFileDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubFileEdited/index.tsx
  app/assets/js/features/activities/ResourceHubFolderCopied/index.tsx
  app/assets/js/features/activities/ResourceHubFolderDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubFolderRenamed/index.tsx
  app/assets/js/features/activities/ResourceHubLinkCommented/index.tsx
  app/assets/js/features/activities/ResourceHubLinkDeleted/index.test.tsx
  app/assets/js/features/activities/ResourceHubLinkDeleted/index.tsx
  app/assets/js/features/activities/ResourceHubLinkEdited/index.tsx
  app/lib/operately/data/change_101_create_project_resource_hubs.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_document_commented.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_document_deleted.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_document_edited.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_file_commented.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_file_deleted.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_file_edited.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_folder_copied.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_folder_deleted.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_folder_renamed.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_link_commented.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_link_deleted.ex
  app/lib/operately_web/api/serializers/activity_content/resource_hub_link_edited.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/data/change_101_create_project_resource_hubs_test.exs
Due: App Tests

improvements based on feedback
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately_email/emails/resource_hub_document_commented_email.ex
  app/lib/operately_email/emails/resource_hub_document_created_email.ex
  app/lib/operately_email/emails/resource_hub_document_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_document_edited_email.ex
  app/lib/operately_email/emails/resource_hub_file_commented_email.ex
  app/lib/operately_email/emails/resource_hub_file_created_email.ex
  app/lib/operately_email/emails/resource_hub_file_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_link_commented_email.ex
  app/lib/operately_email/emails/resource_hub_link_created_email.ex
  app/lib/operately_email/emails/resource_hub_link_deleted_email.ex
  app/lib/operately_email/emails/resource_hub_link_edited_email.ex
  app/lib/operately_email/emails/resource_hub_parent.ex
  app/test/operately/operations/resource_hub_link_creating_test.exs
  app/test/operately_email/resource_hub_email_test.exs
Due: App Tests

chore: create ui copy writing skill
  .agents/skills/ui-copy/SKILL.md
Due: none

Reduce CI setup work per Semaphore job
  .semaphore/semaphore.yml
  Makefile
Due: none

Fix Lint job
  Makefile
Due: none

chore: create ui copy writing skill (#4634)
  .agents/skills/ui-copy/SKILL.md
Due: none

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
