Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

chore: Remove deprecated global_search query with backward compatibility
  app/assets/js/api/index.tsx
  app/lib/operately/search/quick_search.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/companies/global_search.ex
  app/lib/operately_web/api/wrappers/companies/global_search.ex
  app/lib/operately_web/mcp/tools/search.ex
  app/test/cli_e2e/companies/global_search_test.exs
  app/test/operately_web/api/companies/global_search_test.exs
  app/test/operately_web/api/external_queries/queries/companies/global_search.ex
  app/test/operately_web/api/wrappers/companies/global_search_test.exs
  app/test/operately_web/mcp/tools/search_test.exs
  app/test/support/cli_e2e/companies/global_search_steps.ex
  app/test/support/cli_e2e_case.ex
  cli/src/generated/api-catalog.json
Due: App Tests

Adjustments
  app/lib/operately/search/quick_search.ex
Due: App Tests

chore: Remove deprecated global_search query with backward compatibility (#4953)
  app/assets/js/api/index.tsx
  app/lib/operately/search/quick_search.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/companies/global_search.ex
  app/lib/operately_web/api/wrappers/companies/global_search.ex
  app/lib/operately_web/mcp/tools/search.ex
  app/test/cli_e2e/companies/global_search_test.exs
  app/test/operately_web/api/companies/global_search_test.exs
  app/test/operately_web/api/external_queries/queries/companies/global_search.ex
  app/test/operately_web/api/wrappers/companies/global_search_test.exs
  app/test/operately_web/mcp/tools/search_test.exs
  app/test/support/cli_e2e/companies/global_search_steps.ex
  app/test/support/cli_e2e_case.ex
  cli/src/generated/api-catalog.json
Due: App Tests

fix: Stabilize flaky tests
  app/test/support/features/global_search_steps.ex
  app/test/support/features/space_kanban_steps.ex
Due: App Tests

fix: Stabilize flaky tests (#4954)
  app/test/support/features/global_search_steps.ex
  app/test/support/features/space_kanban_steps.ex
Due: App Tests

chore: Add dedicated company full-text search API
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/companies/search.ex
  app/test/operately_web/api/companies/search_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/companies/search.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0015-full-text-search.md
Due: App Tests

chore: Add dedicated company full-text search API (#4955)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/companies/search.ex
  app/test/operately_web/api/companies/search_test.exs
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/companies/search.ex
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0015-full-text-search.md
Due: App Tests

chore: Add company Search page
  app/assets/js/models/search/searchResultPath.test.ts
  app/assets/js/models/search/searchResultPath.ts
  app/assets/js/models/search/useCompanySearch.ts
  app/assets/js/pages/SearchPage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.test.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/paths.ex
  app/test/features/company_search_test.exs
  app/test/support/features/company_search_steps.ex
  specs/0015-full-text-search.md
  turboui/src/ResourceHub/NodeIcon.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/SearchPage/index.stories.tsx
  turboui/src/SearchPage/index.test.tsx
  turboui/src/SearchPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Page is behind FF
  app/assets/js/pages/SearchPage/index.tsx
  app/assets/js/pages/SearchPage/loader.ts
  app/test/support/features/company_search_steps.ex
  specs/0015-full-text-search.md
Due: App Tests

fix: Unexport unused CompanySearchState for knip
  app/assets/js/models/search/useCompanySearch.ts
Due: App Tests

chore: Add company Search page behind FF (#4956)
  app/assets/js/models/search/searchResultPath.test.ts
  app/assets/js/models/search/searchResultPath.ts
  app/assets/js/models/search/useCompanySearch.ts
  app/assets/js/pages/SearchPage/index.tsx
  app/assets/js/pages/SearchPage/loader.ts
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.test.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/paths.ex
  app/test/features/company_search_test.exs
  app/test/support/features/company_search_steps.ex
  specs/0015-full-text-search.md
  turboui/src/ResourceHub/NodeIcon.tsx
  turboui/src/ResourceHub/NodePresentation.test.tsx
  turboui/src/ResourceHub/index.tsx
  turboui/src/SearchPage/index.stories.tsx
  turboui/src/SearchPage/index.test.tsx
  turboui/src/SearchPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Connect quick search to full-text search
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.test.ts
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.ts
  app/test/features/global_search/interaction_test.exs
  app/test/support/features/global_search_steps.ex
  specs/0015-full-text-search.md
  turboui/src/GlobalSearch/SearchActivator.tsx
  turboui/src/GlobalSearch/SearchOverlay.tsx
  turboui/src/GlobalSearch/index.stories.tsx
  turboui/src/GlobalSearch/index.test.tsx
  turboui/src/GlobalSearch/index.tsx
  turboui/src/GlobalSearch/searchOptions.tsx
Due: Turboui, App Tests

Add Space KPIs proof-of-concept as Storybook stories
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/KpiLineChart.tsx
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.tsx
  turboui/src/SpaceKpisPage/NewKpiForm.tsx
  turboui/src/SpaceKpisPage/TrendIndicator.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/SpaceKpisPage/types.ts
  turboui/src/SpaceKpisPage/utils.ts
Due: Turboui, App Tests

Unify Space KPIs page layout with other space tools
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

Add edit and delete actions for Space KPIs
  turboui/src/SpaceKpisPage/DeleteKpiModal.tsx
  turboui/src/SpaceKpisPage/KpiActionsMenu.tsx
  turboui/src/SpaceKpisPage/KpiFormModal.tsx
  turboui/src/SpaceKpisPage/KpiList.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
Due: Turboui, App Tests

Adjust tests
  app/test/support/features/global_search_steps.ex
  specs/0015-full-text-search.md
Due: App Tests

feat: Connect quick search to full-text search (#4958)
  app/assets/js/layouts/CompanyLayout/index.tsx
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.test.ts
  app/assets/js/layouts/CompanyLayout/useGlobalSearch.ts
  app/test/features/global_search/interaction_test.exs
  app/test/support/features/global_search_steps.ex
  specs/0015-full-text-search.md
  turboui/src/GlobalSearch/SearchActivator.tsx
  turboui/src/GlobalSearch/SearchOverlay.tsx
  turboui/src/GlobalSearch/index.stories.tsx
  turboui/src/GlobalSearch/index.test.tsx
  turboui/src/GlobalSearch/index.tsx
  turboui/src/GlobalSearch/searchOptions.tsx
Due: Turboui, App Tests

Build KPI backend schema and operations
  app/lib/operately/activities/content/kpi_created.ex
  app/lib/operately/activities/content/kpi_deleted.ex
  app/lib/operately/activities/content/kpi_edited.ex
  app/lib/operately/activities/content/kpi_entry_logged.ex
  app/lib/operately/activities/context_auto_assigner.ex
  app/lib/operately/activities/notifications/kpi_created.ex
  app/lib/operately/activities/notifications/kpi_deleted.ex
  app/lib/operately/activities/notifications/kpi_edited.ex
  app/lib/operately/activities/notifications/kpi_entry_logged.ex
  app/lib/operately/kpis.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/kpis/kpi_entry.ex
  app/lib/operately/kpis/notifications.ex
  app/lib/operately/notifications/direct_mention_classifier.ex
  app/lib/operately/operations/kpi_creation.ex
  app/lib/operately/operations/kpi_deleting.ex
  app/lib/operately/operations/kpi_editing.ex
  app/lib/operately/operations/kpi_entry_logging.ex
  app/priv/repo/migrations/20260724100000_create_space_kpis.exs
  app/priv/repo/migrations/20260724100100_create_kpi_entries.exs
  app/test/operately/kpis/kpis_test.exs
  app/test/operately/operations/kpi_creation_test.exs
  app/test/operately/operations/kpi_deleting_test.exs
  app/test/operately/operations/kpi_editing_test.exs
  app/test/operately/operations/kpi_entry_logging_test.exs
  app/test/support/fixtures/kpis_fixtures.ex
Due: App Tests

Classify new kpi tables in schema policy registry
  app/lib/operately/company_transfers/schema/policy_registry.ex
Due: App Tests

fix: Stabilize search maintenance tests with person indexing
  app/test/operately/search/maintenance_test.exs
  app/test/operately/search/resource_hub_maintenance_test.exs
Due: App Tests

Add KPI API layer
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/lib/operately_web/api/serializers/kpi_entry.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/operately_web/api/kpis/create_kpi_test.exs
  app/test/operately_web/api/kpis/delete_kpi_test.exs
  app/test/operately_web/api/kpis/edit_kpi_test.exs
  app/test/operately_web/api/kpis/get_kpi_test.exs
  app/test/operately_web/api/kpis/list_kpis_test.exs
  app/test/operately_web/api/kpis/log_kpi_entry_test.exs
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

test: Add external auth specs for KPI API endpoints
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/kpis/create_kpi.ex
  app/test/operately_web/api/external_mutations/mutations/kpis/delete_kpi.ex
  app/test/operately_web/api/external_mutations/mutations/kpis/edit_kpi.ex
  app/test/operately_web/api/external_mutations/mutations/kpis/log_kpi_entry.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/kpis/get_kpi.ex
  app/test/operately_web/api/external_queries/queries/kpis/list_kpis.ex
Due: App Tests

turboui(SpaceKpisPage): support lazy detail loading and value+period logging
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/LogUpdateForm.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/types.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

app: wire Space KPIs tab behind the space_kpis experimental flag
  app/assets/js/features/SpaceTools/Kpis.tsx
  app/assets/js/features/SpaceTools/ToolsSection.test.tsx
  app/assets/js/features/SpaceTools/ToolsSection.tsx
  app/assets/js/models/kpis/index.tsx
  app/assets/js/pages/SpaceKpisPage/index.tsx
  app/assets/js/pages/SpaceKpisPage/loader.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
Due: App Tests

fix: Stabilize flaky champion change/remove feature tests
  app/test/support/features/projects_steps.ex
Due: App Tests

Show KPIs in space tools configuration behind space_kpis flag
  app/assets/js/api/index.tsx
  app/assets/js/features/SpaceTools/ToolsSection.test.tsx
  app/assets/js/features/SpaceTools/ToolsSection.tsx
  app/assets/js/pages/SpaceToolsConfigurationPage/index.tsx
  app/lib/operately/groups/space_tools.ex
  app/lib/operately_web/api/serializers/space_tools.ex
  app/lib/operately_web/api/types.ex
  app/test/operately_web/api/external_mutations/mutations/spaces/update_tools.ex
  app/test/operately_web/api/spaces_test.exs
  turboui/jest.setup.ts
  turboui/src/ApiTypes/index.ts
  turboui/src/SpaceToolsConfigurationPage/index.test.tsx
  turboui/src/SpaceToolsConfigurationPage/index.tsx
Due: Turboui, App Tests

docs: Enhance spec 0017-project-templates.md
  specs/0017-project-templates.md
Due: none
