Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Remove deprecated Form module and migrate last usage
  app/assets/js/components/Form/index.tsx
  app/assets/js/pages/CompanyAdminTrustedEmailDomainsPage/page.tsx
  turboui/src/Forms/Input.tsx
Due: Turboui, App Tests

fix: add GetMe fields to Person :full serializer
  app/lib/operately_web/api/people/get_me.ex
  app/lib/operately_web/api/serializer.ex
  app/lib/operately_web/api/serializers/person.ex
  app/test/operately_web/api/people/get_me_test.exs
Due: App Tests

chore: Remove deprecated Form module and migrate last usage (#4782)
  app/assets/js/components/Form/index.tsx
  app/assets/js/pages/CompanyAdminTrustedEmailDomainsPage/page.tsx
  turboui/src/Forms/Input.tsx
Due: Turboui, App Tests

Adjust default height
  turboui/src/Forms/RichTextArea.tsx
Due: Turboui, App Tests

fix: use Person serializer in GetMe query
  app/lib/operately_web/api/people/get_me.ex
  app/lib/operately_web/api/serializer.ex
  app/lib/operately_web/api/serializers/person.ex
  app/test/operately_web/api/people/get_me_test.exs
Due: App Tests

fix: GetMe query should rely on the Person serializer (#4783)
  app/lib/operately_web/api/people/get_me.ex
  app/lib/operately_web/api/serializers/person.ex
  app/test/operately_web/api/people/get_me_test.exs
Due: App Tests

fix: Guard optional link type in ResourceHubNewLinkPage form
  app/assets/js/pages/ResourceHubNewLinkPage/form.tsx
Due: App Tests

chore: Extend TurboUI RichTextArea and migrate simple rich-text forms
  app/assets/js/features/ProjectRetrospective/Form.tsx
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/ProjectResumePage/Form.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/form.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/form.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

fix: allow selecting multiple files in resource hub upload dialog
  turboui/src/ResourceHub/useAddFile.test.ts
  turboui/src/ResourceHub/useAddFile.ts
Due: Turboui, App Tests

fix: Attempt to stabilize Goal Closing flaky tests
  app/test/support/features/goal_closing_steps.ex
Due: App Tests

fix: Attempt to stabilize Goal Closing flaky tests (#4787)
  app/test/support/features/goal_closing_steps.ex
Due: App Tests

chore: Extend TurboUI RichTextArea and migrate simple rich-text forms (#4781)
  app/assets/js/features/ProjectRetrospective/Form.tsx
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/ProjectResumePage/Form.tsx
  app/assets/js/pages/ResourceHubEditLinkPage/form.tsx
  app/assets/js/pages/ResourceHubNewLinkPage/form.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

fix: Allow selecting multiple files in resource hub upload dialog (#4786)
  turboui/src/ResourceHub/useAddFile.test.ts
  turboui/src/ResourceHub/useAddFile.ts
Due: Turboui, App Tests

chore: Migrate discussion and resource hub file forms to TurboUI
  app/assets/js/features/DiscussionForm/Form.tsx
  app/assets/js/features/DiscussionForm/useForm.tsx
  app/assets/js/pages/GoalDiscussionEditPage/index.tsx
  app/assets/js/pages/GoalDiscussionNewPage/Form.tsx
  app/assets/js/pages/GoalDiscussionNewPage/useForm.tsx
  app/assets/js/pages/ProjectDiscussionEditPage/index.tsx
  app/assets/js/pages/ProjectDiscussionNewPage/index.tsx
  app/assets/js/pages/ProjectDiscussionNewPage/useForm.tsx
  app/assets/js/pages/ResourceHubEditFilePage/form.tsx
  specs/0014-forms-turboui-migration.md
Due: App Tests

feat: add 72-hour full-edit window for project check-ins
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/lib/operately/operations/project_check_in_edit.ex
  app/lib/operately_web/api/projects/get_check_in.ex
  app/test/operately_web/api/projects/update_check_in_test.exs
Due: App Tests

fix: remove unsupported className on InfoCallout
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
Due: App Tests

fix: resolve lint failures (prettier, unused variable)
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/lib/operately/operations/project_check_in_edit.ex
Due: App Tests

Adjust border
  app/assets/js/components/Forms/RichTextArea.tsx
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/Forms/index.test.tsx
Due: Turboui, App Tests

fix: correct maybe_update_project arity after removing unused attrs
  app/lib/operately/operations/project_check_in_edit.ex
Due: App Tests

chore: Migrate discussion and resource hub file forms to TurboUI (#4788)
  app/assets/js/components/Forms/RichTextArea.tsx
  app/assets/js/features/DiscussionForm/Form.tsx
  app/assets/js/features/DiscussionForm/useForm.tsx
  app/assets/js/pages/GoalDiscussionEditPage/index.tsx
  app/assets/js/pages/GoalDiscussionNewPage/Form.tsx
  app/assets/js/pages/GoalDiscussionNewPage/useForm.tsx
  app/assets/js/pages/ProjectDiscussionEditPage/index.tsx
  app/assets/js/pages/ProjectDiscussionNewPage/index.tsx
  app/assets/js/pages/ProjectDiscussionNewPage/useForm.tsx
  app/assets/js/pages/ResourceHubEditFilePage/form.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/Forms/index.test.tsx
Due: Turboui, App Tests

feat: Add 72-hour full-edit window for project check-ins (#4789)
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/lib/operately/operations/project_check_in_edit.ex
  app/lib/operately_web/api/projects/get_check_in.ex
  app/test/operately_web/api/projects/update_check_in_test.exs
Due: App Tests

chore: Update tiptap to version 3
  app/assets/js/components/Forms/RichTextArea.tsx
  app/package-lock.json
  cli/.npmrc
  cli/package-lock.json
  cli/package.json
  cli/src/core/markdown-to-tiptap.ts
  scripts/license_finder.yml
  turboui/.npmrc
  turboui/package-lock.json
  turboui/package.json
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/ProfileEditPage/index.tsx
  turboui/src/RichEditor/__tests__/LinkEditForm.test.tsx
  turboui/src/RichEditor/extensions/MentionPeople/MentionList.tsx
  turboui/src/RichEditor/extensions/MentionPeople/MentionPopup.tsx
  turboui/src/RichEditor/extensions/MentionPeople/index.tsx
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

Editor doesnt rerender on every key stroke
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

Update stale licenses
  scripts/license_finder.yml
Due: none

Fix CI issues
  Makefile
  turboui/package-lock.json
  turboui/package.json
Due: Turboui, App Tests

Fix turbo lint
  turboui/package-lock.json
  turboui/package.json
  turboui/tsconfig.json
Due: Turboui, App Tests

Remove legacy-peer-deps
  cli/.npmrc
  cli/package-lock.json
  cli/package.json
  turboui/.npmrc
  turboui/package-lock.json
  turboui/package.json
Due: Turboui, App Tests

chore: Update tiptap to version 3 (#4790)
  Makefile
  app/assets/js/components/Forms/RichTextArea.tsx
  app/package-lock.json
  cli/package-lock.json
  cli/package.json
  cli/src/core/markdown-to-tiptap.ts
  scripts/license_finder.yml
  turboui/package-lock.json
  turboui/package.json
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/ProfileEditPage/index.tsx
  turboui/src/RichEditor/__tests__/LinkEditForm.test.tsx
  turboui/src/RichEditor/extensions/MentionPeople/MentionList.tsx
  turboui/src/RichEditor/extensions/MentionPeople/MentionPopup.tsx
  turboui/src/RichEditor/extensions/MentionPeople/index.tsx
  turboui/src/RichEditor/useEditor.tsx
  turboui/tsconfig.json
Due: Turboui, App Tests

chore: Port SubmitButton to TurboUI and migrate resource hub document forms
  app/assets/js/pages/ResourceHubEditDocumentPage/form.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/form.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/SubmitButton.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

feat: add remove feature flags flow to SaaS admin company page
  app/ee/assets/js/admin_api/index.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.test.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/index.tsx
  app/ee/lib/admin_api.ex
  app/ee/lib/admin_api/mutations/disable_features.ex
  app/ee/test/operately_ee/admin_api/mutations/disable_features_test.exs
  app/test/operately/companies_test.exs
Due: App Tests

chore: Port SubmitButton to TurboUI and migrate resource hub document forms (#4791)
  app/assets/js/pages/ResourceHubEditDocumentPage/form.tsx
  app/assets/js/pages/ResourceHubNewDocumentPage/form.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/SubmitButton.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

chore: Migrate check-in forms to TurboUI and add SelectStatus bridge
  app/assets/js/components/Forms/RichTextArea.tsx
  app/assets/js/components/Forms/index.tsx
  app/assets/js/features/forms/SelectStatus.tsx
  app/assets/js/features/goals/GoalCheckIn/Form.tsx
  app/assets/js/features/goals/GoalCheckIn/StatusSelector.tsx
  app/assets/js/features/goals/GoalCheckIn/useForm.tsx
  app/assets/js/features/goals/GoalTargetsV2/TargetsContext.tsx
  app/assets/js/features/goals/GoalTargetsV2/targetErrors.tsx
  app/assets/js/pages/GoalCheckInPage/Options.tsx
  app/assets/js/pages/ProjectCheckInEditPage/Form.tsx
  app/assets/js/pages/ProjectCheckInNewPage/Form.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  specs/0014-forms-turboui-migration.md
  turboui/src/Forms/Form.tsx
  turboui/src/Forms/index.test.tsx
  turboui/src/Forms/index.tsx
  turboui/src/Forms/types.ts
Due: Turboui, App Tests

docs: Mark Phase 5 tsc.lint acceptance in forms migration spec
  specs/0014-forms-turboui-migration.md
Due: none

show toast errors
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.test.tsx
  app/ee/assets/js/pages/SaasAdminCompanyPage/RemoveFeatureFlagsModal.tsx
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
