Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

Handle company transfer
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/test/operately/company_transfers/export/relational_collector_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
Due: App Tests

Adjust spec
  specs/0017-project-templates.md
Due: none

feat: Project template task assignees can be edited
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/people.ts
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_task_assignees.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_task_assignees.ex
  app/test/operately_web/api/project_templates/update_task_assignees_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/Button/UnstalyedButton.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

feat: Project template task assignees can be edited (#5028)
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/people.ts
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_task_assignees.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_task_assignees.ex
  app/test/operately_web/api/project_templates/update_task_assignees_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/Button/UnstalyedButton.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

chore: Create template tasks with assignees in one request
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately_web/api/project_templates/create_task.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_task.ex
  app/test/operately_web/api/project_templates/create_task_test.exs
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
Due: App Tests

chore: Create template tasks with assignees in one request (#5029)
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately_web/api/project_templates/create_task.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_task.ex
  app/test/operately_web/api/project_templates/create_task_test.exs
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
Due: App Tests

feat: Let MCP create/update tools choose notification recipients
  app/lib/operately_web/mcp/helpers.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_link.ex
  app/lib/operately_web/mcp/tools/docs_and_files/publish_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/update_document.ex
  app/lib/operately_web/mcp/tools/goals/close.ex
  app/lib/operately_web/mcp/tools/goals/create_check_in.ex
  app/lib/operately_web/mcp/tools/goals/create_discussion.ex
  app/lib/operately_web/mcp/tools/goals/reopen.ex
  app/lib/operately_web/mcp/tools/projects/close.ex
  app/lib/operately_web/mcp/tools/projects/create_check_in.ex
  app/lib/operately_web/mcp/tools/projects/create_discussion.ex
  app/lib/operately_web/mcp/tools/projects/pause.ex
  app/lib/operately_web/mcp/tools/projects/resume.ex
  app/lib/operately_web/mcp/tools/projects/update_discussion.ex
  app/lib/operately_web/mcp/tools/spaces/create_discussion.ex
  app/test/operately_web/mcp/tools/docs_and_files/create_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_link_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/publish_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_document_test.exs
  app/test/operately_web/mcp/tools/goals/close_test.exs
  app/test/operately_web/mcp/tools/goals/create_check_in_test.exs
  app/test/operately_web/mcp/tools/goals/create_discussion_test.exs
  app/test/operately_web/mcp/tools/goals/reopen_test.exs
  app/test/operately_web/mcp/tools/projects/close_test.exs
  app/test/operately_web/mcp/tools/projects/create_check_in_test.exs
  app/test/operately_web/mcp/tools/projects/create_discussion_test.exs
  app/test/operately_web/mcp/tools/projects/pause_test.exs
  app/test/operately_web/mcp/tools/projects/resume_test.exs
  app/test/operately_web/mcp/tools/projects/update_discussion_test.exs
  app/test/operately_web/mcp/tools/spaces/create_discussion_test.exs
Due: App Tests

feat: Let MCP create/update tools choose notification recipients (#5030)
  app/lib/operately_web/mcp/helpers.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/create_link.ex
  app/lib/operately_web/mcp/tools/docs_and_files/publish_document.ex
  app/lib/operately_web/mcp/tools/docs_and_files/update_document.ex
  app/lib/operately_web/mcp/tools/goals/close.ex
  app/lib/operately_web/mcp/tools/goals/create_check_in.ex
  app/lib/operately_web/mcp/tools/goals/create_discussion.ex
  app/lib/operately_web/mcp/tools/goals/reopen.ex
  app/lib/operately_web/mcp/tools/projects/close.ex
  app/lib/operately_web/mcp/tools/projects/create_check_in.ex
  app/lib/operately_web/mcp/tools/projects/create_discussion.ex
  app/lib/operately_web/mcp/tools/projects/pause.ex
  app/lib/operately_web/mcp/tools/projects/resume.ex
  app/lib/operately_web/mcp/tools/projects/update_discussion.ex
  app/lib/operately_web/mcp/tools/spaces/create_discussion.ex
  app/test/operately_web/mcp/tools/docs_and_files/create_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/create_link_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/publish_document_test.exs
  app/test/operately_web/mcp/tools/docs_and_files/update_document_test.exs
  app/test/operately_web/mcp/tools/goals/close_test.exs
  app/test/operately_web/mcp/tools/goals/create_check_in_test.exs
  app/test/operately_web/mcp/tools/goals/create_discussion_test.exs
  app/test/operately_web/mcp/tools/goals/reopen_test.exs
  app/test/operately_web/mcp/tools/projects/close_test.exs
  app/test/operately_web/mcp/tools/projects/create_check_in_test.exs
  app/test/operately_web/mcp/tools/projects/create_discussion_test.exs
  app/test/operately_web/mcp/tools/projects/pause_test.exs
  app/test/operately_web/mcp/tools/projects/resume_test.exs
  app/test/operately_web/mcp/tools/projects/update_discussion_test.exs
  app/test/operately_web/mcp/tools/spaces/create_discussion_test.exs
Due: App Tests

fix: Render API-created space task notes
  app/test/features/space_kanban/task_cards_test.exs
  app/test/support/features/space_kanban_steps.ex
  turboui/src/PageDescription/index.test.tsx
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

Full subscribers list
  app/assets/js/api/index.tsx
  app/assets/js/models/kpis/index.tsx
  app/assets/js/pages/SpaceKpisPage/page.tsx
  app/lib/operately/data/change_112_create_subscription_lists_for_kpis.ex
  app/lib/operately/kpis/kpi.ex
  app/lib/operately/notifications.ex
  app/lib/operately_web/api/kpis.ex
  app/lib/operately_web/api/notifications/subscribe.ex
  app/lib/operately_web/api/notifications/update_subscriptions_list.ex
  app/lib/operately_web/api/serializers/kpi.ex
  app/lib/operately_web/api/types.ex
  app/priv/repo/migrations/20260808142629_create_subscription_lists_for_kpis.exs
  app/test/operately/data/change_112_create_subscription_lists_for_kpis_test.exs
  app/test/operately_web/api/kpis/get_kpi_test.exs
  turboui/src/SpaceKpisPage/KpiDetail.tsx
  turboui/src/SpaceKpisPage/index.stories.tsx
  turboui/src/SpaceKpisPage/index.test.tsx
  turboui/src/SpaceKpisPage/index.tsx
  turboui/src/SpaceKpisPage/mockData.tsx
  turboui/src/SpaceKpisPage/types.ts
  turboui/src/Subscriptions/CurrentSubscriptions.tsx
Due: Turboui, App Tests

feat: Project template contributors can be edited
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_person.ex
  app/lib/operately_web/api/project_templates/delete_person.ex
  app/lib/operately_web/api/project_templates/update_person.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_person.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/delete_person.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_person.ex
  app/test/operately_web/api/project_templates/create_person_test.exs
  app/test/operately_web/api/project_templates/delete_person_test.exs
  app/test/operately_web/api/project_templates/update_person_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/PersonField/index.tsx
  turboui/src/TemplateProjectPage/Overview.tsx
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

Adjustment
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

feat: Project template contributors can be edited (#5032)
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_person.ex
  app/lib/operately_web/api/project_templates/delete_person.ex
  app/lib/operately_web/api/project_templates/update_person.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_person.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/delete_person.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_person.ex
  app/test/operately_web/api/project_templates/create_person_test.exs
  app/test/operately_web/api/project_templates/delete_person_test.exs
  app/test/operately_web/api/project_templates/update_person_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/PersonField/index.tsx
  turboui/src/TemplateProjectPage/Overview.tsx
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

fix: Remove search extra row from Docs & Files tab (#5016)
  turboui/src/DocsAndFiles/PageDocsAndFiles.tsx
  turboui/src/DocsAndFiles/index.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/ProjectPage/index.test.tsx
  turboui/src/ResourceHub/Search.tsx
  turboui/src/SortControl/index.tsx
Due: Turboui, App Tests

feat: Add drag and drop to project template tasks
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately_web/api/project_templates/helpers.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_task.ex
  app/test/operately_web/api/project_templates/update_task_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

feat: Add drag and drop to project template tasks (#5033)
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately_web/api/project_templates/helpers.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_task.ex
  app/test/operately_web/api/project_templates/update_task_test.exs
  cli/src/generated/api-catalog.json
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

feat: Support replacing unavailable template contributors
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately/operations/project_template_materialization.ex
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/operately_web/api/project_templates/create_person_test.exs
  app/test/operately_web/api/project_templates/delete_person_test.exs
  app/test/operately_web/api/project_templates/update_person_test.exs
  specs/0017-project-templates.md
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

feat: Support replacing unavailable template contributors (#5034)
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately/operations/project_template_materialization.ex
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/operately_web/api/project_templates/create_person_test.exs
  app/test/operately_web/api/project_templates/delete_person_test.exs
  app/test/operately_web/api/project_templates/update_person_test.exs
  specs/0017-project-templates.md
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

feat: Add configurable templates space tool
  app/assets/js/api/index.tsx
  app/assets/js/features/SpaceTools/Templates.test.tsx
  app/assets/js/features/SpaceTools/Templates.tsx
  app/assets/js/features/SpaceTools/ToolsSection.test.tsx
  app/assets/js/features/SpaceTools/ToolsSection.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/assets/js/pages/SpaceToolsConfigurationPage/index.tsx
  app/lib/operately/groups/space_tools.ex
  app/lib/operately/operations/company_adding.ex
  app/lib/operately_web/api/project_templates/list.ex
  app/lib/operately_web/api/serializers/space_tools.ex
  app/lib/operately_web/api/spaces/list_tools.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/groups_test.exs
  app/test/operately/operations/company_adding_test.exs
  app/test/operately_web/api/external_mutations/mutations/spaces/update_tools.ex
  app/test/operately_web/api/spaces/list_tools_test.exs
  app/test/operately_web/api/spaces_test.exs
  app/test/support/factory/spaces.ex
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/SpaceTemplatesTool/index.stories.tsx
  turboui/src/SpaceTemplatesTool/index.test.tsx
  turboui/src/SpaceTemplatesTool/index.tsx
  turboui/src/SpaceToolsConfigurationPage/index.test.tsx
  turboui/src/SpaceToolsConfigurationPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Add configurable templates space tool (#5035)
  app/assets/js/api/index.tsx
  app/assets/js/features/SpaceTools/Templates.test.tsx
  app/assets/js/features/SpaceTools/Templates.tsx
  app/assets/js/features/SpaceTools/ToolsSection.test.tsx
  app/assets/js/features/SpaceTools/ToolsSection.tsx
  app/assets/js/pages/SpacePage/page.tsx
  app/assets/js/pages/SpaceToolsConfigurationPage/index.tsx
  app/lib/operately/groups/space_tools.ex
  app/lib/operately/operations/company_adding.ex
  app/lib/operately_web/api/project_templates/list.ex
  app/lib/operately_web/api/serializers/space_tools.ex
  app/lib/operately_web/api/spaces/list_tools.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/groups_test.exs
  app/test/operately/operations/company_adding_test.exs
  app/test/operately_web/api/external_mutations/mutations/spaces/update_tools.ex
  app/test/operately_web/api/spaces/list_tools_test.exs
  app/test/operately_web/api/spaces_test.exs
  app/test/support/factory/spaces.ex
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
  turboui/src/ApiTypes/index.ts
  turboui/src/SpaceTemplatesTool/index.stories.tsx
  turboui/src/SpaceTemplatesTool/index.test.tsx
  turboui/src/SpaceTemplatesTool/index.tsx
  turboui/src/SpaceToolsConfigurationPage/index.test.tsx
  turboui/src/SpaceToolsConfigurationPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

chore: Move notifications page to storybook
  turboui/src/NotificationsPage/index.stories.tsx
  turboui/src/NotificationsPage/index.test.tsx
  turboui/src/NotificationsPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Add Operately Notification row
  turboui/src/Logo/index.tsx
  turboui/src/NotificationRow/OperatelyNotificationRow.test.tsx
  turboui/src/NotificationRow/OperatelyNotificationRow.tsx
  turboui/src/NotificationRow/index.stories.tsx
  turboui/src/NotificationRow/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Add Operately notifacations stories
  turboui/src/NotificationsPage/index.stories.tsx
  turboui/src/NotificationsPage/index.test.tsx
  turboui/src/NotificationsPage/index.tsx
Due: Turboui, App Tests

Add email preview
  app/lib/operately_email/templates/product_updates.html.eex
  app/lib/operately_email/templates/product_updates.text.eex
  app/lib/operately_web/email_preview.ex
  app/lib/operately_web/email_preview/previews/product_updates.ex
Due: App Tests

chore: Add project template discussion persistence
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/discussion.ex
  app/lib/operately/project_templates/project_template.ex
  app/priv/repo/migrations/20260810170341_add_project_template_discussions.exs
  app/test/operately/company_transfers/export/relational_collector_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/operately/project_templates/discussion_test.exs
  app/test/support/factory.ex
  app/test/support/factory/project_templates.ex
Due: App Tests

chore: Add project template discussion persistence (#5037)
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/discussion.ex
  app/lib/operately/project_templates/project_template.ex
  app/priv/repo/migrations/20260810170341_add_project_template_discussions.exs
  app/test/operately/company_transfers/export/relational_collector_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/operately/project_templates/discussion_test.exs
  app/test/support/factory.ex
  app/test/support/factory/project_templates.ex
Due: App Tests

chore: Expose project template discussions API
  app/assets/js/api/index.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_discussion.ex
  app/lib/operately_web/api/project_templates/create_from_project.ex
  app/lib/operately_web/api/project_templates/get.ex
  app/lib/operately_web/api/project_templates/get_discussion.ex
  app/lib/operately_web/api/project_templates/list.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_discussion.ex
  app/lib/operately_web/api/serializers/project_template.ex
  app/lib/operately_web/api/serializers/project_template_discussion.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_discussion.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_discussion.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/project_templates/get_discussion.ex
  app/test/operately_web/api/project_templates/create_discussion_test.exs
  app/test/operately_web/api/project_templates/create_from_project_test.exs
  app/test/operately_web/api/project_templates/get_discussion_test.exs
  app/test/operately_web/api/project_templates/get_test.exs
  app/test/operately_web/api/project_templates/list_test.exs
  app/test/operately_web/api/project_templates/update_discussion_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/projects/saveProjectAsTemplate.test.ts
Due: App Tests

Fix tests
  app/assets/js/models/projects/saveProjectAsTemplate.ts
Due: App Tests

chore: Expose project template discussions API (#5038)
  app/assets/js/api/index.tsx
  app/assets/js/models/projects/saveProjectAsTemplate.test.ts
  app/assets/js/models/projects/saveProjectAsTemplate.ts
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/create_discussion.ex
  app/lib/operately_web/api/project_templates/create_from_project.ex
  app/lib/operately_web/api/project_templates/get.ex
  app/lib/operately_web/api/project_templates/get_discussion.ex
  app/lib/operately_web/api/project_templates/list.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_discussion.ex
  app/lib/operately_web/api/serializers/project_template.ex
  app/lib/operately_web/api/serializers/project_template_discussion.ex
  app/lib/operately_web/api/types.ex
  app/lib/operately_web/paths.ex
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/create_discussion.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_discussion.ex
  app/test/operately_web/api/external_queries/queries.ex
  app/test/operately_web/api/external_queries/queries/project_templates/get_discussion.ex
  app/test/operately_web/api/project_templates/create_discussion_test.exs
  app/test/operately_web/api/project_templates/create_from_project_test.exs
  app/test/operately_web/api/project_templates/get_discussion_test.exs
  app/test/operately_web/api/project_templates/get_test.exs
  app/test/operately_web/api/project_templates/list_test.exs
  app/test/operately_web/api/project_templates/update_discussion_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

feat: Add project template discussions UI
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectTemplateDiscussionEditPage/index.tsx
  app/assets/js/pages/ProjectTemplateDiscussionNewPage/index.tsx
  app/assets/js/pages/ProjectTemplateDiscussionPage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  specs/0017-project-templates.md
  turboui/src/ProjectTemplateSelection/index.test.tsx
  turboui/src/ProjectTemplateSelection/index.tsx
  turboui/src/TemplateDiscussionForm/index.tsx
  turboui/src/TemplateDiscussionPage/index.test.tsx
  turboui/src/TemplateDiscussionPage/index.tsx
  turboui/src/TemplateProjectPage/Discussions.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Adjustments
  app/assets/js/pages/ProjectTemplateDiscussionPage/index.tsx
Due: App Tests

feat: Add project template discussions UI (#5039)
  app/assets/js/pages/ProjectAddPage/page.tsx
  app/assets/js/pages/ProjectTemplateDiscussionEditPage/index.tsx
  app/assets/js/pages/ProjectTemplateDiscussionNewPage/index.tsx
  app/assets/js/pages/ProjectTemplateDiscussionPage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.tsx
  specs/0017-project-templates.md
  turboui/src/ProjectTemplateSelection/index.test.tsx
  turboui/src/ProjectTemplateSelection/index.tsx
  turboui/src/TemplateDiscussionForm/index.tsx
  turboui/src/TemplateDiscussionPage/index.test.tsx
  turboui/src/TemplateDiscussionPage/index.tsx
  turboui/src/TemplateProjectPage/Discussions.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Add missing KPI created activity serializer
  app/lib/operately_web/api/serializers/activity_content/kpi_created.ex
Due: App Tests

Fix
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/types.ex
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: Add missing KPI created activity serializer (#5040)
  app/assets/js/api/index.tsx
  app/lib/operately_web/api/serializers/activity_content/kpi_created.ex
  app/lib/operately_web/api/types.ex
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

fix: Render KPI creation activities
  app/assets/js/features/activities/KpiCreated/index.test.tsx
  app/assets/js/features/activities/KpiCreated/index.tsx
  app/assets/js/features/activities/index.tsx
Due: App Tests

fix: Render KPI creation activities (#5041)
  app/assets/js/features/activities/KpiCreated/index.test.tsx
  app/assets/js/features/activities/KpiCreated/index.tsx
  app/assets/js/features/activities/index.tsx
Due: App Tests

chore: Add template docs and files persistence
  app/lib/operately/company_transfers/export/file_discovery.ex
  app/lib/operately/company_transfers/schema/policy_registry.ex
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately/project_templates/resource_document.ex
  app/lib/operately/project_templates/resource_file.ex
  app/lib/operately/project_templates/resource_folder.ex
  app/lib/operately/project_templates/resource_link.ex
  app/lib/operately/project_templates/resource_node.ex
  app/lib/operately/project_templates/resources.ex
  app/lib/operately/project_templates/resources/materialization.ex
  app/lib/operately/project_templates/resources/reverse_copy.ex
  app/lib/operately/project_templates/resources/tree.ex
  app/lib/operately/project_templates/resources/validator.ex
  app/priv/repo/migrations/20260811132715_add_project_template_docs_and_files.exs
  app/test/operately/company_transfers/export/file_discovery_test.exs
  app/test/operately/company_transfers/export/relational_collector_test.exs
  app/test/operately/company_transfers/import/rich_text_rewriter_test.exs
  app/test/operately/company_transfers/importer_test.exs
  app/test/operately/company_transfers/schema/app_schemas_test.exs
  app/test/operately/company_transfers/schema_graph_test.exs
  app/test/operately/operations/project_template_creation_from_project_test.exs
  app/test/operately/operations/project_template_materialization_test.exs
  app/test/operately/project_templates/resource_node_test.exs
  app/test/support/factory.ex
  app/test/support/factory/project_templates.ex
Due: App Tests
