Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

Adjustments
  app/assets/js/models/goals/goalDetailsLifecycle.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/goals/useGoalTargets.test.tsx
  app/assets/js/models/goals/useGoalTargets.ts
  app/assets/js/models/goals/useOptimisticGoalState.test.tsx
  app/assets/js/models/goals/useOptimisticGoalState.ts
  app/assets/js/pages/GoalPage/useChecklists.test.tsx
  app/assets/js/pages/GoalPage/useChecklists.tsx
Due: App Tests

chore: Migrate GoalPage to tanstack (#5275)
  app/assets/js/api/index.tsx
  app/assets/js/models/goals/goalAccessLifecycle.ts
  app/assets/js/models/goals/goalDetailsLifecycle.test.tsx
  app/assets/js/models/goals/goalDetailsLifecycle.ts
  app/assets/js/models/goals/goalItemLifecycle.test.tsx
  app/assets/js/models/goals/goalItemLifecycle.ts
  app/assets/js/models/goals/goalMutation.test.tsx
  app/assets/js/models/goals/goalMutation.ts
  app/assets/js/models/goals/goalPageQueries.test.ts
  app/assets/js/models/goals/goalPageQueries.ts
  app/assets/js/models/goals/index.tsx
  app/assets/js/models/goals/useGoalTargets.test.tsx
  app/assets/js/models/goals/useGoalTargets.ts
  app/assets/js/models/goals/useOptimisticGoalState.test.tsx
  app/assets/js/models/goals/useOptimisticGoalState.ts
  app/assets/js/models/projects/projectLifecycle.test.tsx
  app/assets/js/models/projects/projectLifecycle.ts
  app/assets/js/pages/GoalAccessAddPage/index.tsx
  app/assets/js/pages/GoalAccessManagementPage/page.tsx
  app/assets/js/pages/GoalAddPage/index.test.tsx
  app/assets/js/pages/GoalAddPage/index.tsx
  app/assets/js/pages/GoalClosingPage/Form.test.tsx
  app/assets/js/pages/GoalClosingPage/Form.tsx
  app/assets/js/pages/GoalEditAccessLevelsPage/index.tsx
  app/assets/js/pages/GoalPage/index.test.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/GoalPage/loader.test.tsx
  app/assets/js/pages/GoalPage/loader.tsx
  app/assets/js/pages/GoalPage/useChecklists.test.tsx
  app/assets/js/pages/GoalPage/useChecklists.tsx
  app/assets/js/pages/GoalReopenPage/useForm.test.tsx
  app/assets/js/pages/GoalReopenPage/useForm.tsx
  app/lib/operately_web/api/goals/list_discussions.ex
  app/test/features/goal_creation_test.exs
  app/test/operately_web/api/goals/list_discussions_test.exs
  cli/src/generated/api-catalog.json
Due: App Tests

fix: Load goal page content by selected tab
  app/assets/js/pages/GoalPage/contentQueries.test.tsx
  app/assets/js/pages/GoalPage/contentQueries.ts
  app/assets/js/pages/GoalPage/index.test.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/GoalPage/loader.test.tsx
  app/assets/js/pages/GoalPage/loader.tsx
  app/assets/js/pages/ProjectPage/loader.test.tsx
  app/assets/js/pages/ProjectPage/loader.tsx
  turboui/src/ContentListState/index.tsx
  turboui/src/GoalPage/CheckIns.tsx
  turboui/src/GoalPage/Discussions.tsx
  turboui/src/GoalPage/RelatedWork.tsx
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/GoalPage/index.tsx
Due: Turboui, App Tests

Fix
  app/assets/js/pages/GoalPage/loader.test.tsx
  app/assets/js/pages/GoalPage/loader.tsx
Due: App Tests

Fix
  turboui/src/GoalPage/index.test.tsx
Due: Turboui, App Tests

chore: Load goal page content by selected tab (#5276)
  app/assets/js/pages/GoalPage/contentQueries.test.tsx
  app/assets/js/pages/GoalPage/contentQueries.ts
  app/assets/js/pages/GoalPage/index.test.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/GoalPage/loader.test.tsx
  app/assets/js/pages/GoalPage/loader.tsx
  app/assets/js/pages/ProjectPage/loader.test.tsx
  app/assets/js/pages/ProjectPage/loader.tsx
  turboui/src/ContentListState/index.tsx
  turboui/src/GoalPage/CheckIns.tsx
  turboui/src/GoalPage/Discussions.tsx
  turboui/src/GoalPage/RelatedWork.tsx
  turboui/src/GoalPage/index.stories.tsx
  turboui/src/GoalPage/index.test.tsx
  turboui/src/GoalPage/index.tsx
Due: Turboui, App Tests

chore: Migrate project page subscriptions to tanstack
  app/assets/js/models/projects/projectPageQueries.ts
  app/assets/js/models/subscriptions/useCurrentSubscriptionsQueryAdapter.test.tsx
  app/assets/js/pages/ProjectActivityPage/index.tsx
  app/assets/js/pages/ProjectActivityPage/loader.tsx
  app/assets/js/pages/ProjectCheckInPage/loader.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectDiscussionPage/loader.tsx
  app/assets/js/pages/ProjectDiscussionPage/page.tsx
  app/assets/js/pages/ProjectRetrospectivePage/loader.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
Due: App Tests

Fix test
  app/assets/js/models/tasks/useTaskTimelineItems.test.tsx
Due: App Tests

chore: Migrate project page subscriptions to tanstack (#5277)
  app/assets/js/models/projects/projectPageQueries.ts
  app/assets/js/models/subscriptions/useCurrentSubscriptionsQueryAdapter.test.tsx
  app/assets/js/models/tasks/useTaskTimelineItems.test.tsx
  app/assets/js/pages/ProjectActivityPage/index.tsx
  app/assets/js/pages/ProjectActivityPage/loader.tsx
  app/assets/js/pages/ProjectCheckInPage/loader.tsx
  app/assets/js/pages/ProjectCheckInPage/page.tsx
  app/assets/js/pages/ProjectDiscussionPage/loader.tsx
  app/assets/js/pages/ProjectDiscussionPage/page.tsx
  app/assets/js/pages/ProjectRetrospectivePage/loader.tsx
  app/assets/js/pages/ProjectRetrospectivePage/page.tsx
Due: App Tests

feat: display file previews in activity content
  app/assets/css/prosemirror.css
  turboui/src/RichContent/Summary.test.tsx
  turboui/src/RichContent/Summary.tsx
  turboui/src/RichContent/index.test.tsx
  turboui/src/RichContent/index.tsx
  turboui/src/RichEditor/Blob/BlobView.test.tsx
  turboui/src/RichEditor/Blob/BlobView.tsx
  turboui/src/RichEditor/Blob/index.tsx
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

fix: Return 404 for missing local media files
  app/lib/operately_local_media_storage/plug.ex
  app/test/operately_local_media_storage/plug_test.exs
Due: App Tests

fix: Return 404 for missing local media files (#5279)
  app/lib/operately_local_media_storage/plug.ex
  app/test/operately_local_media_storage/plug_test.exs
Due: App Tests

fix: Update vulnerable browserslist, js-yaml, and smol-toml dependencies
  app/package-lock.json
  turboui/package-lock.json
Due: Turboui, App Tests

fix: Update vulnerable browserslist, js-yaml, and smol-toml dependencies (#5285)
  app/package-lock.json
  turboui/package-lock.json
Due: Turboui, App Tests

feat: migrate space creation and editing to TanStack Query
  app/assets/js/models/spaces/index.tsx
  app/assets/js/models/spaces/spaceLifecycle.test.tsx
  app/assets/js/models/spaces/spaceLifecycle.ts
  app/assets/js/pages/SpaceAddPage/index.tsx
  app/assets/js/pages/SpaceEditPage/index.tsx
  app/assets/js/pages/SpaceEditPage/loader.test.tsx
  app/assets/js/pages/SpaceEditPage/loader.tsx
Due: App Tests

chore: deploy a preview environment for every pull request
  .github/workflows/preview.yml
  docs/README.md
  docs/preview-environments.md
  scripts/preview_ci.sh
Due: none

docs: Specify English and Brazilian Portuguese localization rollout
  specs/0018-internationalization.md
Due: none

docs: Plan translation support for Operately (#5288)
  specs/0018-internationalization.md
Due: none

Fix
  app/assets/js/models/spaces/spaceLifecycle.test.tsx
  app/assets/js/models/spaces/spaceLifecycle.ts
Due: App Tests

feat: add Gettext catalog infrastructure for translations
  Makefile
  app/.formatter.exs
  app/assets/js/generated/locales/en.json
  app/assets/js/i18n.js
  app/assets/js/i18n.test.ts
  app/assets/js/i18n.ts
  app/config/config.exs
  app/knip.json
  app/lib/mix/tasks/operately.i18n.convert.ex
  app/lib/mix/tasks/operately.i18n.extract.ex
  app/lib/operately/i18n/catalog.ex
  app/lib/operately/i18n/converter.ex
  app/lib/operately/i18n/elixir_extractor.ex
  app/lib/operately/i18n/frontend_extractor.ex
  app/lib/operately/i18n/locale.ex
  app/lib/operately/i18n/message.ex
  app/lib/operately/i18n/placeholders.ex
  app/lib/operately/i18n/po.ex
  app/lib/operately_web/gettext.ex
  app/mix.exs
  app/priv/gettext/messages.pot
  app/test/operately/i18n/catalog_test.exs
  app/test/operately/i18n/converter_test.exs
  app/test/operately/i18n/elixir_extractor_test.exs
  app/test/operately/i18n/fixtures/elixir/sample.ex
  app/test/operately/i18n/fixtures/frontend/sample.tsx
  app/test/operately/i18n/fixtures/locales/pt_BR/LC_MESSAGES/messages.po
  app/test/operately/i18n/frontend_extractor_test.exs
  app/tsconfig.json
  docs/README.md
  docs/internationalization.md
  turboui/src/FormattedTime/RelativeTime.tsx
  turboui/src/i18n.ts
Due: Turboui, App Tests

chore: Migrate space tools configuration to TanStack
  app/assets/js/models/spaces/index.tsx
  app/assets/js/models/spaces/spaceLifecycle.test.tsx
  app/assets/js/models/spaces/spaceLifecycle.ts
  app/assets/js/pages/SpaceToolsConfigurationPage/index.test.tsx
  app/assets/js/pages/SpaceToolsConfigurationPage/index.tsx
  app/assets/js/pages/SpaceToolsConfigurationPage/loader.tsx
Due: App Tests

Adjustments
  app/assets/js/i18n.test.ts
  app/assets/js/i18n.ts
  app/lib/operately/i18n/catalog.ex
  app/lib/operately/i18n/elixir_extractor.ex
  app/lib/operately/i18n/frontend_extractor.ex
  app/lib/operately/i18n/po.ex
  app/test/operately/i18n/catalog_test.exs
  app/test/operately/i18n/elixir_extractor_test.exs
  app/test/operately/i18n/frontend_extractor_test.exs
  app/test/operately/i18n/po_test.exs
  docs/internationalization.md
  turboui/src/i18n.ts
  turboui/src/i18nOptions.ts
Due: Turboui, App Tests

Adjustments
  app/lib/operately/i18n/po.ex
  app/test/operately/i18n/po_test.exs
  docs/internationalization.md
Due: App Tests

fix: keep email resend enabled when retryAfter is zero
  turboui/src/AccountChangeEmailPage/index.test.tsx
  turboui/src/AccountChangeEmailPage/index.tsx
Due: Turboui, App Tests

fix: calculate email resend cooldown from current time
  turboui/src/AccountChangeEmailPage/index.test.tsx
  turboui/src/AccountChangeEmailPage/index.tsx
Due: Turboui, App Tests

chore: Migrate space tools configuration to TanStack (#5291)
  app/assets/js/models/spaces/index.tsx
  app/assets/js/models/spaces/spaceLifecycle.test.tsx
  app/assets/js/models/spaces/spaceLifecycle.ts
  app/assets/js/pages/SpaceToolsConfigurationPage/index.test.tsx
  app/assets/js/pages/SpaceToolsConfigurationPage/index.tsx
  app/assets/js/pages/SpaceToolsConfigurationPage/loader.tsx
Due: App Tests

chore: Migrate space access management to tanstack
  app/assets/js/models/spaces/index.tsx
  app/assets/js/models/spaces/spaceAccessLifecycle.test.ts
  app/assets/js/models/spaces/spaceAccessLifecycle.ts
  app/assets/js/pages/SpaceAccessManagementPage/OtherPeople.tsx
  app/assets/js/pages/SpaceAccessManagementPage/loader.test.tsx
  app/assets/js/pages/SpaceAccessManagementPage/loader.tsx
  app/assets/js/pages/SpaceAccessManagementPage/page.tsx
  app/assets/js/pages/SpaceAddMembersPage/index.tsx
  app/assets/js/pages/SpaceEditGeneralAccessPage/index.tsx
  app/test/features/spaces/members_and_access_test.exs
  app/test/support/features/spaces/members_and_access_steps.ex
Due: App Tests

chore: Migrate space access management to tanstack (#5292)
  app/assets/js/models/spaces/index.tsx
  app/assets/js/models/spaces/spaceAccessLifecycle.test.ts
  app/assets/js/models/spaces/spaceAccessLifecycle.ts
  app/assets/js/pages/SpaceAccessManagementPage/OtherPeople.tsx
  app/assets/js/pages/SpaceAccessManagementPage/loader.test.tsx
  app/assets/js/pages/SpaceAccessManagementPage/loader.tsx
  app/assets/js/pages/SpaceAccessManagementPage/page.tsx
  app/assets/js/pages/SpaceAddMembersPage/index.tsx
  app/assets/js/pages/SpaceEditGeneralAccessPage/index.tsx
  app/test/features/spaces/members_and_access_test.exs
  app/test/support/features/spaces/members_and_access_steps.ex
Due: App Tests

chore: Migrate space discussions to tanstack
  app/assets/js/features/CommentSection/useCommentSection.test.tsx
  app/assets/js/features/CommentSection/useCommentSection.ts
  app/assets/js/features/DiscussionForm/useForm.test.tsx
  app/assets/js/features/DiscussionForm/useForm.tsx
  app/assets/js/models/discussions/discussionLifecycle.test.ts
  app/assets/js/models/discussions/discussionLifecycle.ts
  app/assets/js/models/discussions/discussionQueries.ts
  app/assets/js/models/discussions/index.tsx
  app/assets/js/pages/DiscussionDraftsPage/index.tsx
  app/assets/js/pages/DiscussionDraftsPage/loader.test.tsx
  app/assets/js/pages/DiscussionDraftsPage/loader.tsx
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/DiscussionEditPage/loader.test.tsx
  app/assets/js/pages/DiscussionEditPage/loader.tsx
  app/assets/js/pages/DiscussionNewPage/index.tsx
  app/assets/js/pages/DiscussionNewPage/loader.test.tsx
  app/assets/js/pages/DiscussionNewPage/loader.tsx
  app/assets/js/pages/DiscussionPage/loader.test.tsx
  app/assets/js/pages/DiscussionPage/loader.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/SpaceDiscussionsPage/loader.test.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
  app/test/features/discussions/collaboration_and_permissions_test.exs
  app/test/features/discussions/drafts_test.exs
  app/test/features/discussions/publishing_test.exs
  app/test/features/subscriptions/message_test.exs
  app/test/support/features/discussions_steps.ex
Due: App Tests

Fix lint
  app/assets/js/models/discussions/discussionQueries.ts
Due: App Tests

chore: Update dependencies
  app/mix.exs
  app/mix.lock
  turboui/package-lock.json
Due: Turboui, App Tests

chore: Migrate space discussions to tanstack (#5293)
  app/assets/js/features/CommentSection/useCommentSection.test.tsx
  app/assets/js/features/CommentSection/useCommentSection.ts
  app/assets/js/features/DiscussionForm/useForm.test.tsx
  app/assets/js/features/DiscussionForm/useForm.tsx
  app/assets/js/models/discussions/discussionLifecycle.test.ts
  app/assets/js/models/discussions/discussionLifecycle.ts
  app/assets/js/models/discussions/discussionQueries.ts
  app/assets/js/models/discussions/index.tsx
  app/assets/js/pages/DiscussionDraftsPage/index.tsx
  app/assets/js/pages/DiscussionDraftsPage/loader.test.tsx
  app/assets/js/pages/DiscussionDraftsPage/loader.tsx
  app/assets/js/pages/DiscussionEditPage/index.tsx
  app/assets/js/pages/DiscussionEditPage/loader.test.tsx
  app/assets/js/pages/DiscussionEditPage/loader.tsx
  app/assets/js/pages/DiscussionNewPage/index.tsx
  app/assets/js/pages/DiscussionNewPage/loader.test.tsx
  app/assets/js/pages/DiscussionNewPage/loader.tsx
  app/assets/js/pages/DiscussionPage/loader.test.tsx
  app/assets/js/pages/DiscussionPage/loader.tsx
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/SpaceDiscussionsPage/loader.test.tsx
  app/assets/js/pages/SpaceDiscussionsPage/page.tsx
  app/test/features/discussions/collaboration_and_permissions_test.exs
  app/test/features/discussions/drafts_test.exs
  app/test/features/discussions/publishing_test.exs
  app/test/features/subscriptions/message_test.exs
  app/test/support/features/discussions_steps.ex
Due: App Tests

chore: Update dependencies (#5294)
  app/mix.exs
  app/mix.lock
  turboui/package-lock.json
Due: Turboui, App Tests

docs: Specify hover-based page preloading
  specs/0019-hover-page-preloading.md
Due: none

docs: Specify hover-based page preloading (#5295)
  specs/0019-hover-page-preloading.md
Due: none

chore: start previews by SSH instead of an HTTP client
  .github/workflows/preview.yml
  docs/README.md
  docs/preview-environments.md
  scripts/preview_ci.sh
Due: none

chore: skip preview jobs on fork pull requests
  .github/workflows/preview.yml
Due: none

Seed env
  app/lib/operately/release.ex
  app/rel/overlays/bin/seed_preview
  app/test/operately/release_test.exs
Due: App Tests

chore: fix seed_preview test expectations
  app/test/operately/release_test.exs
Due: App Tests

chore: deploy a preview environment for every pull request (#5287)
  .github/workflows/preview.yml
  app/lib/operately/release.ex
  app/rel/overlays/bin/seed_preview
  app/test/operately/release_test.exs
Due: App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
