Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

Turboui:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - make test.build
  jobs:
  - name: Turbo Lint
    commands:
  ...

App Tests:
  secrets:
  - name: ci-cache-credentials
  prologue:
    commands:
    - checkout
    - cache restore app-deps
    - cache restore app-build
    - cache restore app-node-modules
    - cache restore turboui-node-modules
    - cache restore turboui-dist
    - ./scripts/cache-fix-for-erlang
    - make test.build
  jobs:
  ...

chore: Add project template duplication operation
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_duplication.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/comment.ex
  app/lib/operately/project_templates/comments/duplication.ex
  app/lib/operately/project_templates/graph/copy.ex
  app/lib/operately/project_templates/graph/kanban.ex
  app/lib/operately/project_templates/graph/validator.ex
  app/lib/operately/project_templates/resources.ex
  app/lib/operately/project_templates/resources/duplication.ex
  app/test/operately/operations/project_template_duplication_test.exs
  app/test/operately/project_templates/graph/kanban_test.exs
Due: App Tests

Adjustment
  app/lib/operately/project_templates/graph/validator.ex
Due: App Tests

chore: Add project template duplication operation (#5072)
  app/lib/operately/operations/project_template_creation_from_project.ex
  app/lib/operately/operations/project_template_duplication.ex
  app/lib/operately/operations/project_template_materialization.ex
  app/lib/operately/project_templates/comment.ex
  app/lib/operately/project_templates/comments/duplication.ex
  app/lib/operately/project_templates/graph/copy.ex
  app/lib/operately/project_templates/graph/kanban.ex
  app/lib/operately/project_templates/graph/validator.ex
  app/lib/operately/project_templates/resources.ex
  app/lib/operately/project_templates/resources/duplication.ex
  app/test/operately/operations/project_template_duplication_test.exs
  app/test/operately/project_templates/graph/kanban_test.exs
Due: App Tests

chore: Add project template lifecycle APIs
  app/assets/js/api/index.tsx
  app/lib/operately/project_templates/graph/validator.ex
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/archive.ex
  app/lib/operately_web/api/project_templates/delete.ex
  app/lib/operately_web/api/project_templates/duplicate.ex
  app/lib/operately_web/api/project_templates/restore.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/priv/repo/migrations/20260817170825_remove_deleted_at_from_project_templates.exs
  app/test/operately/project_templates/project_template_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/archive.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/delete.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/duplicate.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/restore.ex
  app/test/operately_web/api/project_templates/archive_test.exs
  app/test/operately_web/api/project_templates/delete_test.exs
  app/test/operately_web/api/project_templates/duplicate_test.exs
  app/test/operately_web/api/project_templates/get_test.exs
  app/test/operately_web/api/project_templates/list_test.exs
  app/test/operately_web/api/project_templates/restore_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
Due: App Tests

chore: Add project template lifecycle APIs (#5073)
  app/assets/js/api/index.tsx
  app/lib/operately/project_templates/graph/validator.ex
  app/lib/operately/project_templates/project_template.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/archive.ex
  app/lib/operately_web/api/project_templates/delete.ex
  app/lib/operately_web/api/project_templates/duplicate.ex
  app/lib/operately_web/api/project_templates/restore.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/priv/repo/migrations/20260817170825_remove_deleted_at_from_project_templates.exs
  app/test/operately/project_templates/project_template_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/archive.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/delete.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/duplicate.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/restore.ex
  app/test/operately_web/api/project_templates/archive_test.exs
  app/test/operately_web/api/project_templates/delete_test.exs
  app/test/operately_web/api/project_templates/duplicate_test.exs
  app/test/operately_web/api/project_templates/get_test.exs
  app/test/operately_web/api/project_templates/list_test.exs
  app/test/operately_web/api/project_templates/restore_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  specs/0017-project-templates.md
Due: App Tests

feat: Add project template lifecycle UI
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.test.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
  app/assets/js/pages/ProjectTemplatesPage/loader.tsx
  app/lib/operately/groups/group.ex
  app/lib/operately_web/api/spaces/list.ex
  app/test/operately_web/api/spaces/list_test.exs
  turboui/src/ConfirmDialog/index.tsx
  turboui/src/ProjectPageLayout/PageHeader.tsx
  turboui/src/ProjectPageLayout/index.tsx
  turboui/src/ProjectTemplateLifecycle/index.tsx
  turboui/src/ProjectTemplatesPage/TemplateCard.tsx
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
  turboui/src/ProjectTemplatesPage/utils.ts
  turboui/src/TemplateProjectPage/DocsAndFiles.tsx
  turboui/src/TemplateProjectPage/Overview.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Add tests
  app/test/features/project_templates/lifecycle_test.exs
  app/test/support/features/project_templates_steps.ex
  specs/0017-project-templates.md
Due: App Tests

Fix lint
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
Due: App Tests

feat: Add project template lifecycle UI (#5074)
  app/assets/js/api/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.test.tsx
  app/assets/js/pages/ProjectTemplatesPage/index.tsx
  app/assets/js/pages/ProjectTemplatesPage/loader.tsx
  app/lib/operately/groups/group.ex
  app/lib/operately_web/api/spaces/list.ex
  app/test/features/project_templates/lifecycle_test.exs
  app/test/operately_web/api/spaces/list_test.exs
  app/test/support/features/project_templates_steps.ex
  specs/0017-project-templates.md
  turboui/src/ConfirmDialog/index.tsx
  turboui/src/ProjectPageLayout/PageHeader.tsx
  turboui/src/ProjectPageLayout/index.tsx
  turboui/src/ProjectTemplateLifecycle/index.tsx
  turboui/src/ProjectTemplatesPage/TemplateCard.tsx
  turboui/src/ProjectTemplatesPage/index.stories.tsx
  turboui/src/ProjectTemplatesPage/index.test.tsx
  turboui/src/ProjectTemplatesPage/index.tsx
  turboui/src/ProjectTemplatesPage/utils.ts
  turboui/src/TemplateProjectPage/DocsAndFiles.tsx
  turboui/src/TemplateProjectPage/Overview.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

fix: Stabilize contributor search in project templates
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

Make the button minimalist
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

fix: Stabilize contributor search in project templates (#5075)
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/TemplateProjectPage/People.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

chore: Add requester-aware Getter list
  app/lib/operately/groups/group.ex
  app/lib/operately/repo/getter.ex
  app/lib/operately/repo/getter/args.ex
  app/lib/operately/repo/getter/auth_preloader.ex
  app/lib/operately/repo/getter/base_query.ex
  app/lib/operately/repo/getter/get.ex
  app/lib/operately/repo/getter/list.ex
  app/lib/operately/repo/request_info.ex
  app/lib/operately_web/api/spaces/list.ex
  app/test/operately/repo/getter_test.exs
Due: App Tests

Update skills
  .agents/skills/clean-code/SKILL.md
  .agents/skills/clean-code/getter.md
Due: none

chore: Add requester-aware Getter list (#5076)
  .agents/skills/clean-code/SKILL.md
  .agents/skills/clean-code/getter.md
  app/lib/operately/groups/group.ex
  app/lib/operately/repo/getter.ex
  app/lib/operately/repo/getter/args.ex
  app/lib/operately/repo/getter/auth_preloader.ex
  app/lib/operately/repo/getter/base_query.ex
  app/lib/operately/repo/getter/get.ex
  app/lib/operately/repo/getter/list.ex
  app/lib/operately/repo/request_info.ex
  app/lib/operately_web/api/spaces/list.ex
  app/test/operately/repo/getter_test.exs
Due: App Tests

chore: Allow host customization in development
  Makefile
  app/config/runtime.exs
  app/lib/operately_web/controllers/page_controller.ex
  app/test/operately_web/controllers/page_controller_test.exs
  app/vite.config.mjs
  devenv
  docker-compose.yml
  docs/dev-env.md
Due: App Tests

Tighten services exposure
  docker-compose.yml
  docs/dev-env.md
Due: none

chore: Allow host customization in development (#5077)
  Makefile
  app/config/runtime.exs
  app/lib/operately_web/controllers/page_controller.ex
  app/test/operately_web/controllers/page_controller_test.exs
  app/vite.config.mjs
  devenv
  docker-compose.yml
  docs/dev-env.md
Due: App Tests

chore: Drive TaskPage UI from a required variant prop
  app/assets/js/models/milestones/index.tsx
  app/assets/js/models/milestones/useMilestones.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpaceKanbanPage/index.tsx
  app/assets/js/pages/TaskPage/index.tsx
  turboui/src/MilestoneKanbanPage/MilestoneKanbanPage.stories.tsx
  turboui/src/MilestonePage/templateMockData.ts
  turboui/src/SpaceKanbanPage/SpaceKanbanPage.stories.tsx
  turboui/src/TaskBoard/KanbanView/TaskSlideIn.test.tsx
  turboui/src/TaskBoard/KanbanView/TaskSlideIn.tsx
  turboui/src/TaskPage/InProjectContextStory.tsx
  turboui/src/TaskPage/Overview.tsx
  turboui/src/TaskPage/PageHeader.tsx
  turboui/src/TaskPage/Sidebar.tsx
  turboui/src/TaskPage/index.stories.tsx
  turboui/src/TaskPage/index.tsx
  turboui/src/TaskPage/variantFeatures.test.ts
  turboui/src/TaskPage/variantFeatures.ts
  turboui/src/utils/storybook/tasks.tsx
Due: Turboui, App Tests

Require due-offset handler for template TaskPage variant
  turboui/src/TaskPage/DeleteModal.tsx
  turboui/src/TaskPage/MoveModal.tsx
  turboui/src/TaskPage/Overview.tsx
  turboui/src/TaskPage/PageHeader.tsx
  turboui/src/TaskPage/PageOptions.tsx
  turboui/src/TaskPage/Sidebar.tsx
  turboui/src/TaskPage/index.tsx
  turboui/src/TaskPage/types.ts
Due: Turboui, App Tests

chore: Drive TaskPage UI from a required variant prop (#5078)
  app/assets/js/models/milestones/index.tsx
  app/assets/js/models/milestones/useMilestones.tsx
  app/assets/js/models/tasks/useTaskSlideInProps.tsx
  app/assets/js/pages/MilestoneKanbanPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/SpaceKanbanPage/index.tsx
  app/assets/js/pages/TaskPage/index.tsx
  turboui/src/MilestoneKanbanPage/MilestoneKanbanPage.stories.tsx
  turboui/src/MilestonePage/templateMockData.ts
  turboui/src/SpaceKanbanPage/SpaceKanbanPage.stories.tsx
  turboui/src/TaskBoard/KanbanView/TaskSlideIn.test.tsx
  turboui/src/TaskBoard/KanbanView/TaskSlideIn.tsx
  turboui/src/TaskPage/DeleteModal.tsx
  turboui/src/TaskPage/InProjectContextStory.tsx
  turboui/src/TaskPage/MoveModal.tsx
  turboui/src/TaskPage/Overview.tsx
  turboui/src/TaskPage/PageHeader.tsx
  turboui/src/TaskPage/PageOptions.tsx
  turboui/src/TaskPage/Sidebar.tsx
  turboui/src/TaskPage/index.stories.tsx
  turboui/src/TaskPage/index.tsx
  turboui/src/TaskPage/types.ts
  turboui/src/TaskPage/variantFeatures.test.ts
  turboui/src/TaskPage/variantFeatures.ts
  turboui/src/utils/storybook/tasks.tsx
Due: Turboui, App Tests

Fix stories
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/utils/storybook/tasks.tsx
Due: Turboui, App Tests

chore: Milestone page supports Project and Project Templates
  app/assets/js/pages/MilestonePage/index.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/MilestonePage/components/DeleteModal.tsx
  turboui/src/MilestonePage/components/Header.tsx
  turboui/src/MilestonePage/components/ProjectTasksSection.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/components/TaskSectionEmptyState.tsx
  turboui/src/MilestonePage/components/TaskSectionLayout.tsx
  turboui/src/MilestonePage/components/TasksSection.test.tsx
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/components/TemplateTasksSection.tsx
  turboui/src/MilestonePage/components/useTaskSlideIn.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/MilestonePage/variantFeatures.test.ts
  turboui/src/MilestonePage/variantFeatures.ts
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/components/InlineTaskCreator.test.tsx
  turboui/src/TaskBoard/components/InlineTaskCreator.tsx
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/utils/storybook/templateTasks.tsx
Due: Turboui, App Tests

chore: Milestone page supports Project and Project Templates (#5079)
  app/assets/js/pages/MilestonePage/index.tsx
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/MilestonePage/components/DeleteModal.tsx
  turboui/src/MilestonePage/components/Header.tsx
  turboui/src/MilestonePage/components/ProjectTasksSection.tsx
  turboui/src/MilestonePage/components/Sidebar.tsx
  turboui/src/MilestonePage/components/TaskSectionEmptyState.tsx
  turboui/src/MilestonePage/components/TaskSectionLayout.tsx
  turboui/src/MilestonePage/components/TasksSection.test.tsx
  turboui/src/MilestonePage/components/TasksSection.tsx
  turboui/src/MilestonePage/components/TemplateTasksSection.tsx
  turboui/src/MilestonePage/components/useTaskSlideIn.tsx
  turboui/src/MilestonePage/index.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/MilestonePage/variantFeatures.test.ts
  turboui/src/MilestonePage/variantFeatures.ts
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/components/InlineTaskCreator.test.tsx
  turboui/src/TaskBoard/components/InlineTaskCreator.tsx
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/utils/storybook/tasks.tsx
  turboui/src/utils/storybook/templateTasks.tsx
Due: Turboui, App Tests

feat: Add a project template milestone page
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/operations.test.ts
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/useTemplateTaskSlideInProps.test.tsx
  app/assets/js/models/projectTemplates/useTemplateTaskSlideInProps.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/index.test.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/loader.tsx
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/people.ts
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.test.ts
  app/assets/js/routes/paths.test.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/paths.ex
  app/test/features/project_templates/editor_test.exs
  app/test/support/features/project_templates_steps.ex
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/MilestonePage/components/TemplateTasksSection.tsx
  turboui/src/MilestonePage/components/useTaskSlideIn.test.tsx
  turboui/src/MilestonePage/components/useTaskSlideIn.tsx
  turboui/src/MilestonePage/templateMockData.ts
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TemplateProjectPage/MilestoneList.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/TemplateProjectPage/useOptimisticTemplateTaskReorder.test.tsx
  turboui/src/TemplateProjectPage/useOptimisticTemplateTaskReorder.ts
  turboui/src/index.tsx
  turboui/src/utils/storybook/templateTasks.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/projectTemplates/operations.test.ts
Due: App Tests

Honor template milestone task order and save results
  app/assets/js/models/projectTemplates/useTemplateTaskSlideInProps.test.tsx
  app/assets/js/models/projectTemplates/useTemplateTaskSlideInProps.tsx
  turboui/src/MilestonePage/components/TasksSection.test.tsx
  turboui/src/MilestonePage/components/TemplateTasksSection.tsx
  turboui/src/TemplateProjectPage/MilestoneList.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/utils/orderByIds.test.ts
  turboui/src/utils/orderByIds.ts
Due: Turboui, App Tests

feat: Add a project template milestone page (#5080)
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/operations.test.ts
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/useTemplateTaskSlideInProps.test.tsx
  app/assets/js/models/projectTemplates/useTemplateTaskSlideInProps.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/index.test.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/loader.tsx
  app/assets/js/pages/ProjectTemplatePage/index.test.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/people.ts
  app/assets/js/pages/index.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/paths.test.ts
  app/assets/js/routes/paths.test.tsx
  app/assets/js/routes/paths.tsx
  app/lib/operately_web/paths.ex
  app/test/features/project_templates/editor_test.exs
  app/test/support/features/project_templates_steps.ex
  turboui/src/MilestonePage/MilestonePage.stories.tsx
  turboui/src/MilestonePage/components/TasksSection.test.tsx
  turboui/src/MilestonePage/components/TemplateTasksSection.tsx
  turboui/src/MilestonePage/components/useTaskSlideIn.test.tsx
  turboui/src/MilestonePage/components/useTaskSlideIn.tsx
  turboui/src/MilestonePage/templateMockData.ts
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TemplateProjectPage/MilestoneList.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.stories.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/index.tsx
  turboui/src/TemplateProjectPage/useOptimisticTemplateTaskReorder.test.tsx
  turboui/src/TemplateProjectPage/useOptimisticTemplateTaskReorder.ts
  turboui/src/index.tsx
  turboui/src/utils/orderByIds.test.ts
  turboui/src/utils/orderByIds.ts
  turboui/src/utils/storybook/templateTasks.tsx
Due: Turboui, App Tests

fix: Stop test.seed.env from appending duplicate .env lines
  Makefile
Due: none

fix: Stop test.seed.env from appending duplicate .env lines (#5081)
  Makefile
Due: none

docs: slim down root AGENTS.md by extracting detail into skills
  .agents/skills/activity-system/SKILL.md
  .agents/skills/ecto-migrations/SKILL.md
  AGENTS.md
Due: none

Backend handles logic to persist project and template list order by index
  app/assets/js/api/index.tsx
  app/lib/operately/operations/milestone_ordering_state_updating.ex
  app/lib/operately/operations/project_template_milestone_ordering_updating.ex
  app/lib/operately/tasks/ordering_state.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/helpers.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_milestone_and_ordering.ex
  app/lib/operately_web/api/project_templates/update_task.ex
  app/lib/operately_web/api/tasks.ex
  app/test/operately/operations/milestone_ordering_state_updating_test.exs
  app/test/operately/operations/project_template_milestone_ordering_updating_test.exs
  app/test/operately/tasks/ordering_state_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_milestone_and_ordering.ex
  app/test/operately_web/api/external_mutations/mutations/tasks/update_milestone_and_ordering.ex
  app/test/operately_web/api/mutations/tasks_permissions_test.exs
  app/test/operately_web/api/project_templates/update_milestone_and_ordering_test.exs
  app/test/operately_web/api/project_templates/update_task_test.exs
  app/test/operately_web/api/tasks_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/TemplateProjectPage/useOptimisticTemplateTaskReorder.test.tsx
  turboui/src/TemplateProjectPage/useOptimisticTemplateTaskReorder.ts
Due: Turboui, App Tests

Share optimistic list reorder for project and template tasks
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/operations.test.ts
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.test.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.tsx
  app/assets/js/models/tasks/listOrdering.test.ts
  app/assets/js/models/tasks/listOrdering.ts
  app/assets/js/models/tasks/milestoneOrdering.test.tsx
  app/assets/js/models/tasks/milestoneOrdering.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.test.ts
  app/assets/js/models/tasks/listOrdering.ts
Due: App Tests

chore: Persist both project and template list order by index (#5083)
  app/assets/js/api/index.tsx
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/operations.test.ts
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.test.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.tsx
  app/assets/js/models/tasks/listOrdering.test.ts
  app/assets/js/models/tasks/listOrdering.ts
  app/assets/js/models/tasks/milestoneOrdering.test.tsx
  app/assets/js/models/tasks/milestoneOrdering.tsx
  app/assets/js/models/tasks/useProjectTasksForTurboUi.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  app/lib/operately/operations/milestone_ordering_state_updating.ex
  app/lib/operately/operations/project_template_milestone_ordering_updating.ex
  app/lib/operately/tasks/ordering_state.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/project_templates/helpers.ex
  app/lib/operately_web/api/project_templates/shared_steps.ex
  app/lib/operately_web/api/project_templates/update_milestone_and_ordering.ex
  app/lib/operately_web/api/project_templates/update_task.ex
  app/lib/operately_web/api/tasks.ex
  app/test/operately/operations/milestone_ordering_state_updating_test.exs
  app/test/operately/operations/project_template_milestone_ordering_updating_test.exs
  app/test/operately/tasks/ordering_state_test.exs
  app/test/operately_web/api/external_mutations/mutations.ex
  app/test/operately_web/api/external_mutations/mutations/project_templates/update_milestone_and_ordering.ex
  app/test/operately_web/api/external_mutations/mutations/tasks/update_milestone_and_ordering.ex
  app/test/operately_web/api/mutations/tasks_permissions_test.exs
  app/test/operately_web/api/project_templates/update_milestone_and_ordering_test.exs
  app/test/operately_web/api/project_templates/update_task_test.exs
  app/test/operately_web/api/tasks_test.exs
  cli/docs/commands.md
  cli/src/generated/api-catalog.json
  turboui/src/TaskBoard/components/TemplateTaskList.tsx
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/TemplateProjectPage/useOptimisticTemplateTaskReorder.test.tsx
  turboui/src/TemplateProjectPage/useOptimisticTemplateTaskReorder.ts
Due: Turboui, App Tests

feat: Project template edits are saved optimistically
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/operations.test.ts
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/optimisticUpdates.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.test.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.tsx
  turboui/src/TaskBoard/KanbanView/types.ts
Due: Turboui, App Tests

feat: Project template edits are saved optimistically (#5084)
  app/assets/js/models/projectTemplates/index.tsx
  app/assets/js/models/projectTemplates/operations.test.ts
  app/assets/js/models/projectTemplates/operations.ts
  app/assets/js/models/projectTemplates/optimisticUpdates.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.test.ts
  app/assets/js/models/projectTemplates/useTemplateTasksForTurboUi.tsx
  app/assets/js/pages/ProjectTemplateMilestonePage/index.tsx
  app/assets/js/pages/ProjectTemplatePage/index.tsx
  turboui/src/MilestonePage/types.ts
  turboui/src/TaskBoard/KanbanView/types.ts
  turboui/src/TemplateProjectPage/index.tsx
Due: Turboui, App Tests

chore: Share one task creation modal for projects and templates
  turboui/src/MilestonePage/index.tsx
  turboui/src/TaskBoard/components/MilestoneCard.tsx
  turboui/src/TaskBoard/components/TaskCreationModal.tsx
  turboui/src/TaskBoard/components/index.tsx
  turboui/src/TaskBoard/stories/TaskCreationModal.stories.tsx
  turboui/src/TaskCreationModal/index.stories.tsx
  turboui/src/TaskCreationModal/index.tsx
  turboui/src/TaskCreationModal/types.ts
  turboui/src/TemplateProjectPage/TaskBoard.tsx
  turboui/src/TemplateProjectPage/TaskRow.tsx
  turboui/src/TemplateProjectPage/index.test.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Path conditions:
  Turboui: any of: turboui
  App Tests: (any of: app) or (any of: turboui)
