Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

fix: restore resource-link CI checks
  app/assets/js/pages/SpaceKpisPage/KpiEntryComments.test.tsx
  app/lib/operately/rich_content/resource_links.ex
Due: App Tests

fix: type company loader mocks for tsc lint
  app/assets/js/contexts/LanguageContext.test.tsx
  app/assets/js/pages/ProfileEditPage/index.test.tsx
Due: App Tests

fix: Stream public attachments before temporary file cleanup
  app/lib/operately_web/controllers/public_document_controller.ex
  app/test/operately_web/controllers/public_document_controller_test.exs
Due: App Tests

fix: Refine public sharing controls and document layout
  app/assets/js/pages/ResourceHubDocumentPage/Options.test.tsx
  app/assets/js/pages/ResourceHubDocumentPage/Options.tsx
  app/lib/operately/activities/content/resource_hub_document_public_sharing_changed.ex
  app/test/support/features/resource_hub_document/public_sharing_steps.ex
  turboui/src/DocumentPage/index.tsx
  turboui/src/PublicDocumentPage/index.test.tsx
  turboui/src/PublicDocumentPage/index.tsx
Due: Turboui, App Tests

fix: Add public document attribution and correct stream types
  app/lib/operately_web/controllers/public_document_controller.ex
  app/test/support/features/resource_hub_document/public_sharing_steps.ex
  turboui/src/PublicDocumentPage/index.test.tsx
  turboui/src/PublicDocumentPage/index.tsx
Due: Turboui, App Tests

Adjustments
  app/assets/js/api/index.tsx
  turboui/src/ApiTypes/index.ts
  turboui/src/RichContent/resourceLinks.ts
  turboui/src/utils/ids.ts
Due: Turboui, App Tests

fix: cap unique resource link lookups
  app/lib/operately/rich_content/resource_link_resolver.ex
  app/test/operately_web/api/rich_content/resolve_links_test.exs
Due: App Tests

feat: show resource titles for Operately links in rich text
  app/assets/js/api/index.tsx
  app/assets/js/features/CommentSection/useCommentSection.test.tsx
  app/assets/js/features/CommentSection/useCommentSection.ts
  app/assets/js/hooks/useRichEditorHandlers.tsx
  app/assets/js/models/resourceLinks/useResourceLinkTitles.ts
  app/assets/js/pages/DiscussionPage/page.tsx
  app/assets/js/pages/GoalPage/index.tsx
  app/assets/js/pages/MilestonePage/index.tsx
  app/assets/js/pages/ProjectDiscussionPage/page.tsx
  app/assets/js/pages/ProjectPage/index.tsx
  app/assets/js/pages/ResourceHubDocumentPage/page.tsx
  app/assets/js/pages/ResourceHubFilePage/page.tsx
  app/assets/js/pages/ResourceHubLinkPage/page.tsx
  app/assets/js/pages/TaskPage/index.tsx
  app/lib/operately/rich_content/resource_link_resolver.ex
  app/lib/operately/rich_content/resource_links.ex
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/rich_content/resolve_links.ex
  app/lib/operately_web/api/types.ex
  app/test/operately/rich_content/resource_links_test.exs
  app/test/operately_web/api/rich_content/resolve_links_test.exs
  turboui/src/ApiTypes/index.ts
  turboui/src/CommentSection/CommentItem.tsx
  turboui/src/DocumentPage/index.tsx
  turboui/src/FilePage/index.tsx
  turboui/src/FilePage/types.ts
  turboui/src/Forms/RichTextArea.tsx
  turboui/src/LinkPage/index.tsx
  turboui/src/LinkPage/types.ts
  turboui/src/PageDescription/index.tsx
  turboui/src/RichContent/index.test.tsx
  turboui/src/RichContent/index.tsx
  turboui/src/RichContent/resourceLinks.test.ts
  turboui/src/RichContent/resourceLinks.ts
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

Fix compiler error
  app/lib/operately/repo/getter/base_query.ex
Due: App Tests

fix: apply reviewed Brazilian Portuguese terminology
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately/i18n/pt_br_translations_test.exs
  docs/internationalization.md
Due: App Tests

fix: type ProfileEditPage rich text handlers for tsc lint
  turboui/src/ProfileEditPage/index.test.tsx
Due: Turboui, App Tests

feat: apply saved profile language and cover picker gating
  app/assets/js/contexts/LanguageContext.test.tsx
  app/assets/js/i18n.test.ts
  app/assets/js/pages/ProfileEditPage/index.test.tsx
  app/assets/js/pages/ProfileEditPage/index.tsx
  app/test/features/account_settings_test.exs
  app/test/support/features/account_settings_steps.ex
  docs/internationalization.md
  turboui/src/ProfileEditPage/index.test.tsx
Due: Turboui, App Tests

fix: keep profile save navigation if language apply fails
  app/assets/js/pages/ProfileEditPage/index.test.tsx
  app/assets/js/pages/ProfileEditPage/index.tsx
  app/test/support/features/account_settings_steps.ex
Due: App Tests

fix: type unsupported language mock for tsc lint
  app/assets/js/contexts/LanguageContext.test.tsx
Due: App Tests

chore: remove legacy generated query API
  app/assets/js/api/index.tsx
  app/assets/js/api/queryClient.test.ts
  app/assets/js/api/queryErrors.test.ts
  app/assets/js/features/Feed/useFeedItemsQuery.test.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.ts
  app/ee/assets/js/admin_api/index.tsx
  app/lib/turbo_connect/ts_gen.ex
  app/lib/turbo_connect/ts_gen/queries.ex
  app/test/turbo_connect/ts_gen_test.exs
Due: App Tests

chore: drop leftover public raw query methods
  app/assets/js/api/index.tsx
  app/assets/js/features/Feed/useFeedItemsQuery.ts
  app/ee/assets/js/admin_api/index.tsx
  app/lib/turbo_connect/ts_gen.ex
  app/lib/turbo_connect/ts_gen/queries.ex
  app/test/turbo_connect/ts_gen_test.exs
Due: App Tests

fix: refresh search and people labels when language changes
  app/assets/js/models/search/useCompanySearch.test.tsx
  app/assets/js/models/search/useCompanySearch.ts
  app/assets/js/pages/CompanyAdminManagePeoplePage/index.test.tsx
  app/assets/js/pages/CompanyAdminManagePeoplePage/index.tsx
  app/priv/i18n/extract_frontend.cjs
  app/test/operately/i18n/frontend_extractor_test.exs
  turboui/src/SearchPage/filterOptions.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/utils/strings.tsx
Due: App Tests

pass translator to import upload status helper
  turboui/src/CompanyImportPage/index.tsx
Due: Turboui, App Tests

refresh translated labels and repair localized links
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/pages/CompanyAdminAddPeoplePage/index.test.tsx
  app/assets/js/pages/CompanyAdminAddPeoplePage/index.tsx
  app/assets/js/pages/CompanyAdminRestoreSuspendedPeoplePage/index.tsx
  app/assets/js/pages/CompanyBillingCancellationPage/page.tsx
  app/assets/js/pages/CompanyBillingPage/page.tsx
  app/assets/js/pages/CompanyBillingPlanSelectionPage/page.tsx
  app/assets/js/pages/LoginPage/index.tsx
  app/assets/js/pages/NewCompanyPage/index.tsx
  app/assets/js/pages/SignUpPage/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  turboui/src/AccountMcpConnectionsPage/index.tsx
  turboui/src/CompanyBillingPage/viewModel.ts
  turboui/src/GlobalSearch/SearchOverlay.tsx
  turboui/src/GlobalSearch/index.test.tsx
  turboui/src/GlobalSearch/searchOptions.tsx
  turboui/src/LobbyPage/index.test.tsx
  turboui/src/LobbyPage/index.tsx
Due: Turboui, App Tests

fix: use complete translatable access summary messages
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  turboui/src/AccessLevelSummary/descriptions.ts
  turboui/src/AccessLevelSummary/index.test.ts
  turboui/src/AccessLevelSummary/index.tsx
Due: Turboui, App Tests

chore: add github issues -> discord action
  .github/workflows/discord-issues.yml
Due: none

make it safe
  .github/workflows/discord-issues.yml
Due: none

chore: add github issues -> discord action (#5358)
  .github/workflows/discord-issues.yml
Due: none

fix: format permission getters and access badge data
  app/assets/js/components/Badges/AccessLevelBadges.tsx
  app/assets/js/features/Permissions/index.tsx
Due: App Tests

fix: Make pasted URLs immediately clickable in rich text
  turboui/src/Forms/RichTextArea.test.tsx
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/extensions/Link/index.ts
  turboui/src/RichEditor/markdownInputRules.test.ts
  turboui/src/RichEditor/useEditor.paste.test.tsx
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

Review and adjust translations
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/i18n.test.ts
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

feat: Complete Portuguese translations for shared, account, and admin screens
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/i18n.test.ts
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
Due: App Tests

Adjustment
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/extensions/Link/index.ts
Due: Turboui, App Tests

handle zero counts in Portuguese plural translations
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/i18n.test.ts
  app/lib/operately/i18n/converter.ex
  app/lib/operately/i18n/locale.ex
  app/test/operately/i18n/converter_test.exs
  docs/internationalization.md
Due: App Tests

fix: Make pasted URLs immediately clickable in rich text (#5360)
  turboui/src/Forms/RichTextArea.test.tsx
  turboui/src/RichEditor/createRichEditorExtensions.ts
  turboui/src/RichEditor/extensions/Link/index.ts
  turboui/src/RichEditor/markdownInputRules.test.ts
  turboui/src/RichEditor/useEditor.paste.test.tsx
  turboui/src/RichEditor/useEditor.tsx
Due: Turboui, App Tests

Fix
  app/lib/operately/i18n/converter.ex
  app/test/operately/i18n/converter_test.exs
Due: App Tests

feat: Complete Portuguese translations for shared, account, and admin screens (#5361)
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/i18n.test.ts
  app/lib/operately/i18n/converter.ex
  app/lib/operately/i18n/locale.ex
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately/i18n/converter_test.exs
  docs/internationalization.md
Due: App Tests
