Repository operately/operately: changes, and which Semaphore blocks are due for each by the changed paths.
All: Turboui, App Tests

.semaphore/semaphore.yml:

version: v1.0
name: Operately â€” Build & Test
agent:
  machine:
    type: f1-standard-2
    os_image: ubuntu2004

auto_cancel:
  running:
    when: "branch != 'main'"

blocks:
  - name: License Check
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.up
      jobs:
        - name: Licence Check
          commands:
            - make test.license.check

  - name: Turboui
    run:
      when: "change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - make test.build

      jobs:
        - name: Turbo Lint
          commands:
            - make turboui.build

        - name: Turbo Test
          commands:
            - make turboui.test

      epilogue:
        always:
          commands:
            - "[ -f turboui/testreports/junit.xml ] && test-results publish turboui/testreports/junit.xml"

  - name: App Tests
    run:
      when: "change_in('/app', {default_branch: 'main'}) or change_in('/turboui', {default_branch: 'main'})"
    dependencies: []
    task:
      secrets:
        - name: ci-cache-credentials
      prologue:
        commands:
          - checkout
          - cache restore app-deps
          - cache restore app-build
          - cache restore app-node-modules
          - cache restore turboui-node-modules
          - cache restore turboui-dist
          - ./scripts/cache-fix-for-erlang
          - make test.build

      jobs:
        - name: Lint
          commands:
            - make test.js.dead.code
            - make test.tsc.lint
            - make test.elixir.warnings
            - make test.pr.name
            - make test.icons.check

        - name: Dialyzer
          commands:
            - make test.dialyzer

        - name: Unit Tests
          commands:
            - make test.mix.unit
            - make test.ee
            - make test.npm

        - name: Features
          parallelism: 14
          commands:
            - make test.mix.features INDEX=$SEMAPHORE_JOB_INDEX TOTAL=$SEMAPHORE_JOB_COUNT

      epilogue:
        always:
          commands:
            - "[ -f app/testreports/junit.xml ] && test-results publish app/testreports/junit.xml"
            - artifact push workflow screenshots

  - name: Docker Build
    dependencies: []
    task:
      secrets:
        - name: docker-push
      prologue:
        commands:
          - checkout
          - cache restore
      jobs:
        - name: "Docker Release"
          commands:
            - docker pull operately/operately:latest
            - make docker.build
            - 'if [[ "$SEMAPHORE_GIT_BRANCH" = "main" && "$SEMAPHORE_GIT_REF_TYPE" = "branch" ]]; then make docker.push; else echo "Skipping Docker push"; fi'

after_pipeline:
  task:
    jobs:
      - name: Publish Results
        commands:
          - test-results gen-pipeline-report

promotions:
  - name: Production Deployment
    pipeline_file: deploy.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

  - name: Populate CI Cache
    pipeline_file: cache.yml
    auto_promote:
      when: "result = 'passed' and branch = 'main'"

Remove reference to Resource Hub
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/lib/operately_email/templates/resource_hub_document_deleted.html.eex
  app/lib/operately_email/templates/resource_hub_file_deleted.html.eex
  app/lib/operately_email/templates/resource_hub_link_deleted.html.eex
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

Adjust 'due date' translation
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately_email/emails/assignments_email_test.exs
Due: App Tests

Prevent duplicate billing alerts on retry
  app/lib/operately/billing/limit_breach_alert_email_worker.ex
  app/lib/operately/billing/near_limit_alert_email_worker.ex
  app/lib/operately_email/emails/billing_limit_reached_email.ex
  app/lib/operately_email/emails/billing_near_limit_warning_email.ex
  app/lib/operately_email/mailers/billing_mailer.ex
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately/billing/limit_breach_alert_email_worker_test.exs
  app/test/operately/billing/near_limit_alert_email_worker_test.exs
  app/test/operately_email/mailers/billing_mailer_test.exs
Due: App Tests

Adjust the translation of 'email'
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately/company_transfers/public_error_message_test.exs
  docs/internationalization.md
Due: App Tests

Preserve and translate invitation validation limits
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/lib/operately/i18n/validation_errors.ex
  app/lib/operately/operations/company_member_adding.ex
  app/lib/operately/operations/guest_inviting.ex
  app/lib/operately_web/api/companies/create_member.ex
  app/lib/operately_web/api/companies/invite_guest.ex
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately/i18n/validation_errors_test.exs
  app/test/operately_web/api/companies/create_member_test.exs
  app/test/operately_web/api/companies/invite_guest_test.exs
Due: App Tests

feat: Translate people directory, org chart, and profiles
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/pages/PeopleOrgChartPage/page.test.tsx
  app/assets/js/pages/PeopleOrgChartPage/page.tsx
  app/assets/js/pages/PeoplePage/page.test.tsx
  app/assets/js/pages/PeoplePage/page.tsx
  app/assets/js/pages/ProfilePage/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
  turboui/src/PeopleOrgChartPage/index.stories.tsx
  turboui/src/PeopleOrgChartPage/index.test.tsx
  turboui/src/PeopleOrgChartPage/index.tsx
  turboui/src/PeoplePage/index.stories.tsx
  turboui/src/PeoplePage/index.test.tsx
  turboui/src/PeoplePage/index.tsx
  turboui/src/ProfilePage/components/AboutMe.tsx
  turboui/src/ProfilePage/components/Colleagues.tsx
  turboui/src/ProfilePage/components/index.tsx
  turboui/src/ProfilePage/index.test.tsx
  turboui/src/ProfilePage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Fix lint
  app/assets/js/pages/PeopleOrgChartPage/useOrgChart.tsx
Due: App Tests

feat: Translate people directory, org chart, and profiles (#5416)
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/pages/PeopleOrgChartPage/page.test.tsx
  app/assets/js/pages/PeopleOrgChartPage/page.tsx
  app/assets/js/pages/PeopleOrgChartPage/useOrgChart.tsx
  app/assets/js/pages/PeoplePage/page.test.tsx
  app/assets/js/pages/PeoplePage/page.tsx
  app/assets/js/pages/ProfilePage/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  docs/internationalization.md
  specs/0018-internationalization.md
  turboui/src/PeopleOrgChartPage/index.stories.tsx
  turboui/src/PeopleOrgChartPage/index.test.tsx
  turboui/src/PeopleOrgChartPage/index.tsx
  turboui/src/PeoplePage/index.stories.tsx
  turboui/src/PeoplePage/index.test.tsx
  turboui/src/PeoplePage/index.tsx
  turboui/src/ProfilePage/components/AboutMe.tsx
  turboui/src/ProfilePage/components/Colleagues.tsx
  turboui/src/ProfilePage/components/index.tsx
  turboui/src/ProfilePage/index.test.tsx
  turboui/src/ProfilePage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Localize home, review, and company banners
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.tsx
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/SiteMessageBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/SiteMessageBanner.tsx
  app/assets/js/models/billing/dangerBanner.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/HomePage/index.test.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/assets/js/pages/ReviewPage/index.test.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  specs/0018-internationalization.md
  turboui/src/BillingDangerBanner/index.stories.tsx
  turboui/src/BillingDangerBanner/index.test.tsx
  turboui/src/BillingDangerBanner/index.tsx
  turboui/src/BillingDangerBanner/mockData.ts
  turboui/src/BillingDangerBanner/types.ts
  turboui/src/HomePage/SpacesZeroState.tsx
  turboui/src/HomePage/index.stories.tsx
  turboui/src/HomePage/index.test.tsx
  turboui/src/HomePage/index.tsx
  turboui/src/ProductReleaseAnnouncement/index.test.tsx
  turboui/src/ProductReleaseAnnouncement/index.tsx
  turboui/src/ReviewPage/AssignmentsList.tsx
  turboui/src/ReviewPage/index.test.tsx
  turboui/src/ReviewPage/index.tsx
  turboui/src/ReviewPage/stories/ReviewPage.stories.tsx
  turboui/src/SiteMessageBanner/index.stories.tsx
  turboui/src/SiteMessageBanner/index.test.tsx
  turboui/src/SiteMessageBanner/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Adjustments
  app/assets/js/models/billing/dangerBanner.test.ts
  app/assets/js/models/billing/dangerBanner.ts
  turboui/src/BillingDangerBanner/index.tsx
  turboui/src/BillingDangerBanner/mockData.ts
  turboui/src/BillingDangerBanner/types.ts
  turboui/src/ReviewPage/stories/mockData.ts
Due: Turboui, App Tests

feat: Localize home, review, and company banners (#5417)
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/BillingDangerBanner.tsx
  app/assets/js/layouts/CompanyLayout/ProductReleaseAnnouncementBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/SiteMessageBanner.test.tsx
  app/assets/js/layouts/CompanyLayout/SiteMessageBanner.tsx
  app/assets/js/models/billing/dangerBanner.test.ts
  app/assets/js/models/billing/dangerBanner.ts
  app/assets/js/models/billing/index.ts
  app/assets/js/pages/HomePage/index.test.tsx
  app/assets/js/pages/HomePage/index.tsx
  app/assets/js/pages/ReviewPage/index.test.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  specs/0018-internationalization.md
  turboui/src/BillingDangerBanner/index.stories.tsx
  turboui/src/BillingDangerBanner/index.test.tsx
  turboui/src/BillingDangerBanner/index.tsx
  turboui/src/BillingDangerBanner/mockData.ts
  turboui/src/BillingDangerBanner/types.ts
  turboui/src/HomePage/SpacesZeroState.tsx
  turboui/src/HomePage/index.stories.tsx
  turboui/src/HomePage/index.test.tsx
  turboui/src/HomePage/index.tsx
  turboui/src/ProductReleaseAnnouncement/index.test.tsx
  turboui/src/ProductReleaseAnnouncement/index.tsx
  turboui/src/ReviewPage/AssignmentsList.tsx
  turboui/src/ReviewPage/index.test.tsx
  turboui/src/ReviewPage/index.tsx
  turboui/src/ReviewPage/stories/ReviewPage.stories.tsx
  turboui/src/ReviewPage/stories/mockData.ts
  turboui/src/SiteMessageBanner/index.stories.tsx
  turboui/src/SiteMessageBanner/index.test.tsx
  turboui/src/SiteMessageBanner/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

feat: Localize error pages, billing picker, and public documents
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/pages/BillingPickCompanyPage/index.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/NotFoundPage/index.test.tsx
  app/assets/js/pages/NotFoundPage/index.tsx
  app/assets/js/pages/PublicDocumentPage/index.test.tsx
  app/assets/js/routes/ErrorPage.test.tsx
  app/assets/js/routes/ErrorPage.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  specs/0018-internationalization.md
  turboui/src/BillingPickCompanyPage/index.stories.tsx
  turboui/src/BillingPickCompanyPage/index.test.tsx
  turboui/src/BillingPickCompanyPage/index.tsx
  turboui/src/ErrorPage/index.stories.tsx
  turboui/src/ErrorPage/index.test.tsx
  turboui/src/ErrorPage/index.tsx
  turboui/src/PublicDocumentPage/index.test.tsx
  turboui/src/PublicDocumentPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

resolve language for public routes and router error pages
  app/assets/js/api/index.tsx
  app/assets/js/contexts/RouteLanguageProvider.tsx
  app/assets/js/i18n/routeLanguageQuery.ts
  app/assets/js/routes/index.tsx
  app/assets/js/routes/language.test.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/internal.ex
  app/lib/operately_web/api/queries/get_language.ex
  app/test/operately_web/api/queries/get_language_test.exs
  cli/src/generated/api-catalog.json
  specs/0018-internationalization.md
  turboui/src/ApiTypes/index.ts
Due: Turboui, App Tests

Fix lint
  app/assets/js/utils/plurarize.tsx
Due: App Tests

feat: Localize error pages, billing picker, and public documents (#5418)
  app/assets/js/api/index.tsx
  app/assets/js/contexts/RouteLanguageProvider.tsx
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/assets/js/i18n/routeLanguageQuery.ts
  app/assets/js/pages/BillingPickCompanyPage/index.test.tsx
  app/assets/js/pages/BillingPickCompanyPage/index.tsx
  app/assets/js/pages/NotFoundPage/index.test.tsx
  app/assets/js/pages/NotFoundPage/index.tsx
  app/assets/js/pages/PublicDocumentPage/index.test.tsx
  app/assets/js/routes/ErrorPage.test.tsx
  app/assets/js/routes/ErrorPage.tsx
  app/assets/js/routes/index.tsx
  app/assets/js/routes/language.test.tsx
  app/assets/js/utils/plurarize.tsx
  app/lib/operately_web/api.ex
  app/lib/operately_web/api/internal.ex
  app/lib/operately_web/api/queries/get_language.ex
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  app/test/operately_web/api/queries/get_language_test.exs
  cli/src/generated/api-catalog.json
  specs/0018-internationalization.md
  turboui/src/ApiTypes/index.ts
  turboui/src/BillingPickCompanyPage/index.stories.tsx
  turboui/src/BillingPickCompanyPage/index.test.tsx
  turboui/src/BillingPickCompanyPage/index.tsx
  turboui/src/ErrorPage/index.stories.tsx
  turboui/src/ErrorPage/index.test.tsx
  turboui/src/ErrorPage/index.tsx
  turboui/src/PublicDocumentPage/index.test.tsx
  turboui/src/PublicDocumentPage/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Remove Chronometer component
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  turboui/src/Chronometer/Chronometer.stories.tsx
  turboui/src/Chronometer/index.tsx
  turboui/src/index.tsx
Due: Turboui, App Tests

Remove TimeframeSelector component
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  turboui/src/TimeframeSelector/TimeframeSelector.stories.tsx
  turboui/src/TimeframeSelector/index.tsx
  turboui/src/TimeframeSelectorDialog/Chevrons.tsx
  turboui/src/TimeframeSelectorDialog/CustomRangePicker.tsx
  turboui/src/TimeframeSelectorDialog/MonthPicker.test.tsx
  turboui/src/TimeframeSelectorDialog/MonthPicker.tsx
  turboui/src/TimeframeSelectorDialog/QuarterPicker.tsx
  turboui/src/TimeframeSelectorDialog/SegmentedControl.tsx
  turboui/src/TimeframeSelectorDialog/YearPicker.tsx
  turboui/src/TimeframeSelectorDialog/index.test.tsx
  turboui/src/TimeframeSelectorDialog/index.tsx
  turboui/src/TimeframeSelectorDialog/useCalendarLocale.ts
  turboui/src/index.tsx
Due: Turboui, App Tests

Adjust tests
  app/assets/js/pages/ProfileEditPage/index.test.tsx
Due: App Tests

Return null for missing contextual dates
  app/assets/js/models/contextualDates/index.tsx
Due: App Tests

Adjust translations for city names
  app/assets/js/generated/locales/pt-BR.json
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests

fix: skip queued emails for deleted check-in comments
  app/lib/operately_email/emails/goal_check_in_commented_email.ex
  app/lib/operately_email/emails/project_check_in_commented_email.ex
  app/test/operately/notifications/buffered_email_worker_test.exs
  app/test/operately_email/emails/goal_check_in_commented_email_test.exs
  app/test/operately_email/emails/project_check_in_commented_email_test.exs
Due: App Tests

fix: Localize emoji tooltips and download errors
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/lib/operately_web/controllers/blob_controller.ex
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  turboui/src/Reactions/index.tsx
Due: Turboui, App Tests

fix: Localize emoji tooltips and download errors (#5421)
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/lib/operately_web/controllers/blob_controller.ex
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
  turboui/src/Reactions/index.tsx
Due: Turboui, App Tests

docs: Simplify i18n guidance and require translated copy
  .agents/skills/clean-code/SKILL.md
  .agents/skills/components-architecture/SKILL.md
  .agents/skills/ui-copy/SKILL.md
  AGENTS.md
  docs/i18n/glossaries/pt-BR.md
  docs/i18n/glossaries/template.md
  docs/internationalization.md
  turboui/AGENTS.md
Due: Turboui, App Tests

docs: Simplify i18n guidance and require translated copy (#5422)
  .agents/skills/clean-code/SKILL.md
  .agents/skills/components-architecture/SKILL.md
  .agents/skills/ui-copy/SKILL.md
  AGENTS.md
  docs/i18n/glossaries/pt-BR.md
  docs/i18n/glossaries/template.md
  docs/internationalization.md
  turboui/AGENTS.md
Due: Turboui, App Tests

Adjust docs
  .agents/skills/ui-copy/SKILL.md
  docs/internationalization.md
Due: none

Distinguish message titles from job titles in Portuguese
  app/assets/js/generated/locales/en.json
  app/assets/js/generated/locales/pt-BR.json
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/SiteMessageModal.test.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/SiteMessageModal.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/index.test.tsx
  app/ee/assets/js/pages/SaasAdminSiteMessagesPage/index.tsx
  app/priv/gettext/messages.pot
  app/priv/gettext/pt_BR/LC_MESSAGES/messages.po
Due: App Tests
